---
layout: post
title: Как избавиться от страхов и тревог с помощью подсознания
description: Фобия - стойкая боязнь какого то отдельного объекта или ситуации, которые не представляют никакой серьезной или вообще никакой опасности для человека.
categories: voprosi-ot-K-L
catname: Вопросы от К до Л
permalink: "blog/:categories/:year-:month-:day-:slug.html"
---
<p>Сам термин «гипноз» был введен в середине XIX в. английским врачом Джеймсом Брейдоном, благодаря которому начался расцвет научной концепции гипноза. Этим вопросом занимались такие зарубежные ученые, как А. Бонн, А. Форель, А. Льебо, Ж. Шарко, И. Бернгейм. Отечественными учеными, внесшими свой вклад в развитие гипноза, являются В. М. Бехтерев, И. П. Павлов, В. Я. Данилевский, В. Е. Рожнов, А. Л. Гройсман, К. И. Платонов, А. М. Свядощ, А. П. Слободяник, Е. С.  Катков, А. А. Токарский, В. Н. Мясищев, М. П. Кутании, И. З. Вельвовский, М. С. Лебединский, В. В. Кузьмин,  П. П.  Подъяпольский, А. Т. Пшонник, Е. Н. Довбня, Ф. Е. Рыбаков, В. Н. Хорошко, А. И. Яроцкий, А. Ф. Лазурский, Ю. В. Каннабих, В. М. Нарбут, Ф. Д. Неткачев, В. А. Гиляровский, М. В. Стрельчук, Г. В. Морозов, В. М. Банщиков, Н. В. Иванов, Н. К. Липгарт, А. Г. Иванов-Смоленский, Б. Н. Бирман, и другие.</p>
<p>В настоящее время гипноз все больше набирает популярность среди специалистов и обычных людей.  Люди обращаются к гипнологам по разнообразным причинам. Самыми распространенными ситуациями применения гипноза являются различные неврозы, фобии, страхи, депрессии, ОКР, СРК, ВСД,  пищеварительные, сексуальные нарушения, коррекция поведенческих реакций человека, заниженная самооценка, комплексы, вредные привычки. Причем в этих случаях, гипнотерапия остается единственным результативным методом, так как нацелена  на избавление больного от причин его заболевания, в то время как все остальные методы, включая фармацевтические, претендуют только на временное снятие симптомов.</p>
<p>Тем временем,  психогенный сбой у больного не стоит на месте, а  генерализуется и приобретает более ярко выраженный  гетерогенный характер, вовлекая все большие участки функциональной системы в патогенез.</p>

<p>Успешное применение гипноза при лечении столь широкого круга заболеваний связанно с тем, что точкой приложения лечебного слова в гипнозе - являются большие полушария головного мозга человека, которые управляют всеми органами и системами  организма. Слово в гипнозе оказывается  чрезвычайно могущественным лечебным фактором, производящим прямое и непосредственное воздействие на характер и динамику корковых процессов. Это открывает прямой путь к устранению патологических процессов и мобилизации необходимых внутренних ресурсов организма человека.</p>
<p>Еще при жизни И. П. Павлова учеником его  К. М. Быковым  было экспериментально доказана возможность условнорефлекторных связей коры мозга решительно со всеми внутренними органами и системами. В лабораториях Быкова (1947) также доказана возможность образования временной связи и через гуморальные пути с денервированными органами (почки, селезенка, поджелудочная железа). Это означает, что в условную реакцию вовлекаются инкреторные железы, гормо-ны которых в свою очередь оказывают действие через кровь на целую систему органов.</p>
<p>Таким образом, вся внутренняя среда в известной мере подчиняется влияниям коры мозга, импульсы со стороны которой могут воздействовать на состояние любого внутреннего органа и любой системы. В силу этого и благодаря временным связям кора больших полушарий осуществляет тесное взаимоотношение между внешней и внутренней средой организма. Таким образом, воздействуя лечебным словом в гипнозе на высшие отделы Ц.Н.С., открывается прямой путь к устранению патологических процессов и мобилизации необходимых внутренних ресурсов организма человека.  Ибо в свете учения о единстве психики и соматики,  всякое соматическое заболевание неразрывно связано с большим или меньшим нарушением функционального состояния высшей нервной деятельности больного.</p>
<p><b>Поэтому гипнотерапия  – это единственный метод психологической помощи человеку, позволяющий устранить причину  заболевания, а не ее симптом, оказывая  прямое и непосредственное воздействие на характер и динамику корковых процессов, мобилизуя необходимые внутренние ресурсы организма человека.</b></p>
<p><b>За 20 лет практики нами разработана уникальная авторская методика, опирающаяся исключительно на научные нейрофизиологические  исследования наших светил -  советских академиков и профессоров. Профессиональное воздействие по  нашей авторской методике «Жизнь без страха!» относится к самым результативным услугам в настоящее время,  и позволяет,  выявить и устранить причину заболевания,  бесследно избавив  пациента от фобии, страхов, панических атак всего за один-три сеанса.</b></p>
<p>Фобия - стойкая боязнь какого то отдельного объекта или ситуации, которые не представляют никакой серьезной или вообще никакой опасности для человека. Реальной проблемой  считается иррациональная часть страха, что со временем развивается в фобию — неадекватную реакцию на окружающее. Рациональная составляющая страха должна оставаться, ведь эта базовая эмоция мобилизует силы организма с целью выжить или приспособиться.  При столкновении с объектом своей фобии, панический страх возникает автономно и не поддается контролю со стороны сознания. При тревожно - фобических расстройствах одна только мысль, напоминание или картинка с изображением предмета страха приводит человека в замешательства, заставляет испытывать беспокойство и вынуждает предпринимать абсурдные и бесполезные «защитные» действия.</p>
<p><b>Таким образом, страх состоит их трех компонентов:</b></p>
<ol>
    <li>Когнитивных (субъективных) - я боюсь.</li>
    <li>Физиологических  вегетативных реакций (учащение сердцебиения, одышка, потливость, дрожь, тряска в руках и ногах, в животе, учащение мочеиспускания, резкого побледнения или покраснения.)</li>
    <li>Поведенческих (настойчивое желание уйти, убежать, к стремлению избегать ситуаций, чреватых, по их мнению, опасностью или угрозой).</li>
</ol>
<p>Сложность положения пациентов с таким заболеванием часто связана с полным непониманием их состояния родными, близкими, и многими врачами, не знакомыми с тонкостями психотерапии фобий. Понять сложность положения больного может либо человек, переживший подобное или психотерапевт - гипнолог, имеющий многолетний опыт работы с такими пациентами. Рациональными доводами невозможно устранить проблему фобии, так как источник их кроется в сфере бессознательного, что и является основанием для лечения фобий с помощью гипноза.</p>
<p>За многие годы нашей лечебной практики к нам обращались пациенты с самыми невероятными фобиями, которые в дальнейшем перестали вызывать у них страх, оставив только удивление того, что  когда то они этого боялись.  Тем, кто страдает фобиями, не стоит разочаровываться и терять надежду на исцеление, так как с нашей помощью вы навсегда избавите  себя от этого навязчивого состояния всего за один – три сеанса.</p>
<p><b>Разработанная нами авторская методика «Жизнь без страха!» для преодоления навязчивого алогичного страха за один-три сеанса.</b></p>
<h4>Возможны ли побочные эффекты от гипноза?</h4>
<p>Как утверждают специалисты, на сегодняшний день таких фактов не выявлено. Исследования в разное время проводились такими видными и авторитетными  учеными как:  В. М. Бехтерев, И. П. Павлов,  С. С. Либих (1974), А. И. Захаров (1982), А. А. Токарский (1989), М. С. Лебединский,  А. Т. Пшоник (1952), Л. Л. Васильев,  И. П. Брязгунов (1970) Л. Черток (1972), В. И. Сухорукова (1977), П. К. Анохин,  Н. Е. Введенский (1911-1913),  Н. И. Красногорский,  В. М. Шкловский (1975, 1994),   В. Н. Мясищев, Ю. А. Поворинский (1950), С. Н. Давиденков, К. М. Варшавский (1973), С. С. Кор-саков, К. М. Быков, А. М.Свядощ (1982), В. Я. Данилевский, Б. Н. Бирман (1922,1925, 1946),  Л. Б. Гаккель (1955),  Д. Я.  Венгеровский (1955),   И. 3. Вельвовский (1984), А. Л. Гройсман, К. И. Платонов (1957), С. Л. Рубинштейн, В. Е. Рожнов, А. А. Ухтомский, И. М. Сеченов, А.М. Свядощ, А. П. Слободяник, Е. С.  Катков,  М. П. Кутании,  В. В. Кузьмин,  П. П.  Подъяпольский,  Е. Н. Довбня, Ф. Е. Рыбаков, В. Н. Хорошко, А. И. Яроцкий, А. Ф. Лазурский, Ю. В. Каннабих, В. М. Нарбут, Ф. Д. Неткачев, В. А. Гиляровский, М. В. Стрельчук, Г. В. Морозов, В. М. Банщиков, Н. В. Иванов, Н. К. Липгарт, А. Г. Иванов-Смоленский, и др. Учеными доказано, что психика человека саморегулируется во время лечебного транса, мобилизуются его внутренние резервы, активизируются защитные силы организма (компенсаторные), гомеостаз организма приходит в норму, а потому опасности для психического и физиологического здоровья пациента нет.</p>
<p><b>Положительные стороны гипнотического лечения фобии, страхов:</b></p>
<ul>
    <li>Полное отсутствие медикаментозного влияния на организм человека.</li>
    <li>Полезно. Нормализует гомеостаз организма, укрепляет ЦНС, и т.д.</li>
    <li>Нет побочного эффекта.</li>
    <li>Полное 100% избавление от фобии, страха, панической атаки на всю жизнь.</li>
    <li>Устранение причин заболевания  всего за один – три сеанса.</li>
    <li>Дешевле.</li>
</ul>
<p>Сеанс гипноза по лечению фобии,  сам по себе является целебным для человека. Гипноз улучшает общее самочувствие человека, обеспечивает слаженную работу всех органов и систем организма,  его (гомеостаз), что позволяет пациенту ощутить новый прилив жизненных сил. Он положительно влияет на работу многих органов и систем: сердечно - сосудистой, дыхательной, эндокринной, пищеварительной, ЦНС, помогает при бессоннице, снимает раздражительность, уменьшает беспокойство, и т.п..</p>
<p>Самостоятельные попытки избавиться от фобии приводит к закреплению новых опасений и страхов с дальнейшим угнетением ЦНС, комплексу неполноценности, ложным убеждениям невозможности избавиться от этого недуга. Сознательными доводами невозможно устранить проблему фобии, так как источник их кроется в сфере бессознательного, что и является основанием для лечения фобий с помощью гипноза.  И только гипнотерапия помогает преодолеть негативные последствия для вашей нервной системы.</p>
<p><b>Наш авторский метод «Страха больше нет!»,  позволит вам вернуться к нормальной жизни и получать от нее удовольствие.</b></p>
<p><b>Будьте здоровы и берегите себя!</b></p>
<div class="row">
    <h4>Самые популярные фобии</h4>
    <div class="col-md-6">
        <h4>А</h4>
        <ul>
            <li>Автофобия - Боязнь одиночества.</li>
            <li>Аглиофобия - Боязнь боли.</li>
            <li>Агорафобия - Опасение открытых площадей или толп.</li>
            <li>Айчмофобия - Боязнь игл и других острых предметов.</li>
            <li>Акрофобия - Страх высоты.</li>
            <li>Амаксофобия - Боязнь езды в автомобиле.</li>
            <li>Анджинофобия - Боязнь ангины или удушья.</li>
            <li>Андрофобия - Боязнь мужчин.</li>
            <li>Антропофобия - Страх пред людьми или обществом.</li>
            <li>Антрофобия - Опасение цветов (растительность).</li>
            <li>Аракнофобия - Боязнь пауков.</li>
            <li>Аритмофобия - Боязнь чисел.</li>
            <li>Астрафобия - Боязнь грома и молнии.</li>
            <li>Атаксофобия - Боязнь беспорядков и неакуратности.</li>
            <li>Ателофобия - Страх несовершенства.</li>
            <li>Атичифобия - Страх перед неудачей.</li>
            <li>Афэнфосмфобия - Страх касания.</li>
            <li>Ачлуофобия - Боязнь темноты.</li>
        </ul>
        <h4>Б</h4>
        <ul>
            <li>Бактериофобия - Страх перед бактериями.</li>
            <li>Барофобия - Страх силы тяжести.</li>
            <li>Батмофобия - Боязнь лестниц и крутых склонов.</li>
            <li>Батрачофобия - Страх - земноводных.</li>
            <li>Белонефобия - Боязнь булавок и игл.</li>
            <li>Библайофобия - Страх перед книгами.</li>
            <li>Ботанофобия - Страх растений.</li>
        </ul>
        <h4>В</h4>
        <ul>
            <li>Венастрафобия - Страх перед красивыми женщинами.</li>
            <li>Верминофобия - Страх перед микробами.</li>
            <li>Виккафобия - Страх перед ведьмами и колдовством.</li>
        </ul>
        <h4>Г</h4>
        <ul>
            <li>Гамофобия - Боязнь брака.</li>
            <li>Генуфобия - Страх перед коленями.</li>
            <li>Гидрофобия - Страх воды.</li>
            <li>Гинофобия - Боязнь женщин.</li>
            <li>Глоссофобия - Страх выступать публично.</li>
        </ul>
        <h4>Д</h4>
        <ul>
            <li>Дендрофобия - Страх перед деревьями.</li>
            <li>Дентофобия - Страх перед стоматологами.</li>
            <li>Дистичифобия - Боязнь несчастных случаев.</li>
            <li>Доматофобия - Страх перед зданиями.</li>
        </ul>
        <h4>З</h4>
        <ul>
            <li>Зоофобия - Страх перед животными.</li>
        </ul>
        <h4>И</h4>
        <ul>
            <li>Инсектофобия - Страх перед насекомыми.</li>
        </ul>
        <h4>Й</h4>
        <ul>
            <li>Йатрофобия - Страх врачей.</li>
        </ul>
        <h4>К</h4>
        <ul>
            <li>Какофобия - Страх уродства.</li>
            <li>Катаджелофобия - Страх быть объектом насмешек.</li>
            <li>Катоптрофобия - Страх перед зеркалами.</li>
            <li>Киберфобия - Страх перед компьютерами.</li>
            <li>Клаустрофобия - Страх замкнутых пространств.</li>
            <li>Коинонифобия - Страх комнат.</li>
            <li>Коулрофобия - Боязнь клоуны.</li>
            <li>Ксенофобия - Боязнь незнакомых или иностранцев.</li>
        </ul>
        <h4>Л</h4>
        <ul>
            <li>Леукофобия - Страх перед белым цветом.</li>
            <li>Лилапсофобия - Боязнь торнадо и ураганов.</li>
            <li>Локайофобия - Страх перед родами.</li>
        </ul>

    </div>
    <div class="col-md-6">
        <h4>М</h4>
        <ul>
            <li>Маджейрокофобия - Страх перед приготовлением пищи.</li>
            <li>Меланофобия - Страх перед черным цветом.</li>
            <li>Мизофобия - Боязнь грязи и микробов.</li>
            <li>Микрофобия - Боязнь малых вещей.</li>
        </ul>
        <h4>Н</h4>
        <ul>
            <li>Некрофобия - Страх смерти и вещей умерших.</li>
            <li>Нозокомефобия - Страх перед больницами.</li>
            <li>Ноктифобия - Страх перед ночью.</li>
        </ul>
        <h4>О</h4>
        <ul>
            <li>Обезофобия - Страх потолстеть.</li>
            <li>Октофобия - Страх потерять фигуру.</li>
            <li>Омброфобия - Страх перед дождем.</li>
            <li>Орнайтофобия - Боязнь птиц.</li>
            <li>Офидайофобия - Страх перед змеями.</li>
        </ul>
        <h4>П</h4>
        <ul>
            <li>Папирофобия - Боязнь бумаги.</li>
            <li>Патофобия - Страх перед заболеванием.</li>
            <li>Педофобия - Страх перед детьми.</li>
            <li>Пирофобия - Боязнь огня.</li>
            <li>Подофобия - Страх перед ногами.</li>
            <li>Порфирофобия - Страх перед фиолетовым цветом.</li>
            <li>Птеридофобия - Страх папоротников.</li>
            <li>Птеромерханофобия - Страх перед полетами.</li>
        </ul>
        <h4>С</h4>
        <ul>
            <li>Селенофобия - Боязнь луны.</li>
            <li>Сколайонофобия - Боязнь школы.</li>
            <li>Сомнифобия - Страх сна.</li>
            <li>Социофобия - Страх социальной оценки.</li>
        </ul>
        <h4>Т</h4>
        <ul>
            <li>Тачофобия - Боязнь скорости.</li>
            <li>Технофобия - Боязнь техники.</li>
            <li>Тонитрофобия - Боязнь грома.</li>
            <li>Трайпанофобия - Боязнь уколов.</li>
        </ul>
        <h4>Ф</h4>
        <ul>
            <li>Филофобия - Боязнь любви.</li>
            <li>Фобофобия - Боязнь фобии.</li>
        </ul>
        <h4>Х</h4>
        <ul>
            <li>Хелайофобия - Боязнь солнца.</li>
            <li>Хемофобия - Боязнь крови.</li>
            <li>Херпетофобия - Страх пресмыкающихся.</li>
            <li>Хромофобия - Боязнь цвета.</li>
            <li>Хрономентрофобия - Страх перед часами.</li>
        </ul>
        <h4>Ц</h4>
        <ul>
            <li>Цинофобия - Боязнь собак.</li>
        </ul>
        <h4>Ч</h4>
        <ul>
            <li>Чайонофобия - Страх перед снегом.</li>
        </ul>
        <h4>Э</h4>
        <ul>
            <li>Экофобия - Боязнь дома (места жительства).</li>
            <li>Экуинофобия - Боязнь лошадей.</li>
            <li>Элерофобия - Страх перед кошками.</li>
            <li>Энтомофобия - Страх перед насекомыми.</li>
            <li>Эфебифобия - Страх перед подростками.</li>
        </ul>
    </div>
</div>





























