@import "vars"


/*==========  Desktop First  ==========*/

// ≥1200px
+media-breakpoint-down(lg)
  .menu
    li>a
      font-size: 14px
      padding: 0.5rem 0.5rem
// ≥992px
+media-breakpoint-down(md)
  .menu
    display: none
  .mobile-menu
    display: none
    text-align: center
  .top-line
    margin-bottom: 3em
  .wrapper-dropdown-1.active .dropdown
    opacity: 1
    pointer-events: auto

  .slide__text-link
    display: none
  .slide__text-desc
    display: none
  .slide__text-heading
    margin-top: 2.5em
    line-height: 4rem
    font-size: 2.5rem
  .slide__text
    left: 0
    bottom: 0
    width: 100%
    height: 20rem
    text-align: center
    transform: translateY(50%)
    transition: transform 0.5s 0.5s, opacity 0.5s 0.5s
    padding: 0 1rem
  .slide__overlay
    display: none
  .slide:nth-child(1) .slide__text
    background-color: rgba(156, 163, 218, 0.8)
  .slide:nth-child(2) .slide__text
    background-color: rgba(156, 163, 218, 0.8)
  .slide:nth-child(3) .slide__text
    background-color: rgba(156, 163, 218, 0.8)
  .slide:nth-child(4) .slide__text
    background-color: rgba(156, 163, 218, 0.8)
  .slide:nth-child(5) .slide__text
    background-color: rgba(156, 163, 218, 0.8)
  .home-right-video
    display: none!important

// ≥768px
+media-breakpoint-down(sm)
  .nav
    &-drill
      width: 100%


// ≥576px
+media-breakpoint-down(xs)
  .item-review
    flex-direction: column
    align-items: center
    .img-review
      width: 300px
      img
        width: 100%!important
    .desc-review
      width: 300px!important
  .velo-slide__title
    margin-left: 0
  .velo-slide__text
    padding-right: 20px
  .slider-pagi
    left: 43% !important
  .slider-pagi__elem
    margin: 0 .3rem
/*==========  Mobile First  ==========*/

// ≤576px
+media-breakpoint-up(sm)

// ≤768px
+media-breakpoint-up(md)

// ≤992px
+media-breakpoint-up(lg)
  .nav-top
    display: none
  .nav-drill
    display: none
// ≤1200px
+media-breakpoint-up(xl)

