---
layout: post
title:  Метод НЛП
description: Начиная с 70-х годов двадцатого столетия в психиатрии начал практиковаться метод, получивший название нейролингвистическое программирование.
categories: o-gipnoze
catname: О гипнозе
permalink: "blog/:categories/:year-:month-:day-:slug.html"
---
<p>Начиная с 70-х годов двадцатого столетия в психиатрии начал практиковаться метод, получивший название нейролингвистическое программирование. НЛП принято считать отдельной от психологии областью знаний.   Практика и отзывы клиентов показывают, что нейролингвистическое программирование приносит позитивные результаты и достойно внимания.</p>
<h4>Основатели НЛП.</h4>
<p>Наиболее основательно за изучение НЛП взялись Джон Гриндер и Ричард Бэндлер, а их наставником на начальном этапе стал Грегори Бейтсон. Последний в разное время увлекался множеством наук и уделял должное внимание нестандартной психиатрии. Бендлер в начале семидесятых изучал математику и программирование. Гриндер преподавал лингвистику. Объединив свои знания, студент и профессор попытались понять секреты успехов лучших в то время психотерапевтов.</p>
<p>Сотни часов, проведенные за просмотром видео и аудио записей, позволили сделать определенные выводы и выделить приемы, которые в дальнейшем были успешно использованы в НЛП.</p>
<p>Этот метод так же исследовали и другие специалисты в области психиатрии. Среди них В. Волкер и Фрэнк Пьюселик.</p>
<p>Они исследовали теорию, что каждый способен добиться того, чего достиг любой благополучный человек. Ведь многие люди считают, что неспособны повторить достижения успешных личностей, даже не попытавшись это сделать.</p>
<h4>Что такое НЛП и каковы его цели?</h4>
<p>Рассмотрим словосочетание «нейролингвистическое программирование». Оно состоит из трех слов, которые могут дать общее представление о самой технике.</p>
<p>Слово «нейро» указывает на информацию, которую человек воспринимает благодаря своему мозгу, с помощью органов чувств. Получаемая информация проходит фильтрацию через сумму знаний, сформировавших мировоззрение каждого индивидуума в отдельности.</p>
<p>Лингвистика – знания о языках. Человек с помощью речи, слов, интонаций и технике подачи информации субъективно передает сведения о каком-либо происшествии. Каждый воспринимает мир по своему и так же описывает его другому субъекту. Этот факт взят на вооружение в технике НЛП.</p>
<p>В течение своей жизни человек программирует себя на положительные или негативные поступки, определенную модель поведения в обществе, образ жизни и прочее. Задача НЛП помочь желающему перепрограммировать себя. Помочь понять, что в решении определенной проблемы есть масса вариантов и всегда можно выбрать правильный, в противном случае сделать свой выбор еще раз и найти нужный путь к поставленной цели. НЛП дает возможность видеть мир вокруг не в узком спектре, а вкусить максимум прекрасного и ощутить гармонию не только с внешним, но и с внутренним миром.</p>
<p>Для получения положительных результатов сеансов большое значение имеет, какие взаимоотношения установились между клиентом и психотерапевтом. Это способствует более комфортному контакту. Основная задача психотерапевта на начальном этапе получить доверие клиента.</p>
<p>Во время НЛП практикующий психолог должен помочь клиенту увидеть проблему под другим углом восприятия, во время которого она не покажется такой серьезной или неразрешимой, и помочь в создании подсознательной программы, способствующей ее решению.</p>
<p><b>Будьте здоровы и успешны!</b></p>































