---
layout: post
title:  Страх высоты
description: Патологическая боязнь высоты ( акрофобия) – страх иррациональный,  он не подлежит пониманию, логичному объяснению, контролю личностью, и человек не знает, как избавиться от боязни высоты.
categories: fobii
catname: Фобии (Страхи)
permalink: "blog/:categories/:year-:month-:day-:slug.html"
---
<p>Патологическая боязнь высоты ( акрофобия) – страх иррациональный,  он не подлежит пониманию, логичному объяснению, контролю личностью, и человек не знает, как избавиться от боязни высоты. Страдающие акрофобией,  не могут контролировать свои мысли и поступки, когда находятся на высоте. По словам больных, им кажется, что они обязательно упадут вниз. На пике развития панического приступа страха наблюдается спазмы сосудов, сильное головокружение,  обморочные состояния. У некоторых больных появляется чувство нереальности происходящего и сильно выраженный страх сойти с ума.</p>
<p><b>Клинические признаки патологического страха условно разделят на две группы: соматические (вегетативные) и психические.</b></p>
<p>К психическим проявлениям страха высоты относят такие поведенческие реакции человека,  как суетливость, раздражительность, агрессивность, невозможность сконцентрироваться,  постоянный страх поскользнуться. Человек испытывает ужас, панику, хочет немедленно убежать или спрятаться, страх заставляет испытывать беспокойство и вынуждает предпринимать абсурдные и бесполезные «защитные» действия, не контролируя свою реакцию. Начинает бояться даже реального вида или представления возвышенности, не находясь на ней, испытывая при этом ощущение «пустоты в голове». Может остановиться на полпути, не достигнув высоты, закрыться от всех, постараться спрятаться. Уговоры или советы воздействия не имеют.</p>
<p>К вегетативным симптомам относят: одышку без физической нагрузки, учащенное сердцебиение, нервная дрожь, головокружение, тошнота,  сухость во рту, и т.д.</p>
<p><b>Основные причины развития акрофобии:</b></p>
<ul>
    <li>При чрезмерно строгом оценочном воспитании, отсутствии поощрений и похвал в детском возрасте, повлиявших на формирование низкой самооценки.</li>
    <li>При наличии,  у индивида, особой психастенической конституциональной почвы: при мнительности, сверх тревожности, повышенной эмоциональности, застенчивости, робости.</li>
    <li>При наличии негативного опыта из прошлого.</li>
</ul>
<p><b>К счастью существует эффективный метод борьбы с этим страхом.</b></p>
<p><b>Гипнотерапия это единственный метод психологической помощи человеку, которая устраняет причину заболевания на всю жизнь, а не ее симптом.  Разработанная нами авторская методика «Жизнь без страха!» для преодоления навязчивого алогичного страха за один-три сеанса.</b></p>
<p>В настоящее время гипноз все больше набирает популярность среди специалистов и обычных людей.  Люди обращаются к гипнологам по разнообразным причинам. Самыми распространенными ситуациями применения гипноза являются различные неврозы, фобии, страхи, депрессии, ОКР, СРК, ВСД,  пищеварительные, сексуальные нарушения, коррекция поведенческих реакций человека, заниженная самооценка, комплексы, вредные привычки. Причем в этих случаях, гипнотерапия остается единственным результативным методом, так как нацелена  на избавление больного от причин его заболевания, в то время как все остальные методы, включая фармацевтические, претендуют только на временное снятие симптомов.</p>
<p>Тем временем,  психогенный сбой у больного не стоит на месте, а  генерализуется и приобретает более ярко выраженный  гетерогенный характер, вовлекая все большие участки функциональной системы в патогенез.</p>
<p>Успешное применение гипноза при лечении столь широкого круга заболеваний связанно с тем, что точкой приложения лечебного слова в гипнозе - являются большие полушария головного мозга человека, которые управляют всеми органами и системами  организма. Слово в гипнозе оказывается  чрезвычайно могущественным лечебным фактором, производящим прямое и непосредственное воздействие на характер и динамику корковых процессов. Это открывает прямой путь к устранению патологических процессов и мобилизации необходимых внутренних ресурсов организма человека.</p>
<p><b>Поэтому гипнотерапия  – это единственный метод психологической помощи человеку, позволяющий устранить причину  заболевания, а не ее симптом, оказывая  прямое и непосредственное воздействие на характер и динамику корковых процессов, мобилизуя необходимые внутренние ресурсы организма человека.</b></p>
<p><b>За 20 лет практики нами разработана уникальная авторская методика, опирающаяся исключительно на научные нейрофизиологические  исследования наших светил -  советских академиков и профессоров. Профессиональное воздействие по  нашей авторской методике «Жизнь без страха!» относится к самым результативным услугам в настоящее время,  и позволяет,  выявить и устранить причину заболевания  бесследно избавив  пациента от фобии, страхов, панических атак всего за один-три сеанса.</b></p>
<p>За многие годы нашей лечебной практики, к нам обращались пациенты с самыми невероятными фобиями, которые в дальнейшем перестали вызывать у них страх, оставив только удивление того, что  когда то они этого боялись.  Тем, кто страдает фобиями, страхами не стоит разочаровываться и терять надежду на исцеление, так как с нашей помощью,  вы навсегда избавите  себя от этого навязчивого состояния, всего за один – три сеанса.</p>
<h4>Возможны ли побочные эффекты от гипноза?</h4>
<p>Как утверждают специалисты, на сегодняшний день таких фактов не выявлено. Исследования в разное время проводились такими видными и авторитетными  учеными как:  В. М. Бехтерев, И. П. Павлов,  С. С. Либих (1974), А. И. Захаров (1982), А. А. Токарский (1989), М. С. Лебединский,  А. Т. Пшоник (1952), Л. Л. Васильев,  И. П. Брязгунов (1970) Л. Черток (1972), В. И. Сухорукова (1977), П. К. Анохин,  Н. Е. Введенский (1911-1913),  Н. И. Красногорский,  В. М. Шкловский (1975, 1994),   В. Н. Мясищев, Ю. А. Поворинский (1950), С. Н. Давиденков, К. М. Варшавский (1973), С. С. Кор-саков, К. М. Быков, А. М.Свядощ (1982), В. Я. Данилевский, Б. Н. Бирман (1922,1925, 1946),  Л. Б. Гаккель (1955),  Д. Я.  Венгеровский (1955),   И. 3. Вельвовский (1984), А. Л. Гройсман, К. И. Платонов (1957), С. Л. Рубинштейн, В. Е. Рожнов, А. А. Ухтомский, И. М. Сеченов, А.М. Свядощ, А. П. Слободяник, Е. С.  Катков,  М. П. Кутании,  В. В. Кузьмин,  П. П.  Подъяпольский,  Е. Н. Довбня, Ф. Е. Рыбаков, В. Н. Хорошко, А. И. Яроцкий, А. Ф. Лазурский, Ю. В. Каннабих, В. М. Нарбут, Ф. Д. Неткачев, В. А. Гиляровский, М. В. Стрельчук, Г. В. Морозов, В. М. Банщиков, Н. В. Иванов, Н. К. Липгарт, А. Г. Иванов-Смоленский, и др. Учеными доказано, что психика человека саморегулируется во время лечебного транса, мобилизуются его внутренние резервы, активизируются защитные силы организма (компенсаторные), гомеостаз организма приходит в норму, а потому опасности для психического и физиологического здоровья пациента нет.</p>
<p><b>Положительные стороны гипнотического лечения:</b></p>
<ul>
    <li>Полное отсутствие медикаментозного влияния на организм человека.</li>
    <li>Полезно. Нормализует гомеостаз организма, укрепляет ЦНС, и т.д.</li>
    <li>Нет побочного эффекта.</li>
    <li>Полное 100% избавление от фобии, страха, панической атаки на всю жизнь.</li>
    <li>Устранение причин заболевания  всего за один – три сеанса.</li>
    <li>Дешевле.</li>
</ul>
<p>Сеанс гипноза по лечению, сам по себе является целебным для человека. Гипноз улучшает общее самочувствие человека, обеспечивает слаженную работу всех органов и систем организма,  его (гомеостаз), что позволяет пациенту ощутить новый прилив жизненных сил. Он положительно влияет на работу многих органов и систем: сердечно - сосудистой, дыхательной, эндокринной, пищеварительной, ЦНС, помогает при бессоннице, снимает раздражительность, уменьшает беспокойство, и т.п..</p>
<p>Самостоятельные попытки избавиться от фобии, страха, панических атак, приводит к закреплению новых опасений и страхов с дальнейшим угнетением ЦНС, повышенной раздражительностью, комплексу неполноценности, ложным убеждениям невозможности избавиться от этого недуга.  Сознательными доводами невозможно устранить проблему фобии, страхов, панических атак, так как источник их кроется в сфере бессознательного, что и является основанием для лечения этого недуга с помощью гипноза.  И только гипнотерапия помогает преодолеть негативные последствия для вашей нервной системы.</p>
<p>Наш авторский метод «Жизнь без страха!»  позволит вам вернуться к нормальной жизни и получать от нее удовольствие.</p>
<p><b>Будьте здоровы и берегите себя!</b></p>
































