---
layout: post
title:  полезен ли гипноз при соматический состояниях
description: Гипнотерапия  – это единственный метод психологической помощи человеку, позволяющий устранить причину  заболевания, а не ее симптом.
categories: voprosi-ot-N-end
catname: Вопросы от Н до конца
permalink: "blog/:categories/:year-:month-:day-:slug.html"
---

<h3>Польза гипнотерапии и гипнотического состояния для человека</h3>
<p>
    В настоящее время гипноз все больше набирает популярность среди специалистов и обычных людей.  Люди обращаются к гипнологам по разнообразным причинам. Самыми распространенными ситуациями применения гипноза являются различные неврозы, фобии, страхи, депрессии, кожные заболевания, аллергические, ОКР, СРК, ВСД, пищеварительные, сексуальные нарушения, коррекция поведенческих реакций человека, заниженная самооценка, комплексы, вредные привычки. Причем в этих случаях, гипнотерапия остается единственным результативным методом, так как нацелена  на избавление больного от причин его заболевания, в то время как все остальные методы, включая фармацевтические, претендуют только на временное снятие симптомов.  При этом, все еще встречается недооценка врачами роли психотравмирующих факторов в возникновении различных расстройств функций внутренних органов и систем, а также шаблонные представления, которые нередко заставляют искать органическую природу заболевания там, где она в действительности является функциональной (психогенной, условнорефлекторной).
</p>
<p>
    Гипноз – это,  прежде всего инструмент в руках гипнотерапевта, с помощью которого,  появляется уникальная возможность  добраться до причин возникновения различных  патологий, как в психической сфере (эмоции, чувства, мышление), так и в  соматической и физиологической,  вызванных психогенным фактором.  Это можно сравнить с прекрасным хирургом, который не сможет провести операцию без хирургического инструмента и оборудования.
</p>
<p>
    Слово в гипнозе оказывается  чрезвычайно могущественным лечебным фактором, производящим прямое и непосредственное воздействие на характер и динамику корковых процессов. Это открывает прямой путь к устранению патологических процессов и мобилизации необходимых внутренних ресурсов организма человека.
</p>
<p>
    <b>Поэтому гипнотерапия  – это единственный метод психологической помощи человеку, позволяющий устранить причину заболевания на всю жизнь, а не ее симптом. Причина этому, память деструктивного события, которое хранится на молекулярном уровне в инграмме памяти. Не медикаментозное лечение, не разговоры с психологом, психотерапевтом, не борьба собственного сознания, не алкоголь, не наркотики, не кирпич на голову упадет,  не позволят изменить ферментный порядок макромолекулы, память, в которой собрана вся эмоционально - физиологическая реакция организма на какое - то событие или ситуацию в прошлом жизненном опыте. Поэтому, другие методы малоэффективны, и нацелены на вечную борьбу только с симптоматикой.</b>
</p>
<p>
    Тем временем, пока идет борьба с ветряными мельницами, и ненужная трата времени и денег, психовегетативный сбой у больного  не стоит на месте и генерализуется, синтезируясь  с жизнедеятельностью человека, приобретая новые, более гетерогенные чувства и реакции организма. Расширяется круг предметов, ситуаций, при которых человек начинает чувствовать  страх или тревогу, генерализуется соматическая и физиологическая дисфункция организма, происходит застревание чувства одиночества, незащищенности, чувство ненужности, чувство заниженной самооценки, ощущение, что никто не любит, появляется депрессия и истощение нервной системы, снижается тонус коры головного мозга, усиливается раздражительность. И это закон нейрофизиологии! Закон развития человека!  Любая аберрация в условно - рефлекторной связи события, непременно  приведет к  дальнейшему патогенезу по закону формирования новых связей,  посредством извлечения из памяти деструктивных ассоциаций и стереотипов.
</p>
<p>
    В свете учения о единстве психики и соматики,  всякое соматическое заболевание неразрывно связано с большим или меньшим нарушением функционального состояния высшей нервной деятельности больного. C помощью гипноза можно успешно бороться не только со многими нервно-психическими заболеваниями, но и с заболеваниями внутренних органов. Особенно это касается расстройств нейрогуморальной и психосоматической регуляции. Еще при жизни И. П. Павлова учеником его  К. М. Быковым  было экспериментально доказана возможность условнорефлекторных связей коры мозга решительно со всеми внутренними органами и системами. В лабораториях Быкова (1947) также доказана возможность образования временной связи и через гуморальные пути с денервированными органами (почки, селезенка, поджелудочная железа). Это означает, что в условную реакцию вовлекаются инкреторные железы, гормоны  которых в свою очередь оказывают действие через кровь на целую систему органов.
</p>
<p>
    Таким образом, вся внутренняя среда в известной мере подчиняется влияниям коры мозга, импульсы со стороны которой могут воздействовать на состояние любого внутреннего органа и любой системы. В силу этого и благодаря временным связям кора больших полушарий осуществляет тесное взаимоотношение между внешней и внутренней средой организма.
</p>
<p>
    <b>Поэтому гипнотерапия  – это единственный метод психологической помощи человеку, позволяющий устранить причину  заболевания, а не ее симптом, оказывая  прямое и непосредственное воздействие на характер и динамику корковых процессов, мобилизуя необходимые внутренние ресурсы организма человека.</b>
</p>
<p>
    В Европе, США, Японии такой терапевтический подход результативно работает при 60 – 70% сердечнососудистых, желудочно-кишечных, бронхолегочных, эндокринных, кожных, и других заболеваниях. Традиционно Здоровье дает исключительно хороший и стабильный  эффект при заболеваниях, в основе которых лежат психологическое перенапряжение, поведенческие коррекции, стресс, внутренние душевные конфликты, фобии, депрессия.  Также это могут быть боли в суставах, позвоночнике, желудочно-кишечные язвы, колит, СРК, сбои женского цикла,  сердечные аритмии, аллергии, нейродермит, диабет, дисфункции щитовидной железы, нарушение пищевой аддикции, половой аддикции, ОКР, зависимости и т.д.
</p>
<p>
    Следует отметить, что метод  гипнотерапии эффективен не только в случаях психогенного функционального нарушения высшей нервной деятельности и при психогенных расстройствах функций различных органов и систем, но и при органических заболеваниях (в качестве вспомогательного средства). В разное  время во многих лабораториях пред-принимались исследования, помогающие физиологическому обоснованию гипнотерапии, а вместе с ней и психопрофилактики (А. Г. Иванов-Смоленский, Н. И. Красногорский, С. Н. Давиденков, Ф. П. Майоров, Б. Н. Бирман, Л. Б. Гаккель, В. Н. Мясищев, Ю. А. Поворинский, В. Е. Рожнов и др.).
</p>
<p><b>На сегодняшний день все больше людей говорят о пользе лечебной гипнотерапии и самого  гипнотического состояния. Но возникает вопрос, в чем именно польза самого этого гипнотического состояния?</b></p>
<p>На данный момент ученые провели более 3000 исследований о влиянии лечебной гипнотерапии на человека.</p>
<p>
    Они доказали, что регулярные сеансы лечебной гипнотерапии приводят к:
</p>
<ul>
    <li>Восстановлению гомеостаза организма.</li>
    <li>Восстановление компенсаторных функций организма.</li>
    <li>Восстановлению психической  деятельности человека, со всем, интегрированным комплексом эмоциональных внутренних и внешних сигнализаций.</li>
    <li>Увеличению в организме дофамина и серотонина.</li>
    <li>Восстановлению сосредоточенности и умственных способностей.</li>
    <li>Восстановлению общего тонуса активной жизнедеятельности.</li>
    <li>Стрессоустойчивости.</li>
    <li>Улучшению настроения.</li>
    <li>Восстанавливает сон.</li>
</ul>
<p>
    <b>Первые результаты после лечебной гипнотерапии, появляются уже  после первого сеанса.</b>
</p>
<ol>
    <li><b>Лечебная гипнотерапия улучшает ваш сон.</b>
        <br>Ученые из Миннесотского университета пришли к выводам, что регулярная лечебная гипнотерапия способствует более крепкому и здоровому сну, а тело лучше восстанавливается за ночь, помогая отрешиться от будничных проблем, мысли о которых часто не позволяют быстро заснуть. Также снижается уровень кортизола – гормона стресса, мешающего полноценному отдыху.</li>
    <li><b>Лечебная гипнотерапия улучшает вашу способность сосредоточиться.</b>
        <br>Лечебная гипнотерапия улучшает способность долгое время сохранять внимание и помогает контролировать нервно-психическое возбуждение. В одном из исследований под руководством Фаделя Зейдана,  специалиста в области когнитивной нейробиологии из Школы медицины Уэйка Фореста, было обнаружено, что люди после четырех сеансов лечебной релаксации, прошли тест когнитивных способностей значительно лучше остальных. Они оказались лучше готовы игнорировать время, отпущенное на тест, что помогло им сосредоточиться на решаемой задаче.</li>
    <li><b>Лечебная гипнотерапия снизит тревожность и стресс.</b>
        <br>Последние исследования доказывают, что лечебная гипнотерапия реально способна снизить уровень кортизола, а исследования Зейдана показала, что тревожность снизилась на 39%</li>
    <li><b>Лечебная гипнотерапия сделает вас менее подверженным перепадам настроения.</b>
        <br>Многие из нас автоматически интерпретируют события и слова в негативном ключе и предполагают худшее о самих себе и окружающих. Это может стать причиной депрессии, которую лечебная гипнотерапия помогает преодолеть. Она помогает с недоверием относиться к мыслям, возникающим чисто автоматически, без нашего сознательного участия. А это означает, что вы фокусируетесь на реальности, а не на домыслах.</li>
    <li><b>Лечебная гипнотерапия меняет в лучшую сторону вашу сексуальную жизнь.</b>
        <br>Лечебная гипнотерапия усиливает соединения и увеличивает размер области головного мозга, называемой в медицине «передняя островковая доля большого мозга» ( insula) утверждает Марша Лукас, доктор наук, нейропсихолог из Вашингтона проводивший исследование в этой области.</li>
    <li><b>Лечебная гипнотерапия поможет вам быстрее выздоравливать и жить дольше.</b>
        <br>Исследования Висконсинского университета в Мадисоне показало, что среди, ходивших на сеансы лечебной гипнотерапии в течение 8 недель два раза в неделю, было гораздо меньше случаев гриппа и тяжелых инфекционных заболеваний, чем среди тех, кто не ходил. Доктор Даниэль Мюллер, проводящий исследование, объясняет это тем, что лечебная релаксация помогает восстановить гомеостатическое равновесие, то есть организм стремится к идеальному балансу между окружающей средой и своими потребностями. Согласно недавнему исследованию Калифорнийского университета в Сан-Франциско это может даже помочь нам жить дольше, потому что ДНК будет лучше защищена от деградации.</li>
</ol>
<h4>Гипноз помогает в достижении спортивных результатов.</h4>
<p>С помощью гипноза можно решать как задачи общего характера (например, мотивации), так и конкретные задачи (например, подготовка к прохождению конкретной трассы или к бою с конкретным противником и т.д. и т.п.)  На сегодняшний день, это возможно осуществить с помощью гипнотерапии.</p>
<p>Гипнотерапия также помогает в развитии правого полушария. Для некоторых видов спорта повышенная активность правого полушария предпочтительна. Например, для успешного ведения рукопашного боя, бокса, карате, борьбы, и т.д.   человеку надо активизировать  и усилить функции правого полушария и ослабить, притормозить деятельность левого, так как именно правое полушарие отвечает за пространственную ориентацию, за скоординированность и скорость движений.  Внешне это выражается в ускорении ответных реакций тела. Дело в том, что на словесном (абстрактно-логическом) уровне,  мышление человека успевает переработать не более 100 единиц информации в секунду, тогда как на образном и сенсомоторном (двигательном) уровнях  -  до 10 миллионов единиц!  Благодаря этому «ум тела», освобожденный от «цепей разума», практически мгновенно запускает нужную в ситуации двигательную реакцию. Вот почему мастера рукопашного боя действительно отражают нападение и контратакуют раньше, чем сами успевают об этом подумать.</p>
<p>Гипнотерапия позволяет    спортсмену в мысленном исполнении элемента спортивной техники  на уровне воображения, отработать  связи между мозгом и мышцами, которые должны быть задействованы в данном случае. Только закрепив в уме уникальный психомоторный комплекс, спортсмен способен воплотить его «в физике» сразу без огрехов. Таким образом, он отрабатывает движение правильно, и его техничность выходит на новый уровень.</p>
<p>Гипнотерапия позволят и расслабить мышцы, и быстрее восстановиться после тренировки, устранить микротравмы и нормализовать трофику  мышц, приобрести дополнительные  жизненные силы,  основательнее усвоить тренируемые навыки и умения.  Гипнотерапия позволяет найти и устранить психотравмы, некоторые из которых были получены еще в раннем детстве, избавится от страхов, неуверенности в себе, заниженной самооценки, тревоги, мандража.  Психика всякого человека в большей или меньшей степени засорена страхами, фобиями, тревогами.</p>
<p>Цели и задачи решаемые в спорте с помощью гипноза весьма широки - от вопросов мотивации, эмоционального и психологического настроя, поиска устранения психотравм и повышения ОФП,  до отработки конкретных навыков и умений.</p>
<p><b>Цели и задачи решаемые в спорте с помощью гипноза:</b></p>
<ul>
    <li>Эмоциональный и психологический настрой</li>
    <li>Расслабление и восстановление организма</li>
    <li>Восстановление трофики мышц</li>
    <li>Стрессоустойчивость</li>
    <li>Улучшение  сосредоточенности и умственных способностей</li>
    <li>Устранения психотравм</li>
    <li>Повышение активности правого полушария</li>
    <li>Повышение  ОФП</li>
</ul>
<h4><b>Польза  гипнотерапии для мышления.</b></h4>
<p>Последние исследования на магнитно-резонансном томографе показывают, что во время  гипнотерапии у человека сильно активизируются височные доли мозга и зоны мозга связанные со вниманием. После  курса  гипнотерапии на электроэнцефалограмме также обнаруживается усиление гамма - волн.</p>
<ul>
    <li>Улучшается работа мозга</li>
    <li>Улучшается концентрация внимания</li>
    <li>Улучшается сон</li>
    <li>Развиваются интуитивные способности</li>
    <li>Улучшается аналитически-логическое мышление</li>
    <li>Повышается результативность</li>
    <li>Упрощается восприятие сложных вещей</li>
    <li>Ускоряется обработка информации</li>
    <li>Улучшается организация мышления</li>
    <li>Улучшается память на 25%</li>
    <li>Обретается ясность и спокойствие ума</li>
    <li>Улучшается способность к обучению</li>
    <li>Улучшаются творческие способнос</li>
</ul>
<h4><b>Польза для здоровья.</b></h4>
<ul>
    <li>Польза для здоровья.</li>
    <li>Снижает риск инфарктов и сердечных болезней</li>
    <li>Снижение сахара в крови при диабете</li>
    <li>Снижает уровень молочной кислоты в крови</li>
    <li>Улучшает сон и вылечивает бессонницу</li>
    <li>Убирает головные и другие боли в организме</li>
    <li>Укрепляет иммунную систему</li>
    <li>Уменьшает потребность в спиртном и сигаретах</li>
    <li>Расслабляет зажимы мышц, способствует быстрому восстановлению после тренир</li>
    <li>Улучшение жизнеспособности и адаптивности</li>
    <li>Позволяет поддержать тело и ум в тонусе</li>
    <li>Восстанавливает нервную систему</li>
    <li>Улучшает слаженность работы всех органов и систем организма</li>
    <li>Уменьшает раздражительность</li>
    <li>Уменьшает беспокойство, тревогу</li>
    <li>Увеличивает продолжительность молодости и жизни</li>
</ul>
<h4><b>Польза для эмоционального состояния.</b></h4>
<ul>
    <li>Повышается стрессоустойчивость</li>
    <li>Уменьшается раздражительность и беспокойство</li>
    <li>Повышается эмоциональная устойчивость</li>
    <li>Растет уверенность в себе</li>
    <li>Помогает избавиться от депрессии</li>
    <li>Увеличивается самоконтроль над эмоциям</li>
    <li>Избавляет от тревожности</li>
    <li>Достигается внутренний баланс</li>
</ul>
<h4><b>Возможны ли побочные эффекты от гипноза?</b></h4>
<p>Как утверждают специалисты, на сегодняшний день таких фактов не выявлено. Исследования в разное время проводились такими видными и авторитетными  учеными как:  В. М. Бехтерев, И. П. Павлов,  С. С. Либих (1974), А. И. Захаров (1982), А. А. Токарский (1989), М. С. Лебединский,  А. Т. Пшоник (1952), Л. Л. Васильев,  И. П. Брязгунов (1970) Л. Черток (1972), В. И. Сухорукова (1977), П. К. Анохин,  Н. Е. Введенский (1911-1913),  Н. И. Красногорский,  В. М. Шкловский (1975, 1994),   В. Н. Мясищев, Ю. А. Поворинский (1950), С. Н. Давиденков, К. М. Варшавский (1973), С. С. Корсаков, К. М. Быков, А. М.Свядощ (1982), В. Я. Данилевский, Б. Н. Бирман (1922,1925, 1946),  Л. Б. Гаккель (1955),  Д. Я.  Венгеровский (1955),   И. 3. Вельвовский (1984), А. Л. Гройсман, К. И. Платонов (1957), С. Л. Рубинштейн, В. Е. Рожнов, А. А. Ухтомский, И. М. Сеченов, А.М. Свядощ, А. П. Слободяник, Е. С.  Катков,  М. П. Кутании,  В. В. Кузьмин,  П. П.  Подъяпольский,  Е. Н. Довбня, Ф. Е. Рыбаков, В. Н. Хорошко, А. И. Яроцкий, А. Ф. Лазурский, Ю. В. Каннабих, В. М. Нарбут, Ф. Д. Неткачев, В. А. Гиляровский, М. В. Стрельчук, Г. В. Морозов, В. М. Банщиков, Н. В. Иванов, Н. К. Липгарт, А. Г. Иванов-Смоленский, и др. Учеными доказано, что психика человека саморегулируется во время лечебного транса, мобилизуются его внутренние резервы, активизируются защитные силы организма (компенсаторные), гомеостаз организма приходит в норму, а потому опасности для психического и физиологического здоровья пациента нет.</p>
<h4><b>Известнейшие ученые исключают возможность опасности гипноза.</b></h4>
<p>Д-р Льебо из Нанси, основатель учения о гипнозе как о методе терапии, писал: «Многолетний опыт использования гипнотического внушения дает мне основание утверждать, что таковое, если им правильно пользоваться, намного эффективнее медицинского лечения. В отличие от лечения лекарствами, оно безопасно, действие его быстро и приятно».</p>
<p>Профессор Брюггельманн из Падеборна: «На вопрос, может ли гипноз быть опасным, я должен коротко ответить — нет».</p>
<p>Д-р Моль добавляет: «Кардинальная проблема — не несет ли должным образом выполненное гипнотическое внушение опасности для здоровья. На этот вопрос я отвечаю — нет».</p>
<p>Д-р Рингье из Цюриха: «Могу лишь повторить то, что говорил неоднократно, а именно: я никогда, ни в одном случае не встречался с вредным действием гипноза».</p>
<p>Директор д-р Шольц из Бремена: «Я никогда не слышал жалоб на вредные последствия гипноза, которые имели бы место на практике. Это — всего лишь теоретические построения противников гипнотических методов».</p>
<p>Профессор Мебиус: «Конечно, существуют врачи, имеющие предубеждение против гипноза, однако это именно те люди, у которых нет в данной области собственного опыта, и которые ограничиваются ложными умозаключениями».</p>
<p>Профессор Сазерленд из Массачусетса: «Как могут говорить об опасностях врачи, сами не сведущие в гипнозе. Покажите мне их, и я внушу им, чтобы они никогда больше не заикались об опасностях внушения».</p>
<p>Д-р Отто Веттерштранд: «Я предсказываю гипнозу большое будущее и могу лишь присоединиться к мнению, высказанному профессором И. Бернгеймом в его эпохальной работе по внушению, а именно: суггестивная терапия относится к одному из самых ценных завоеваний современной медицины»
</p>
<p>Будьте здоровы и берегите себя!</p>









