---
layout: voprosy
categories: voprosy
title: Вопросы
description: Все статьи отсортированные по алфавиту
---
<div class="tabset">
    <!-- Tab 1 -->
    <input type="radio" name="tabset" id="tab1" aria-controls="1" checked>
    <label for="tab1">Страница №1</label>
    <!-- Tab 2 -->
    <input type="radio" name="tabset" id="tab2" aria-controls="2">
    <label for="tab2">Страница №2</label>
    <!-- Tab 3 -->
    <input type="radio" name="tabset" id="tab3" aria-controls="3">
    <label for="tab3">Страница №3</label>

    <div class="tab-panels">
        <section id="1" class="tab-panel">
            <div class="row">
                <div class="col-md-6">
                    <ul class="li-wrap">
                        {% for post in site.categories.voprosi-ot-A-G %}
                        {% include /post-menu-item.html %}
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul class="li-wrap">
                        {% for post in site.categories.voprosi-ot-D-K %}
                        {% include /post-menu-item.html %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </section>
        <section id="2" class="tab-panel">
            <div class="row">
                <div class="col-md-6">
                    <ul class="li-wrap">
                        {% for post in site.categories.voprosi-ot-K-L %}
                        {% include /post-menu-item.html %}
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul class="li-wrap">
                        {% for post in site.categories.voprosi-ot-L %}
                        {% include /post-menu-item.html %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </section>
        <section id="3" class="tab-panel">
            <div class="row">
                <div class="col-md-6">
                    <ul class="li-wrap">
                        {% for post in site.categories.voprosi-ot-L-N %}
                        {% include /post-menu-item.html %}
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul class="li-wrap">
                        {% for post in site.categories.voprosi-ot-N-end %}
                        {% include /post-menu-item.html %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </section>
    </div>
</div>
