---
layout: category
categories: dlya-zhenshhin
title: Для женщин
description: Лечение гипнозом и многое другое.
---
<div class="container">

    <div class="description">
        <div class="row">
            <div class="col-12">
                <h4 class="text-center">Наиболее часто встречающиеся проблемы, с которыми вы можете обратиться к нам за помощью:</h4>
            </div>
            <div class="col-md-6">
                <ul>
                    <li>Как полюбить себя такой какая  есть</li>
                    <li>(как) вернуть любимого</li>
                    <li>Выбор мужчины</li>
                    <li>Любовная зависимость (от мужчины)</li>
                    <li>Как расстаться с жужниной</li>
                    <li>Семейные конфликты (ссоры с мужем)</li>
                    <li>Как привлечь мужчину</li>
                    <li>Как понравиться мужчине, стать более привлекательной для противоположного пола</li>
                    <li>Как вести себя с мужчиной</li>
                    <li>Как найти свою вторую половинку</li>
                    <li>Как влюбить в себя мужчину</li>
                    <li>Избавиться от застенчивости,  неуверенности в себе при общении с противоположным полом</li>
                    <li>Как отношения без обязательств перевести в серьезные</li>
                    <li>Отношения без обязательств в удовольствие</li>
                    <li>Как пережить разочарование в любви</li>
                    <li>Как избавиться от ревности</li>
                    <li>Меня постоянно ревнуют, как быть?</li>
                    <li>Независимость в отношениях с мужчиной</li>
                    <li>Как полюбить снова?</li>
                    <li>Чувство одиночества, страх одиночества</li>
                    <li>Как научиться доверять партнеру</li>
                </ul>
            </div>
            <div class="col-md-6">
                <ul>
                <li>Как перестать искать одобрения со стороны</li>
                <li>Как пережить измену партнера</li>
                <li>Перестать кричать и нервничать</li>
                <li>Безответная любовь</li>
                <li>Страх старости у женщин</li>
                <li>Смерть ребенка</li>
                <li>Смерть партнера</li>
                <li>Страх мужчин</li>
                <li>Безболезненный роды</li>
                <li>Проблемы с вынашиванием ребенка</li>
                <li>Помощь при бесплодии</li>
                <li>Страх беременности</li>
                <li>Устранение токсикоза</li>
                <li>Налаживание эмоциональной связи с вашим еще неродившимся малышом</li>
                <li>Удовольствие от беременности</li>
                <li>Послеродовая депрессия</li>
                <li>Страх забеременеть после выкидыша</li>
                <li>Подготовка к кесареву сечению</li>
                <li>Избавиться от чувства вины перед партнером</li>
                <li>У мужа любовница</li>
                <li>Отношения на стороне, стыд или вина?</li>
                <li>Насилие в отношениях</li>
                </ul>
            </div>
            <div class="col-md-6">
                <h4>Сексуальные проблемы</h4>
                <ul>
                    <li>Непринятие собственного тела, размера груди, и др.</li>
                    <li>Принятие собственной сексуальности, женственности</li>
                    <li>Поиск и развитие чувственности, удовольствия от прикосновений</li>
                    <li>Нетрадиционная сексуальная ориентация</li>
                    <li>Фригидность</li>
                    <li>Страх перед сексом</li>
                    <li>Потеря девственности  (уверенность и спокойствие, первый опыт сексуальной близости)</li>
                    <li>Повышение либидо</li>
                    <li>Беспорядочные половые связи – нимфомания</li>
                    <li>Поднятие самооценки в сексе</li>
                    <li>Стеснение собственного тела, застенчивость</li>
                    <li>Тревожность во время сексуальной близости</li>
                    <li>Как отказать в сексе мужчине</li>
                    <li>Вагинизм и другие сексуальные физиологические расстройства</li>
                </ul>
            </div>
            <div class="col-md-6">
                <h4>Семейные проблемы</h4>
                <ul>
                    <li>Как простить своих родителей</li>
                    <li>Семейные конфликты (ссоры с мужем или женой)</li>
                    <li>Как попросить о разводе</li>
                    <li>Как перестать ревновать</li>
                    <li>Как научиться доверять партнеру</li>
                    <li>Кризис в отношениях</li>
                    <li>Как сохранить брак?</li>
                    <li>Сложные отношения с матерью</li>
                    <li>Смерть одного из родителей</li>
                    <li>Смерть ребенка</li>
                    <li>Освободиться от родительских ожиданий</li>
                    <li>Разочарование после долгих лет жизни</li>
                </ul>
            </div>
            <h4 class="text-center">Навыки воспитания</h4>
            <div class="col-md-6">
                <ul>
                    <li>Неуправляемый ребенок</li>
                    <li>Ребенок постоянно плачет</li>
                    <li>Как насладиться материнством</li>
                    <li>Новый папа</li>
                    <li>Преодолеть ощущение родительской вины</li>
                    <li>Перестать чрезмерно опекать ребенка</li>
                    <li>Часто болеющий ребенок</li>
                    <li>Принять ребенка таким какой он есть</li>
                    <li>Перестать много беспокоиться о ребенке</li>
                    <li>Развить ощущение семьи как одного целого</li>
                    <li>Повысить успеваемость</li>
                    <li>Повысить навыки запоминания</li>
                    <li>Улучшить концентрацию внимания</li>
                    <li>Доверие к миру</li>
                </ul>
            </div>
            <div class="col-md-6">
                <ul>
                    <li>Развод родителей</li>
                    <li>Трудности с засыпанием</li>
                    <li>Смерть бабушки или дедушки, родителя</li>
                    <li>Детский страх темноты</li>
                    <li>Детские ночные кошмары</li>
                    <li>Как повысить скорость чтения</li>
                    <li>Счастливое возвращение в школу</li>
                    <li>Потеря питомца</li>
                    <li>Заводить друзей, навыки общения</li>
                    <li>Не принимают в группу сверстников</li>
                    <li>Застенчивый ребенок</li>
                    <li>Свободно отвечать на занятиях</li>
                    <li>Ночное недержание мочи</li>
                    <li>Истерики у детей</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="post">
        <div class="row">
            <div class="col-12">
                <h4>Гипноерапия для женщин</h4>
                <ul>
                {% for post in site.categories.dlya-zhenshhin %}
                {% include /post-menu-item.html %}
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
