---
layout: post
title:  Эриксоновский метод гипноза
description: Эриксоновский гипноз — это физическое расслаблению тела и мыслей, а также упражнения по визуализации внутренних образов.
categories: o-gipnoze
catname: О гипнозе
permalink: "blog/:categories/:year-:month-:day-:slug.html"
---
<p>Примерно  на два процента своим поведением  человек управляет сознательно,  оставшимися управляет подсознание, воспроизводя весь накопленный жизненный опыт. В том числе и опыт негативный, полученный начиная с раннего детства. Модели поведения и даже комплексы, сформированные под влиянием этого опыта, зачастую мешают человеку добиваться жизненного успеха, налаживать отношения с другими людьми, чувствовать себя уверенным и счастливым. Справиться с этой ситуацией с помощью сознания, как правило, невозможно.</p>
<p><b>Поэтому гипнотерапия  – это единственный метод психологической помощи человеку, позволяющий устранить причину заболевания, а не ее симптом, оказывая  прямое и непосредственное воздействие на характер и динамику корковых процессов, мобилизуя необходимые внутренние ресурсы организма человека.</b></p>
<p><b>Гипноз (от греч. hypnos — сон)</b> — временное особое состояние сознания, характеризующееся сужением его объема и резкой фокусировкой на содержании внушения, что связано с изменением функции индивидуального контроля и самосознания. Состояние гипноза наступает в результате специальных воздействий гипнотерапевта.</p>
<p>Гипнотерапевта можно сравнить с прекрасным хирургом, который не сможет провести операцию без хирургического инструмента и оборудования. Гипноз – это,  прежде всего инструмент в руках гипнотерапевта, с помощью которого,  появляется уникальная возможность  добраться до причин возникновения различных  патологий, как в психической сфере (эмоции, чувства, мышление), так и в  соматической, вызванных психогенным фактором.</p>
<h4>Эриксонианский гипноз.</h4>
<p>Название такое к нему пришло от имени его создателя, гипнотерапевта Милтона Эриксона.  Эриксоновский гипноз — это физическое расслаблению тела и мыслей, а также упражнения по визуализации внутренних образов.  И в этом расслабленном состоянии человек просто отвечает на вопросы гипнотерапевта. При этом человек хорошо отделён от тех эмоций и переживаний личности, которую он наблюдает как бы со стороны. Т.е. смотрит кино про себя, в прошлом или даже в будущем, и может положительно влиять на эти процессы задним числом.</p>
<p>В Эриксоновском гипнозе используются особые формы внушений — косвенные внушения. Эта форма гипнотического внушения направлена на то, чтобы человек мог выполнять определенные действия, которые он затрудняется делать сознательно. Хотя автоматически и бессознательно они вполне доступны этому же самому человеку в определенных жизненных ситуациях. С помощью таких косвенных форм внушения, характерных для эриксоновского гипноза, у пациента появляется возможность контролировать и направлять такие реакции, которые обычно регулирует подсознание.</p>
<p>Эриксон разработал и оставил в наследство множество форм косвенного гипнотического внушения, которые позволяют на мгновение изменить связывающие пациента ограничения сознания и открыться внутреннему потенциалу.</p>
<p><b>Будьте здоровы и берегите себя!</b></p>






































