---
layout: post
title:  Нервный тик
description: Нервный тик – патологическое состояние, характеризующееся появлением внезапных и повторяющихся отрывистых движений определенных групп мышц.
categories: zdorove
catname: Здоровье
permalink: "blog/:categories/:year-:month-:day-:slug.html"
---
<p><strong>Нервный тик</strong> – патологическое состояние, характеризующееся появлением внезапных и повторяющихся отрывистых движений определенных групп мышц.  Причиной проявления такого состояния, является рассогласование функций центральной нервной системы.</p>
<p>Головной мозг посылает в мышцы «ошибочные» нервные импульсы, которые заставляют их быстро однообразно сокращаться.  То есть они происходят помимо воли человека. Но иногда перед тиком может возникнуть специфическое ощущение, как бы непреодолимое желание совершить движение. При этом человек думает, что он делает это сам, по собственной воле.</p>
<p><strong>В зависимости от проявлений, нервные тики делят:</strong></p>
<ul>
    <li><strong>Мимические</strong>– затрагивают мышцы лица. Это наиболее распространенная форма тиков.</li>
    <li><strong>Моторные</strong>– затрагивают верхние и нижние конечности, а также другие скелетные мышцы.</li>
    <li><strong>Вокальные</strong>(<strong>голосовые</strong>) – затрагивают голосовые мышцы. Проявляются в виде вскриков, громких вздохов.</li>
    <li><strong>Сенсорные</strong>. Проявляются в виде ощущения холода, тяжести в той или иной части тела. Они могут приводить к возникновению движений, напоминающих обычные тики.</li>
</ul>
<p><strong>Виды нервных тиков в зависимости от распространенности</strong>:</p>
<ul>
    <li><strong>Локальные</strong>. Затрагивают только одну группу мышц.</li>
    <li><strong>Генерализованные</strong>. Захватывают практически все тело. Тик может начинаться с лица, затем распространяться на шею, плечи, руки, грудную клетку, спину, живот и ноги.</li>
</ul>
<p><strong>Виды тиков в зависимости от сложности</strong>:</p>
<ul>
    <li><strong>Простые</strong>. Происходят простейшие однотипные движения.</li>
    <li><strong>Сложные</strong>. Представляют собой сложные комплексные движения с задействованием разных групп мышц.</li>
</ul><p><strong>В зависимости от причины рассогласования нервной системы, различают три вида нервных тиков</strong>:</p>
<ul><li><strong>первичные</strong>(другие названия: идиопатические, неврогенные, психогенные);</li>
    <li><strong>вторичные</strong>(симптоматические);</li>
    <li><strong>наследственные</strong>(возникают в результате наследственных заболеваний, приводящих к поражениям нервной системы).</li>
</ul>
<p><strong>Причины вторичных нервных тиков.</strong></p>
<ul>
    <li><strong>Инфекционные заболевания головного мозга</strong>- энцефалиты.</li>
    <li><strong>Отравление угарным газом.</strong></li>
    <li><strong>Прием некоторых лекарственных препаратов:</strong>психотропных, противосудорожных и др.</li>
    <li><strong>Заболевания внутренних органов</strong>– сахарный диабет, поражение печени и почек. При этом в крови повышается содержание токсичных продуктов обмена, которые поражают нервную систему.</li>
    <li><strong>Опухоли головного мозга</strong>.</li>
    <li><strong>Родовые травмы</strong>.</li>
    <li><strong>Невралгия тройничного нерва</strong>. При этом возникают так называемые болевые тики.</li>
    <li><strong>И т</strong>.д.</li>
</ul>
<p><strong><u>Вторичные  и наследственные нервные тики гипнотерапией не лечатся!</u></strong></p>
<p><strong>Причины первичных нервных тиков: </strong></p>
<ul>
    <li><strong>Частые сильные стрессы, истощение нервной системы</strong>.</li>
    <li><strong>Хроническая усталость</strong>.</li>
    <li><strong>Повышенная тревожность</strong>.</li>
    <li><strong>Навязчивые страхи</strong>(фобии).</li>
    <li><strong>Психоэмоциональная травма.</strong></li>
    <li><strong>И т.д.</strong></li>
</ul>
<p><strong> Причем,  психоэмоциональная травма  является основной причиной возникновения навязчивых страхов (фобий), повышенной тревожности, стрессов, и как следствие нервного тика!</strong></p>
<p><strong>Психоэмоциональная травма</strong> - вред, нанесённый психическому здоровью человека, в результате сверхсильного одномоментного, или длительного интенсивного воздействия неблагоприятных факторов среды, остроэмоциональных, стрессовых воздействий на его психику, или длительной сшибки субъективных представлений с объективной реальностью. Часто бывает связана с физической травмой, угрожающей жизни, либо нарушающей ощущение безопасности. Это может быть физическое насилие, оскорбление, унижение, сильный испуг, горе и т.д. И как следствие, реакция на негативные события может привести к возникновению нервных тиков.</p>
<p>Эти события мешают человеку жить, проецируя те же симптомы, на подобные жизненные ситуации, зеркально отражаясь по закону подобия всю жизнь, прогрессируя от ситуации к ситуации, разрушая психику человека. В результате чего может упасть самооценка, усилиться тревога, нарушиться сон, часто появляется упадок сил, повышенная утомляемость, может возникнуть паническая атака, развиться фобии, депрессия, напряженность, ночные кошмары и др. Также человек может испытывать различные негативные чувства – страх, гнев, панику, грусть, причем постоянно.</p>
<p>Психотравма формируется и хранится в бессознательной сфере человека в виде молекулярной памяти события, включающая в себя  патологическую нервную цепь  замкнутую по закону условно - рефлекторной связи на пусковые механизмы события, повлекшие остроэмоциональные, стрессовые воздействия на психику человека. Поэтому вытормозить эту резистентную, патологическую центрально – периферическую связь функциональной системы возможно только с помощью гипнотерапии, которая позволяет работать с бессознательным пациента, устранив причину заболевания, а не ее симптом.</p>
<p><strong>За 20 лет практики нами разработана уникальная авторская методика, опирающаяся исключительно на научные нейрофизиологические исследования наших светил - советских академиков и профессоров. Профессиональное воздействие по нашей авторской методике относится к самым результативным услугам в настоящее время, и позволяет найти глубинные причины психотравмы, выявить их и устранить  всего за один-три сеанса, и как следствие восстановить согласованную работу Ц.Н.С.  избавив пациента от навязчивых нервных тиков.</strong></p>
<p>В настоящее время гипноз все больше набирает популярность среди специалистов и обычных людей. Люди обращаются к гипнологам по разнообразным причинам. Самыми распространенными ситуациями применения гипноза являются различные неврозы, фобии, страхи, депрессии, ОКР, СРК, ВСД, пищеварительные, сексуальные нарушения, нервные тики, коррекция поведенческих реакций человека, заниженная самооценка, комплексы, вредные привычки. Причем в этих случаях, гипнотерапия остается единственным результативным методом, так как нацелена на избавление больного от причин его заболевания, в то время как все остальные методы, включая фармацевтические, претендуют только на временное снятие симптомов.</p>
<p>Успешное применение гипноза при лечении столь широкого круга заболеваний связанно с тем, что точкой приложения лечебного слова в гипнозе - являются большие полушария головного мозга человека, которые управляют всеми органами и системами организма. Слово в гипнозе оказывается чрезвычайно могущественным лечебным фактором, производящим прямое и непосредственное воздействие на характер и динамику корковых процессов. Это открывает прямой путь к устранению патологических процессов и мобилизации необходимых внутренних ресурсов организма человека.</p>
<p>Таким образом, воздействуя лечебным словом в гипнозе на высшие отделы Ц.Н.С., открывается прямой путь к устранению патологических процессов и мобилизации необходимых внутренних ресурсов организма человека. Ибо в свете учения о единстве психики и соматики, всякое соматическое заболевание неразрывно связано с большим или меньшим нарушением функционального состояния высшей нервной деятельности больного.</p>
<p><strong>Поэтому гипнотерапия – это единственный метод психологической помощи человеку, позволяющий устранить причину заболевания, а не ее симптом, оказывая прямое и непосредственное воздействие на характер и динамику корковых процессов, мобилизуя необходимые внутренние ресурсы организма человека.</strong></p>
<p><strong>Возможны ли побочные эффекты от гипноза?</strong></p>
<p>Как утверждают специалисты, на сегодняшний день таких фактов не выявлено. Исследования в разное время проводились такими видными и авторитетными учеными как: В. М. Бехтерев, И. П. Павлов, С. С. Либих (1974), А. И. Захаров (1982), А. А. Токарский (1989), М. С. Лебединский, А. Т. Пшоник (1952), Л. Л. Васильев, И. П. Брязгунов (1970) Л. Черток (1972), В. И. Сухорукова (1977), П. К. Анохин, Н. Е. Введенский (1911-1913), Н. И. Красногорский, В. М. Шкловский (1975, 1994), В. Н. Мясищев, Ю. А. Поворинский (1950), С. Н. Давиденков, К. М. Варшавский (1973), С. С. Кор-саков, К. М. Быков, А. М.Свядощ (1982), В. Я. Данилевский, Б. Н. Бирман (1922,1925, 1946), Л. Б. Гаккель (1955), Д. Я. Венгеровский (1955), И. 3. Вельвовский (1984), А. Л. Гройсман, К. И. Платонов (1957), С. Л. Рубинштейн, В. Е. Рожнов, А. А. Ухтомский, И. М. Сеченов, А.М. Свядощ, А. П. Слободяник, Е. С. Катков, М. П. Кутании, В. В. Кузьмин, П. П. Подъяпольский, Е. Н. Довбня, Ф. Е. Рыбаков, В. Н. Хорошко, А. И. Яроцкий, А. Ф. Лазурский, Ю. В. Каннабих, В. М. Нарбут, Ф. Д. Неткачев, В. А. Гиляровский, М. В. Стрельчук, Г. В. Морозов, В. М. Банщиков, Н. В. Иванов, Н. К. Липгарт, А. Г. Иванов-Смоленский, и др. Учеными доказано, что психика человека саморегулируется во время лечебного транса, мобилизуются его внутренние резервы, активизируются защитные силы организма (компенсаторные), гомеостаз организма приходит в норму, а потому опасности для психического и физиологического здоровья пациента нет.</p>
<p><strong>Положительные стороны гипнотического лечения фобии, страхов:</strong></p>
<ul>
    <li>Полное отсутствие медикаментозного влияния на организм человека.</li>
    <li>Полезно. Нормализует гомеостаз организма, укрепляет ЦНС, и т.д.</li>
    <li>Нет побочного эффекта.</li>
    <li>Полное 100% избавление от нервного тика на всю жизнь.</li>
    <li>Устранение причин заболевания всего за один – три сеанса.</li>
    <li>Дешевле.</li>
</ul>
<p>Сеанс гипноза по лечению  сам по себе является целебным для человека. Гипноз улучшает общее самочувствие человека, обеспечивает слаженную работу всех органов и систем организма, его (гомеостаз), что позволяет пациенту ощутить новый прилив жизненных сил. Он положительно влияет на работу многих органов и систем: сердечно - сосудистой, дыхательной, эндокринной, пищеварительной, ЦНС, помогает при бессоннице, снимает раздражительность, уменьшает беспокойство, и т.п.</p>
<p>Наш авторский метод позволит вам вернуться к нормальной жизни и получать от нее удовольствие.</p>
<p><strong>Будьте здоровы и берегите себя!</strong></p>



























