---
layout: post
title: Как влюбить в себя мужчину
description: Неуверенность в себе при общении с мужчинами очень часто мешает женщинам вести себя естественно и быть самой собой.
categories: voprosi-ot-D-K
catname: Вопросы от Д до К
permalink: "blog/:categories/:year-:month-:day-:slug.html"
---
<p>Неуверенность в себе при общении с мужчинами очень часто мешает женщинам вести себя естественно и быть самой собой. Сомнения в том, понравится ли она мужчине, мучает представительниц слабого пола, и сильное желание понравиться ему делает женщину скованной и зажатой. Как показывают исследования,  мужчины предпочитают уверенных в себе, знающих себе цену, женщин.  Такова мужская природа и от этого никуда не деться.</p>
<p>Но давайте для начала рассмотрим, откуда берется эта неуверенность в себе и страхи. Очень часто причины этого лежат в отношениях женщины самой с собой.  Если с детства ей говорили, что она самая лучшая, и делали комплементы, то чаще всего из такой девочки вырастает уверенная в собственной привлекательности женщина. Но даже у нее могут быть внутренние психологические причины, которые  могут заставить ее испытывать дискомфорт при общении с противоположным полом. Может быть не со всеми мужчинами из ее окружения, а с тем,  кто ей нравится,  к кому она испытывает сильные чувства.  Т.е. причин может быть много.   В каждом случае они разные.</p>
<p><b>Причины заниженной самооценки и неуверенности в себе  могут быть связаны со следующими факторами:</b></p>
<ul>
    <li>Низкий социальный статус;</li>
    <li>Неблагоприятная семейная обстановка, особенно в период детства;</li>
    <li>Неправильное воспитание в детстве,  когда родители уделяют мало времени и внимания своему ребенку, когда никто не говорит им ободряющих слов, которые могли бы придать им уверенности в себе, а наоборот ругают или оскорбляют, если у них что - то не получается.</li>
    <li>Сильное желание ребенка, которое не смогло осуществиться (хотел покачать любимую маленькую сестру в коляске, но нечаянно уронил ее; мечтал проснуться рядом с отцом, но тот внезапно уехал, а ребенок проснулся один в пустой темной комнате и т.п.).</li>
    <li>Постоянные неудачи в личной жизни и карьере;</li>
    <li>Негативный опыт -  когда приходится вновь и вновь проходить через тревожащую ситуацию (столкновение с осмеянием, осуждением или любым другим негативным впечатлением).</li>
    <li>Наличие физических недостатков;</li>
    <li>Постоянная критика от окружающих;</li>
    <li>Неуверенность в себе и собственных силах;</li>
    <li>Чрезмерная опека родителей;</li>
    <li>Низкая успеваемость;</li>
</ul>
<p>Писать подробней этот список не имеет никакого смысла, так как каждый случай индивидуален и состоит из  сложных сочетаний  разнообразных проявлений в физиологическом психическом и психологическом  смыслах.</p>
<p><b>Если вы хотите избавиться от неуверенности в себе самостоятельно, то  есть несколько  способов. Вот,  например:</b></p>
<ul>
    <li>Сядьте и задумайте,  что мешает вам чувствовать себя спокойно и уверенно при общении с парнями, мужчинами. Может быть, вы считаете, что не сможете поддерживать беседу или недостаточно привлекательно выглядите. Тогда стоит поработать над каждым из этих пунктов по отдельности.  Это всего лишь вопрос времени. Научитесь быть приятным и интересным собеседником, регулярно практикуясь в этом со знакомыми представителями сильного пола. Если вас не устраивает собственная внешность, то займитесь ею. Подтянутая фигура, стильная простая одежда, макияж  и опрятный внешний вид несомненно добавят вам уверенности в себе.</li>
    <li>Следующее – важно поработать над своими страхами и негативными убеждениями. Выпишите все свои мысли, которые создают для вас препятствия. Например, «я недостаточно красива для него», «я боюсь, что он отвергнет меня», «я неудачница» и так далее. Замените их на противоположные позитивные установки, причем на такие, которые понравились бы вам и вскоре стали вашей неотъемлемой частью. Несколько раз в день повторяйте их для себя, чтобы заставить свое подсознание изменить прошлые убеждения. Такой аутотренинг поможет вам почувствовать себя увереннее и придаст силы.</li>
    <li>Перестаньте думать о том, что скажут о вас другие. Поверьте, большинству людей абсолютно все равно, что с вами происходит. У них достаточно своих забот и проблем, которые занимают их гораздо больше, чем вы. К тому же, даже при всем желании невозможно нравиться всем. Предоставьте людям право думать, как им хочется, и перестаньте зависеть от их мнения.  А вместо этого просто действуйте!</li>
    <li>Регулярно практикуйтесь в общении с незнакомыми мужчинами, то есть идите навстречу своему страху. Сначала это будет трудно, но после 10 раза ваша уверенность значительно повысится. Вы обретете навык общения и сможете стать «самой обаятельной и привлекательной!</li>
</ul>
<p>Все эти советы хороши для тех, кто в состоянии самостоятельно работать над своей неуверенностью при общении с противоположным полом. Но если вы продолжаете испытывать серьезные проблемы в общении с мужчинами, то лучше прибегнуть к помощи гипнотерапевта.</p>
<h4>Как  избавиться от неуверенности  в себе при  общении с  мужчиной?</h4>
<p>Когда женщина чувствует застенчивость и неловкость, неуверенность в себе и в своих действиях, нерешительность и скованность,  робость, неудобство в некоторых ситуациях, чувство  собственной неполноценности, негативные мысли о себе, и т.д., то  основа этой  неуверенности в себе – низкая самооценка и страх неудачи.</p>
<p><b>Заниженная самооценка, неуверенность в себе, комплексы – это главная причина неуверенности в себе при общении с мужчиной!</b></p>
<p><b>Заниженная самооценка, неуверенность в себе, комплексы</b> – заболевание, характеризующееся нарушением физиологических и эмоциональных ощущений человека, когда он ощущает собственную ущербность и иррационально верит в превосходство окружающих людей над собой. Эта стратегия поведения заложена  в детские годы и хранится в наиболее древних структурах нашей памяти. По этой причине других способов добраться до этого ошибочного файла (ущербного восприятия себя) и его исправить не существует кроме как методом гипнотерапии. Поэтому все большей популярностью пользуется лечение психических, физиологических и психологических  расстройств  гипнозом.  Приведенные выше причины формирования заниженной самооценки и неуверенности в себе,  объединяют  психические травмы, возникшие  в  результате  негативного  воздействия на психику человека. Психотравма формируется и хранится  в бессознательной сфере человека  в виде молекулярной памяти события, включающая в себя патологическую нервную цепь,  замкнутую по закону условно - рефлекторной связи на пусковые механизмы события, повлекшие остроэмоциональные, стрессовые воздействия на психику человека и закрепив деструктивную реакцию в поведенческом, эмоциональном, физиологическом, и мыслительном смыслах.  Поэтому вытормозить  эту резистентную, патологическую центрально – периферическую связь функциональной системы,   возможно только с помощью гипнотерапии, которая позволяет работать с бессознательным  пациента, устранив причину заболевания, а не ее симптом. Тем самым заложив новый жизненный опыт, изменив старый деструктивный.</p>
<p>И самое главное, мало кто знает, что заниженная самооценка и неуверенность в себе – это благодатная почва для возникновения абсолютно  всех  психогенных патологий центральной нервной системы. Такие как: неврозы, страхи, фобии, панически атаки, ОКР, СРК, ВСД, депрессии и т.д.</p>
<p><b>За 20 лет практики нами разработана уникальная авторская методика, опирающаяся исключительно на научные нейрофизиологические  исследования наших светил -  советских академиков и профессоров. Профессиональное воздействие по  нашей авторской методике относится к самым результативным услугам в настоящее время. Она нацелена на избавление от  психогенных причин возникновения заниженной самооценки, неуверенности в себе, комплексов.  Гипнотерапия отлично работает на бессознательном уровне, позволяя делать желательные изменения на глубинных уровнях нашей психики, приводящие к положительным изменениям.</b></p>
<p><b>Гипнотерапия  – это единственный метод психологической помощи человеку, позволяющий найти и устранить причину  нарушений, а не ее симптом, оказывая  прямое и непосредственное воздействие на характер и динамику корковых процессов, мобилизуя необходимые внутренние ресурсы организма человека.</b></p>
<h4>Возможны ли побочные эффекты от гипноза?</h4>
<p>Как утверждают специалисты, на сегодняшний день таких фактов не выявлено. Исследования в разное время проводились такими видными и авторитетными  учеными как:  В. М. Бехтерев, И. П. Павлов,  С. С. Либих (1974), А. И. Захаров (1982), А. А. Токарский (1989), М. С. Лебединский,  А. Т. Пшоник (1952), Л. Л. Васильев,  И. П. Брязгунов (1970) Л. Черток (1972), В. И. Сухорукова (1977), П. К. Анохин,  Н. Е. Введенский (1911-1913),  Н. И. Красногорский,  В. М. Шкловский (1975, 1994),   В. Н. Мясищев, Ю. А. Поворинский (1950), С. Н. Давиденков, К. М. Варшавский (1973), С. С. Кор-саков, К. М. Быков, А. М.Свядощ (1982), В. Я. Данилевский, Б. Н. Бирман (1922,1925, 1946),  Л. Б. Гаккель (1955),  Д. Я.  Венгеровский (1955),   И. 3. Вельвовский (1984), А. Л. Гройсман, К. И. Платонов (1957), С. Л. Рубинштейн, В. Е. Рожнов, А. А. Ухтомский, И. М. Сеченов, А.М. Свядощ, А. П. Слободяник, Е. С.  Катков,  М. П. Кутании,  В. В. Кузьмин,  П. П.  Подъяпольский,  Е. Н. Довбня, Ф. Е. Рыбаков, В. Н. Хорошко, А. И. Яроцкий, А. Ф. Лазурский, Ю. В. Каннабих, В. М. Нарбут, Ф. Д. Неткачев, В. А. Гиляровский, М. В. Стрельчук, Г. В. Морозов, В. М. Банщиков, Н. В. Иванов, Н. К. Липгарт, А. Г. Иванов-Смоленский, и др. Учеными доказано, что психика человека саморегулируется во время лечебного транса, мобилизуются его внутренние резервы, активизируются защитные силы организма (компенсаторные), гомеостаз организма приходит в норму, а потому опасности для психического и физиологического здоровья пациента нет.
</p>
<p><b>Положительные стороны гипнотического лечения:</b></p>
<ul>
    <li>Полное отсутствие медикаментозного влияния на организм человека.</li>
    <li>Нет побочного эффекта.</li>
    <li>Полезно. Нормализует гомеостаз организма, укрепляет ЦНС, и т.д.</li>
    <li>Устраняет причины расстройства.</li>
    <li>Дешевле.</li>
</ul>
<p>Сеанс гипноза сам по себе является целебным для человека. Гипноз улучшает общее самочувствие человека, обеспечивает слаженную работу всех органов и систем организма,  его (гомеостаз), что позволяет пациенту ощутить новый прилив жизненных сил. Он положительно влияет на работу многих органов и систем: сердечно - сосудистой, дыхательной, эндокринной, пищеварительной, ЦНС, помогает при бессоннице, снимает раздражительность, уменьшает беспокойство, и т.п.</p>
<p>Мы  поможем вам не только найти глубинные причины вашей неуверенности, скованности  и может быть страха  при общении с противоположным полом, страха не понравиться мужчине, но и проработать их.   Поэтому обратившись к нам,  вы получите профессиональную,  качественную  помощь в решении своих проблем.  Мы помогли уже многим женщинам обрести уверенность в себе  в различных жизненных ситуациях, будем рады помочь и вам чувствовать себя уверенными и счастливыми!</p>
<p><b>Будьте здоровы и счастливы!</b></p>
































