---
layout: post
title:  Регрессивный метод гипноза
description: В независимости от разновидности клинического гипноза – классический или эриксоновский, 90% работы гипнолога – это регрессивный гипноз.
categories: o-gipnoze
catname: О гипнозе
permalink: "blog/:categories/:year-:month-:day-:slug.html"
---
<p>Примерно  на два процента своим поведением  человек управляет сознательно,  оставшимися управляет подсознание, воспроизводя весь накопленный жизненный опыт. В том числе и опыт негативный, полученный начиная с раннего детства. Модели поведения и даже комплексы, сформированные под влиянием этого опыта, зачастую мешают человеку добиваться жизненного успеха, налаживать отношения с другими людьми, чувствовать себя уверенным и счастливым. Справиться с этой ситуацией с помощью сознания, как правило, невозможно.</p>
<p><b>Гипноз (от греч. hypnos — сон)</b> — временное особое состояние сознания, характеризующееся сужением его объема и резкой фокусировкой на содержании внушения, что связано с изменением функции индивидуального контроля и самосознания. Состояние гипноза наступает в результате специальных воздействий гипнотерапевта.</p>
<p>Гипнотерапевта можно сравнить с прекрасным хирургом, который не сможет провести операцию без хирургического инструмента и оборудования. Гипноз – это,  прежде всего инструмент в руках гипнотерапевта, с помощью которого,  появляется уникальная возможность  добраться до причин возникновения различных  патологий, как в психической сфере (эмоции, чувства, мышление), так и в  соматической, вызванных психогенным фактором.</p>
<p>На сегодняшний день есть две разновидности клинического гипноза – классический и эриксоновский.</p>
<p><b>Регрессия</b> – это исследование нашего прошлого. Прошлое начинается за секунду до настоящего.</p>
<p>Любой стереотип нашего поведения или реагирования на происходящее – это психическая программа, которая записана в нашем бессознательном. Чтобы эту программу изменить или устранить, а также создать новую, нам необходимо добраться до места её хранения - то есть в область бессознательного.</p>
<p>Это возможно только в состоянии гипноза.  <b>Поэтому гипнотерапия  – это единственный метод психологической помощи человеку, позволяющий устранить причину заболевания, а не ее симптом, оказывая  прямое и непосредственное воздействие на характер и динамику корковых процессов, мобилизуя необходимые внутренние ресурсы организма человека.</b></p>
<p>Поскольку все проблемы человека имели свое начало когда-то в прошлом (может вчера, а может в детстве или даже прошлых воплощениях), для их устранения используется регрессия. Чтобы убрать проблему, нужно вернуться (в состоянии гипноза) в то время, когда она возникла и дать себе те ресурсы, которые помогут её решить.</p>
<p>В независимости от разновидности клинического гипноза – классический или эриксоновский, 90% работы гипнолога – это регрессивный гипноз. В этом и заключается весь смысл гипнотерапии.</p>
<p>Скорость погружения, глубина транса, способность находиться в нем определенное время – это исключительно ваши собственные особенности психики, которые зависят от скорости протекания психических процессов в вашем головном мозге, их силы и устойчивости, а также от физического и психического состояния вашего здоровья. От этих показателей будет зависеть количество  лечебных сеансов для решения проблемы.</p>
<p>Опытный гипнолог из беседы с вами определит наиболее подходящий для вас способ погружения в состояние транса, в зависимости от цели гипноза в процессе работы выберет наиболее подходящий ресурс (для решения проблемы или достижения желаемого), при необходимости будет регулировать глубину погружения  и длительность терапии, а также определит момент завершения сеанса.</p>
<p><b>Будьте здоровы и счастливы!</b></p>





























