---
layout: post
title:  Депрессия
description: Депрессия – эффективное психическое расстройство, проявляющееся устойчивым снижением настроения, а в тяжелых случаях и полным отсутствием аппетита и т.д.
categories: zdorove
catname: Здоровье
permalink: "blog/:categories/:year-:month-:day-:slug.html"
---
<p><b>Депрессия –</b> эффективное психическое расстройство, проявляющееся устойчивым снижением настроения, двигательной заторможенностью, снижением, а в тяжелых случаях и полным отсутствием аппетита, потерей интереса к жизни, отсутствием сил, раздражением без видимых причин,  автоматизмом в действиях, персеверацией  мыслей  с  нарушением общего мышления, проблемой со сном, снижением самооценки и чувством вины, возникновением  мыслей о самоубийстве  и т.д. Является самым распространенным психическим расстройством.</p>
<p>По статистике в 93% случаев причиной развития аффективного расстройства становится острая психическая травма.  Депрессии, возникающие в результате психических травм, называют реактивными. Реактивные расстройства провоцируются разводом, смертью или тяжелой болезнью близкого человека, инвалидностью или тяжелой болезнью самого пациента, увольнением, конфликтами на работе, выходом на пенсию, банкротством, резким падением уровня материального обеспечения, переездом и т. д.</p>
<p>Многие люди обращаются за помощью к гипнотерапевту только после многих лет применения антидепрессантов, нейролептиков, транквилизаторов, когда приходит понимание, что со временем депрессия становится только тяжелее. Лечение депрессии фармакологией не всегда помогает, а если и помогает, то лишь   временно, частично устраняя симптомы депрессии, не решая изначальную внутреннюю причину, которая рано или поздно снова приводит к повторению состояния депрессии. С каждым разом депрессия становится всё продолжительней, а симптомы всё тяжелее, постепенно приобретая хроническую форму. Вам не обязательно проверять это на своём опыте, гораздо более эффективно будет при первом эпизоде депрессии сразу обратиться к  гипнотерапевту.  Мы поможем вам избежать тяжелых последствий,  для вашего психического и физиологического здоровья!</p>
<p><b>Разработанная нами авторская методика «Жизнь без депрессии!» для преодоления навязчивого состояния,  поможет вам избавиться от этого недуга на всю жизнь за один – три сеанса!</b></p>
<p><b>За 20 лет практики нами разработана уникальная авторская методика, опирающаяся исключительно на научные нейрофизиологические исследования наших светил - советских академиков и профессоров. Профессиональное воздействие по нашей авторской методике «Жизнь без депрессии!» относится к самым результативным услугам в настоящее время, и позволяет, выявить и устранить причину заболевания, бесследно избавив пациента от фобии, страхов, панических атак, депрессии всего за один-три сеанса.</b></p>
<p>В настоящее время гипноз все больше набирает популярность среди специалистов и обычных людей.  Люди обращаются к гипнологам по разнообразным причинам. Самыми распространенными ситуациями применения гипноза являются различные неврозы, фобии, страхи, депрессии, ОКР, СРК, ВСД,  пищеварительные, сексуальные нарушения, коррекция поведенческих реакций человека, заниженная самооценка, комплексы, вредные привычки. Причем в этих случаях, гипнотерапия остается единственным результативным методом, так как нацелена  на избавление больного от причин его заболевания, в то время как все остальные методы, включая фармацевтические, претендуют только на временное снятие симптомов.</p>
<p>Тем временем,  психогенный сбой у больного не стоит на месте, а  генерализуется и приобретает более ярко выраженный  гетерогенный характер, вовлекая все большие участки функциональной системы в патогенез.</p>
<p>Успешное применение гипноза при лечении столь широкого круга заболеваний связанно с тем, что точкой приложения лечебного слова в гипнозе - являются большие полушария головного мозга человека, которые управляют всеми органами и системами  организма. Слово в гипнозе оказывается  чрезвычайно могущественным лечебным фактором, производящим прямое и непосредственное воздействие на характер и динамику корковых процессов. Это открывает прямой путь к устранению патологических процессов и мобилизации необходимых внутренних ресурсов организма человека.</p>
<p><b>Поэтому гипнотерапия – это единственный метод психологической помощи человеку, позволяющий устранить причину заболевания, а не ее симптом, оказывая прямое и непосредственное воздействие на характер и динамику корковых процессов, мобилизуя необходимые внутренние ресурсы организма человека.</b></p>
<p>За многие годы нашей лечебной практики к нам обращались пациенты с самыми невероятными ситуациями возникновения депрессии, которые в дальнейшем, перестали вызывать у них это застрявшее чувство.  Тем, кто страдает депрессией  не стоит разочаровываться и терять надежду на исцеление, так как с нашей помощью вы навсегда избавите  себя от этого навязчивого состояния всего за один – три сеанса.</p>
<h4>Возможны ли побочные эффекты от гипноза?</h4>
<p>Как утверждают специалисты, на сегодняшний день таких фактов не выявлено. Исследования в разное время проводились такими видными и авторитетными  учеными как:  В. М. Бехтерев, И. П. Павлов,  С. С. Либих (1974), А. И. Захаров (1982), А. А. Токарский (1989), М. С. Лебединский,  А. Т. Пшоник (1952), Л. Л. Васильев,  И. П. Брязгунов (1970) Л. Черток (1972), В. И. Сухорукова (1977), П. К. Анохин,  Н. Е. Введенский (1911-1913),  Н. И. Красногорский,  В. М. Шкловский (1975, 1994),   В. Н. Мясищев, Ю. А. Поворинский (1950), С. Н. Давиденков, К. М. Варшавский (1973), С. С. Кор-саков, К. М. Быков, А. М.Свядощ (1982), В. Я. Данилевский, Б. Н. Бирман (1922,1925, 1946),  Л. Б. Гаккель (1955),  Д. Я.  Венгеровский (1955),   И. 3. Вельвовский (1984), А. Л. Гройсман, К. И. Платонов (1957), С. Л. Рубинштейн, В. Е. Рожнов, А. А. Ухтомский, И. М. Сеченов, А.М. Свядощ, А. П. Слободяник, Е. С.  Катков,  М. П. Кутании,  В. В. Кузьмин,  П. П.  Подъяпольский,  Е. Н. Довбня, Ф. Е. Рыбаков, В. Н. Хорошко, А. И. Яроцкий, А. Ф. Лазурский, Ю. В. Каннабих, В. М. Нарбут, Ф. Д. Неткачев, В. А. Гиляровский, М. В. Стрельчук, Г. В. Морозов, В. М. Банщиков, Н. В. Иванов, Н. К. Липгарт, А. Г. Иванов-Смоленский, и др. Учеными доказано, что психика человека саморегулируется во время лечебного транса, мобилизуются его внутренние резервы, активизируются защитные силы организма (компенсаторные), гомеостаз организма приходит в норму, а потому опасности для психического и физиологического здоровья пациента нет.</p>
<p><b>Положительные стороны гипнотического лечения фобии, страхов, панических атак:</b></p>
<ul>
    <li>Полное отсутствие медикаментозного влияния на организм человека.</li>
    <li>Полезно. Нормализует гомеостаз организма, укрепляет ЦНС, и т.д.</li>
    <li>Нет побочного эффекта.</li>
    <li>Полное 100% избавление от депрессии  на всю жизнь.</li>
    <li>Устранение причин заболевания  всего за один – три сеанса.</li>
    <li>Дешевле.</li>
</ul>
<p>Сеанс гипноза по лечению,  сам по себе является целебным для человека. Гипноз улучшает общее самочувствие человека, обеспечивает слаженную работу всех органов и систем организма  его (гомеостаз), что позволяет пациенту ощутить новый прилив жизненных сил. Он положительно влияет на работу многих органов и систем:  сердечно - сосудистой, дыхательной, эндокринной, пищеварительной, ЦНС, помогает при бессоннице, снимает раздражительность, уменьшает беспокойство, и т.п..</p>
<p>Самостоятельные попытки избавиться от  депрессии приводит к закреплению новых опасений,  страхов и чувств,  с дальнейшим угнетением ЦНС, с повышением раздражительности, тревожности.  Сознательными доводами невозможно устранить  этот недуг,  так как источник их кроется в сфере бессознательного, что и является основанием для лечения этого недуга с помощью гипноза.  И только гипнотерапия помогает преодолеть негативные последствия для вашей нервной системы.</p>
<p><b>Наш авторский метод «Жизнь без депрессии!»  позволит вам вернуться к нормальной жизни и получать от нее удовольствие. Будьте здоровы и берегите себя!</b></p>




































