---
layout: post
title:  Кодирование от алкоголя в москве цена
description: Алкоголизм – это заболевание, характеризующееся регулярным употреблением различных алкогольных напитков.  Это,  прежде всего психическая болезнь. В основе этого психического расстройства лежит болезненное влечение, которое заняло неоправданно - большее  значение в жизни человека.
categories: voprosi-ot-K-L
catname: Вопросы от К до Л
permalink: "blog/:categories/:year-:month-:day-:slug.html"
---
<p>Одним из самых распространенных заболеваний XXI века является алкоголизм. Причём не каждый алкоголик осознает тот факт, что употребление алкогольных напитков стало регулярным занятием и самостоятельно преодолеть алкоголизм человек уже не в состоянии.</p>
<p>Алкоголизм – это заболевание, характеризующееся регулярным употреблением различных алкогольных напитков.  Это,  прежде всего психическая болезнь. В основе этого психического расстройства лежит болезненное влечение, которое заняло неоправданно - большее  значение в жизни человека.</p>
<p><b>Человек болен не потому, что он пьет, а пьет потому, что он болен!</b></p>
<p>Существует множество факторов, при которых человек может пристраститься к алкоголю. Это может быть стресс в результате эмоционального конфликта, тяжелая утрата (например, смерть близкого), сложности на работе. Алкоголизму способствует депрессивный характер личности с низкой самооценкой, особенности характера (слабость, безволие), недовольство своими действиями и поступками. Имеет значение насредственный фактор, воспитание, а также различные факторы окружающей среды и культуры.</p>
<p>Алкоголики становятся зависимыми от спиртного.  Если резко лишить их возможности выпивать, это может вызвать абстинентный синдром, который включает такие симптомы, как тошнота, рвота, тревожность, раздражительность,  галлюцинации, дрожь и др. Алкоголизм нарушает мозговую деятельность и память, ухудшает физические способности, человек начинает совершать неразумные поступки. Алкогольные напитки  больной  алкоголизмом может употреблять в компании или наедине втайне от семьи, может просто пить каждый день пиво и утверждать, что у него нет алкогольной зависимости.</p>
<h4>Какую опасность представляет спиртное для организма?</h4>
<p><b>Последствия пристрастия к алкогольным напиткам ужасны:</b></p>
<ul>
    <li>ухудшение состояния здоровья: угроза цирроза печени, заболевание желудочно-кишечного тракта и образование язвы желудка, возникновение алкогольной пневмонии, нарушение мозгового кровообращения, заболевание сердца, почек;</li>
    <li>психическая и личностная деградация из-за разрушения тканей мозга;</li>
    <li>1/3 самоубийств совершается из-за спиртного, 88% ДТП провоцируют пьяные воители;</li>
    <li>пьянство увеличивает риск рака;</li>
    <li>высокая смертность детей пьющих матерей (в 5 раз выше, чем непьющих);</li>
    <li>длительное употребление алкоголя негативно влияет на генетический код человека;</li>
    <li>пьющие живут на 10–15 лет меньше.</li>
</ul>
<p><b>К счастью существует эффективный метод борьбы с этим недугом.</b></p>
<p><b>За 20 лет практики нами разработана уникальная авторская методика, опирающаяся исключительно на научные нейрофизиологические  исследования наших светил -  советских академиков и профессоров. Профессиональное воздействие по  нашей авторской методике « Жизнь без алкогольной зависимости!» относится к самым результативным услугам в настоящее время.</b></p>
<p>Наша методика в корне отличается от психотерапевтического кодирования.  При классическом кодировании методом  А. Р. Довженко осуществляется внушение без погружения пациента в гипнотический транс, или используются отдельные элементы гипноза. Кодирование -  это интенсивная шоковая терапия, основанная на запугивании пациента (его убеждают, что следствием выпивки будет боль, смерть), и это может травмировать психику пациента. Наш метод нацелен не только на избавление от  алкогольной зависимости, но и от психогенных причин  ее возникновения.</p>
<p>В настоящее время гипноз все больше набирает популярность среди специалистов и обычных людей.  Люди обращаются к гипнологам по разнообразным причинам. Самыми распространенными ситуациями применения гипноза являются различные неврозы, фобии, страхи, депрессии, ОКР, СРК, ВСД,  пищеварительные, сексуальные нарушения, коррекция поведенческих реакций человека, заниженная самооценка, комплексы, вредные привычки. Причем в этих случаях, гипнотерапия остается единственным результативным методом, так как нацелена  на избавление больного от причин его заболевания, в то время как все остальные методы, включая фармацевтические, претендуют только на временное снятие симптомов.</p>
<p>Тем временем,  психогенный сбой у больного не стоит на месте, а  генерализуется и приобретает более ярко выраженный  гетерогенный характер, вовлекая все большие участки функциональной системы в патогенез.</p>
<p>Успешное применение гипноза при лечении столь широкого круга заболеваний связанно с тем, что точкой приложения лечебного слова в гипнозе - являются большие полушария головного мозга человека, которые управляют всеми органами и системами  организма. Слово в гипнозе оказывается  чрезвычайно могущественным лечебным фактором, производящим прямое и непосредственное воздействие на характер и динамику корковых процессов. Это открывает прямой путь к устранению патологических процессов и мобилизации необходимых внутренних ресурсов организма человека.</p>
<p>Еще при жизни И. П. Павлова учеником его  К. М. Быковым  было экспериментально доказана возможность условнорефлекторных связей коры мозга решительно со всеми внутренними органами и системами. В лабораториях Быкова (1947) также доказана возможность образования временной связи и через гуморальные пути с денервированными органами (почки, селезенка, поджелудочная железа). Это означает, что в условную реакцию вовлекаются инкреторные железы, гормо-ны которых в свою очередь оказывают действие через кровь на целую систему органов.</p>
<p>Таким образом, вся внутренняя среда в известной мере подчиняется влияниям коры мозга, импульсы со стороны которой могут воздействовать на состояние любого внутреннего органа и любой системы. В силу этого и благодаря временным связям кора больших полушарий осуществляет тесное взаимоотношение между внешней и внутренней средой организма. Таким образом, воздействуя лечебным словом в гипнозе на высшие отделы Ц.Н.С., открывается прямой путь к устранению патологических процессов и мобилизации необходимых внутренних ресурсов организма человека.  Ибо в свете учения о единстве психики и соматики,  всякое соматическое заболевание неразрывно связано с большим или меньшим нарушением функционального состояния высшей нервной деятельности больного.</p>
<p><b>Поэтому гипнотерапия  – это единственный метод психологической помощи человеку, позволяющий устранить причину  заболевания, а не ее симптом, оказывая  прямое и непосредственное воздействие на характер и динамику корковых процессов, мобилизуя необходимые внутренние ресурсы организма человека.</b></p>
<h4>Возможны ли побочные эффекты от гипноза?</h4>
<p>Как утверждают специалисты, на сегодняшний день таких фактов не выявлено. Исследования в разное время проводились такими видными и авторитетными  учеными как:  В. М. Бехтерев, И. П. Павлов,  С. С. Либих (1974), А. И. Захаров (1982), А. А. Токарский (1989), М. С. Лебединский,  А. Т. Пшоник (1952), Л. Л. Васильев,  И. П. Брязгунов (1970) Л. Черток (1972), В. И. Сухорукова (1977), П. К. Анохин,  Н. Е. Введенский (1911-1913),  Н. И. Красногорский,  В. М. Шкловский (1975, 1994),   В. Н. Мясищев, Ю. А. Поворинский (1950), С. Н. Давиденков, К. М. Варшавский (1973), С. С. Кор-саков, К. М. Быков, А. М.Свядощ (1982), В. Я. Данилевский, Б. Н. Бирман (1922,1925, 1946),  Л. Б. Гаккель (1955),  Д. Я.  Венгеровский (1955),   И. 3. Вельвовский (1984), А. Л. Гройсман, К. И. Платонов (1957), С. Л. Рубинштейн, В. Е. Рожнов, А. А. Ухтомский, И. М. Сеченов, А.М. Свядощ, А. П. Слободяник, Е. С.  Катков,  М. П. Кутании,  В. В. Кузьмин,  П. П.  Подъяпольский,  Е. Н. Довбня, Ф. Е. Рыбаков, В. Н. Хорошко, А. И. Яроцкий, А. Ф. Лазурский, Ю. В. Каннабих, В. М. Нарбут, Ф. Д. Неткачев, В. А. Гиляровский, М. В. Стрельчук, Г. В. Морозов, В. М. Банщиков, Н. В. Иванов, Н. К. Липгарт, А. Г. Иванов-Смоленский, и др. Учеными доказано, что психика человека саморегулируется во время лечебного транса, мобилизуются его внутренние резервы, активизируются защитные силы организма (компенсаторные), гомеостаз организма приходит в норму, а потому опасности для психического и физиологического здоровья пациента нет.</p>
<p><b>Положительные стороны гипнотического лечения:</b></p>
<ul>
    <li>Полное отсутствие медикаментозного влияния на организм человека.</li>
    <li>Нет побочного эффекта.</li>
    <li>Полезно. Нормализует гомеостаз организма, укрепляет ЦНС, и т.д.</li>
    <li>Устраняет причины заболевания.</li>
    <li>Дешевле.</li>
</ul>
<p>Сеанс гипноза, сам по себе является целебным для человека. Гипноз улучшает общее самочувствие человека, обеспечивает слаженную работу всех органов и систем организма,  его (гомеостаз), что позволяет пациенту ощутить новый прилив жизненных сил. Он положительно влияет на работу многих органов и систем: сердечно - сосудистой, дыхательной, эндокринной, пищеварительной, ЦНС, помогает при бессоннице, снимает раздражительность, уменьшает беспокойство, и т.п.</p>
<p>Существует такое ошибочное заблуждение, что я сам все решу, справлюсь сам, и не позволю кому то вторгаться в мою психику и насиловать мою личность. А вы задайте себе вопрос, вот вы костюмчик носите, вы его сами сшили? Вас не мучает, что вы готовый купили? Это не насилие над вашей личностью? Взял бы сам себе костюмчик пошил. А если зубы болят, то куда вы идете? К стоматологу. А это не насилие над вашей личностью? Вы что, должны сами сидеть с такой психологией и говорить – зубы не болят, не болят, а они все равно болят. А если у вас инфаркт или инсульт или прободная язва, что тоже сам все решу? Когда у человека есть проблема, ее нужно решать.</p>
<p>Человек, зависимый от алкоголя, компьютера, никотина, наркотика должен понимать, с чем он может справиться, а с чем нет,  и уметь вовремя попросить помощи, а не ждать  когда  «кондрашка хватит».</p>
<p>Самостоятельные попытки бросить пить оборачиваются повышенной нервозностью, нарушением сна, раздражительностью, человек угнетен или подвержен вспышкам агрессии, к тому же, чем дольше борешься, тем сильнее хочется выпить,  а неудача, приводит к разочарованию в своих силах, психологической зажатости, комплексу неполноценности,  ложным убеждениям  невозможности соскочить с алкогольной иглы,  и как следствие,  повышенной тяги   выпить.  И только гипнотерапия помогает преодолеть негативные последствия отказа от алкоголя для нервной системы.</p>
<p>Но чтобы бросить пить с помощью гипноза, человек должен соглашаться на эту процедуру осознанно, искренне желать преодолеть зависимость! Наш авторский метод  « Жизнь без алкогольной зависимости!»    позволит вам вернуться к нормальной жизни и получать от нее удовольствие.</p>
<p><b>Будьте здоровы и берегите себя!</b></p>
































