---
layout: post
title:  Саморазвитие
description: Развитие человека - это изменение, направленное в сторону его совершенствования. Выделяют три вида развития человека - физическое, оно сопрягается с взрослением, социальное, предполагающее изменение его...
categories: psihologiya
catname: Психология
permalink: "blog/:categories/:year-:month-:day-:slug.html"
---
<p>Понятие развития пришло в психологию из биологии и философии. Там оно означает усложнение развивающейся системы, повышение ее адаптационных возможностей, появление новых функций, количественный рост, который по законам диалектики переходит в качественный.</p>
<p><b>Развитие человека</b> - это изменение, направленное в сторону его совершенствования. Выделяют три вида развития человека - физическое, оно сопрягается с взрослением, социальное, предполагающее изменение его социального статуса или карьерный рост, и психическое, оно немыслимо без улучшения работы психических функций или психологических качеств,  внимания, памяти, восприятия, воли, эмоциональной сферы.</p>
<p>Какие-то разновидности развития происходят как бы без участия человеческой воли (то же физическое взросление человека или развитие тех или иных свойств  психики),  другие виды саморазвития (приобретение жизненного опыта) происходят с участием человеческой воли и сознания, но все равно достаточно стихийно.</p>
<p>Однако все, что связано с совершенствованием человека, с внутренней работой над собой, с  улучшением его нравственно – духовных качеств, с самопознанием и воспитанием в себе тех или иных качеств личности, с гармонизированием своей личности в целом, с укреплением характера - все это не может происходить стихийно.</p>
<p>Такое саморазвитие является саморазвитием целенаправленным и осознанным. К нему склонны люди, интересующиеся практической психологией, читающие литературу подобной направленности, занимающиеся аутотренингом, посещающие тренинги личностного роста, изучающие различные системы духовного совершенствования.</p>
<p>В отличие от развития тех или иных функций физического тела, (чем занимаются те же спортсмены), ограниченных по своему потенциалу личностное и тем более духовное саморазвитие не имеет никаких ограничений и беспредельно по своей глубинной природе.</p>
<p>Саморазвитие можно считать основным законом личности человека. Если человек не развивается, он какое-то время топчется на месте, а потом начинает деградировать.</p>
<p>Саморазвитие может быть направлено как на воспитание в себе отдельных качеств и свойств и достижением отдельных целей, так и на совершенствование себя в целом. В процессе саморазвития человек открывает свои беспредельные ресурсы организма,  мозга и психики.</p>
<p>Он совершенствует свои психологические функции восприятия, памяти, эмоций, мышления, воля, превращает свой характер в более гармоничный сплав черт и качеств.</p>
<p>Человек может вести  подобную работу самостоятельно, как правило изучая законы и методы саморазвития по литературе психологического плана, а может использовать помощь специалистов в саморазвитии - психологов-консультантов, коучей, духовных наставников, мастеров боевых искусств или медитации.</p>
<p>В последние годы все большее количество людей приходят на консультацию к психологам или посещают тренинги личностного роста для того, чтобы получить реальную психологическую помощь в собственном саморазвитии.</p>
<p>Люди хотят понять какова наиболее эффективная стратегия саморазвития, какие психологические методы и методики будут наиболее полезны и какие упражнения быстрее всего приведут к желанному результату и помогут в саморазвитии.</p>
<p>Нам удалось создать ряд методик, помогающих людям совершить качественный скачок в жизни,  и будем рады вам помочь.</p>
<p><b>Будьте здоровы и счастливы!</b></p>






























































