---
layout: post
title:  как вспомнить то что забыл гипноз
description: Но можно ли с помощью гипноза вернуть потерянные события, воспоминания? В большинстве случаев да! С помощью гипноза можно вспомнить любую информацию.
categories: voprosi-ot-D-K
catname: Вопросы от Д до К
permalink: "blog/:categories/:year-:month-:day-:slug.html"
---
<p>Сам термин «гипноз» был введен в середине XIX в. английским врачом Джеймсом Брейдоном, благодаря которому начался расцвет научной концепции гипноза. Этим вопросом занимались такие зарубежные ученые, как А. Бонн, А. Форель, А. Льебо, Ж. Шарко, И. Бернгейм. Отечественными учеными, внесшими свой вклад в развитие гипноза, являются В. М. Бехтерев, И. П. Павлов, В. Я. Данилевский, В. Е. Рожнов, А. Л. Гройсман, К. И. Платонов, А. М. Свядощ, А. П. Слободяник, Е. С.  Катков, А. А. Токарский, В. Н. Мясищев, М. П. Кутании, И. З. Вельвовский, М. С. Лебединский, В. В. Кузьмин,  П. П.  Подъяпольский, А. Т. Пшонник, Е. Н. Довбня, Ф. Е. Рыбаков, В. Н. Хорошко, А. И. Яроцкий, А. Ф. Лазурский, Ю. В. Каннабих, В. М. Нарбут, Ф. Д. Неткачев, В. А. Гиляровский, М. В. Стрельчук, Г. В. Морозов, В. М. Банщиков, Н. В. Иванов, Н. К. Липгарт, А. Г. Иванов-Смоленский, Б. Н. Бирман, и другие.</p>
<p>В настоящее время гипноз все больше набирает популярность среди специалистов и обычных людей.  Люди обращаются к гипнологам по разнообразным причинам. Самыми распространенными ситуациями применения гипноза являются различные неврозы, фобии, страхи, депрессии, ОКР, СРК, ВСД,  пищеварительные, сексуальные нарушения, коррекция поведенческих реакций человека, заниженная самооценка, комплексы, вредные привычки. Причем в этих случаях, гипнотерапия остается единственным результативным методом, так как нацелена  на избавление больного от причин его заболевания, в то время как все остальные методы, включая фармацевтические, претендуют только на временное снятие симптомов.</p>
<p>Успешное применение гипноза при лечении столь широкого круга заболеваний связанно с тем, что точкой приложения лечебного слова в гипнозе - являются большие полушария головного мозга человека, которые управляют всеми органами и системами  организма. Слово в гипнозе оказывается  чрезвычайно могущественным лечебным фактором, производящим прямое и непосредственное воздействие на характер и динамику корковых процессов. Это открывает прямой путь к устранению патологических процессов и мобилизации необходимых внутренних ресурсов организма человека. <b>Поэтому гипнотерапия – это единственный метод психологической помощи человеку, позволяющий устранить причину  заболевания, а не ее симптом.</b> Но можно ли с помощью гипноза вернуть потерянные события, воспоминания? В большинстве случаев да! С помощью гипноза можно вспомнить любую информацию.  Гипноз активизирует  и извлекает из инграммы памяти  потерянные события, воспоминания,  которые человек посчитал важными для него!</p>
<h4>Что с помощью гипноза можно вспомнить?</h4>
<p><b>Вот далеко не полный список того, что можно восстановить в памяти с помощью гипноза:</b></p>
<ul>
    <li>Восстановить целые события прошлого, даже если при этом находился в алкогольном опьянении,  легкой и средней степени;</li>
    <li>Забытые номера телефонов;</li>
    <li>Пароли;</li>
    <li>Автомобильные номера, марка и цвет автомобиля;</li>
    <li>Адреса;</li>
    <li>Спрятанные ранее вещи;</li>
    <li>Дорогу, по которой ехал или куда-то заезжал;</li>
    <li>Вспомнить особые приметы и составить фоторобот.  Вспомнить  черты лица,  цвет глаз, одежду, запахи, голос, рост, прическу, строение носа,  и т.д.</li>
</ul>
<h4>Возможны ли побочные эффекты от гипноза?</h4>
<p>Как утверждают специалисты, на сегодняшний день таких фактов не выявлено. Исследования в разное время проводились такими видными и авторитетными  учеными как:  В. М. Бехтерев, И. П. Павлов,  С. С. Либих (1974), А. И. Захаров (1982), А. А. Токарский (1989), М. С. Лебединский,  А. Т. Пшоник (1952), Л. Л. Васильев,  И. П. Брязгунов (1970) Л. Черток (1972), В. И. Сухорукова (1977), П. К. Анохин,  Н. Е. Введенский (1911-1913),  Н. И. Красногорский,  В. М. Шкловский (1975, 1994),   В. Н. Мясищев, Ю. А. Поворинский (1950), С. Н. Давиденков, К. М. Варшавский (1973), С. С. Кор-саков, К. М. Быков, А. М.Свядощ (1982), В. Я. Данилевский, Б. Н. Бирман (1922,1925, 1946),  Л. Б. Гаккель (1955),  Д. Я.  Венгеровский (1955),   И. 3. Вельвовский (1984), А. Л. Гройсман, К. И. Платонов (1957), С. Л. Рубинштейн, В. Е. Рожнов, А. А. Ухтомский, И. М. Сеченов, А.М. Свядощ, А. П. Слободяник, Е. С.  Катков,  М. П. Кутании,  В. В. Кузьмин,  П. П.  Подъяпольский,  Е. Н. Довбня, Ф. Е. Рыбаков, В. Н. Хорошко, А. И. Яроцкий, А. Ф. Лазурский, Ю. В. Каннабих, В. М. Нарбут, Ф. Д. Неткачев, В. А. Гиляровский, М. В. Стрельчук, Г. В. Морозов, В. М. Банщиков, Н. В. Иванов, Н. К. Липгарт, А. Г. Иванов-Смоленский, и др. Учеными доказано, что психика человека саморегулируется во время лечебного транса, мобилизуются его внутренние резервы, активизируются защитные силы организма (компенсаторные), гомеостаз организма приходит в норму, а потому опасности для психического и физиологического здоровья пациента нет.</p>
<p><b>Положительные стороны гипнотерапии:</b></p>
<ul>
    <li>Полное отсутствие медикаментозного влияния на организм человека.</li>
    <li>Полезно. Нормализует гомеостаз организма, укрепляет ЦНС, и т.д.</li>
    <li>Нет побочного эффекта</li>
    <li>Дешевле.</li>
</ul>
<p><b>Положительные стороны гипнотического состояния:</b></p>
<p>Сеанс гипноза  сам по себе является целебным для человека. Гипноз улучшает общее самочувствие человека, обеспечивает слаженную работу всех органов и систем организма, что позволяет пациенту ощутить новый прилив жизненных сил. Он положительно влияет на работу многих органов и систем: сердечно - сосудистой, дыхательной, эндокринной, пищеварительной, ЦНС, повышает выработку серотонина,  дофамина,  помогает при бессоннице, снимает раздражительность, уменьшает беспокойство,  успокаивает боль,  способствует улучшению сосредоточенности, стрессоустойчивости, восстанавливает гомеостаз организма, и т.д.</p>
<p>На сегодняшний день все больше людей говорят о пользе лечебной гипнотерапии и самого  гипнотического состояния. Но возникает вопрос, в чем именно польза самого этого гипнотического состояния?</p>
<p>На данный момент ученые провели более 3000 исследований о влиянии лечебной гипнотерапии на человека.</p>
<p><b>Они доказали, что регулярные сеансы лечебной гипнотерапии приводят к:</b></p>
<ul>
    <li>Восстановлению гомеостаза организма,</li>
    <li>Восстановление компенсаторных функций организма,</li>
    <li>Восстановлению психической  деятельности человека, со всем, интегрированным комплексом эмоциональных внутренних и внешних сигнализаций,</li>
    <li>Увеличению в организме дофамина и серотонина,</li>
    <li>Восстановлению сосредоточенности и умственных способностей,</li>
    <li>Восстановлению общего тонуса активной жизнедеятельности,</li>
    <li>Стрессоустойчивости,</li>
    <li>Улучшению настроения,</li>
    <li>Восстановлению  сна.</li>
</ul>
<p>Последние исследования на магнитно-резонансном томографе показывают, что во время лечебной гипнотерапии у человека сильно активизируются височные доли мозга и зоны мозга связанные со вниманием. После длительного курса лечебной гипнотерапии на электроэнцефалограмме также обнаруживается усиление гамма-волн.</p>
<ol>
    <li><b>Лечебная гипнотерапия улучшает ваш сон.</b>
        <br>Ученые из Миннесотского университета пришли к выводам, что регулярная лечебная гипнотерапия способствует более крепкому и здоровому сну, а тело лучше восстанавливается за ночь, помогая отрешиться от будничных проблем, мысли о которых часто не позволяют быстро заснуть. Также снижается уровень кортизола – гормона стресса, мешающего полноценному отдыху.</li>
    <li><b>Лечебная гипнотерапия улучшает вашу способность сосредоточиться.</b>
        <br>Лечебная гипнотерапия улучшает способность долгое время сохранять внимание и помогает контролировать нервно-психическое возбуждение. В одном из исследований под руководством Фаделя Зейдана,  специалиста в области когнитивной нейробиологии из Школы медицины Уэйка Фореста, было обнаружено, что люди после четырех сеансов лечебной релаксации, прошли тест когнитивных способностей значительно лучше остальных. Они оказались лучше готовы игнорировать время, отпущенное на тест, что помогло им сосредоточиться на решаемой задаче.</li>
    <li><b>Лечебная гипнотерапия снизит тревожность и стресс.</b>
        <br>Последние исследования доказывают, что лечебная гипнотерапия реально способна снизить уровень кортизола, а исследования Зейдана показала, что тревожность снизилась на 39%</li>
    <li><b>Лечебная гипнотерапия сделает вас менее подверженным перепадам настроения.</b>
        <br>Многие из нас автоматически интерпретируют события и слова в негативном ключе и предполагают худшее о самих себе и окружающих. Это может стать причиной депрессии, которую лечебная гипнотерапия помогает преодолеть. Она помогает с недоверием относиться к мыслям, возникающим чисто автоматически, без нашего сознательного участия. А это означает, что вы фокусируетесь на реальности, а не на домыслах.</li>
    <li><b>Лечебная гипнотерапия меняет в лучшую сторону вашу сексуальную жизнь.</b>
        <br>Лечебная гипнотерапия усиливает соединения и увеличивает размер области головного мозга, называемой в медицине «передняя островковая доля большого мозга» ( insula) утверждает Марша Лукас, доктор наук, нейропсихолог из Вашингтона проводивший исследование в этой области.</li>
    <li><b>Лечебная гипнотерапия поможет вам быстрее выздоравливать и жить дольше.</b>
        <br>Исследования Висконсинского университета в Мадисоне показало, что среди, ходивших на сеансы лечебной гипнотерапии в течение 8 недель два раза в неделю, было гораздо меньше случаев гриппа и тяжелых инфекционных заболеваний, чем среди тех, кто не ходил. Доктор Даниэль Мюллер, проводящий исследование, объясняет это тем, что лечебная релаксация помогает восстановить гомеостатическое равновесие, то есть организм стремится к идеальному балансу между окружающей средой и своими потребностями. Согласно недавнему исследованию Калифорнийского университета в Сан-Франциско это может даже помочь нам жить дольше, потому что ДНК будет лучше защищена от деградации.</li>
</ol>
<p><b>Мы поможем восстановить в памяти важные для Вас события. Будьте  здоровы и берегите себя!</b></p>


































