---
layout: post
title:  Как полюбить себя такой какая есть
description: Как научиться любить себя? Ведь только человек, который живет в гармонии с собой, принимает и любит себя может достичь желаемого и полноценно наслаждаться жизнью...
categories: dlya-zhenshhin
catname: Для женщин
permalink: "blog/:categories/:year-:month-:day-:slug.html"
---
<h4>Как полюбить себя такой, какая есть?</h4>
<p>Как научиться любить себя? Ведь только человек, который живет в гармонии с собой, принимает и любит себя может достичь желаемого и полноценно наслаждаться жизнью. Как часто вы с завистью смотрите на более успешных людей, которых все любят и ценят, а вам  не смотря на все усилия и старания, достаются лишь жалкие крохи. Если вы постоянно испытываете чувство вины, вас раздражают близкие, тяготит работа и не ладится личная жизнь, значит, пришло время полюбить себя. Многие зададут себе вопрос, причем тут любовь к себе, если проблема исходит от внешних факторов. Валяющийся на диване муж, не интересная работа, непослушные дети. Часто, дабы изменить жизнь к лучшему, мы стараемся заменить раздражающие факторы. Меняем работу, окружение или мужа. Однако, как бы ни парадоксально это ни звучало, проблемы находятся не снаружи, а внутри. Сменив работу или партнера вам покажется, что жизнь наконец-то налаживается, но спустя какое-то время проблемы вернуться вновь. Можно ли разорвать этот замкнутый круг? Да! Для этого нужно лишь полюбить себя.</p>
<h4>Что же такое любовь к себе?</h4>
<p>Большинство считает, что полюбить себя очень просто. Однако это не так. Любовь к себе – это нечто большее, чем самолюбование в зеркале. Чтобы полюбить себя такой, какая есть необходимо принять себя с учетом всех недостатков и осознать достоинства. Вы должны воспринимать свои мысли и поступки без тени сожаления, наслаждаясь гармонией со своим внутренним миром. Относясь с пониманием к собственным недостаткам, вы гораздо терпимее воспримите недостатки окружающих.</p>
<p>Полюбить себя невероятно сложно, так как все мы живем в социуме, который загоняет нас в рамки, диктует правила поведения и навязывает стереотипы. С каждым годом своей жизни человеку все тяжелее и тяжелее вырваться из предложенных социумом условностей не испытывая при этом мучительное чувство вины. Именно поэтому человеку порой так сложно себя похвалить или погордиться своим поступком. Все наше внутреннее «Я» заполнено самоанализом, самокритикой, самоосуждением и недовольством собой, что, в конечном счете, проецируется на окружающих.</p>
<h4>Как полюбить себя при помощи гипнотерапии?</h4>
<p>Чтобы ускорить процесс психологического выздоровления можно  прибегнуть к гипнотерапии. При помощи гипноза с помощью опытного гипнолога вы сможете узнать, в чем причина вашей нелюбви к себе, что конкретизирует проблему и позволит быстрее добиться результата и обрести гармонию со своим внутренним «Я».</p>
<p><b>За 20 лет практики нами разработана уникальная авторская методика, опирающаяся исключительно на научные нейрофизиологические  исследования наших светил -  советских академиков и профессоров. Профессиональное воздействие по  нашей авторской методике относится к самым результативным услугам в настоящее время. Она нацелена на избавление от  психогенных причин возникновения непринятия себя.  Гипнотерапия отлично работает на бессознательном уровне, позволяя делать желательные изменения на глубинных уровнях нашей психики, приводящие к положительным изменениям.</b></p>
<p><b>Гипнотерапия  – это единственный метод психологической помощи человеку, позволяющий найти и устранить причину  нарушений, а не ее симптом, оказывая  прямое и непосредственное воздействие на характер и динамику корковых процессов, мобилизуя необходимые внутренние ресурсы организма человека.</b></p>
<h4>Возможны ли побочные эффекты от гипноза?</h4>
<p>Как утверждают специалисты, на сегодняшний день таких фактов не выявлено. Исследования в разное время проводились такими видными и авторитетными  учеными как:  В. М. Бехтерев, И. П. Павлов,  С. С. Либих (1974), А. И. Захаров (1982), А. А. Токарский (1989), М. С. Лебединский,  А. Т. Пшоник (1952), Л. Л. Васильев,  И. П. Брязгунов (1970) Л. Черток (1972), В. И. Сухорукова (1977), П. К. Анохин,  Н. Е. Введенский (1911-1913),  Н. И. Красногорский,  В. М. Шкловский (1975, 1994),   В. Н. Мясищев, Ю. А. Поворинский (1950), С. Н. Давиденков, К. М. Варшавский (1973), С. С. Кор-саков, К. М. Быков, А. М.Свядощ (1982), В. Я. Данилевский, Б. Н. Бирман (1922,1925, 1946),  Л. Б. Гаккель (1955),  Д. Я.  Венгеровский (1955),   И. 3. Вельвовский (1984), А. Л. Гройсман, К. И. Платонов (1957), С. Л. Рубинштейн, В. Е. Рожнов, А. А. Ухтомский, И. М. Сеченов, А.М. Свядощ, А. П. Слободяник, Е. С.  Катков,  М. П. Кутании,  В. В. Кузьмин,  П. П.  Подъяпольский,  Е. Н. Довбня, Ф. Е. Рыбаков, В. Н. Хорошко, А. И. Яроцкий, А. Ф. Лазурский, Ю. В. Каннабих, В. М. Нарбут, Ф. Д. Неткачев, В. А. Гиляровский, М. В. Стрельчук, Г. В. Морозов, В. М. Банщиков, Н. В. Иванов, Н. К. Липгарт, А. Г. Иванов-Смоленский, и др. Учеными доказано, что психика человека саморегулируется во время лечебного транса, мобилизуются его внутренние резервы, активизируются защитные силы организма (компенсаторные), гомеостаз организма приходит в норму, а потому опасности для психического и физиологического здоровья пациента нет.</p>
<p><b>Положительные стороны гипнотического лечения:</b></p>
<ul>
    <li>Полное отсутствие медикаментозного влияния на организм человека.</li>
    <li>Нет побочного эффекта.</li>
    <li>Полезно. Нормализует гомеостаз организма, укрепляет ЦНС, и т.д.</li>
    <li>Устраняет причины расстройства.</li>
    <li>Дешевле.</li>
</ul>
<p>Сеанс гипноза сам по себе является целебным для человека. Гипноз улучшает общее самочувствие человека, обеспечивает слаженную работу всех органов и систем организма,  его (гомеостаз), что позволяет пациенту ощутить новый прилив жизненных сил. Он положительно влияет на работу многих органов и систем: сердечно - сосудистой, дыхательной, эндокринной, пищеварительной, ЦНС, помогает при бессоннице, снимает раздражительность, уменьшает беспокойство, и т.п.</p>
<p>Уже через несколько сеансов вы сможете избавиться от неуверенности в себе и полюбить себя, в результате чего у вас наладятся отношения с противоположным полом, в семье и на работе. А главное, вы будете чувствовать себя самодостаточным человеком, который находится в гармонии с самим собой.  Полюбите себя, и мир заиграет для вас новыми красками!</p>
<p><b>Будьте здоровы и счастливы!</b></p>

































