---
layout: post
title:  Как избавиться от страха темноты
description: Страх темноты (никтофобия) – один из тех, который ярко проявляется в раннем детском возрасте и может обнаруживать себя в различные периоды жизни человека.
categories: voprosi-ot-K-L
catname: Вопросы от К до Л
permalink: "blog/:categories/:year-:month-:day-:slug.html"
---
<p>Страх темноты (никтофобия) – один из тех, который ярко проявляется в раннем детском возрасте и может обнаруживать себя в различные периоды жизни человека.</p>
<p>Эта фобия темноты встречается не только среди детей, но и у взрослых людей. Согласно усредненным данным, примерно каждый десятый человек так или иначе опасается темноты.</p>
<p>Основные причины этого страха, возникают как правило  из за болезненных переживаний детства. Выскочила из темноты и испугала собака, или неожиданно из темноты  появился человек на лестничной площадки, или родители оставили ребенка одного в темной комнате, и долго не приходили и т.д. Все это формирует реакцию организма на темноту – страх, или чувство  неизвестности, одиночества, незащищенности, боязнь остаться без любви и поддержки.  Причиной боязни темноты может послужить и страх смерти, так как смерть всегда ассоциируется с темнотой.</p>
<p>Чаще всего взрослые скрывают, что страдают этим недугом. Но патогенз не стоит на месте и генерализуется, синтезируясь  с жизнедеятельностью человека, приобретая новые, более гетерогенные чувства и реакции организма. Расширяется круг предметов, ситуаций, при которых человек начинает чувствовать  страх или тревогу, происходит застревание чувства одиночества, незащищенности, чувства ненужности,  появляется депрессия и истощение нервной системы, снижается тонус коры головного мозга. И это закон нейрофизиологии! Закон развития человека!  Любая аберрация  условно - рефлекторной связи события, непременно  приведет к  дальнейшему патогенезу по закону формирования новых связей,  посредством извлечения из памяти деструктивных ассоциаций и стереотипов.</p>
<p><b>К счастью существует эффективный метод борьбы с этим страхом.</b></p>
<p><b>Гипнотерапия это единственный метод психологической помощи человеку, которая устраняет причину заболевания на всю жизнь, а не ее симптом.  Разработанная нами авторская методика «Жизнь без страха!» для преодоления навязчивого алогичного страха за один-три сеанса.</b></p>
<p>В настоящее время гипноз все больше набирает популярность среди специалистов и обычных людей.  Люди обращаются к гипнологам по разнообразным причинам. Самыми распространенными ситуациями применения гипноза являются различные неврозы, фобии, страхи, депрессии, ОКР, СРК, ВСД,  пищеварительные, сексуальные нарушения, коррекция поведенческих реакций человека, заниженная самооценка, комплексы, вредные привычки. Причем в этих случаях, гипнотерапия остается единственным результативным методом, так как нацелена  на избавление больного от причин его заболевания, в то время как все остальные методы, включая фармацевтические, претендуют только на временное снятие симптомов.</p>
<p>Тем временем,  психогенный сбой у больного не стоит на месте, а  генерализуется и приобретает более ярко выраженный  гетерогенный характер, вовлекая все большие участки функциональной системы в патогенез.</p>
<p>Успешное применение гипноза при лечении столь широкого круга заболеваний связанно с тем, что точкой приложения лечебного слова в гипнозе - являются большие полушария головного мозга человека, которые управляют всеми органами и системами  организма. Слово в гипнозе оказывается  чрезвычайно могущественным лечебным фактором, производящим прямое и непосредственное воздействие на характер и динамику корковых процессов. Это открывает прямой путь к устранению патологических процессов и мобилизации необходимых внутренних ресурсов организма человека.</p>
<p><b>Поэтому гипнотерапия  – это единственный метод психологической помощи человеку, позволяющий устранить причину  заболевания, а не ее симптом, оказывая  прямое и непосредственное воздействие на характер и динамику корковых процессов, мобилизуя необходимые внутренние ресурсы организма человека.</b></p>
<p><b>За 20 лет практики нами разработана уникальная авторская методика, опирающаяся исключительно на научные нейрофизиологические  исследования наших светил -  советских академиков и профессоров. Профессиональное воздействие по  нашей авторской методике «Жизнь без страха!» относится к самым результативным услугам в настоящее время,  и позволяет,  выявить и устранить причину заболевания  бесследно избавив  пациента от фобии, страхов, панических атак всего за один-три сеанса.</b></p>
<p>За многие годы нашей лечебной практики, к нам обращались пациенты с самыми невероятными фобиями, которые в дальнейшем перестали вызывать у них страх, оставив только удивление того, что  когда то они этого боялись.  Тем, кто страдает фобиями, страхами не стоит разочаровываться и терять надежду на исцеление, так как с нашей помощью вы навсегда избавите  себя от этого навязчивого состояния всего за один – три сеанса.</p>
<h4>Возможны ли побочные эффекты от гипноза?</h4>
<p>Как утверждают специалисты, на сегодняшний день таких фактов не выявлено. Исследования в разное время проводились такими видными и авторитетными  учеными как:  В. М. Бехтерев, И. П. Павлов,  С. С. Либих (1974), А. И. Захаров (1982), А. А. Токарский (1989), М. С. Лебединский,  А. Т. Пшоник (1952), Л. Л. Васильев,  И. П. Брязгунов (1970) Л. Черток (1972), В. И. Сухорукова (1977), П. К. Анохин,  Н. Е. Введенский (1911-1913),  Н. И. Красногорский,  В. М. Шкловский (1975, 1994),   В. Н. Мясищев, Ю. А. Поворинский (1950), С. Н. Давиденков, К. М. Варшавский (1973), С. С. Кор-саков, К. М. Быков, А. М.Свядощ (1982), В. Я. Данилевский, Б. Н. Бирман (1922,1925, 1946),  Л. Б. Гаккель (1955),  Д. Я.  Венгеровский (1955),   И. 3. Вельвовский (1984), А. Л. Гройсман, К. И. Платонов (1957), С. Л. Рубинштейн, В. Е. Рожнов, А. А. Ухтомский, И. М. Сеченов, А.М. Свядощ, А. П. Слободяник, Е. С.  Катков,  М. П. Кутании,  В. В. Кузьмин,  П. П.  Подъяпольский,  Е. Н. Довбня, Ф. Е. Рыбаков, В. Н. Хорошко, А. И. Яроцкий, А. Ф. Лазурский, Ю. В. Каннабих, В. М. Нарбут, Ф. Д. Неткачев, В. А. Гиляровский, М. В. Стрельчук, Г. В. Морозов, В. М. Банщиков, Н. В. Иванов, Н. К. Липгарт, А. Г. Иванов-Смоленский, и др. Учеными доказано, что психика человека саморегулируется во время лечебного транса, мобилизуются его внутренние резервы, активизируются защитные силы организма (компенсаторные), гомеостаз организма приходит в норму, а потому опасности для психического и физиологического здоровья пациента нет.</p>
<p><b>Положительные стороны гипнотического лечения фобии, страхов:</b></p>
<ul>
    <li>Полное отсутствие медикаментозного влияния на организм человека.</li>
    <li>Полезно. Нормализует гомеостаз организма, укрепляет ЦНС, и т.д.</li>
    <li>Нет побочного эффекта.</li>
    <li>Полное 100% избавление от фобии, страха, панической атаки на всю жизнь.</li>
    <li>Устранение причин заболевания  всего за один – три сеанса.</li>
    <li>Дешевле.</li>
</ul>
<p>Сеанс гипноза по лечению фобии,  сам по себе является целебным для человека. Гипноз улучшает общее самочувствие человека, обеспечивает слаженную работу всех органов и систем организма,  его (гомеостаз), что позволяет пациенту ощутить новый прилив жизненных сил. Он положительно влияет на работу многих органов и систем: сердечно - сосудистой, дыхательной, эндокринной, пищеварительной, ЦНС, помогает при бессоннице, снимает раздражительность, уменьшает беспокойство, и т.п..</p>
<p>Самостоятельные попытки избавиться от фобии приводит к закреплению новых опасений и страхов с дальнейшим угнетением ЦНС, комплексу неполноценности, ложным убеждениям невозможности избавиться от этого недуга. Сознательными доводами невозможно устранить проблему фобии, так как источник их кроется в сфере бессознательного, что и является основанием для лечения фобий с помощью гипноза.  И только гипнотерапия помогает преодолеть негативные последствия для вашей нервной системы.</p>
<p><b>Наш авторский метод «Страха больше нет!»,  позволит вам вернуться к нормальной жизни и получать от нее удовольствие.</b></p>
<p><b>Будьте здоровы и берегите себя!</b></p>
<div class="row">
    <h4>Самые популярные фобии</h4>
    <div class="col-md-6">
        <h4>А</h4>
        <ul>
            <li>Автофобия - Боязнь одиночества.</li>
            <li>Аглиофобия - Боязнь боли.</li>
            <li>Агорафобия - Опасение открытых площадей или толп.</li>
            <li>Айчмофобия - Боязнь игл и других острых предметов.</li>
            <li>Акрофобия - Страх высоты.</li>
            <li>Амаксофобия - Боязнь езды в автомобиле.</li>
            <li>Анджинофобия - Боязнь ангины или удушья.</li>
            <li>Андрофобия - Боязнь мужчин.</li>
            <li>Антропофобия - Страх пред людьми или обществом.</li>
            <li>Антрофобия - Опасение цветов (растительность).</li>
            <li>Аракнофобия - Боязнь пауков.</li>
            <li>Аритмофобия - Боязнь чисел.</li>
            <li>Астрафобия - Боязнь грома и молнии.</li>
            <li>Атаксофобия - Боязнь беспорядков и неакуратности.</li>
            <li>Ателофобия - Страх несовершенства.</li>
            <li>Атичифобия - Страх перед неудачей.</li>
            <li>Афэнфосмфобия - Страх касания.</li>
            <li>Ачлуофобия - Боязнь темноты.</li>
        </ul>
        <h4>Б</h4>
        <ul>
            <li>Бактериофобия - Страх перед бактериями.</li>
            <li>Барофобия - Страх силы тяжести.</li>
            <li>Батмофобия - Боязнь лестниц и крутых склонов.</li>
            <li>Батрачофобия - Страх - земноводных.</li>
            <li>Белонефобия - Боязнь булавок и игл.</li>
            <li>Библайофобия - Страх перед книгами.</li>
            <li>Ботанофобия - Страх растений.</li>
        </ul>
        <h4>В</h4>
        <ul>
            <li>Венастрафобия - Страх перед красивыми женщинами.</li>
            <li>Верминофобия - Страх перед микробами.</li>
            <li>Виккафобия - Страх перед ведьмами и колдовством.</li>
        </ul>
        <h4>Г</h4>
        <ul>
            <li>Гамофобия - Боязнь брака.</li>
            <li>Генуфобия - Страх перед коленями.</li>
            <li>Гидрофобия - Страх воды.</li>
            <li>Гинофобия - Боязнь женщин.</li>
            <li>Глоссофобия - Страх выступать публично.</li>
        </ul>
        <h4>Д</h4>
        <ul>
            <li>Дендрофобия - Страх перед деревьями.</li>
            <li>Дентофобия - Страх перед стоматологами.</li>
            <li>Дистичифобия - Боязнь несчастных случаев.</li>
            <li>Доматофобия - Страх перед зданиями.</li>
        </ul>
        <h4>З</h4>
        <ul>
            <li>Зоофобия - Страх перед животными.</li>
        </ul>
        <h4>И</h4>
        <ul>
            <li>Инсектофобия - Страх перед насекомыми.</li>
        </ul>
        <h4>Й</h4>
        <ul>
            <li>Йатрофобия - Страх врачей.</li>
        </ul>
        <h4>К</h4>
        <ul>
            <li>Какофобия - Страх уродства.</li>
            <li>Катаджелофобия - Страх быть объектом насмешек.</li>
            <li>Катоптрофобия - Страх перед зеркалами.</li>
            <li>Киберфобия - Страх перед компьютерами.</li>
            <li>Клаустрофобия - Страх замкнутых пространств.</li>
            <li>Коинонифобия - Страх комнат.</li>
            <li>Коулрофобия - Боязнь клоуны.</li>
            <li>Ксенофобия - Боязнь незнакомых или иностранцев.</li>
        </ul>
        <h4>Л</h4>
        <ul>
            <li>Леукофобия - Страх перед белым цветом.</li>
            <li>Лилапсофобия - Боязнь торнадо и ураганов.</li>
            <li>Локайофобия - Страх перед родами.</li>
        </ul>

    </div>
    <div class="col-md-6">
        <h4>М</h4>
        <ul>
            <li>Маджейрокофобия - Страх перед приготовлением пищи.</li>
            <li>Меланофобия - Страх перед черным цветом.</li>
            <li>Мизофобия - Боязнь грязи и микробов.</li>
            <li>Микрофобия - Боязнь малых вещей.</li>
        </ul>
        <h4>Н</h4>
        <ul>
            <li>Некрофобия - Страх смерти и вещей умерших.</li>
            <li>Нозокомефобия - Страх перед больницами.</li>
            <li>Ноктифобия - Страх перед ночью.</li>
        </ul>
        <h4>О</h4>
        <ul>
            <li>Обезофобия - Страх потолстеть.</li>
            <li>Октофобия - Страх потерять фигуру.</li>
            <li>Омброфобия - Страх перед дождем.</li>
            <li>Орнайтофобия - Боязнь птиц.</li>
            <li>Офидайофобия - Страх перед змеями.</li>
        </ul>
        <h4>П</h4>
        <ul>
            <li>Папирофобия - Боязнь бумаги.</li>
            <li>Патофобия - Страх перед заболеванием.</li>
            <li>Педофобия - Страх перед детьми.</li>
            <li>Пирофобия - Боязнь огня.</li>
            <li>Подофобия - Страх перед ногами.</li>
            <li>Порфирофобия - Страх перед фиолетовым цветом.</li>
            <li>Птеридофобия - Страх папоротников.</li>
            <li>Птеромерханофобия - Страх перед полетами.</li>
        </ul>
        <h4>С</h4>
        <ul>
            <li>Селенофобия - Боязнь луны.</li>
            <li>Сколайонофобия - Боязнь школы.</li>
            <li>Сомнифобия - Страх сна.</li>
            <li>Социофобия - Страх социальной оценки.</li>
        </ul>
        <h4>Т</h4>
        <ul>
            <li>Тачофобия - Боязнь скорости.</li>
            <li>Технофобия - Боязнь техники.</li>
            <li>Тонитрофобия - Боязнь грома.</li>
            <li>Трайпанофобия - Боязнь уколов.</li>
        </ul>
        <h4>Ф</h4>
        <ul>
            <li>Филофобия - Боязнь любви.</li>
            <li>Фобофобия - Боязнь фобии.</li>
        </ul>
        <h4>Х</h4>
        <ul>
            <li>Хелайофобия - Боязнь солнца.</li>
            <li>Хемофобия - Боязнь крови.</li>
            <li>Херпетофобия - Страх пресмыкающихся.</li>
            <li>Хромофобия - Боязнь цвета.</li>
            <li>Хрономентрофобия - Страх перед часами.</li>
        </ul>
        <h4>Ц</h4>
        <ul>
            <li>Цинофобия - Боязнь собак.</li>
        </ul>
        <h4>Ч</h4>
        <ul>
            <li>Чайонофобия - Страх перед снегом.</li>
        </ul>
        <h4>Э</h4>
        <ul>
            <li>Экофобия - Боязнь дома (места жительства).</li>
            <li>Экуинофобия - Боязнь лошадей.</li>
            <li>Элерофобия - Страх перед кошками.</li>
            <li>Энтомофобия - Страх перед насекомыми.</li>
            <li>Эфебифобия - Страх перед подростками.</li>
        </ul>
    </div>
</div>


























