---
layout: post
title:  Как избавиться от чувства одиночества
description: Одиночество – это осознание факта, что ты никому не нужен. Человек при этом находится в таком  психическом состояние, что даже  находясь среди других людей, чувствует себя одиноким.
categories: voprosi-ot-K-L
catname: Вопросы от К до Л
permalink: "blog/:categories/:year-:month-:day-:slug.html"
---
<p>Сам термин «гипноз» был введен в середине XIX в. английским врачом Джеймсом Брейдоном, благодаря которому начался расцвет научной концепции гипноза. Этим вопросом занимались такие зарубежные ученые, как А. Бонн, А. Форель, А. Льебо, Ж. Шарко, И. Бернгейм. Отечественными учеными, внесшими свой вклад в развитие гипноза, являются В. М. Бехтерев, И. П. Павлов, В. Я. Данилевский, В. Е. Рожнов, А. Л. Гройсман, К. И. Платонов, А. М. Свядощ, А. П. Слободяник, Е. С.  Катков, А. А. Токарский, В. Н. Мясищев, М. П. Кутании, И. З. Вельвовский, М. С. Лебединский, В. В. Кузьмин,  П. П.  Подъяпольский, А. Т. Пшонник, Е. Н. Довбня, Ф. Е. Рыбаков, В. Н. Хорошко, А. И. Яроцкий, А. Ф. Лазурский, Ю. В. Каннабих, В. М. Нарбут, Ф. Д. Неткачев, В. А. Гиляровский, М. В. Стрельчук, Г. В. Морозов, В. М. Банщиков, Н. В. Иванов, Н. К. Липгарт, А. Г. Иванов-Смоленский, Б. Н. Бирман, и другие.</p>
<p><b>Страх одиночества. Чувство одиночества - это одна из самых больших проблем человечества.</b></p>
<p>Одиночество – это осознание факта, что ты никому не нужен. Человек при этом находится в таком  психическом состояние, что даже  находясь среди других людей, чувствует себя одиноким.</p>
<p>И корни этого, в подавляющем большинстве случаев в нашем детстве, где  мы заложили себе эту адаптационную реакцию организма. Поэтому, в большинстве случаев  этот страх живет с человеком всю жизнь. В других, более редких случаях, эта адаптационная  реакция приобретена в более позднем возрасте, в виду каких - то сильных эмоциональных потрясений, переживаний, или боязни потерять  что то ценное, и т.д.</p>
<p><b>Причиной чувства одиночества могут служить:</b></p>
<ul>
    <li>Низкий социальный статус;</li>
    <li>Неблагоприятная семейная обстановка, особенно в период детства;</li>
    <li>Неправильное воспитание в детстве,  когда родители уделяют мало времени и внимания своему ребенку;</li>
    <li>Постоянные неудачи в личной жизни и карьере;</li>
    <li>Негативный опыт -  когда приходится вновь и вновь проходить через тревожащую ситуацию (столкновение с осмеянием, осуждением или любым другим негативным впечатлением).</li>
    <li>Наличие физических недостатков;</li>
    <li>Постоянная критика от окружающих;</li>
    <li>Неуверенность в себе и собственных силах;</li>
    <li>Чрезмерная опека родителей;</li>
</ul>
<p>Писать подробней этот список не имеет никакого смысла, так как каждый случай индивидуален,  и состоит из  сложных сочетаний  разнообразных проявлений, в физиологическом, психическом и психологическом  смыслах.</p>
<p><b>За 20 лет практики нами разработана уникальная авторская методика, опирающаяся исключительно на научные нейрофизиологические  исследования наших светил -  советских академиков и профессоров. Профессиональное воздействие по  нашей авторской методике «Жизнь без чувства одиночества!» «Жизнь без страха одиночества!», относится к самым результативным услугам в настоящее время,  и позволяет найти глубинные причины страха одиночества, чувства одиночества,  выявить их и устранить, бесследно избавив  пациента от этого навязчивого состояния всего за один-три сеанса.</b></p>
<p>В настоящее время гипноз все больше набирает популярность среди специалистов и обычных людей.  Люди обращаются к гипнологам по разнообразным причинам. Самыми распространенными ситуациями применения гипноза являются различные неврозы, фобии, страхи, депрессии, ОКР, СРК, ВСД,  пищеварительные, сексуальные нарушения, коррекция поведенческих реакций человека, заниженная самооценка, комплексы, вредные привычки. Причем в этих случаях, гипнотерапия остается единственным результативным методом, так как нацелена  на избавление больного от причин его заболевания, в то время как все остальные методы, включая фармацевтические, претендуют только на временное снятие симптомов.</p>
<p>Тем временем,  психогенный сбой у больного не стоит на месте, а  генерализуется и приобретает более ярко выраженный  гетерогенный характер, вовлекая все большие участки функциональной системы в патогенез.</p>
<p>Успешное применение гипноза при лечении столь широкого круга заболеваний связанно с тем, что точкой приложения лечебного слова в гипнозе - являются большие полушария головного мозга человека, которые управляют всеми органами и системами  организма. Слово в гипнозе оказывается  чрезвычайно могущественным лечебным фактором, производящим прямое и непосредственное воздействие на характер и динамику корковых процессов. Это открывает прямой путь к устранению патологических процессов и мобилизации необходимых внутренних ресурсов организма человека.</p>
<p>Таким образом, вся внутренняя среда в известной мере подчиняется влияниям коры мозга, импульсы со стороны которой могут воздействовать на состояние любого внутреннего органа и любой системы. В силу этого и благодаря временным связям кора больших полушарий осуществляет тесное взаимоотношение между внешней и внутренней средой организма. Таким образом, воздействуя лечебным словом в гипнозе на высшие отделы Ц.Н.С., открывается прямой путь к устранению патологических процессов и мобилизации необходимых внутренних ресурсов организма человека.  Ибо в свете учения о единстве психики и соматики,  всякое соматическое заболевание неразрывно связано с большим или меньшим нарушением функционального состояния высшей нервной деятельности больного.</p>
<p><b>Поэтому гипнотерапия  – это единственный метод психологической помощи человеку, позволяющий устранить причину  заболевания, а не ее симптом, оказывая  прямое и непосредственное воздействие на характер и динамику корковых процессов, мобилизуя необходимые внутренние ресурсы организма человека.</b>
</p>
<p>За многие годы нашей лечебной практики,  к нам обращались пациенты с самыми невероятными случаями навязчивого состояния, которые в дальнейшем перестали вызывать у них это чувство, оставив только удивление того, что  когда то они это переживали.  Тем, кто страдает  навязчивым страхом одиночества, чувством одиночества, не стоит разочаровываться и терять надежду на исцеление, так как с нашей помощью вы навсегда избавите  себя от этого недуга всего за один – три сеанса.
</p>
<p><b>Разработанная нами авторская методика  «Жизнь без чувства одиночества!» «Жизнь без страха одиночества!»,  для преодоления навязчивого состояния  за один-три сеанса.</b></p>
<h4>Возможны ли побочные эффекты от гипноза?</h4>
<p>Как утверждают специалисты, на сегодняшний день таких фактов не выявлено. Исследования в разное время проводились такими видными и авторитетными  учеными как:  В. М. Бехтерев, И. П. Павлов,  С. С. Либих (1974), А. И. Захаров (1982), А. А. Токарский (1989), М. С. Лебединский,  А. Т. Пшоник (1952), Л. Л. Васильев,  И. П. Брязгунов (1970) Л. Черток (1972), В. И. Сухорукова (1977), П. К. Анохин,  Н. Е. Введенский (1911-1913),  Н. И. Красногорский,  В. М. Шкловский (1975, 1994),   В. Н. Мясищев, Ю. А. Поворинский (1950), С. Н. Давиденков, К. М. Варшавский (1973), С. С. Кор-саков, К. М. Быков, А. М.Свядощ (1982), В. Я. Данилевский, Б. Н. Бирман (1922,1925, 1946),  Л. Б. Гаккель (1955),  Д. Я.  Венгеровский (1955),   И. 3. Вельвовский (1984), А. Л. Гройсман, К. И. Платонов (1957), С. Л. Рубинштейн, В. Е. Рожнов, А. А. Ухтомский, И. М. Сеченов, А.М. Свядощ, А. П. Слободяник, Е. С.  Катков,  М. П. Кутании,  В. В. Кузьмин,  П. П.  Подъяпольский,  Е. Н. Довбня, Ф. Е. Рыбаков, В. Н. Хорошко, А. И. Яроцкий, А. Ф. Лазурский, Ю. В. Каннабих, В. М. Нарбут, Ф. Д. Неткачев, В. А. Гиляровский, М. В. Стрельчук, Г. В. Морозов, В. М. Банщиков, Н. В. Иванов, Н. К. Липгарт, А. Г. Иванов-Смоленский, и др. Учеными доказано, что психика человека саморегулируется во время лечебного транса, мобилизуются его внутренние резервы, активизируются защитные силы организма (компенсаторные), гомеостаз организма приходит в норму, а потому опасности для психического и физиологического здоровья пациента нет.</p>
<p><b>Положительные стороны гипнотического лечения:</b></p>
<ul>
    <li>Полное отсутствие медикаментозного влияния на организм человека.</li>
    <li>Полезно. Нормализует гомеостаз организма, укрепляет ЦНС, и т.д.</li>
    <li>Нет побочного эффекта.</li>
    <li>Полное 100% избавление от навязчивого состояния на всю жизнь.</li>
    <li>Устранение причин заболевания  всего за один – три сеанса.</li>
    <li>Дешевле.</li>
</ul>
<p>Сеанс гипноза  сам по себе является целебным для человека. Гипноз улучшает общее самочувствие человека, обеспечивает слаженную работу всех органов и систем организма,  его (гомеостаз), что позволяет пациенту ощутить новый прилив жизненных сил. Он положительно влияет на работу многих органов и систем: сердечно - сосудистой, дыхательной, эндокринной, пищеварительной, ЦНС, помогает при бессоннице, снимает раздражительность, уменьшает беспокойство, и т.п..</p>
<p>Самостоятельные попытки избавиться от этого навязчивого состояния, приводит к закреплению новых опасений и страхов, с дальнейшим угнетением ЦНС, комплексу неполноценности, ложным убеждениям невозможности избавиться от этого недуга. Сознательными доводами невозможно устранить эту проблему, так как источник их кроется в сфере бессознательного, что и является основанием для лечения этого недуга   с помощью гипноза.  И только гипнотерапия помогает преодолеть негативные последствия для вашей нервной системы.</p>
<p>Наш авторский метод «Жизнь без чувства одиночества!» «Жизнь без страха одиночества!» позволит вам вернуться к нормальной жизни и получать от нее удовольствие.</p>
<p>Будьте здоровы и берегите себя!</p>

































