---
layout: post
title:  лечение бронхиальной астмы гипнозом
description: Среди заболеваний, в механизме возникновения которых нервная система занимает важное место, является бронхиальная астма. Это заболевание проявляется внезапно наступающими приступами удушья, которые длятся минуты, часы, а иногда и дни.
categories: voprosi-ot-L
catname: Вопросы от Л
permalink: "blog/:categories/:year-:month-:day-:slug.html"
---
<p>Среди заболеваний, в механизме возникновения которых нервная система занимает важное место, является бронхиальная астма. Это заболевание проявляется внезапно наступающими приступами удушья, которые длятся минуты, часы, а иногда и дни. Это нарушение может носить циклический характер, и зависеть от совокупности и последовательности всех сочетательных раздражителей, участвующих в синтетическом  интегрировании предпусковой реакции организма.</p>
<p>Психогенная бронхиальная астма  относится к заболеваниям, вызванным  негативным  воздействием на организм человека, на его психику.   В результате рассогласование в психической деятельности, посредством  закрепления   патологической условно - рефлекторной   реакции  организма. В этом смысле интересна работа самарского профессора Ю.П. Фролова (1949), который фиксировал успешное применение гипнотерапии в лечении бронхиальной астмы. Эту болезнь ученый считал типичным примером резистентного, патологического, условно - рефлекторного акта.</p>
<p>Большое значение в развитии бронхиальной астмы имеет и респираторная аллергия,  которая часто предшествует генезу  бронхиальной астмы!</p>
<p><b>Аллергия</b> — это специфическая ответная реакция иммунной системы человека на определенный безобидный раздражитель, который она квалифицирует как потенциально опасный. Этим веществом может быть какой-нибудь химический ингредиент, продукт, шерсть, пыль, пыльца или микроб.  В норме к вредным агентам принадлежат бактерии, вирусы и другие патогены. Однако иногда в черный список попадают и не представляющие никакой угрозы предметы, вещества, продукты питания. В этой ситуации охранная система бросается на них, как на возбудители болезней и начинает борьбу с ними, запуская специфическую реакцию в организме с выбросом в кровь гистамина. Это приводит к возникновению характерных для аллергии симптомов и свидетельствует о начале заболевания. Аллергию  по праву считают «Болезнью века», так как в настоящее время, этой болезнью, а точнее её разновидностью страдает более 85% всего населения нашей планеты.</p>
<p>Аллергия относится к заболеваниям, вызванным рассогласованием в психической деятельности организма. Причина заболевания в том, что мозг считает смертельно опасным некоторые запахи и вкусы. Запускается реакция спасения жизни, выраженная в аллергии. Поэтому,  устраняя причину рассогласования психической деятельности с помощью гипнотерапии,  патологический процесс удается остановить. Лечение аллергии другими методами, процесс сложный и проблематичный. Чаще всего аллергию не лечат, всё так называемое лечение сводится к выяснению непосредственного аллергена, и полному его изолированию.  Однако такое «лечение» - это вечная борьба с симптоматикой. Оно не устраняет причину самого недуга, а только временно убирает его внешние признаки.</p>
<p>В настоящее время гипноз все больше набирает популярность среди специалистов и обычных людей.  Люди обращаются к гипнологам по разнообразным причинам. Самыми распространенными ситуациями применения гипноза являются различные неврозы, фобии, страхи, депрессии, ОКР, СРК, ВСД,  пищеварительные, сексуальные нарушения, коррекция поведенческих реакций человека, заниженная самооценка, комплексы, вредные привычки. Причем в этих случаях, гипнотерапия остается единственным результативным методом, так как нацелена  на избавление больного от причин его заболевания, в то время как все остальные методы, включая фармацевтические, претендуют только на временное снятие симптомов.</p>
<p>Тем временем,  психогенный сбой у больного не стоит на месте, а  генерализуется и приобретает более ярко выраженный  гетерогенный характер, вовлекая все большие участки функциональной системы в патогенез.</p>
<p><b>За 20 лет практики нами разработана уникальная авторская методика, опирающаяся исключительно на научные нейрофизиологические  исследования наших светил -  советских академиков и профессоров. Профессиональное воздействие по  нашей авторской методике «Психика здорова - кожа здорова!» « Жизнь без аллергии!» « Жизнь без бронхиальной астмы!» относится к самым результативным услугам в настоящее время,  и позволяет,  выявить и устранить причину заболевания  бесследно избавив  пациента от этого недуга на всю жизнь.</b></p>
<p>Успешное применение гипноза при лечении столь широкого круга заболеваний связанно с тем, что точкой приложения лечебного слова в гипнозе - являются большие полушария головного мозга человека, которые управляют всеми органами и системами  организма. Слово в гипнозе оказывается  чрезвычайно могущественным лечебным фактором, производящим прямое и непосредственное воздействие на характер и динамику корковых процессов. Это открывает прямой путь к устранению патологических процессов и мобилизации необходимых внутренних ресурсов организма человека.</p>
<p>Еще при жизни И. П. Павлова учеником его  К. М. Быковым  было экспериментально доказана возможность условнорефлекторных связей коры мозга решительно со всеми внутренними органами и системами. В лабораториях Быкова (1947) также доказана возможность образования временной связи и через гуморальные пути с денервированными органами (почки, селезенка, поджелудочная железа). Это означает, что в условную реакцию вовлекаются инкреторные железы, гормо-ны которых в свою очередь оказывают действие через кровь на целую систему органов.</p>
<h4>Существует внутреннее и внешнее управление организмом.</h4>
<p>Внешнее управление воздействует на систему через ядерную ДНК, информационную РНК, посредством нейросекреторных, эндокринных и других химических регуляторов.</p>
<p><b>Внутреннее управление организма осуществляется на нескольких уровнях:</b></p>
<ul>
    <li>Высший уровень регуляции физиологических функций организма и взаимоотношение организма и среды обеспечивается центральной нервной системой.</li>
    <li>Второй уровень регуляции обеспечивается вегетативной нервной системой.</li>
    <li>Третий уровень регуляции осуществляется эндокринной системой.</li>
    <li>А четвертый уровень регуляции – это неспецифическая регуляция физиологических функций, которая осуществляется жидкими средами организма (кровь, лимфа, тканевая жидкость).</li>
</ul>
<p>В организме все эти уровни находятся во взаимной связи, обеспечивая получение полезного результата функционирования, как отдельного органа системы, так и организма в целом. Таким образом, вся внутренняя среда в известной мере подчиняется влияниям коры мозга, импульсы со стороны которой могут воздействовать на состояние любого внутреннего органа и любой системы. В силу этого и благодаря временным связям кора больших полушарий осуществляет тесное взаимоотношение между внешней и внутренней средой организма. Таким образом, воздействуя лечебным словом в гипнозе на высшие отделы Ц.Н.С., открывается прямой путь к устранению патологических процессов и мобилизации необходимых внутренних ресурсов организма человека.  Ибо в свете учения о единстве психики и соматики,  всякое соматическое заболевание неразрывно связано с большим или меньшим нарушением функционального состояния высшей нервной деятельности больного.</p>
<p><b>Поэтому гипнотерапия  – это единственный метод психологической помощи человеку, позволяющий устранить причину  заболевания, а не ее симптом, оказывая  прямое и непосредственное воздействие на характер и динамику корковых процессов, мобилизуя необходимые внутренние ресурсы организма человека.</b></p>
<p>Аллергия является индивидуальной болезнью. У одних аллергия на пыльцу, у других на пыль, у третьих аллергия на кошек. Аллергия лежит в основе таких заболеваний, как например, бронхиальной астмы, крапивницы, дерматита. Развитие некоторых инфекционных заболеваний может сопровождаться аллергией. В этом случае аллергию называют инфекционной аллергией. К тому же одни и те же аллергены могут вызывать различные симптомы аллергий у разных людей и в разное время.</p>
<h4>Симптомы аллергии.</h4>
<p>Существует по настоящему просто огромное количество разнообразных форм аллергии, следовательно, и симптомы у аллергии тоже разные.</p>
<p>Респираторная аллергия проявляется после попадания аллергена в организм во время дыхания. Этими аллергенами чаще всего являются различные виды газов, пыльцы или очень мелкой пыли, такие аллергены называют аэроаллергенами. Сюда можно отнести и аллергию дыхательных путей. Такая аллергия проявляется в виде: Чиханья, зуда в носу, насморка, кашля, хрипы в легких, удушье и т.д. Главными проявлениям данной разновидности аллергии, можно считать всё-таки бронхиальную астму и аллергический ринит.</p>
<p>Аллергический конъюнктивит.  Проявляется в виде: сильного жжения в глазах, слезоточивостью, припухлости вокруг глаз и т.д.</p>
<p>Энтеропатия.  Начинает проявляться вследствие употребления каких-либо продуктов или лекарственных препаратов, такая реакция происходит из-за аллергической реакции желудочно-кишечного тракта. Эта разновидность аллергии проявляется в виде: тошноты, рвоты, диареи, запора, отека квинке, кишечные колики.</p>
<p>Дерматоз сопровождается различными высыпаниями и раздражениями на коже. Вызвать его могут различные виды аллергенов, такие как: продукты питания, аэроаллергены, косметические средства, бытовая химия, лекарственные препараты.</p>
<p>Такого рода аллергия, как правило, проявляется в виде: покраснения кожи, зудом, сухостью, шелушением, волдырями, отеками, и т.д.</p>
<p>Аллергические кожные заболевания психосоматической природы  вылечить  возможно только методом гипноза.  Клинические наблюдения многих известных ученых  подтверждают роль коры головного мозга в механизме развития кожных заболеваний в связи с психическими переживаниями и длительно действующими отрицательными эмоциями, а также с действующим короткое время, но очень сильным негативным воздействием на психику человека. Проводили исследования в этой области такие видные ученые как:  П. П. Подъяпольский и В. Н. Фине, И.П. Павлов и М.К. Петрова, В.М. Бехтерев, известный ученый Джерин (XIX в.), дерматолог А. И. Картамышев и другие. Ученые пришли к выводу, что при  психических нарушениях могут возникать такие кожные заболевания, как крапивница, эритема, экземы разного вида, пузырчатка, красный плоский лишай, эритема изъязвления, некрозы и многие другие кожные болезни. Таким образом, можно видеть, что  бессознательные психические травмы,  и в особенности, приобретенные в детстве, играют ключевую роль в возникновении, формировании, развитии кожных психосоматических заболеваний.</p>
<p><b>И только воздействуя на психику лечебным  гипнозом, можно устранить источник возникновения  этой болезни на всю жизнь!   То - есть, любые аллергические реакции, возникшие  в результате психических травм, стрессов, других негативных воздействий на психику человека, лечатся только гипнозом!  Другие методы малоэффективны.</b></p>
<h4>Возможны ли побочные эффекты от гипноза?</h4>
<p>Как утверждают специалисты, на сегодняшний день таких фактов не выявлено. Исследования в разное время проводились такими видными и авторитетными  учеными как:  В. М. Бехтерев, И. П. Павлов,  С. С. Либих (1974), А. И. Захаров (1982), А. А. Токарский (1989), М. С. Лебединский,  А. Т. Пшоник (1952), Л. Л. Васильев,  И. П. Брязгунов (1970) Л. Черток (1972), В. И. Сухорукова (1977), П. К. Анохин,  Н. Е. Введенский (1911-1913),  Н. И. Красногорский,  В. М. Шкловский (1975, 1994),   В. Н. Мясищев, Ю. А. Поворинский (1950), С. Н. Давиденков, К. М. Варшавский (1973), С. С. Кор-саков, К. М. Быков, А. М.Свядощ (1982), В. Я. Данилевский, Б. Н. Бирман (1922,1925, 1946),  Л. Б. Гаккель (1955),  Д. Я.  Венгеровский (1955),   И. 3. Вельвовский (1984), А. Л. Гройсман, К. И. Платонов (1957), С. Л. Рубинштейн, В. Е. Рожнов, А. А. Ухтомский, И. М. Сеченов, А.М. Свядощ, А. П. Слободяник, Е. С.  Катков,  М. П. Кутании,  В. В. Кузьмин,  П. П.  Подъяпольский,  Е. Н. Довбня, Ф. Е. Рыбаков, В. Н. Хорошко, А. И. Яроцкий, А. Ф. Лазурский, Ю. В. Каннабих, В. М. Нарбут, Ф. Д. Неткачев, В. А. Гиляровский, М. В. Стрельчук, Г. В. Морозов, В. М. Банщиков, Н. В. Иванов, Н. К. Липгарт, А. Г. Иванов-Смоленский, и др. Учеными доказано, что психика человека саморегулируется во время лечебного транса, мобилизуются его внутренние резервы, активизируются защитные силы организма (компенсаторные), гомеостаз организма приходит в норму, а потому опасности для психического и физиологического здоровья пациента нет.</p>
<p><b>Положительные стороны гипнотического лечения:</b></p>
<ul>
    <li>Полное отсутствие медикаментозного влияния на организм человека.</li>
    <li>Нет побочного эффекта.</li>
    <li>Полезно. Нормализует гомеостаз организма, укрепляет ЦНС, и т.д</li>
    <li>Устраняет причины заболевания.</li>
    <li>Дешевле.</li>
</ul>
<p>Сеанс гипноза, сам по себе является целебным для человека. Гипноз улучшает общее самочувствие человека, обеспечивает слаженную работу всех органов и систем организма  его (гомеостаз), что позволяет пациенту ощутить новый прилив жизненных сил. Он положительно влияет на работу многих органов и систем: сердечно - сосудистой, дыхательной, эндокринной, пищеварительной, ЦНС, помогает при бессоннице, снимает раздражительность, уменьшает беспокойство, и т.п..</p>
<p><b>Наш авторский метод «Психика здорова - кожа здорова!» « Жизнь без аллергии!» «Жизнь без бронхиальной астмы!»,  позволит вам вернуться к нормальной жизни и получать от нее удовольствие.</b></p>
<p><b>Будьте здоровы и берегите себя!</b></p>



































