---
layout: post
title: Лечение невроза навязчивого состояния
description: Невроз — это расстройство, которое развивается в следствии длительного нарушения высшей нервной деятельности, вызванное перенапряжением нервных процессов в коре больших полушарий...
categories: voprosi-ot-L
catname: Вопросы от Л
permalink: "blog/:categories/:year-:month-:day-:slug.html"
---
<h4>Невротические расстройства (невроз)</h4>
<p>Основными причинами  невроза  выступают психогенные факторы.  Невроз — это расстройство, которое развивается  в следствии  длительного  нарушения высшей нервной деятельности, вызванное перенапряжением нервных процессов в коре больших полушарий,  действием неадекватных по силе и длительности внешних раздражителей,  а также в результате длительной сшибки внутренних  и внешних противоречий,  субъективных представлений с объективной реальностью.</p>
<h4>Невроз — симптомы.</h4>
<p>У невротического расстройства ярко выражены такие симптомы: присутствие цинизма, без видимых на то причин, эмоциональное неблагополучие, нерешительность, проблемы в общении, заниженная или завышенная самооценка, чувство тревоги, фобии,  страхи, панические атаки, ожидание тревожного события,  неопределенность в системе ценностей, а также противоречия в предпочтениях и жизненных желаниях, противоречивые представления о себе, о жизни, о других.</p>
<p>Симптомы невроза включают нестабильность настроения и частую, а также резкую изменчивость, раздражительность; высокую чувствительность к стрессам, проявляющуюся в отчаянии или агрессии; для симптоматики неврозов характерна плаксивость, зацикленность на психотравмирующей ситуации, ранимость, обидчивость, тревожность. Во время попытки работать,  невростеники быстро утомляются,  у них нарушается сон,  снижается внимание, память, мыслительные способности; они очень восприимчивы к громким звукам, перепадам температуры, яркому свету.</p>
<p>Невроз имеет и такие вегетативно – соматические симптомы:  головные, а также сердечные боли, часто наблюдается повышенная утомляемость, хроническая усталость, боли в области живота, снижение работоспособности, наблюдается ВСД (вегето-сосудистая дистония), головокружения, а также потемнения от перепадов давления в глазах, частые головокружения, нарушения пищевого поведения (булимия, анорексия, неконтролируемое переедание);  бессонница, неприятные сновидения, ипохондрия – забота о своем здоровье, психологическое ощущение и переживание физической боли,  потливость, скачки артериального давления, сердцебиение, нарушения работы желудка, кашель, частое мочеиспускание,  жидкий стул, снижение потенции.</p>
<p><b>К счастью существует эффективный метод борьбы с этой болезнью!</b></p>
<p><b>Разработанная нами авторская методика «Жизнь без невроза!», для преодоления навязчивого состояния  за один - три сеанса.</b></p>
<p>В настоящее время гипноз все больше набирает популярность среди специалистов и обычных людей.  Люди обращаются к гипнологам по разнообразным причинам. Самыми распространенными ситуациями применения гипноза являются различные неврозы, фобии, страхи, депрессии, ОКР, СРК, ВСД,  пищеварительные, сексуальные нарушения, коррекция поведенческих реакций человека, заниженная самооценка, комплексы, вредные привычки. Причем в этих случаях, гипнотерапия остается единственным результативным методом, так как нацелена  на избавление больного от причин его заболевания, в то время как все остальные методы, включая фармацевтические, претендуют только на временное снятие симптомов.</p>
<p>Тем временем,  психогенный сбой у больного не стоит на месте, а  генерализуется и приобретает более ярко выраженный  гетерогенный характер, вовлекая все большие участки функциональной системы в патогенез.</p>
<p>Успешное применение гипноза при лечении столь широкого круга заболеваний связанно с тем, что точкой приложения лечебного слова в гипнозе - являются большие полушария головного мозга человека, которые управляют всеми органами и системами  организма. Слово в гипнозе оказывается  чрезвычайно могущественным лечебным фактором, производящим прямое и непосредственное воздействие на характер и динамику корковых процессов. Это открывает прямой путь к устранению патологических процессов и мобилизации необходимых внутренних ресурсов организма человека.</p>
<p><b>Поэтому гипнотерапия  – это единственный метод психологической помощи человеку, позволяющий устранить причину  заболевания, а не ее симптом, оказывая  прямое и непосредственное воздействие на характер и динамику корковых процессов, мобилизуя необходимые внутренние ресурсы организма человека.</b></p>
<p><b>За 20 лет практики нами разработана уникальная авторская методика, опирающаяся исключительно на научные нейрофизиологические  исследования наших светил -  советских академиков и профессоров. Профессиональное воздействие по  нашей авторской методике «Жизнь без невроза!» относится к самым результативным услугам в настоящее время,  и позволяет,  выявить и устранить причину заболевания,  бесследно избавив  пациента от фобии, страхов, панических атак всего за один-три сеанса.</b></p>
<p>За многие годы нашей лечебной практики к нам обращались пациенты с самыми невероятными неврозами, которые в дальнейшем перестали  иметь для них смысл и значение, оставив только удивление того, что  когда то они этим  страдали.  Тем, кто страдает неврозом не стоит разочаровываться и терять надежду на исцеление, так как с нашей помощью вы навсегда избавите  себя от этого навязчивого состояния всего за один – три сеанса.</p>
<h4>Возможны ли побочные эффекты от гипноза?</h4>
<p>Как утверждают специалисты, на сегодняшний день таких фактов не выявлено. Исследования в разное время проводились такими видными и авторитетными  учеными как:  В. М. Бехтерев, И. П. Павлов,  С. С. Либих (1974), А. И. Захаров (1982), А. А. Токарский (1989), М. С. Лебединский,  А. Т. Пшоник (1952), Л. Л. Васильев,  И. П. Брязгунов (1970) Л. Черток (1972), В. И. Сухорукова (1977), П. К. Анохин,  Н. Е. Введенский (1911-1913),  Н. И. Красногорский,  В. М. Шкловский (1975, 1994),   В. Н. Мясищев, Ю. А. Поворинский (1950), С. Н. Давиденков, К. М. Варшавский (1973), С. С. Кор-саков, К. М. Быков, А. М.Свядощ (1982), В. Я. Данилевский, Б. Н. Бирман (1922,1925, 1946),  Л. Б. Гаккель (1955),  Д. Я.  Венгеровский (1955),   И. 3. Вельвовский (1984), А. Л. Гройсман, К. И. Платонов (1957), С. Л. Рубинштейн, В. Е. Рожнов, А. А. Ухтомский, И. М. Сеченов, А.М. Свядощ, А. П. Слободяник, Е. С.  Катков,  М. П. Кутании,  В. В. Кузьмин,  П. П.  Подъяпольский,  Е. Н. Довбня, Ф. Е. Рыбаков, В. Н. Хорошко, А. И. Яроцкий, А. Ф. Лазурский, Ю. В. Каннабих, В. М. Нарбут, Ф. Д. Неткачев, В. А. Гиляровский, М. В. Стрельчук, Г. В. Морозов, В. М. Банщиков, Н. В. Иванов, Н. К. Липгарт, А. Г. Иванов-Смоленский, и др. Учеными доказано, что психика человека саморегулируется во время лечебного транса, мобилизуются его внутренние резервы, активизируются защитные силы организма (компенсаторные), гомеостаз организма приходит в норму, а потому опасности для психического и физиологического здоровья пациента нет.</p>
<p><b>Положительные стороны гипнотического лечения:</b></p>
<ul>
    <li>Полное отсутствие медикаментозного влияния на организм человека.</li>
    <li>Полезно. Нормализует гомеостаз организма, укрепляет ЦНС, и т.д.</li>
    <li>Нет побочного эффекта.</li>
    <li>Полное 100% избавление от невроза на всю жизнь.</li>
    <li>Устранение причин заболевания  всего за один – три сеанса.</li>
    <li>Дешевле.</li>
</ul>
<p>Сеанс гипноза по лечению невроза сам по себе является целебным для человека. Гипноз улучшает общее самочувствие человека, обеспечивает слаженную работу всех органов и систем организма  его (гомеостаз), что позволяет пациенту ощутить новый прилив жизненных сил. Он положительно влияет на работу многих органов и систем: сердечно - сосудистой, дыхательной, эндокринной, пищеварительной, ЦНС, помогает при бессоннице, снимает раздражительность, уменьшает беспокойство, и т.п..</p>
<p>Самостоятельные попытки избавиться от невроза приводит к закреплению новых опасений и страхов с дальнейшим угнетением ЦНС, комплексу неполноценности, ложным убеждениям невозможности избавиться от этого недуга. Сознательными доводами невозможно устранить эту проблему, так как источник их кроется в сфере бессознательного, что и является основанием для лечения невроза с помощью гипноза.  И только гипнотерапия помогает преодолеть негативные последствия для вашей нервной системы.</p>
<p>Наш авторский метод «Жизнь  без невроза!»  позволит вам вернуться к нормальной жизни и получать от нее удовольствие.</p>
<p><b>Будьте здоровы и берегите себя!</b></p>






































