---
layout: post
title:  Как пережить развод с мужем советы психолога
description: Оказывается, что люди могут разлюбить объект обожаний самостоятельно, когда их страдания достигнут определенного предела. Но таких людей довольно  мало. Большинство пострадавших долго...
categories: voprosi-ot-K-L
catname: Вопросы от К до Л
permalink: "blog/:categories/:year-:month-:day-:slug.html"
---
<p>Любовь – прекраснейшее из чувств, которое могут испытывать представительницы прекрасного пола и представители сильной половины населения. Но только в том случае, если чувства взаимны.  Когда любовь омрачается предательством, потерей любимого человека или безответностью, то она превращается в страдания. Психологическая и душевная «рана» продолжает «кровоточить» долгое время, месяцы, а то и годы уходят на терзания и страдания.</p>
<p>Несчастная любовь, зависимость от любви ведет к потере смысла жизни и глубокой депрессии. Человек сознательно внушает себе, что получить то, чему посвящены все мысли, не удастся.  Случайная встреча с объектом любви заставляет заново пережить всю гамму чувств. Обычно в присутствии любимого человека, зависимый партнер совершенно теряет силу воли, утрачивает самостоятельность поступков. В общем, превращается в добровольного раба собственных чувств. Чрезмерная эмоциональность приводит к тому, что человек продолжает любить всю жизнь, в глубине души надеясь, что когда-то его мечта станет явью.</p>
<p><b>Не тратьте свою жизнь впустую на того, кому вы не нужны. Дайте себе возможность жить своей жизнью и жизнью того человека, который будет любить вас так же сильно как вы его.</b></p>
<p>Долой эмоции - включаем разум! Чтобы преодолеть эмоциональную зависимость, придется собрать волю в кулак.</p>
<p><b>Схема прощания состоит из нескольких этапов:</b></p>
<ul>
    <li>Следует признать тот факт, что вы никогда не будете с этим человеком.</li>
    <li>Завершите все незавершенные дела с ним, чтобы все мосты в прошлое были «сожжены».</li>
    <li>Устройте церемонию прощания с объектом несчастной любви.</li>
    <li>Слезы помогут распрощаться с чувствами и успокоиться.</li>
    <li>Научитесь любить себя и сегодняшний день заново.</li>
</ul>
<p>Оказывается, что люди могут разлюбить объект обожаний самостоятельно, когда их страдания достигнут определенного предела. Но таких людей довольно  мало. Большинство пострадавших долго барахтаются в любовном «омуте», утратив всякую надежду стать счастливым.</p>
<p>Если тебя одолевает любовная зависимость, депрессия,  если ты хочешь раз и навсегда избавиться от нее и снова стать самим собой — гордым, свободным, счастливым и независимым человеком, то  мы поможем тебе в этом.</p>
<p>Существуют разные способы лечения  любовной зависимости, но единственным эффективным  методом, является гипноз от любовной зависимости. Именно гипноз даёт самый быстрый и эффективный результат по избавлению от этого состояния.</p>
<p><b>За 20 лет практики нами разработана уникальная авторская методика, опирающаяся исключительно на научные нейрофизиологические  исследования наших светил -  советских академиков и профессоров. Профессиональное воздействие по  нашей авторской методике  относится к самым результативным услугам в настоящее время.  Она нацелена на избавление от  психогенных причин возникновения психической зависимости.  Гипнотерапия отлично работает на бессознательном уровне, позволяя делать желательные изменения на глубинных уровнях нашей психики, приводящие к положительным изменениям.</b></p>
<p>В настоящее время гипноз все больше набирает популярность среди специалистов и обычных людей.  Люди обращаются к гипнологам по разнообразным причинам. Самыми распространенными ситуациями применения гипноза являются различные неврозы, фобии, страхи, депрессии, ОКР, СРК, ВСД,  пищеварительные, сексуальные нарушения, коррекция поведенческих реакций человека, заниженная самооценка, комплексы, вредные привычки. Причем в этих случаях, гипнотерапия остается единственным результативным методом, так как нацелена  на избавление больного от причин его заболевания, в то время как все остальные методы, включая фармацевтические, претендуют только на временное снятие симптомов.</p>
<p>Успешное применение гипноза при лечении столь широкого круга заболеваний связанно с тем, что точкой приложения лечебного слова в гипнозе - являются большие полушария головного мозга человека, которые управляют всеми органами и системами  организма. Слово в гипнозе оказывается  чрезвычайно могущественным лечебным фактором, производящим прямое и непосредственное воздействие на характер и динамику корковых процессов. Это открывает прямой путь к устранению патологических процессов и мобилизации необходимых внутренних ресурсов организма человека.  Ибо в свете учения о единстве психики и соматики,  всякое соматическое заболевание неразрывно связано с большим или меньшим нарушением функционального состояния высшей нервной дея-тельности человека.</p>
<p><b>Поэтому гипнотерапия  – это единственный метод психологической помощи человеку, позволяющий устранить причину  любовной зависимости, а не ее симптом, оказывая  прямое и непосредственное воздействие на характер и динамику корковых процессов, мобилизуя необходимые внутренние ресурсы организма человека.</b></p>
<h4>Возможны ли побочные эффекты от гипноза?</h4>
<p>Как утверждают специалисты, на сегодняшний день таких фактов не выявлено. Исследования в разное время проводились такими видными и авторитетными  учеными как:  В. М. Бехтерев, И. П. Павлов,  С. С. Либих (1974), А. И. Захаров (1982), А. А. Токарский (1989), М. С. Лебединский,  А. Т. Пшоник (1952), Л. Л. Васильев,  И. П. Брязгунов (1970) Л. Черток (1972), В. И. Сухорукова (1977), П. К. Анохин,  Н. Е. Введенский (1911-1913),  Н. И. Красногорский,  В. М. Шкловский (1975, 1994),   В. Н. Мясищев, Ю. А. Поворинский (1950), С. Н. Давиденков, К. М. Варшавский (1973), С. С. Кор-саков, К. М. Быков, А. М.Свядощ (1982), В. Я. Данилевский, Б. Н. Бирман (1922,1925, 1946),  Л. Б. Гаккель (1955),  Д. Я.  Венгеровский (1955),   И. 3. Вельвовский (1984), А. Л. Гройсман, К. И. Платонов (1957), С. Л. Рубинштейн, В. Е. Рожнов, А. А. Ухтомский, И. М. Сеченов, А.М. Свядощ, А. П. Слободяник, Е. С.  Катков,  М. П. Кутании,  В. В. Кузьмин,  П. П.  Подъяпольский,  Е. Н. Довбня, Ф. Е. Рыбаков, В. Н. Хорошко, А. И. Яроцкий, А. Ф. Лазурский, Ю. В. Каннабих, В. М. Нарбут, Ф. Д. Неткачев, В. А. Гиляровский, М. В. Стрельчук, Г. В. Морозов, В. М. Банщиков, Н. В. Иванов, Н. К. Липгарт, А. Г. Иванов-Смоленский, и др. Учеными доказано, что психика человека саморегулируется во время лечебного транса, мобилизуются его внутренние резервы, активизируются защитные силы организма (компенсаторные), гомеостаз организма приходит в норму, а потому опасности для психического и физиологического здоровья пациента нет.</p>
<p><b>Положительные стороны гипнотического лечения:</b></p>
<ul>
    <li>Полное отсутствие медикаментозного влияния на организм человека.</li>
    <li>Нет побочного эффекта.</li>
    <li>Полезно. Нормализует гомеостаз организма, укрепляет ЦНС, и т.д.</li>
    <li>Устраняет причины зависимости.</li>
    <li>Дешевле.</li>
</ul>
<p>Сеанс гипноза  сам по себе является целебным для человека. Гипноз улучшает общее самочувствие человека, обеспечивает слаженную работу всех органов и систем организма  его (гомеостаз), что позволяет пациенту ощутить новый прилив жизненных сил. Он положительно влияет на работу многих органов и систем: сердечно - сосудистой, дыхательной, эндокринной, пищеварительной, ЦНС, помогает при бессоннице, снимает раздражительность, уменьшает беспокойство, и т.п.</p>
<p>Самостоятельные попытки избавиться от  любовной зависимости приводит к обратному эффекту, с дальнейшим угнетением ЦНС, с повышением раздражительности, тревожности.  Сознательными доводами невозможно устранить  этот недуг,  так как источник их кроется в сфере бессознательного, что и является основанием для лечения этого недуга с помощью гипноза.  И только гипнотерапия помогает преодолеть негативные последствия для вашей нервной системы</p>
<p>Мы  поможем разобраться с причинами любовной зависимости, с помощью гипноза найти и проработать их на глубинном уровне. Пройдя курс гипнотерапии, вы легко сможете взглянуть на себя и свою жизнь по новому.</p>
<p><b>Будьте здоровы и счастливы!</b></p>

































