---
layout: post
title:  Консультация психотерапевта
description: Психотерапия – система словесного лечебного воздействия на психику, а через психику  на весь организм человека.
categories: psihoterapiya
catname: Психотерапия
permalink: "blog/:categories/:year-:month-:day-:slug.html"
---
<p>Психотерапия – система словесного лечебного воздействия на психику, а через психику  на весь организм человека.</p>
<p>Многочисленные исследования показывают, что слово действительно оказывается далеко не безразличным для организма человека, при известных условиях,  вызывая в нем в зависимости от своего смыслового значения различные изменения. Экспериментальные данные лабораторных и клинических исследований последних лет уже дают возможность правильно оценить значение слова как важного физиологического фактора.</p>
<p>Слово  оказывается  чрезвычайно могущественным лечебным фактором, производящим прямое и непосредственное воздействие на характер и динамику корковых процессов. Это открывает прямой путь к устранению патологических процессов и мобилизации необходимых внутренних ресурсов организма человека.  Ибо в свете учения о единстве психики и соматики,  всякое соматическое заболевание неразрывно связано с большим или меньшим нарушением функционального состояния высшей нервной деятельности больного. Еще при жизни И. П. Павлова учеником его  К. М. Быковым  было экспериментально доказана возможность условнорефлекторных связей коры мозга решительно со всеми внутренними органами и системами.</p>
<p>В лабораториях Быкова (1947) также доказана возможность образования временной связи и через гуморальные пути с денервирован-ными органами (почки, селезенка, поджелудочная железа). Это означает, что в условную реакцию вовлекаются инкреторные железы, гормоны которых в свою очередь оказывают действие через кровь на целую систему органов.</p>
<p>Таким образом, вся внутренняя среда в известной мере подчиняется влияниям коры мозга, импульсы со стороны которой могут воздействовать на состояние любого внутреннего органа и любой системы. В силу этого и благодаря временным связям кора больших полушарий осуществляет тесное взаимоотношение между внешней и внутренней средой организма.</p>
<p>При этом  все еще встречается недооценка врачами роли психотравмирующих факторов в возникновении различных рас-стройств функций внутренних органов и систем, а также шаблонные представления, которые  нередко заставляют искать органическую природу заболевания там, где она в действительности является  функциональной (психогенной, условнорефлекторной). Тем временем,  психогенный сбой у больного не стоит на месте, а  генерализуется и приобретает более ярко выраженный  гетерогенный характер, вовлекая все большие участки функциональной системы в патогенез.</p>
<h4>В каких ситуациях полезна помощь психотерапевта?</h4>
<ul>
    <li>любовная зависимость (психологическая зависимость);</li>
    <li>горе, утрата близкого человека;</li>
    <li>потеря отношений;</li>
    <li>заниженная самооценка, комплексы;</li>
    <li>депрессии, чувство безнадежности;</li>
    <li>неврозы, страхи, фобии, панические атаки, тревоги,</li>
    <li>пищевые расстройства: анорексия, булимия, избыточный вес, неконтролируемое переедание;</li>
    <li>синдром раздраженного кишечника (СРК);</li>
    <li>обсессивно – компульсивное расстройство (ОКР);</li>
    <li>вегето – сосудистая дистония (ВСД);</li>
    <li>зависимости;</li>
    <li>вредные привычки;</li>
    <li>навязчивые мысли, действия, не относящиеся к (ОКР)</li>
    <li>заикание;</li>
    <li>аллергия, бронхиальая астма;</li>
    <li>психогенные патологии, такие как:  жар, нехватка воздуха,  боли в различных частях тела, головокружение, тошнота, слабость, отсутствие аппетита, головные боли;</li>
    <li>интимные расстройства, вызванные психогенным фактором  (фригидность, импотенция, нимфомания);</li>
    <li>стрессы, трудные эмоциональные состояния, погружение в эмоции, невозможность их контролировать;</li>
    <li>проблемы в установлении длительных, удовлетворяющих отношений с людьми, нарушения в межличностных отношениях;</li>
    <li>насилие: сексуальное и эмоциональное;</li>
    <li>бессонница;</li>
    <li>Кожные заболевания (экземы, чешуйчатого лишая, крапивницы, гнездной плешивости, простого лишая, кожного зуда, пузырчатке, кожной гангрене, изменениях ногтей и бородавках и т.д.);</li>
</ul>
<p>Многие болезни бывают вызваны не физиологическими, а психологическими проблемами.  Ибо в свете учения о единстве психики и соматики,  всякое соматическое заболевание неразрывно связано с большим или меньшим нарушением функционального состояния высшей нервной деятельности больного. Консультация психотерапевта позволяет выявить причины таких заболеваний и избавится от них.</p>
<p><b>Будьте здоровы и берегите себя!</b></p>


































