<footer>
    <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3">
                    <div class="footer-desc">
                        <h4>Гипнолог психотерапевт</h4>
                        <p>Не так давно в обиходе психологов и психотерапевтов, а сегодня уже и рядовых граждан нашей страны появилось новое, незнакомое нам доселе слово – «Гипнолог», «Гипнотерапевт».</p>
                        <p>Одним он помог вылечиться от невроза, фобии и депрессии,  другим избавиться от вредных привычек, третьим найти свою вторую половину.</p>
                        <p>«Не может быть»! Сразу же выкрикнут недалёкие и запутавшиеся в своём неверии читатели  -  «Шарлатан».</p>
                        <p>«Волшебник», «Психолог» — возразят ему люди сами побывавшие на приёме у представителя этой уникальной профессии. Как ни странно, но ошибаются те и другие.</p>
                        <p>Первые в силу своего невежества и неверия, вторые от недостатка информации и непонимания самой сути гипнотического воздействия.</p>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="footer-news">
                        <h4>Гипнолог психотерапевт</h4>
                        <div class="content">
                            <div class="card">
                                <div class="firstinfo">
                                    <img src="img/footer-news-1.jpg" alt="Гипноз и гипнолог"/>
                                    <div class="profileinfo">
                                        <h2>Гипноз и гипнолог</h2>
                                        <p class="bio">
                                            "Гипноз известен людям ещё со времён первых фараонов."<br>
                                            Его существование, как и эффективность применения давно уже не вызывает сомнение даже у самых ярых скептиков...
                                        </p>
                                        <a href="blog/o-gipnoze/2018-01-05-gipnolog-gipnoterapevt.html">Читать</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="content">
                            <div class="card">
                                <div class="firstinfo">
                                    <img src="img/footer-news-2.jpg" alt="Кто такой гипнотерапевт?"/>
                                    <div class="profileinfo">
                                        <h2>Кто такой гипнотерапевт?</h2>
                                        <p class="bio">
                                            "Гипнотерапевт – это специалист, который помогает человеку избавиться от разного рода проблем и психосоматических расстройств посредством гипноза."<br>
                                            Есть масса проблем, отравляющих жизнь или существенно влияющих на ее качество...
                                        </p>
                                        <a href="blog/o-gipnoze/2018-01-05-gipnolog-gipnoterapevt.html">Читать</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="content">
                            <div class="card">
                                <div class="firstinfo">
                                    <img src="img/footer-news-3.jpg" alt="Чем занимается гипнотерапевт?"/>
                                    <div class="profileinfo">
                                        <h2>Чем занимается гипнотерапевт?</h2>
                                        <p class="bio">
                                            С помощью гипноза, в который гипнотерапевт погружает своего пациента, происходит активизация подсознания и открывается доступ к скрытым ресурсам человека...
                                        </p>
                                        <a href="blog/o-gipnoze/2018-01-05-gipnolog-gipnoterapevt.html">Читать</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="footer-contact">
                        <h4>Контакты</h4>
                        <ul>
                            <li>
                                <strong>Наш адрес:</strong>
                                <a href="blog/contact/">Московская область, г. Москва, ул.Тарутинская,д.1</a>
                                (метро Славянский бульвар)В 100 метрах от метро.
                            </li>
                            <li>
                                <strong>Телефон:</strong>
                                <a href="tel:+79771519080">8-977-151-90-80</a>
                            </li>
                            <li>
                                <strong>E-mail:</strong>
                                <a href="mailto:hypnos24@mail.ru">hypnos24@mail.ru</a>
                            </li>
                            <li>
                                <strong>Сайт:</strong>
                                <a href="https://hypnos24.com">hypnos24.com</a>
                            </li>
                        </ul>
                        <h4>Гипнотерапия</h4>
                        <ul>
                            <li><a href="blog/lechenie-gipnozom/">Лечение гипнозом </a></li>
                            <li><a href="blog/dlya-muzhchin/">Гипнотерапия для женщин</a></li>
                            <li><a href="blog/dlya-zhenshhin">Гипнотерапия для мужчин </a></li>
                            <li><a href="blog/uspeh-i-karera/">Успех и карьера </a></li>
                            <li><a href="blog/shkola-gipnoza/">Обучение гипнозу </a></li>
                            <li><a href="blog/psihoterapiya/2018-01-05-konsultaciya-psihoterapevta.html">Психологическое консультирование</a></li>
                            <li><a href="blog/metody-raboty">Методы работы</a></li>
                        </ul>
                    </div>
                </div>
            </div>
    </div>
</footer>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
<script src="js/scripts.min.js"></script>

</body>

</html>