<section class="skype-block">
  <div class="block-online">
    <div class="container">
      <div class="block-online__image">
        <img src="img/online-block.jpg" alt="Гипнотерапия проходит в кабинете психологического центра, или онлайн по скайпу."/>
      </div>
      <div class="block-online__info">
        <div class="block-online__heading">
          <h2 class="block-online__title">Гипнотерапия проходит в кабинете психологического центра, или онлайн по скайпу.</h2>
        </div>
        <div class="block-online__content">
          <p class="block-online__text">Гипнотерапия может происходить не только при очной встрече гипнолога и пациента. Дистанционная работа также возможна. В последние годы набирают популярности сеансы гипноза через интернет.</p>
          <p class="block-online__text">По многочисленным запросам пациентов и вынужденной необходимости <i>(психотерапевтическая помощь методом гипнотерапии удаленно на расстоянии, через интернет)</i> , нами разработана авторская методика проведения сеансов психотерапии онлайн по скайпу.</p>
        </div>
        <div class="block-online__actions">
          <a href="blog/online/" class="btn">О гипнозе онлайн</a>
          <a href="blog/price" class="btn">Стоимость гипнотерапии онлайн</a>
        </div>
      </div>
    </div>
  </div>
</section>