<div class="slider-container">
    <div class="slider-control left inactive"></div>
    <div class="slider-control right"></div>
    <ul class="slider-pagi"></ul>
    <div class="slider">
        <div class="slide slide-0 active">
            <div class="slide__bg"></div>
            <div class="slide__content">
                <svg class="slide__overlay" viewBox="0 0 720 405" preserveAspectRatio="xMaxYMax slice">
                    <path class="slide__overlay-path" d="M0,0 150,0 500,405 0,405" />
                </svg>
                <div class="slide__text">
                    <a href="blog/lechenie-gipnozom/"><h2 class="slide__text-heading">Лечение гипнозом</h2></a>
                    <p class="slide__text-desc">На сегодняшний день все больше людей говорят о пользе лечебной гипнотерапии и самого гипнотического состояния. Но возникает вопрос, в чем именно польза самого этого гипнотического состояния?</p>
                    <a href="blog/lechenie-gipnozom/" class="slide__text-link">Подробнее</a>
                </div>
            </div>
        </div>
        <div class="slide slide-1 ">
            <div class="slide__bg"></div>
            <div class="slide__content">
                <svg class="slide__overlay" viewBox="0 0 720 405" preserveAspectRatio="xMaxYMax slice">
                    <path class="slide__overlay-path" d="M0,0 150,0 500,405 0,405" />
                </svg>
                <div class="slide__text">
                    <a href="blog/dlya-muzhchin/"><h2 class="slide__text-heading">Гипнотерапия для мужчин</h2></a>
                    <p class="slide__text-desc">Наиболее эффективным методом в решении различных проблем у мужчин и является гипнотерапия. Чаще всего причиной являются неврозы и депрессивные расстройства, психосоматические расстройства.</p>
                    <a href="blog/dlya-muzhchin/" class="slide__text-link">Подробнее</a>
                </div>
            </div>
        </div>
        <div class="slide slide-2">
            <div class="slide__bg"></div>
            <div class="slide__content">
                <svg class="slide__overlay" viewBox="0 0 720 405" preserveAspectRatio="xMaxYMax slice">
                    <path class="slide__overlay-path" d="M0,0 150,0 500,405 0,405" />
                </svg>
                <div class="slide__text">
                    <a href="blog/dlya-zhenshhin/"><h2 class="slide__text-heading">Гипнотерапия для женщин</h2></a>
                    <p class="slide__text-desc">Наиболее эффективным методом в решении различных проблем у женщин также является гипнотерапия. Чаще всего причиной являются неврозы и депрессивные расстройства, психосоматические расстройства.</p>
                    <a href="blog/dlya-zhenshhin/" class="slide__text-link">Подробнее</a>
                </div>
            </div>
        </div>
        <div class="slide slide-3">
            <div class="slide__bg"></div>
            <div class="slide__content">
                <svg class="slide__overlay" viewBox="0 0 720 405" preserveAspectRatio="xMaxYMax slice">
                    <path class="slide__overlay-path" d="M0,0 150,0 500,405 0,405" />
                </svg>
                <div class="slide__text">
                    <a href="blog/uspeh-i-karera/"><h2 class="slide__text-heading">Успех и карьера</h2></a>
                    <p class="slide__text-desc">Будь ты актер, директор, аспирант, город трейдер, профессиональный спортсмен, сантехник или какой-либо другой профессии, мы надеемся, мы можем помочь вам достичь большего, самореализоваться и стать более успешным в выбранной области.</p>
                    <a href="blog/uspeh-i-karera/" class="slide__text-link">Подробнее</a>
                </div>
            </div>
        </div>
        <div class="slide slide-4">
            <div class="slide__bg"></div>
            <div class="slide__content">
                <svg class="slide__overlay" viewBox="0 0 720 405" preserveAspectRatio="xMaxYMax slice">
                    <path class="slide__overlay-path" d="M0,0 150,0 500,405 0,405" />
                </svg>
                <div class="slide__text">
                    <a href="blog/shkola-gipnoza/"><h2 class="slide__text-heading">Школа гипноза</h2></a>
                    <p class="slide__text-desc">Наш центр предлагает сертифицированные программы для специалистов, экспертов в различных сферах здравоохранения, межличностной коммуникации, а также обычных людей (неспециалистов) для преодоления сложных моментов в жизни, улучшения собственных способностей и качества работы коллективов, организаций.</p>
                    <a href="blog/shkola-gipnoza/" class="slide__text-link">Подробнее</a>
                </div>
            </div>
        </div>
    </div>
</div>
