<div class="velo-slides" data-velo-slider="on" data-velo-theme="light">


    <!-- Slide -->
    <section class="velo-slide">

        <!-- Slide BG -->
        <div class="velo-slide__bg">
            <!-- Borders -->
            <span class="border">
					<span></span>
				</span>
            <!-- Img -->
            <figure class="velo-slide__figure" style="background-image: url(img/slider-1.jpg)"></figure>
        </div>

        <!-- Header -->
        <header class="velo-slide__header">
            <h3 class="velo-slide__title">
					<span class="oh">
						<span>Лечение гипнозом</span>
					</span>
            </h3>
            <p class="velo-slide__text">
					<span class="oh">
						<span>На сегодняшний день все больше людей говорят о пользе лечебной гипнотерапии и самого гипнотического состояния. Но возникает вопрос, в чем именно польза самого этого гипнотического состояния?</span>
					</span>
            </p>
            <span class="velo-slide__btn">
					<a class="btn-draw btn--white" href="blog/lechenie-gipnozom/">
						<span class="btn-draw__text">
							<span>Подробнее</span>
						</span>
					</a>
				</span>
        </header>
    </section>

    <!-- Slide -->
    <section class="velo-slide">

        <!-- Slide BG -->
        <div class="velo-slide__bg">
            <!-- Borders -->
            <span class="border">
					<span></span>
				</span>
            <!-- Img -->
            <figure class="velo-slide__figure" style="background-image: url(img/slider-2.jpg)"></figure>
        </div>

        <!-- Header -->
        <header class="velo-slide__header">
            <h3 class="velo-slide__title">
					<span class="oh">
						<span>Гипнотерапия для мужчин</span>
					</span>
            </h3>
            <p class="velo-slide__text">
					<span class="oh">
						<span>Наиболее эффективным методом в решении различных проблем у мужчин и является гипнотерапия. Чаще всего причиной являются неврозы и депрессивные расстройства, психосоматические расстройства.</span>
					</span>
            </p>
            <span class="velo-slide__btn">
					<a class="btn-draw btn--white" href="blog/dlya-muzhchin/">
						<span class="btn-draw__text">
							<span>Подробнее</span>
						</span>
					</a>
				</span>
        </header>
    </section>

    <!-- Slide -->
    <section class="velo-slide">
        <!-- Slide BG -->
        <div class="velo-slide__bg">
            <!-- Borders -->
            <span class="border">
					<span></span>
				</span>
            <!-- Img -->
            <figure class="velo-slide__figure" style="background-image: url(img/slider-3.jpg)"></figure>
        </div>

        <!-- Header -->
        <header class="velo-slide__header">
            <h3 class="velo-slide__title">
					<span class="oh">
						<span>Гипнотерапия для женщин</span>
					</span>
            </h3>
            <p class="velo-slide__text">
					<span class="oh">
						<span>Наиболее эффективным методом в решении различных проблем у женщин также является гипнотерапия. Чаще всего причиной являются неврозы и депрессивные расстройства, психосоматические расстройства.</span>
					</span>
            </p>
            <span class="velo-slide__btn">
					<a class="btn-draw btn--white" href="blog/dlya-zhenshhin/">
						<span class="btn-draw__text">
							<span>Подробнее</span>
						</span>
					</a>
				</span>
        </header>
    </section>

    <!-- Slide -->
    <section class="velo-slide">

        <!-- Slide BG -->
        <div class="velo-slide__bg">
            <!-- Borders -->
            <span class="border">
					<span></span>
				</span>
            <!-- Img -->
            <figure class="velo-slide__figure" style="background-image: url(img/slider-4.jpg)"></figure>
        </div>

        <!-- Header -->
        <header class="velo-slide__header">
            <h3 class="velo-slide__title">
					<span class="oh">
						<span>Успех и карьера</span>
					</span>
            </h3>
            <p class="velo-slide__text">
					<span class="oh">
						<span>Будь ты актер, директор, аспирант, город трейдер, профессиональный спортсмен, сантехник или какой-либо другой профессии, мы надеемся, мы можем помочь вам достичь большего, самореализоваться и стать более успешным в выбранной области.</span>
					</span>
            </p>
            <span class="velo-slide__btn">
					<a class="btn-draw btn--white" href="blog/uspeh-i-karera/">
						<span class="btn-draw__text">
							<span>Подробнее</span>
						</span>
					</a>
				</span>
        </header>
    </section>

    <!-- Slide -->
    <section class="velo-slide">

        <!-- Slide BG -->
        <div class="velo-slide__bg">
            <!-- Borders -->
            <span class="border">
					<span></span>
				</span>
            <!-- Img -->
            <figure class="velo-slide__figure" style="background-image: url(img/slider-5.jpg)"></figure>
        </div>

        <!-- Header -->
        <header class="velo-slide__header">
            <h3 class="velo-slide__title">
					<span class="oh">
						<span>Школа гипноза</span>
					</span>
            </h3>
            <p class="velo-slide__text">
					<span class="oh">
						<span>Наш центр предлагает сертифицированные программы для специалистов, экспертов в различных сферах здравоохранения, межличностной коммуникации, а также обычных людей (неспециалистов) для преодоления сложных моментов в жизни, улучшения собственных способностей и качества работы коллективов, организаций.</span>
					</span>
            </p>
            <span class="velo-slide__btn">
					<a class="btn-draw btn--white" href="blog/shkola-gipnoza/">
						<span class="btn-draw__text">
							<span>Подробнее</span>
						</span>
					</a>
				</span>
        </header>
    </section>

    <!-- Slides Nav -->
    <nav class="velo-slides-nav">
        <ul class="velo-slides-nav__list">
            <li>
                <a class="js-velo-slides-prev velo-slides-nav__prev inactive" href="#">
                    <i class="icon-up-arrow"></i>
                </a>
            </li>
            <li>
                <a class="js-velo-slides-next velo-slides-nav__next" href="#">
                    <i class="icon-down-arrow"></i>
                </a>
            </li>
        </ul>
    </nav>
</div>