<section class="block-news">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="wrap-disc">
                    <p><b>Гипноз – это</b>,  прежде всего инструмент в руках гипнотерапевта, с помощью которого,  появляется уникальная возможность  добраться до причин возникновения различных  патологий, как в психической сфере (эмоции, чувства, мышление), так и в  соматической и физиологической,  вызванных психогенным фактором.  Это можно сравнить с прекрасным хирургом, который не сможет провести операцию без хирургического инструмента и оборудования.</p>
                    <p>Слово в гипнозе оказывается  чрезвычайно могущественным лечебным фактором, производящим прямое и непосредственное воздействие на характер и динамику корковых процессов. Это открывает прямой путь к устранению патологических процессов и мобилизации необходимых внутренних ресурсов организма человека.</p>
                    <p><b>Поэтому гипнотерапия  – это</b> единственный метод психологической помощи человеку, позволяющий устранить причину заболевания на всю жизнь, а не ее симптом. Причина этому, память деструктивного события, которое хранится на молекулярном уровне в инграмме памяти. Не медикаментозное лечение, не разговоры с психологом, психотерапевтом, не борьба собственного сознания, не алкоголь, не наркотики, не кирпич на голову упадет,  не позволят изменить ферментный порядок макромолекулы, память, в которой собрана вся эмоционально - физиологическая реакция организма на какое - то событие или ситуацию в прошлом жизненном опыте. Поэтому, другие методы малоэффективны, и нацелены на вечную борьбу только с симптоматикой. </p>
                    <p>Тем временем, пока идет борьба с ветряными мельницами, и ненужная трата времени и денег, психовегетативный сбой у больного  не стоит на месте и генерализуется, синтезируясь  с жизнедеятельностью человека, приобретая новые, более гетерогенные чувства и реакции организма. Расширяется круг предметов, ситуаций, при которых человек начинает чувствовать  страх или тревогу, генерализуется соматическая и физиологическая дисфункция организма, происходит застревание чувства одиночества, незащищенности, чувство ненужности, чувство заниженной самооценки, ощущение, что никто не любит, появляется депрессия и истощение нервной системы, снижается тонус коры головного мозга, усиливается раздражительность. И это закон нейрофизиологии! Закон развития человека!  Любая аберрация в условно - рефлекторной связи события, непременно  приведет к  дальнейшему патогенезу по закону формирования новых связей,  посредством извлечения из памяти деструктивных ассоциаций и стереотипов.</p>
                    <p><b>Наш уникальный, авторский метод гипнотерапии, поможет вам избавиться  от причины возникновения вашего недуга  на всю жизнь, всего за один – три сеанса.</b></p>
                    <p>Сеанс гипноза  сам по себе является целебным для человека.  Гипноз улучшает общее самочувствие человека, обеспечивает слаженную работу всех органов и систем организма, что позволяет пациенту ощутить новый прилив жизненных сил.</p>
                    <p>Он положительно влияет на работу многих органов и систем: сердечно - сосудистой, дыхательной, выделительной, эндокринной, пищеварительной, ЦНС, увеличивает содержание дофамина и серотонина в организме, помогает при бессоннице, снимает раздражительность, уменьшает беспокойство, успокаивает боль и т.п.</p>
                    <p><b>Положительные стороны гипнотического лечения:</b></p>
                    <ul>
                        <li><p>Полное отсутствие медикаментозного влияния на организм человека.</p></li>
                        <li><p>Полезно. Нормализует гомеостаз организма, укрепляет ЦНС, и т.д.</p></li>
                        <li><p>Нет побочного эффекта.</p></li>
                        <li><p>Полное 100% избавление от недуга на всю жизнь.</p></li>
                        <li><p>Устранение причин заболевания  всего за один – три сеанса.</p></li>
                        <li><p>Дешевле.</p></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 home-right-video d-flex justify-content-center">
                {% include /home-content-right.html %}
            </div>
        </div>

    </div>
</section>