<div class="bg-right-block">
    <div class="right-block">
        <h4>Контакты</h4>
        <ul>
            <li>
                <strong>Наш адрес:</strong>
                <a href="blog/contact/">Московская область, г. Москва, ул.Тарутинская,д.1</a>
                (метро Славянский бульвар)В 100 метрах от метро.
            </li>
            <li>
                <strong>Телефон:</strong>
                <a href="tel:+79771519080">8-977-151-90-80</a>
            </li>
            <li>
                <strong>E-mail:</strong>
                <a href="mailto:hypnos24@mail.ru">hypnos24@mail.ru</a>
            </li>
            <li>
                <strong>Сайт:</strong>
                <a href="https://hypnos24.com">hypnos24.com</a>
            </li>
        </ul>
        <h4>Гипнотерапия по скайпу</h4>
        <div class="wrap-review">
            <div class="item-review">
              <img src="img/skype-r-block.jpg" alt="Гипнотерапия по скайпу" />
            </div>
            <div class="item-review">
              <p>
                Cеансы гипноза онлайн через интернет на любом расстоянии и в любой стране, позволяют решать сложные запросы быстро и результативно.
                <a href="blog/online/">Подробнее</a>
              </p>
            </div>
        </div>
        <h4>Видеоотзывы</h4>
        <div class="wrap-review">
            <div class="item-review">
                <video controls width="270" height="159" preload="none" poster="/img/video/3.jpg">
                    <source src="/img/video/3.mp4" type="video/mp4">
                </video>
            </div>
            <div class="item-review">
                <video controls width="270" height="159" preload="none" poster="/img/video/4.jpg">
                    <source src="/img/video/4.mp4" type="video/mp4">
                </video>
            </div>
        </div>

        <h4>Видео школы гипноза</h4>
        <div class="wrap-review">
            <div class="item-review">
                <video controls width="270" height="159" preload="none" poster="/img/video/2.jpg">
                    <source src="/img/video/2.mp4" type="video/mp4">
                </video>
            </div>
            <div class="item-review">
                <video controls width="270" height="159" preload="none" poster="/img/video/1.jpg">
                    <source src="/img/video/1.mp4" type="video/mp4">
                </video>
            </div>
        </div>
    </div>
</div>