<section class="block-stages">
    <div class="container-fluid">
        <div class="wrap-item-stages">
            <div class="row d-flex">
                <div class="blue-hover stages-div">
                    <img src="img/1-stages.jpg" alt="I Этап – ДИАГНОСТИКА">
                    <div class="stages-desc">
                        <h2>I Этап – ДИАГНОСТИКА</h2>
                        <p>
                            Прежде чем приступить к гипнотерапии, нам с Вами необходимо выяснить следующее: какой у вас запрос, нужна ли вам терапия, чем мы можем вам помочь и как.
                        </p>
                        <p>
                            Поэтому еще в самом начале мы предлагаем вам пройти диагностику, которую проводим во время нашей с вами первой встречи. Средняя продолжительность диагностики час-два.
                        </p>
                        <p>
                            Во время комплексной диагностики мы с вами определим основной запрос на терапию, с которым будем работать, критерии положительного результата, имеются ли у вас противопоказания к гипнозу. Также во время первой встречи мы отвечаем на ваши вопросы.
                        </p>
                        <p>
                            По итогам этой встречи для Вас мы разрабатываем индивидуальную стратегию гипнотерапии, обговариваем график встреч и заключаем психотерапевтический контракт. &hellip;
                        </p>
                    </div>
                </div>
                <div class="blue-hover stages-div">
                    <img src="img/2-stages.jpg" alt="II Этап – ГИПНОТЕРАПИЯ">
                    <div class="stages-desc">
                        <h2>II Этап – ГИПНОТЕРАПИЯ</h2>
                        <p>
                            Практика уже показала эффективность нашего подхода.
                        </p>
                        <p>
                            Мы нацелены на качественный результат в кратчайшие сроки.
                        </p>
                        <p>
                            Гипнотерапия включает в себя личностную проработку, освобождение от психологических комплексов, телесных зажимов, проработку негативных эмоций и психотравм и др., все то, что вы накопили за свою жизнь и что хотите изменить.
                        </p>
                        <p>
                            Результатом гипнотерапии происходит улучшение физического психологического состояния, снятие внутренних противоречий, улучшение качества жизни и позитивные изменения.
                        </p>
                        <p>
                            То есть Ваша жизнь меняется и вы учитесь ею управлять&hellip;
                        </p>
                    </div>
                </div>
                <div class="blue-hover stages-div">
                    <img src="img/3-stages.jpg" alt="III Этап – Правила приема">
                    <div class="stages-desc">
                        <h2>Правила приема</h2>
                        <p>
                            Самые низкие расценки за лечение гипнозом в Москве! Мы боремся за здоровье наших пациентов, поэтому  устраняем причину заболевания, а не его симптом!
                        </p>
                        <p>
                            <b>Первичный прием - </b>продолжительность приема 60 минут.  Включает в себя тщательный патопсихологический анализ.
                            <span>Стоимость – 3000руб.</span>
                        </p>
                        <p>
                            <b>Сеанс гипноза - </b>Продолжительность сеанса 1-3 часа.
                            <span>Стоимость – 3000 руб./час</span>
                        </p>
                        <p>
                            <b>Психологическая помощь - </b>индивидуальная консультация психолога, психотерапевта
                            <span>Стоимость – 2500 руб./час</span>
                        </p>
                        <p>
                            <b>Лечебная общеукрепляющая гипнотерапия-релаксация</b>
                            <span>Стоимость 1 сеанса - 3000руб.</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="row text-center">
                <a href="blog/o-gipnoze/2018-01-05-gipnolog-gipnoterapevt.html" class="styled-link">Подробнее о гипнотерапии</a>
            </div>
        </div>
    </div>
</section>