<section class="block-service">
    <div class="container">
        <h2 class="text-center">Лечение гипнозом</h2>
        <div class="row justify-content-center">

            <div class="imgholder">
                <div class="outer1 circle"></div>
                <div class="outer2 circle"></div>
                <a href="blog/zdorove/2018-01-05-bessonnica.html">
                    <figure>
                        <img src="img/gipnoz/gipnoz_i_bessonnica.jpg"/>
                        <figcaption class="caption">Бессонница</figcaption>
                    </figure>
                </a>

            </div>
            <div class="imgholder">
                <div class="outer1 circle"></div>
                <div class="outer2 circle"></div>
                <a href="blog/zdorove/2018-09-01-gipnoterapiya-kozhnyh-zabolevani.html">
                    <figure>
                        <img src="img/gipnoz/gipnoz_i_bol.jpg"/>
                        <figcaption class="caption">Кожные заболевания</figcaption>
                    </figure>
                </a>

            </div>
            <div class="imgholder">
                <div class="outer1 circle"></div>
                <div class="outer2 circle"></div>
                <a href="blog/zdorove/2018-09-02-bulimiya.html">
                    <figure>
                        <img src="img/gipnoz/gipnoz_i_nevrozy_0.jpg"/>
                        <figcaption class="caption">Нервная булимия</figcaption>
                    </figure>
                </a>

            </div>
            <div class="imgholder">
                <div class="outer1 circle"></div>
                <div class="outer2 circle"></div>
                <a href="blog/zdorove/2018-09-02-nervnaya-anoreksiya.html">
                    <figure>
                        <img src="img/gipnoz/gipnoz_i_nevrozy_0.jpg"/>
                        <figcaption class="caption">Нервная анорексия</figcaption>
                    </figure>
                </a>

            </div>
            <div class="imgholder">
                <div class="outer1 circle"></div>
                <div class="outer2 circle"></div>
                <a href="blog/zdorove/2018-09-01-depressiya.html">
                    <figure>
                        <img src="img/gipnoz/gipnoz_i_panicheskie_ataki.jpg"/>
                        <figcaption class="caption">Лечение депрессии</figcaption>
                    </figure>
                </a>

            </div>
            <div class="imgholder">
                <div class="outer1 circle"></div>
                <div class="outer2 circle"></div>
                <a href="blog/zdorove/2018-09-01-sbrosit-lishnij-ves.html">
                    <figure>
                        <img src="img/gipnoz/gipnoz_i_lishniy_ves.jpg"/>
                        <figcaption class="caption">Снижение веса</figcaption>
                    </figure>
                </a>

            </div>
            <div class="imgholder">
                <div class="outer1 circle"></div>
                <div class="outer2 circle"></div>
                <a href="blog/zdorove/2018-09-01-kak-vylechit-fobii-i-strahi-ispolzuya-gipnoz.html">
                    <figure>
                        <img src="img/gipnoz/gipnoz_i_fobii.jpg"/>
                        <figcaption class="caption">Как вылечить фобии</figcaption>
                    </figure>
                </a>

            </div>
            <div class="imgholder">
                <div class="outer1 circle"></div>
                <div class="outer2 circle"></div>
                <a href="blog/vrednye-privychki/2018-01-05-lechenie-alkogolizma.html">
                    <figure>
                        <img src="img/gipnoz/gipnoz_i_alkogolizm.jpg"/>
                        <figcaption class="caption">Лечение алкоголизма</figcaption>
                    </figure>
                </a>

            </div>
            <div class="imgholder">
                <div class="outer1 circle"></div>
                <div class="outer2 circle"></div>
                <a href="blog/lichnostnyj-rost/2018-01-05-gipnoterapiya-dlya-snyatiya-stressa.html">
                    <figure>
                        <img src="img/gipnoz/gipnoz_i_stress.jpg"/>
                        <figcaption class="caption">Гипнотерапия для снятия стресса</figcaption>
                    </figure>
                </a>

            </div>
            <div class="imgholder">
                <div class="outer1 circle"></div>
                <div class="outer2 circle"></div>
                <a href="blog/lichnostnyj-rost/2018-01-05-neuverennost-v-sebe.html">
                    <figure>
                        <img src="img/gipnoz/gipnoz_i_zastenchivost.jpg"/>
                        <figcaption class="caption">Как побороть неуверенность в себе</figcaption>
                    </figure>
                </a>

            </div>
            <div class="imgholder">
                <div class="outer1 circle"></div>
                <div class="outer2 circle"></div>
                <a href="blog/lichnostnyj-rost/2018-01-05-upravlenie-gnevom.html">
                    <figure>
                        <img src="img/gipnoz/gipnoz_i_strahi.jpg"/>
                        <figcaption class="caption">Управление гневом</figcaption>
                    </figure>
                </a>

            </div>
            <div class="imgholder">
                <div class="outer1 circle"></div>
                <div class="outer2 circle"></div>
                <a href="blog/lichnostnyj-rost/2018-01-05-motivaciya.html">
                    <figure>
                        <img src="img/gipnoz/gipnoz_i_trezvost.jpg"/>
                        <figcaption class="caption">Мотивация личности</figcaption>
                    </figure>
                </a>

            </div>
            <div class="imgholder">
                <div class="outer1 circle"></div>
                <div class="outer2 circle"></div>
                <a href="blog/fobii/2018-01-05-strah-odinochestva.html">
                    <figure>
                        <img src="img/gipnoz/gipnoz_i_depressii.jpg"/>
                        <figcaption class="caption">Страх одиночества</figcaption>
                    </figure>
                </a>

            </div>
            <div class="imgholder">
                <div class="outer1 circle"></div>
                <div class="outer2 circle"></div>
                <a href="blog/lichnostnyj-rost/2018-01-05-sportivnye-rezultaty.html">
                    <figure>
                        <img src="img/gipnoz/gipnoz_i_trezvost.jpg"/>
                        <figcaption class="caption">Спортивные результаты</figcaption>
                    </figure>
                </a>

            </div>
            <div class="imgholder">
                <div class="outer1 circle"></div>
                <div class="outer2 circle"></div>
                <a href="blog/vrednye-privychki/2018-01-05-igrovaya-zavisimost.html">
                    <figure>
                        <img src="img/gipnoz/gipnoz_i_biznes.jpg"/>
                        <figcaption class="caption">Тяга к азартным играм</figcaption>
                    </figure>
                </a>

            </div>
            <div class="imgholder">
                <div class="outer1 circle"></div>
                <div class="outer2 circle"></div>
                <a href="blog/vrednye-privychki/2018-01-05-zavisimosti.html">
                    <figure>
                        <img src="img/gipnoz/gipnoz_i_fobii.jpg"/>
                        <figcaption class="caption">Зависимости</figcaption>
                    </figure>
                </a>

            </div>
            <div class="imgholder">
                <div class="outer1 circle"></div>
                <div class="outer2 circle"></div>
                <a href="blog/fobii/2018-01-05-gipnoterapiya-psihotravm.html">
                    <figure>
                        <img src="img/gipnoz/gipnoz_i_emocii_0.jpg"/>
                        <figcaption class="caption">Психотравма</figcaption>
                    </figure>
                </a>

            </div>
            <div class="imgholder">
                <div class="outer1 circle"></div>
                <div class="outer2 circle"></div>
                <a href="blog/zdorove/2018-01-05-gore-ili-tyazhelaya-utrata.html">
                    <figure>
                        <img src="img/gipnoz/gipnoz_i_psihosomatika.jpg"/>
                        <figcaption class="caption">Горе и тяжелая утрата</figcaption>
                    </figure>
                </a>

            </div>
            <div class="imgholder">
                <div class="outer1 circle"></div>
                <div class="outer2 circle"></div>
                <a href="blog/zdorove/2018-01-05-lechebnaya-gipnoterapiya-relaksaciya.html">
                    <figure>
                        <img src="img/gipnoz/gipnoz_i_bessonnica.jpg"/>
                        <figcaption class="caption">Лечебная гипнотерапия-релаксация</figcaption>
                    </figure>
                </a>

            </div>
            <div class="imgholder">
                <div class="outer1 circle"></div>
                <div class="outer2 circle"></div>
                <a href="blog/vrednye-privychki/2018-01-05-brosit-kurit.html">
                    <figure>
                        <img src="img/gipnoz/gipnoz_i_bol.jpg"/>
                        <figcaption class="caption">Бросить курить</figcaption>
                    </figure>
                </a>

            </div>
            <div class="imgholder">
                <div class="outer1 circle"></div>
                <div class="outer2 circle"></div>
                <a href="blog/fobii/2018-01-05-strah-vysoty.html">
                    <figure>
                        <img src="img/gipnoz/gipnoz_i_strahi.jpg"/>
                        <figcaption class="caption">Страх высоты</figcaption>
                    </figure>
                </a>

            </div>
            <div class="imgholder">
                <div class="outer1 circle"></div>
                <div class="outer2 circle"></div>
                <a href="blog/vrednye-privychki/2018-01-05-izbavlenie-ot-vrednyh-privychek.html">
                    <figure>
                        <img src="img/gipnoz/gipnoz_i_nevrozy_0.jpg"/>
                        <figcaption class="caption">Избавление от вредных привычек</figcaption>
                    </figure>
                </a>

            </div>
            <div class="imgholder">
                <div class="outer1 circle"></div>
                <div class="outer2 circle"></div>
                <a href="blog/zdorove/2018-09-01-depressiya.html">
                    <figure>
                        <img src="img/gipnoz/gipnoz_i_panicheskie_ataki.jpg"/>
                        <figcaption class="caption">Лечение депрессии</figcaption>
                    </figure>
                </a>

            </div>
            <div class="imgholder">
                <div class="outer1 circle"></div>
                <div class="outer2 circle"></div>
                <a href="blog/fobii/2018-01-05-strah-poezdki-v-metro.html">
                    <figure>
                        <img src="img/gipnoz/gipnoz_i_lishniy_ves.jpg"/>
                        <figcaption class="caption">Страх поездки в метро</figcaption>
                    </figure>
                </a>

            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="container">
        <div class="row">
            <div class="service-desc">
                <h2 class="text-center">Гипнотерапия</h2>
                <h4>Гипнотерапия - это терапия с помощью гипноза</h4>
                <img src="img/gipnoterapia.jpg" alt="Гипнотерапия - это терапия с помощью гипноза">
                <p>Сам термин «гипноз» был введен в середине XIX в. английским врачом Джеймсом Брейдоном, благодаря которому начался расцвет научной концепции гипноза. Этим вопросом занимались такие зарубежные ученые, как А. Бонн, А. Форель, А. Льебо, Ж. Шарко, И. Бернгейм. Отечественными учеными, внесшими свой вклад в развитие гипноза, являются В. М. Бехтерев, И. П. Павлов, В. Я. Данилевский, В. Е. Рожнов, А. Л. Гройсман, К. И. Платонов, А. М. Свядощ, А. П. Слободяник, Е. С.  Катков, А. А. Токарский, В. Н. Мясищев, М. П. Кутании, И. З. Вельвовский, М. С. Лебединский, В. В. Кузьмин,  П. П.  Подъяпольский, А. Т. Пшонник, Е. Н. Довбня, Ф. Е. Рыбаков, В. Н. Хорошко, А. И. Яроцкий, А. Ф. Лазурский, Ю. В. Каннабих, В. М. Нарбут, Ф. Д. Неткачев, В. А. Гиляровский, М. В. Стрельчук, Г. В. Морозов, В. М. Банщиков, Н. В. Иванов, Н. К. Липгарт, А. Г. Иванов-Смоленский, Б. Н. Бирман, и другие.</p>
                <h5>Что такое гипноз в гипнотерапии с точки зрения нейрофизиологии человека?</h5>
                <p>Гипноз в гипнотерапии - это такое состояние коры головного мозга, при котором разлитое торможение нервных клеток головного мозга охватывает большую часть больших полушарий головного мозга, на общем фоне которых, создается динамический, резистентный очаг возбуждения нервных клеток головного мозга, подчиняющий себе все отделы коры мозга и ориентированный на лечебное слово и тембр голоса гипнолога.</p>
                <h5>Что такое гипнотерапия в психологии?</h5>
                <p>Гипнотерапия - это такой метод психологической помощи человеку, который характеризуется особым, внушенным психологическим состоянием пациента, при котором появляется возможность установить устойчивую связь между гипнологом и теми участками бессознательного пациента, в котором образуются наши представления, ассоциации, шаблоны поведения привычки, мотивы, с уникальной возможностью изменить их деструктивный характер.</p>
                <p>В настоящее время гипноз все больше набирает популярность среди специалистов и обычных людей. Люди обращаются к гипнологам по разнообразным причинам. Самыми распространенными ситуациями применения гипноза являются различные неврозы, фобии, страхи, депрессии, ОКР, СРК, ВСД, пищеварительные, сексуальные нарушения, коррекция поведенческих реакций человека, заниженная самооценка, комплексы, вредные привычки. Причем в этих случаях, гипнотерапия остается единственным результативным методом, так как нацелена  на избавление больного от причин его заболевания, в то время как все остальные методы, включая фармацевтические, претендуют только на временное снятие симптомов.  При этом все еще встречается недооценка врачами роли психотравмирующих факторов в возникновении различных расстройств функций внутренних органов и систем, а также шаблонные представления, которые  нередко заставляют искать органическую природу заболевания там, где она в действительности является  функциональной (психогенной, условнорефлекторной). Тем временем,  психогенный сбой у больного не стоит на месте, а  генерализуется и приобретает более ярко выраженный  гетерогенный характер, вовлекая все большие участки функциональной системы в патогенез.</p>
                <p>Успешное применение гипноза при лечении столь широкого круга заболеваний связанно с тем, что точкой приложения лечебного слова в гипнозе - являются большие полушария головного мозга человека, которые управляют всеми органами и системами  организма. Слово в гипнозе оказывается  чрезвычайно могущественным лечебным фактором, производящим прямое и непосредственное воздействие на характер и динамику корковых процессов. Это открывает прямой путь к устранению патологических процессов и мобилизации необходимых внутренних ресурсов организма человека.</p>
                <p>Еще при жизни И. П. Павлова учеником его  К. М. Быковым  было экспериментально доказана возможность условнорефлекторных связей коры мозга решительно со всеми внутренними органами и системами. В лабораториях Быкова (1947) также доказана возможность образования временной связи и через гуморальные пути с денервированными органами (почки, селезенка, поджелудочная железа). Это означает, что в условную реакцию вовлекаются инкреторные железы, гормо-ны которых в свою очередь оказывают действие через кровь на целую систему органов.</p>
                <h5>Существует внутреннее и внешнее управление организмом.</h5>
                <p>Внешнее управление воздействует на систему через ядерную ДНК, информационную РНК, посредством нейросекреторных, эндокринных и других химических регуляторов.</p>
                <p><b>Внутреннее управление организма осуществляется на нескольких уровнях:</b></p>
                <ul>
                    <li>Высший уровень регуляции физиологических функций организма и взаимоотношение организма и среды обеспечивается центральной нервной системой.</li>
                    <li>Второй уровень регуляции обеспечивается вегетативной нервной системой.</li>
                    <li>Третий уровень регуляции осуществляется эндокринной системой.</li>
                    <li>А четвертый уровень регуляции – это неспецифическая регуляция физиологических функций, которая осуществляется жидкими средами организма (кровь, лимфа, тканевая жидкость).</li>
                </ul>
                <p>В организме все эти уровни находятся во взаимной связи, обеспечивая получение полезного результата функционирования, как отдельного органа системы, так и организма в целом. Таким образом, воздействуя лечебным словом в гипнозе на высшие отделы Ц.Н.С., открывается прямой путь к устранению патологических процессов и мобилизации необходимых внутренних ресурсов организма человека.  Ибо в свете учения о единстве психики и соматики,  всякое соматическое заболевание неразрывно связано с большим или меньшим нарушением функционального состояния высшей нервной деятельности больного.</p>
                <p>Следует отметить, что метод  гипнотерапии эффективен не только в случаях психогенного функционального нарушения высшей нервной деятельности и при психогенных расстройствах функций различных органов и систем, но и при органических заболеваниях (в качестве вспомогательного средства). В разное  время во многих лабораториях предпринимались исследования, помогающие физиологическому обоснованию гипнотерапии, а вместе с ней и психопрофилактики (А. Г. Иванов-Смоленский, Н. И. Красногорский, С. Н. Давиденков, Ф. П. Майоров, Б. Н. Бирман, Л. Б. Гаккель, В. Н. Мясищев, Ю. А. Поворинский, В. Е. Рожнов и др.).</p>
                <p><strong>Таким образом, вся внутренняя среда в известной мере подчиняется влияниям коры мозга, импульсы со стороны которой могут воздействовать на состояние любого внутреннего органа и любой системы. В силу этого и благодаря временным связям кора больших полушарий осуществляет тесное взаимоотношение между внешней и внутренней средой организма.</strong></p>
                <p><strong>Поэтому гипнотерапия  – это единственный метод психологической помощи человеку, позволяющий устранить причину  заболевания, а не ее симптом, оказывая  прямое и непосредственное воздействие на характер и динамику корковых процессов, мобилизуя необходимые внутренние ресурсы организма человека. </strong></p>
                <p><strong>Профессиональное воздействие по авторским методикам относится к самым результативным услугам в настоящее время.</strong></p>
                <p>Нами разработаны авторские методики  - «Жизнь без страха!», «Жизнь без невроза!»,   для преодоления навязчивого алогичного страха, « Жизнь без депрессии!», Жизнь без анорексии!», «Жизнь без булимии!», для преодоления навязчивого состояния, «Жизнь без ОКР!» для преодоления навязчивых мыслей и действий, «Психика здорова – кожа здорова!», позволяющая бороться с кожными заболеваниями,  вызванными психогенным фактором, а также другие авторские методики,  помогающие вернуться к нормальной и  полноценной жизни всего  за один-пять сеансов. А также разработан авторский восстанавливающий  и  лечебный курс гипнотерапии - релаксации.</p>
                <h4>Вреден ли гипноз</h4>
                <p>Как утверждают специалисты, на сегодняшний день таких фактов не выявлено. Исследования в разное время проводились такими видными и авторитетными  учеными как:  В. М. Бехтерев, И. П. Павлов,  С. С. Либих (1974), А. И. Захаров (1982), А. А. Токарский (1989), М. С. Лебединский,  А. Т. Пшоник (1952), Л. Л. Васильев,  И. П. Брязгунов (1970) Л. Черток (1972), В. И. Сухорукова (1977), П. К. Анохин,  Н. Е. Введенский (1911-1913),  Н. И. Красногорский,  В. М. Шкловский (1975, 1994),   В. Н. Мясищев, Ю. А. Поворинский (1950), С. Н. Давиденков, К. М. Варшавский (1973), С. С. Корсаков, К. М. Быков, А. М.Свядощ (1982), В. Я. Данилевский, Б. Н. Бирман (1922,1925, 1946),  Л. Б. Гаккель (1955),  Д. Я.  Венгеровский (1955),   И. 3. Вельвовский (1984), А. Л. Гройсман, К. И. Платонов (1957), С. Л. Рубинштейн, В. Е. Рожнов, А. А. Ухтомский, И. М. Сеченов, А.М. Свядощ, А. П. Слободяник, Е. С.  Катков,  М. П. Кутании,  В. В. Кузьмин,  П. П.  Подъяпольский,  Е. Н. Довбня, Ф. Е. Рыбаков, В. Н. Хорошко, А. И. Яроцкий, А. Ф. Лазурский, Ю. В. Каннабих, В. М. Нарбут, Ф. Д. Неткачев, В. А. Гиляровский, М. В. Стрельчук, Г. В. Морозов, В. М. Банщиков, Н. В. Иванов, Н. К. Липгарт, А. Г. Иванов-Смоленский, и др. Учеными доказано, что психика человека саморегулируется во время лечебного транса, мобилизуются его внутренние резервы, активизируются защитные силы организма (компенсаторные), гомеостаз организма приходит в норму, а потому опасности для психического и физиологического здоровья пациента нет…
                    <a href="blog/o-gipnoze/2018-01-05-vreden-li-gipnoz.html">Читать далее</a></p>
                <hr>
            </div>
        </div>
    </div>
</section>