<section class="block-category">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="cat-wrap">
                    <h2 class="text-center">Что такое гипнотерапия</h2>
                    <p>"Гипнотерапия (hypnotherapy)— это не только лечение с помощью гипноза, это любая форма психотерапии, в рамках которой используются состояния измененного сознания, называемые гипнотическим трансом. Гипнотерапия включает также ряд специфических суггестивных и аналитических приемов, обычно не используемых, когда пациенты находятся  полностью в сознательном, негипнотическом состоянии».</p>
                </div>
            </div>

        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="cat-item">
                <div class="row">
                    <div class="item">
                        <div class="product">
                            <div class="thumb-img">
                                <img src="/img/1.jpg" alt="Лечение гипнозом">
                                <div class="actions">
                                    <a href="blog/lechenie-gipnozom/" class="add-to-cart">Подробнее</a>
                                </div>
                            </div>
                            <div class="product-about">
                                <h3 class="product-title">
                                    <a href="blog/lechenie-gipnozom/">Лечение гипнозом</a>
                                </h3>

                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="product">
                            <div class="thumb-img">
                                <img src="/img/2.jpg" alt="Гипноз для женщин">
                                <div class="actions">
                                    <a href="blog/dlya-zhenshhin/" class="add-to-cart">Подробнее</a>
                                </div>
                            </div>
                            <div class="product-about">
                                <h3 class="product-title">
                                    <a href="blog/dlya-zhenshhin/">Для женщин</a>
                                </h3>

                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="product">
                            <div class="thumb-img">
                                <img src="/img/3.jpg" alt="Гипноз для мужчин">
                                <div class="actions">
                                    <a href="blog/dlya-muzhchin/" class="add-to-cart">Подробнее</a>
                                </div>
                            </div>
                            <div class="product-about">
                                <h3 class="product-title">
                                    <a href="blog/dlya-muzhchin/">Для мужчин</a>
                                </h3>

                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="product">
                            <div class="thumb-img">
                                <img src="/img/4.jpg" alt="Успех и карьера">
                                <div class="actions">
                                    <a href="blog/uspeh-i-karera/" class="add-to-cart">Подробнее</a>
                                </div>
                            </div>
                            <div class="product-about">
                                <h3 class="product-title">
                                    <a href="blog/uspeh-i-karera/">Успех и карьера</a>
                                </h3>

                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="product">
                            <div class="thumb-img">
                                <img src="/img/5.jpg" alt="Школа гипноза">
                                <div class="actions">
                                    <a href="blog/shkola-gipnoza/" class="add-to-cart">Подробнее</a>
                                </div>
                            </div>
                            <div class="product-about">
                                <h3 class="product-title">
                                    <a href="blog/shkola-gipnoza/">Школа гипноза</a>
                                </h3>

                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="product">
                            <div class="thumb-img">
                                <img src="/img/1.jpg" alt="Гипнолог психотерапевт">
                                <div class="actions">
                                    <a href="blog/o-gipnoze/2018-01-05-gipnolog-gipnoterapevt.html" class="add-to-cart">Подробнее</a>
                                </div>
                            </div>
                            <div class="product-about">
                                <h3 class="product-title">
                                    <a href="blog/o-gipnoze/2018-01-05-gipnolog-gipnoterapevt.html">Гипнолог психотерапевт</a>
                                </h3>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>