<ul class="menu">
                    <li><a href="/">Главная</a></li>
                    <li><a href="blog/lechenie-gipnozom/">Лечение гипнозом</a>
                        <ul class="sub-menu-1">
                            <li><a>О гипнозе</a>
                                <ul class="sub-menu">
                                    {% for post in site.categories.o-gipnoze %}
                                    {% include /post-menu-item.html %}
                                    {% endfor %}
                                </ul>
                            </li>
                            <li><a>Здоровье</a>
                                <ul class="sub-menu">
                                    {% for post in site.categories.zdorove %}
                                    {% include /post-menu-item.html %}
                                    {% endfor %}
                                </ul>
                            </li>
                            <li><a>Фобии (Страхи)</a>
                                <ul class="sub-menu">
                                    {% for post in site.categories.fobii %}
                                    {% include /post-menu-item.html %}
                                    {% endfor %}
                                </ul>
                            </li>
                            <li><a>Вредные привычки</a>
                                <ul class="sub-menu">
                                    {% for post in site.categories.vrednye-privychki %}
                                    {% include /post-menu-item.html %}
                                    {% endfor %}
                                </ul>
                            </li>
                            <li><a>Психология</a>
                                <ul class="sub-menu">
                                    {% for post in site.categories.psihologiya %}
                                    {% include /post-menu-item.html %}
                                    {% endfor %}
                                </ul>
                            </li>
                            <li><a>Психотерапия</a>
                                <ul class="sub-menu">
                                    {% for post in site.categories.psihoterapiya %}
                                    {% include /post-menu-item.html %}
                                    {% endfor %}
                                </ul>
                            </li>
                            <li><a>Личностный рост</a>
                                <ul class="sub-menu">
                                    {% for post in site.categories.lichnostnyj-rost %}
                                    {% include /post-menu-item.html %}
                                    {% endfor %}
                                </ul>
                            </li>
                            <li>
                              <a href="blog/gipnoz-po-skype/">Гипноз онлайн по скайпу</a>
                            </li>
                        </ul>
                    </li>
                    <li ><a href="blog/dlya-muzhchin/">Для мужчин</a>
                        <ul class="sub-menu">
                            {% for post in site.categories.dlya-muzhchin %}
                            {% include /post-menu-item.html %}
                            {% endfor %}
                        </ul>
                    </li>
                    <li>
                        <a href="blog/dlya-zhenshhin/">Для женщин</a>
                        <ul class="sub-menu">
                            {% for post in site.categories.dlya-zhenshhin %}
                            {% include /post-menu-item.html %}
                            {% endfor %}
                        </ul>
                    </li>
                    <li>
                        <a href="blog/uspeh-i-karera/">Успех и карьера</a>
                        <ul class="sub-menu-1">
                            {% for post in site.categories.uspeh-i-karera %}
                            {% include /post-menu-item.html %}
                            {% endfor %}
                        </ul>
                    </li>
                    <li>
                        <a href="blog/shkola-gipnoza/">Школа гипноза</a>
						<ul class="sub-menu-1">
                            {% for post in site.categories.shkola-gipnoza %}
                            {% include /post-menu-item.html %}
                            {% endfor %}
                        </ul>
                    </li>
                    <li><a href="blog/price/">Цены</a></li>
                    <li><a href="blog/voprosy/">Вопросы</a></li>
                    <li><a href="blog/contact/">Контакты</a></li>
                </ul>
