<header class="nav-top">
    <span class="hamburger material-icons" id="ham">menu</span>
</header>

<nav class="nav-drill">
    <ul class="nav-items nav-level-1">
        <li class="nav-item">
            <a class="nav-link" href="/">
                Главная
            </a>
        </li>
        <li class="nav-item nav-expand">
            <a class="nav-link nav-expand-link" href="#">
                Лечение гипнозом
            </a>
            <ul class="nav-items nav-expand-content">
                <li class="nav-item nav-expand">
                    <a class="nav-link nav-expand-link" href="#">
                        Здоровье
                    </a>
                    <ul class="nav-items nav-expand-content">
                        {% for post in site.categories.zdorove %}
                        {% include /post-mobile-menu-item.html %}
                        {% endfor %}
                    </ul>
                </li>
                <li class="nav-item nav-expand">
                    <a class="nav-link nav-expand-link" href="#">
                        Личностный рост
                    </a>
                    <ul class="nav-items nav-expand-content">
                        {% for post in site.categories.lichnostnyj-rost %}
                        {% include /post-mobile-menu-item.html %}
                        {% endfor %}
                    </ul>
                </li>
                <li class="nav-item nav-expand">
                    <a class="nav-link nav-expand-link" href="#">
                        Вредные привычки
                    </a>
                    <ul class="nav-items nav-expand-content">
                        {% for post in site.categories.vrednye-privychki %}
                        {% include /post-mobile-menu-item.html %}
                        {% endfor %}
                    </ul>
                </li>
                <li class="nav-item nav-expand">
                    <a class="nav-link nav-expand-link" href="#">
                        Фобии (Страхи)
                    </a>
                    <ul class="nav-items nav-expand-content">
                        {% for post in site.categories.fobii %}
                        {% include /post-mobile-menu-item.html %}
                        {% endfor %}
                    </ul>
                </li>
                <li class="nav-item nav-expand">
                    <a class="nav-link nav-expand-link" href="#">
                        О гипнозе
                    </a>
                    <ul class="nav-items nav-expand-content">
                        {% for post in site.categories.o-gipnoze %}
                        {% include /post-mobile-menu-item.html %}
                        {% endfor %}
                    </ul>
                </li>
                <li class="nav-item nav-expand">
                    <a class="nav-link nav-expand-link" href="#">
                        Психотерапия
                    </a>
                    <ul class="nav-items nav-expand-content">
                        {% for post in site.categories.psihoterapiya %}
                        {% include /post-mobile-menu-item.html %}
                        {% endfor %}
                    </ul>
                </li>
                <li class="nav-item nav-expand">
                    <a class="nav-link nav-expand-link" href="#">
                        Психология
                    </a>
                    <ul class="nav-items nav-expand-content">
                        {% for post in site.categories.psihologiya %}
                        {% include /post-mobile-menu-item.html %}
                        {% endfor %}
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="blog/lechenie-gipnozom/">
                        Показать все
                    </a>
                </li>

            </ul>
        </li>
        <li class="nav-item nav-expand">
            <a class="nav-link nav-expand-link" href="#">
                Для мужчин
            </a>
            <ul class="nav-items nav-expand-content">
                {% for post in site.categories.dlya-muzhchin %}
                {% include /post-mobile-menu-item.html %}
                {% endfor %}
                <li class="nav-item">
                    <a class="nav-link" href="blog/dlya-muzhchin/">
                        Показать все
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item nav-expand">
            <a class="nav-link nav-expand-link" href="#">
                Для женщин
            </a>
            <ul class="nav-items nav-expand-content">
                {% for post in site.categories.dlya-zhenshhin %}
                {% include /post-mobile-menu-item.html %}
                {% endfor %}
                <li class="nav-item">
                    <a class="nav-link" href="blog/dlya-zhenshhin/">
                        Показать все
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item nav-expand">
            <a class="nav-link nav-expand-link" href="#">
                Успех и карьера
            </a>
            <ul class="nav-items nav-expand-content">
                {% for post in site.categories.uspeh-i-karera %}
                {% include /post-mobile-menu-item.html %}
                {% endfor %}
                <li class="nav-item">
                    <a class="nav-link" href="blog/uspeh-i-karera/">
                        Показать все
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item nav-expand">
            <a class="nav-link nav-expand-link" href="#">
                Школа гипноза
            </a>
            <ul class="nav-items nav-expand-content">
                {% for post in site.categories.shkola-gipnoza %}
                {% include /post-mobile-menu-item.html %}
                {% endfor %}
                <li class="nav-item">
                    <a class="nav-link" href="blog/shkola-gipnoza/">
                        Показать все
                    </a>
                </li>
            </ul>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="blog/price/">
                Цены
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="blog/contact/">
                Контакты
            </a>
        </li>
    </ul>
</nav>