<div class="bg-right-block">
  <div class="right-block">
    <h4>Контакты</h4>
    <ul>
        <li>
            <strong>Наш адрес:</strong>
            <a href="blog/contact/">Московская область, г. Москва, ул.Тарутинская,д.1</a>
            (метро Славянский бульвар)В 100 метрах от метро.
        </li>
        <li>
            <strong>Телефон:</strong>
            <a href="tel:+79771519080">8-977-151-90-80</a>
        </li>
        <li>
            <strong>E-mail:</strong>
            <a href="mailto:hypnos24@mail.ru">hypnos24@mail.ru</a>
        </li>
        <li>
            <strong>Сайт:</strong>
            <a href="https://hypnos24.com">hypnos24.com</a>
        </li>
    </ul>
    <h4>Гипнотерапия по скайпу</h4>
    <img src="img/skype-r-block.jpg" alt="Гипнотерапия по скайпу" />
    <p>
      Cеансы гипноза онлайн через интернет на любом расстоянии и в любой стране, позволяют решать сложные запросы быстро и результативно.
      <a href="blog/online/">Подробнее</a>
    </p>
    <h4>Школа гипноза</h4>
    <p>
        Наш центр предлагает сертифицированные программы для специалистов, экспертов в различных сферах здравоохранения, межличностной коммуникации, а также обычных людей (неспециалистов) для преодоления сложных моментов в жизни, улучшения собственных способностей и качества работы коллективов, организаций.
        <a href="blog/shkola-gipnoza/">Подробнее</a>
    </p>

    <h4>Услуги</h4>
    <ul>
        <li><a href="blog/lechenie-gipnozom/">Лечение гипнозом </a></li>
        <li><a href="blog/psihologiya/2018-09-01-individualnaya-konsultaciya-psihologa.html">Психологическое консультирование</a></li>
        <li><a href="blog/psihoterapiya/2018-01-05-konsultaciya-psihoterapevta.html">Психотерапия</a></li>
        <li><a href="blog/dlya-zhenshhin/">Гипнотерапия для женщин</a></li>
        <li><a href="blog/dlya-muzhchin/">Гипнотерапия для мужчин</a></li>
        <li><a href="blog/metody-raboty">Методы работы</a></li>
    </ul>
  </div>
</div>