<div class="top-line">
    <div class="container-fluid">
        <div class="row">
            <nav class="topnav">
                {% include /mobile-menu.html %}
                {% include /main-menu.html %}
            </nav>
        </div>
    </div>
</div>
