---
layout: contact
categories: contact
title: Контакты
description: Наши контакты
maps: <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Abfaaffaf164dcd3293871ac3c71ca887d361f571cf80f6420db91c2e815dece0&amp;source=constructor" width="100%" height="500" frameborder="0"></iframe>
---

<form action="mail.php" method="post">
    <div class="form-wrap">
        <div class="row">
            <input class="popup_window__input" type="text" name="name" placeholder="Ваше имя" />
            <input class="popup_window__input" type="text" name="phone" placeholder="Ваш телефон" />
            <textarea name="comment" cols="40" rows="3" placeholder="Ваше сообщение"></textarea>
        </div>
    </div>
    <div class="btn-top">
        <button type="submit" class="btn_submit_form" value="Отправить">Отправить</button>
    </div>
</form>
