---
layout: post
title:  Бросить курить раз и навсегда
description: Как быстро и эффективно бросить курить? Этот вопрос волнует многих курильщиков. Ведь ежегодно в России от заболеваний, вызванных этой вредной привычкой, умирает почти 300 тысяч граждан.
categories: voprosi-ot-A-G
catname: Вредные привычки
permalink: "blog/:categories/:year-:month-:day-:slug.html"
---
<p>Как быстро и эффективно бросить курить? Этот вопрос волнует многих курильщиков. Ведь ежегодно в России от заболеваний, вызванных этой вредной привычкой, умирает почти 300 тысяч граждан. И самый действенный способ избавиться от этой зависимости - это гипнотерапия.</p>
<p>Впервые об эффективности гипноза для избавления от никотиновой зависимости сообщил психотерапевт Трапезников еще в 1899 году. Но массовое распространение этот способ получил лишь в последние несколько лет.</p>
<p>В настоящее время гипноз все больше набирает популярность среди специалистов и обычных людей.  Люди обращаются к гипнологам по разнообразным причинам. Самыми распространенными ситуациями применения гипноза являются различные неврозы, фобии, страхи, депрессии, ОКР, СРК, ВСД,  пищеварительные, сексуальные нарушения, коррекция поведенческих реакций человека, заниженная самооценка, комплексы, вредные привычки. Причем в этих случаях, гипнотерапия остается единственным результативным методом, так как нацелена  на избавление больного от причин его заболевания, в то время как все остальные методы, включая фармацевтические, претендуют только на временное снятие симптомов.</p>
<p>Успешное применение гипноза при лечении столь широкого круга заболеваний связанно с тем, что точкой приложения лечебного слова в гипнозе - являются большие полушария головного мозга человека, которые управляют всеми органами и системами  организма. Слово в гипнозе оказывается  чрезвычайно могущественным лечебным фактором, производящим прямое и непосредственное воздействие на характер и динамику корковых процессов. Это открывает прямой путь к устранению патологических процессов и мобилизации необходимых внутренних ресурсов организма человека.</p>
<p>Курение – условный рефлекс на повседневные раздражители.  Он прочно закрепился в сознании курильщика, сформировав навязчивую зависимость от курения.  Поэтому, когда зависимый от сигарет бросает курить, ему сложно каждую минуту. Нужно не только избавиться от никотиновой зависимости,  но и изменить все свои привычные ритуалы,  стереотипы, избавиться от страхов. Например:</p>
<ul>
    <li>Старые ложные стереотипы, такие как: сигареты снимают стресс, снимают скуку, помогают сосредоточиться, расслабляют, нравится ритуал, это просто привычка, есть чем занять руки, способствуют уверенности в себе, это стильно и круто  и т.д.</li>
    <li>Страхи, связанные с желанием бросить курить. Например: будет тяжело, боюсь неудач, буду набирать вес, не хватит силы воли и т.д.</li>
    <li>Устойчивые рефлексы абстиненции. Например: первая сигарета утром, во время перерыва, после тренировки и т.д.</li>
</ul>
<p><b>За 20 лет практики нами разработана уникальная авторская методика, опирающаяся исключительно на научные нейрофизиологические  исследования наших светил -  советских академиков и профессоров. Профессиональное воздействие по  нашей авторской методике « Жизнь без сигарет!» относится к самым результативным услугам в настоящее время.</b></p>
<p>Наш метод нацелен не только на избавление от  никотиновой зависимости,  но и  от старых ложных стереотипов, ритуалов, страхов, связанных с курением, которые все время напоминают курильщику о необходимости покурить.</p>
<p>Наша методика лечения курения гипнозом  считается более эффективной, поскольку мозг человека, погруженного в транс, восприимчивее к воздействию. Мы не используем шоковую терапию. Важной составляющей никотиновой зависимости является психологический компонент, психоэмоциональные связи, в силу которых курение рассматривается как приятный процесс, помогающий успокоить нервы, получить удовольствие. Мало кому известно, что никотин вызывает в организме выработку адреналина, который замедляет процесс выведения гормона дофамин. Таким образом, у курильщика в момент перекура возникает состояние эйфории. Постепенно в организме формируется зависимость. Этим объясняется тот факт, почему кто-то курит пачками, а для кого-то нормой является всего несколько сигарет в день. Все зависит от продолжительности стажа у курящего человека.</p>
<p>О том, что сигареты медленно отравляют человеческий организм, известно, пожалуй, каждому. При этом  расстаться с нездоровым образом жизни готовы лишь единицы. У остальных людей есть масса отговорок, по которым они не собираются отказываться от табакокурения. Это и сильная психологическая зависимость, и отсутствие желания, и внушение о том, что сигареты способны успокоить и расслабить.</p>
<h4>Возможны ли побочные эффекты от гипноза?</h4>
<p>Как утверждают специалисты, на сегодняшний день таких фактов не выявлено. Исследования в разное время проводились такими видными и авторитетными  учеными как:  В. М. Бехтерев, И. П. Павлов,  С. С. Либих (1974), А. И. Захаров (1982), А. А. Токарский (1989), М. С. Лебединский,  А. Т. Пшоник (1952), Л. Л. Васильев,  И. П. Брязгунов (1970) Л. Черток (1972), В. И. Сухорукова (1977), П. К. Анохин,  Н. Е. Введенский (1911-1913),  Н. И. Красногорский,  В. М. Шкловский (1975, 1994),   В. Н. Мясищев, Ю. А. Поворинский (1950), С. Н. Давиденков, К. М. Варшавский (1973), С. С. Кор-саков, К. М. Быков, А. М.Свядощ (1982), В. Я. Данилевский, Б. Н. Бирман (1922,1925, 1946),  Л. Б. Гаккель (1955),  Д. Я.  Венгеровский (1955),   И. 3. Вельвовский (1984), А. Л. Гройсман, К. И. Платонов (1957), С. Л. Рубинштейн, В. Е. Рожнов, А. А. Ухтомский, И. М. Сеченов, А.М. Свядощ, А. П. Слободяник, Е. С.  Катков,  М. П. Кутании,  В. В. Кузьмин,  П. П.  Подъяпольский,  Е. Н. Довбня, Ф. Е. Рыбаков, В. Н. Хорошко, А. И. Яроцкий, А. Ф. Лазурский, Ю. В. Каннабих, В. М. Нарбут, Ф. Д. Неткачев, В. А. Гиляровский, М. В. Стрельчук, Г. В. Морозов, В. М. Банщиков, Н. В. Иванов, Н. К. Липгарт, А. Г. Иванов-Смоленский, и др. Учеными доказано, что психика человека саморегулируется во время лечебного транса, мобилизуются его внутренние резервы, активизируются защитные силы организма (компенсаторные), гомеостаз организма приходит в норму, а потому опасности для психического и физиологического здоровья пациента нет.</p>
<p><b>Положительные стороны гипнотического лечения:</b></p>
<ul>
    <li>Полное отсутствие медикаментозного влияния на организм человека.</li>
    <li>Нет побочного эффекта.</li>
    <li>Полезно. Нормализует гомеостаз организма, укрепляет ЦНС, и т.д.</li>
    <li>Устраняет причины зависимости.</li>
    <li>Дешевле.</li>
</ul>
<p>Сеанс гипноза, сам по себе является целебным для человека. Гипноз улучшает общее самочувствие человека, обеспечивает слаженную работу всех органов и систем организма,  его (гомеостаз), что позволяет  ощутить новый прилив жизненных сил. Он положительно влияет на работу многих органов и систем: сердечно - сосудистой, дыхательной, эндокринной, пищеварительной, ЦНС, помогает при бессоннице, снимает раздражительность, уменьшает беспокойство, и т.п.</p>
<p>Самостоятельные попытки бросить курить часто оборачиваются повышенной нервозностью, нарушению сна, раздражительностью, человек угнетен или подвержен вспышкам агрессии, к тому же, чем дольше борешься, тем сильнее хочется курить, а неудача, приводит к разочарованию в своих силах, психологической зажатости, комплексу неполноценности,  ложным убеждениям,  невозможности соскочить с никотиновой иглы и как следствие,  повышенной тяги к  курению. И только гипнотерапия помогает преодолеть негативные последствия отказа от курения для нервной системы.</p>
<p>Но чтобы бросить курить с помощью гипноза, человек должен соглашаться на эту процедуру осознанно, искренне желать преодолеть зависимость! Наш авторский метод « Жизнь без сигарет!»,   позволит вам вернуться к нормальной жизни и получать от нее удовольствие.</p>
<p><b>Будьте здоровы и берегите себя!</b></p>

































