---
layout: post
title:  Подростковый психолог
description: Подростковый психолог поможет ребенку успешно пройти кризис взросления. Найти внутренние ресурсы в становлении себя, как личности. Лучше понять собственные сильные и слабые стороны.
categories: psihologiya
catname: Психология
permalink: "blog/:categories/:year-:month-:day-:slug.html"
---
<h4>Психологическая помощь подросткам. Подростковый психолог.</h4>
<p>Подростковый психолог поможет ребенку успешно пройти кризис взросления. Найти внутренние ресурсы в становлении себя, как личности. Лучше понять собственные сильные и слабые стороны. Нести ответственность за свои действия и их последствия. Найти место в социальном и профессиональном мире. Пережить психологические травмы и трудности.</p>
<p><b>Психологическая помощь подросткам необходима в следующих ситуациях:</b></p>
<ul>
    <li>проблемы эмоциональной сферы (повышенная тревожность, панические атаки, депрессия, стрессы, страхи, фобии);</li>
    <li>снижение успеваемости, внимания, памяти;</li>
    <li>трудности в отношениях (одиночество, расставание, безответная любовь);</li>
    <li>проблемы общения и поведения (конфликтность, агрессивность, вспыльчивость, робость);</li>
    <li>помощь в выборе профессии, профориентация;</li>
    <li>нарушения сна (трудности с засыпанием, бессонница, ночные кошмары, слабость, быстрая уставаемость);</li>
    <li>отсутствие интересов;</li>
    <li>сложности в адаптации;</li>
    <li>неуверенность в себе, заниженная самооценка, комплексы;</li>
    <li>зависимости (компьютерная, игровая, наркотическая, любовная и др.);</li>
    <li>навязчивые мысли и действия, самоповреждения;</li>
    <li>проблемы с законом, преступные действия;</li>
    <li>переживание травматического события и его последствий;</li>
    <li>психосоматические расстройства и заболевания (кожные заболевания, головные боли и мигрени, обмороки, головокружения, расстройства желудочно-кишечного тракта, СРК, и др.)</li>
</ul>
<p>Эти и другие симптомы, причин которых вы не можете объяснить, являются поводом для обращения к подростковому психологу, который поможет разобраться в предпосылках их возникновения и справится с негативными последствиями.</p>
<h4>Что будет происходить с подростком во время консультации.</h4>
<p>Психолог стремится к тому, чтобы ребенок подросткового возраста как можно быстрее проникся доверием, поверил ему и откровенно рассказал о существующих трудностях. Только хорошо зная внутренний мир подростка, психолог может выработать действенную стратегию вывода его из кризиса. Специалист выступает посредником между родителями и их детьми, снимая чувство беспокойства, тревоги у обеих сторон. На первой встрече психолог рассказывает о том, каким образом будут проходить консультации, собирает информацию об отношениях внутри семьи, о жизни ребенка. Для работы с подростком консультант подбирает те проективные методики, тестовые материалы, опросники, которые позволят наиболее точно описать сложившуюся ситуацию и помогут разобраться в причинах ее возникновения. Помогут родителям увидеть то, что невозможно рассмотреть и понять, находясь внутри семейной системы.</p>
<p><b>Будьте здоровы и берегите себя.</b></p>













































