---
layout: post
title:  Телесно-ориентированный метод терапии
description: Телесно-ориентированная психотерапия очень хорошо сочетается с другими методами психотерапии, особенно с гипнотерапией. Поэтому очень часто на своих сеансах мы используем данный метод для более эффективной психологической работы.
categories: o-gipnoze
catname: О гипнозе
permalink: "blog/:categories/:year-:month-:day-:slug.html"
---
<p>Психологическая составляющая человеческой сущности неразрывно связана с соматикой.  Ибо в свете учения о единстве психики и соматики,  всякое соматическое заболевание неразрывно связано с большим или меньшим нарушением функционального состояния высшей нервной деятельности больного. Одно из этих проявлений, это «врастание» эмоциональных проявлений в моторную память. Самые значимые эмоциональные маски, чаще всего связанные с негативными переживаниями и выступающие в роли защиты от стресса, способны формировать «мышечный панцирь». Итоговым проявлением этого процесса является снижение качества жизни, усугубление депрессии и другие психологические проблемы. Одним из методов борьбы с указанными патологическими изменениями является телесно-ориентированная психотерапия. Что же это такое, и в чем заключается суть этой терапии?</p>
<h4>Телесно-ориентированная психотерапия – цели и задачи.</h4>
<p>Метод ТОП, как часто называют телесно-ориентированную психотерапию, возник как результат многолетних наблюдений за взаимосвязью духовной и телесной деятельностью организма. Основателем этого раздела психосоматической терапии был Вильгельм Райх, внедривший в практику психоанализа работу с телесным компонентом психопатологии. Дальнейшая теоретическая и практическая база методик были пополнены работами Иды Ролф, Герды Бойесен, Франца Александера и других психотерапевтов.</p>
<p>Считается, что большинство психоэмоциональных проблем основаны на негативном опыте. Исходя из этого положения, была определена цель телесно-ориентированной терапии – устранить тормозящее воздействие этого опыта и восстановить таким образом нормальное функционирование психоэмоциональной сферы.</p>
<p><b>Психотерапевт, работающий по технике телесно-ориентированной психотерапии, поможет избавиться от ряда проблем:</b></p>
<ul>
    <li>облегчить межличностное общение с противоположным полом, со старшим поколением, с детьми, между супругами;</li>
    <li>избавиться от последствий острого эмоционального стресса;</li>
    <li>разрешить конфликтные ситуации на работе;</li>
    <li>освободиться от хронической депрессии, бессонницы;</li>
    <li>справиться с повышенной раздражительностью, апатией или плаксивостью;</li>
</ul>
<p>Посредством построения «мостика» между психическим состоянием и телесным здоровьем можно уменьшить психосоматический компонент некоторых заболеваний – хронического болевого синдрома, утомляемости, частых простудных заболеваний.</p>
<h4>Принцип психотерапии</h4>
<p><b>В классическом методе психотерапии выделены 7 сегментов формирования «мышечного панциря»:</b></p>
<ol>
    <li>Глазной – область мимических мышц.</li>
    <li>Оральный – мышцы подбородка, затылка и шеи.</li>
    <li>Глубокие мышцы шеи и языка.</li>
    <li>Грудной – включает мышцы грудной клетки, плечелопаточной области, рук.</li>
    <li>Диафрагмальный – включает диафрагму и внутренние органы.</li>
    <li>Живот и мышцы спины.</li>
    <li>Тазовый сегмент – в него входят мышцы таза и нижних конечностей.</li>
</ol>
<p>Суть методики заключается в выделении ведущей эмоции патологического состояния. В дальнейшем осуществляется работа с соответствующей группой мышц. Воздействие осуществляется посредством массажа или выполнения специальных упражнений. Задача состоит в снятии мышечного панциря.</p>
<p>Для понимания рассмотрим простейший пример. Сдерживание человеком таких эмоций, как гнев, смех, печаль, осуществляется грудным сегментом, в основном за счет сдерживания дыхания. Разбить мускульный панцирь этого сегмента можно с помощью дыхательных упражнений, заключающихся в максимально глубоком дыхании. Расслабление мышц в итоге приводит к восстановлению способности проявлять свободно перечисленные эмоции. В итоге происходит восстановление целостности телесных и эмоциональных проявлений жизнедеятельности.</p>
<h4>Виды и методы телесно-ориентированной психотерапии.</h4>
<p><b>Многочисленные последователи Райха вносили в классическую методу свои изменения, добавляли новые компоненты. В настоящее время существует боле 15 различных подходов «работы с психикой через тело». Основные виды:</b></p>
<ol>
    <li>Характерологический анализ Райха.</li>
    <li>Концепция телесного осознавания Фельденкрайза;</li>
    <li>Биоэнергетический анализ Лоуэна.</li>
    <li>Структурная интеграция Рольфа.</li>
</ol>
<p><b>Менее известные, но оттого не менее эффективные методики:</b></p>
<ol>
    <li>Техника биосинтеза.</li>
    <li>Танатотерапия Баскакова.</li>
    <li>Бондинг.</li>
</ol>
<p>Вне зависимости от конкретной методики на первом этапе телесной психотерапии (синоним телесно-ориентированной психотерапии) специалист помогает пациенту выявить неразрешенные эмоциональные проблемы, мешающие человеку встать на путь исцеления.</p>
<p>Телесно-ориентированная психотерапия очень хорошо сочетается с другими методами психотерапии, особенно с гипнотерапией. Поэтому очень часто на своих сеансах мы используем данный метод для более эффективной психологической работы.</p>
<p><b>Будьте здоровы и берегите себя.</b></p>






























