---
layout: post
title:  Когнитивно-поведенческий метод терапии
description: В когнитивно-поведенческой психотерапии основным постулатом является то, что человек с помощью своего сознания, мышления и изменения поведенческих реакций может справиться с возникающими проблемами. Мысли могут влиять на эмоции.
categories: o-gipnoze
catname: О гипнозе
permalink: "blog/:categories/:year-:month-:day-:slug.html"
---
<p>Человек - существо мыслящее, способное осознавать, анализировать, делать выводы и в зависимости от их результатов выстраивать свое поведение. Именно эти возможности психики человека лежат в основе когнитивно-поведенческой психотерапии.</p>
<p>В отличие от психоанализа, где большое значение придается глубинным неосознаваемым процессам, над которыми индивидуум не властен, когнитивно-поведенческая психотерапия работает с сознанием.</p>
<p>В когнитивно-поведенческой психотерапии основным постулатом является то, что человек с помощью своего сознания, мышления и изменения поведенческих реакций может справиться с возникающими проблемами. Мысли могут влиять на эмоции.</p>
<p>Одной из причиной невротических реакций когнитивно-поведенческая психотерапия считает ложную интерпретацию случившихся событий. Это происходит из-за недостатка информации, неверно сделанных выводов или влияния сложившегося ранее стереотипа.</p>
<p>Например, человек видит улыбки окружающих и считает, что те насмехаются над его внешним видом или словами. Возможно, у него сформировался негативный опыт в семье, где было принято высмеивать других. Но дело в том, что большинство людей совершенно не обращают на других внимание, поскольку каждый из них думает в основном о себе и улыбается каким-то своим мыслям.</p>
<p>Если человек часто в своей жизни получал отказы на просьбы, он перестает обращаться с ними вообще, так как считает, что это бессмысленно. С помощью когнитивно-поведенческой терапии такая реакция может быть изменена: если ему отказали, это не значит, что так будет всегда. Его просьба может быть удовлетворена в следующий раз.</p>
<p>Аналогичные события вызывают у людей разную реакцию. Для одной женщины развод может стать освобождением от неудачного брака и возможностью начать все заново, а для другой – трагедией и крахом всей жизни.</p>
<p>Когнитивно-поведенческая терапия помогает выявить негативные мысли, установки и стереотипы поведения. Часто подобные мысли появляются у человека автоматически, не отслеживаются сознанием. С помощью психотерапевта клиент учится анализировать свое мышление, возникающие эмоции и стереотипные реакции.</p>
<p>Отношения терапевта и клиента больше похожи на сотрудничество, чем на взаимодействие врача и больного. Очень важно, чтобы клиент имел способность к самоанализу и логическому мышлению.</p>
<p>Следующий этап – изменение ложного умозаключения или восстановление когнитивного пробела. После этого меняется эмоция – то, что раньше вызывало страх или раздражение, перестает мучить человека.</p>
<p>Затем необходимо создать новый поведенческий стереотип и применить его на практике. После того, как клиент убеждается, что такое поведение более успешно, происходит закрепление выработанной реакции.</p>
<p>Например, работник всегда считал, что начальник отвергнет его кандидатуру на повышение, и даже не заговаривал об этом. Причиной было негативное убеждение, что он не достоин карьерного роста. После работы с психотерапевтом было выяснено, что клиент обладает всеми необходимыми для новой должности качествами. Это послужило стимулом для изменения поведения, сотрудник стал более смело обращаться к руководителю, что привело к повышению по службе.</p>
<p><b>С помощью когнитивно-поведенческой терапии успешно решаются такие проблемы как:</b></p>
<ul>
    <li>страхи, тревожность;</li>
    <li> депрессия;</li>
    <li>неврозы;</li>
    <li>панические атаки;</li>
    <li>фобии;</li>
    <li>зависимости разного рода.</li>
</ul>
<p>Когнитивно-поведенческая психотерапия является краткосрочным методом. Цель ее – обучить клиента самому анализировать свои мысли и чувства, находить негативные убеждения, делать логические выводы и выстраивать конструктивное поведение.</p>
<p>Когнитивно-поведенческая психотерапия хорошо сочетается с гипнотерапией. Проведены исследования, которые доказали, что оба метода взаимно усиливают положительный эффект. Гипноз значительно повышает эффективность когнитивно-поведенческой терапии. Использование разных техник и индивидуальный подход позволяет добиться лучших результатов.</p>
<p><b>Будьте здоровы и счастливы!</b></p>





























