---
layout: post
title:  Психология семейных отношений
description: Системная семейная психотерапия является одним из наиболее эффективных форматов психологической помощи. Она способствует выстраиванию отношений взаимопонимания и сотрудничества между членами семьи для...
categories: psihologiya
catname: Психология
permalink: "blog/:categories/:year-:month-:day-:slug.html"
---
<p>Сложности в семейной жизни возникают у большинства людей. Спектр проблем довольно широк: непонимание, отчуждение, затянувшаяся вражда, столкновение интересов, либо психологических, либо финансовых, либо имущественных, непринятие одного члена семьи другими.</p>
<p>Системная семейная психотерапия является одним из наиболее эффективных форматов психологической помощи. Она способствует выстраиванию отношений взаимопонимания и сотрудничества между членами семьи для решения повседневных задач, реализации долгосрочных планов, воспитания детей и преодоления жизненных трудностей. На каждом этапе жизненного цикла каждой семье важно найти ответы на новые вопросы, преодолеть сложные ситуации, а иногда и разрешить возникшие конфликты.</p>
<p>Семейные конфликты — это неотъемлемый элемент семейной жизни. Не могут  два человека вместе жить и никогда не конфликтовать. Но одно дело, когда конфликты довольно редки и быстро разрешаемы. А вот затяжные конфликты – дело серьезное и опасное для семьи.</p>
<h4>Почему происходят семейные конфликты?</h4>
<p>Причин супружеских ссор очень много, но почти все они имеют один механизм. Практически все конфликты основаны на неоправданных ожиданиях, которые были у каждого из партнеров касательного другого. В начале отношений мужчина и женщина еще до конца не знают друг друга. Они испытывают чувства, которые позволяют им не замечать недостатков, и при этом наделять свою половинку всеми желаемыми качествами. Но в семейной жизни зачастую оказывается, что партнер не соответствует этим ожиданиям и ведет себя иначе, чем в период ухаживания. Это приводит к разочарованию, взаимным претензиям и ссорам.</p>
<p>В семейной жизни люди всегда предъявляют друг к другу повышенные требования, при этом удивляются, почему с другими людьми им гораздо легче общаться. Разница между психологическими проблемами семейной жизни и разногласиями на работе заключается в том, что в деловых отношениях люди защищены от острых конфликтов или болезненных переживаний естественной служебной дистанцией. Они не могут позволить себе высказать все, что думают друг о друге, не могут расслабиться и вести себя как дома. Поэтому домашние конфликты переживаются больнее, удары от своих  гораздо тяжелее переносить, чем от чужих. Именно особая близость и открытость часто мешает непредвзято разобраться в ситуации. Родные люди просто не видят реальную картину, у них замылился глаз, они воспринимают собственное поведение, как правильное, просто потому что они привыкли так себя вести, хотя оно глубоко ошибочно.</p>
<p>Иногда простые и очевидные поступки могут легко наладить семейную жизнь, но для этого необходимо посмотреть на отношения со стороны и понять в чем проблема. Для этого и нужен психолог.</p>
<p><b>Наиболее частые причины ссор в семье:</b></p>
<ul>
    <li>Неготовность к семейной жизни.</li>
    <li>Сформированное с детства понятие семьи.  Человеку с детства закладывается определенная модель поведения. Создав свою семью, он продолжает действовать по этой модели.</li>
    <li>Завышенная/заниженная самооценка.</li>
    <li>Желание власти.</li>
    <li>Отсутствие общих интересов.   Иногда появляется тогда, когда один супруг хочет чего-то вместе, а второй нет.</li>
    <li>Месть.  Месть никогда не решит предыдущий конфликт, зато создаст новый.</li>
    <li>Я всегда прав/права.</li>
    <li>Вспыльчивость.</li>
    <li>Эгоизм.</li>
    <li>Нежелание помогать по хозяйству, или нежелание супруга помогать с ребенком.</li>
    <li>Разное понятие об обязанностях мужа и жены.</li>
    <li>Разный темперамент. Сангвиник будет то и дело пытаться вытянуть флегматика из уютного домашнего кресла.</li>
    <li>Материальное положение.</li>
    <li>Сексуальная неудовлетворенность.</li>
    <li>Вредные привычки.</li>
    <li>Различные взгляды на воспитание ребенка</li>
    <li>Ревность.</li>
    <li>Неумение идти на компромисс.</li>
</ul>
<p>Семья – это не только отношения мужчины и женщины. Психологические проблемы семейной жизни и конфликты могут возникать также между родителями и детьми, между взрослыми детьми и старшим поколением. Иногда «нелады» происходят с дальними родственниками, которые либо живут вместе, либо часто общаются. В круг семейных отношений входят также дяди, тети, двоюродные братья и сестры, бабушки и дедушки. Опытный семейный психолог глубоко понимает психологические проблемы семейной жизни, видит механизмы, нюансы, особенности и специфику совместной жизни, и видит как «разрулить ситуацию». Чаще всего к нам обращаются именно по поводу семейных взаимоотношений, так как они наиболее болезненны, наиболее травматичны.</p>
<p>Когда мы говорим о семье, о взаимоотношениях между мужчиной и женщиной, то ответственность за полноценные гармоничные и доверительные отношения лежит на обоих участниках конфликта. Иногда бывает так, что одного может все устраивать, а другого нет. Есть множество способов решить наболевшие вопросы и наслаждаться отношениями.</p>
<p>Вы можете самостоятельно уладить семейные конфликты, перестать ссориться и ругаться между собой. Для этого,  достаточно взаимного желания  и стремления помочь друг другу обрести внутренний комфорт в ваших отношениях. Если вы считаете, что самостоятельно вы не можете выйти из конфликтной ситуации, то вы можете обратиться к нам за психологической помощью. Мы можем предложить вам как семейное консультирование, семейную психотерапию, так и индивидуальную гипнотерапию. В рамках гипнотерапии можно будет найти глубинные причины внутренних конфликтов, противоречий, которые влияют на вашу семейную жизнь.   Избавившись от них,  вы измените себя, свое отношение к действительности,  и вернете мир, тепло, уют и любовь в вашу семью.</p>
<p>Полностью избежать семейных конфликтов нельзя, но сделать конфликты довольно редкими и быстро разрешимыми,  научиться адекватно реагировать на них вполне реально. Вы можете это сделать как самостоятельно, так и при помощи нашего психолога, психотерапевта, или гипнотерапевта.</p>
<p><b>Будьте  здоровы и берегите себя!</b></p>





















































