---
layout: post
title:  хорошее лекарство от боли в суставах
description: Здоровые суставы – это роскошь, значение которой трудно оценить тому, кто никогда не испытывал боли при ходьбе и не ощущал затруднения при попытке поднять руку или ногу, развернуться или присесть.
categories: voprosi-ot-K-L
catname: Вопросы от К до Л
permalink: "blog/:categories/:year-:month-:day-:slug.html"
---
    <h3>Лечение или снижение боли при болезнях суставов.</h3>
    <p>
        <b>Здоровые суставы</b> – это роскошь, значение которой трудно оценить тому, кто никогда не испытывал боли при ходьбе и не ощущал затруднения при попытке поднять руку или ногу, развернуться или присесть. Между тем миллионы людей по всему свету ежегодно обращаются за помощью к врачам – ортопедам с подобными жалобами.
    </p>
    <h4>Вот  неполный список болезней суставов  с  хроническими болями:</h4>
    <h4>Артроз</h4>
    <p>
        <b>Артроз</b> — деструктивно-дистрофическое заболевание суставов, возникающее вследствие поражения хрящевых тканей суставных поверхностей.
    </p>
    <a href="blog/zdorove/2019-03-07-lechenie-boli-pri-artroze.html">Подробнее о физиологии возникновения боли при артрозе и лечении можно прочитать здесь</a>
    <h4>Артрит</h4>
    <p><b>При артрите возникает такая симптоматика:</b></p>
    <ul>
        <li>Ломота в суставах;</li>
        <li>Затруднение с уменьшением амплитуды движений сустава;</li>
        <li>Деформирование пораженных суставов и тканей, которые находятся около них;</li>
        <li>Системное поражение организма.</li>
    </ul>
    <h4>Плантарный фасциит.</h4>
    <p><b>Патология делится на два основных этапа:</b></p>
    <ul>
        <li>Острый или альгический, когда боль очень интенсивная, и в основном расположена в пяточной связке.</li>
        <li>Следующий этап острой стадии, когда боль перемещается в переднюю часть стопы и распространяется на всю подошву.</li>
    </ul>
    <h4>Артралгия</h4>
    <p>
        Простую боль в суставах называют артралгией. Эта болезнь характерна сниженным симптоматическим комплексом, который принято называть артралгическим синдромом. Боль может иметь тупой и ноющий оттенок, может быть временной или постоянной, слабовыраженной и острой.
    </p>
    <p>
        Артралгии подвергаются, как правило, крупные суставы. Процесс диагностики является сложным и продолжительным, так как даже рентгенологические снимки не всегда отображают болезненные признаки.
    </p>
    <h4>Периартрит</h4>
    <p>
        Патологии характерно воспаление тканей, которые окружают суставы или суставные сумки. Часто периартрит сопровождается артритом.  Во время движения у больных возникает боль в плече, отдающая в локтевой сустав и лопатку. Движения становятся скованными, плечевой сустав отекает.
    </p>
    <h4>Синовит</h4>
    <p>
        Болезнь синовит характеризуется системным воспалением суставов. Течение болезни разделяют на асептическое, хроническое и острое. При отсутствии лечения синовиальная оболочка уплотняется. Симптоматика характеризуется распиранием костей, отечностью, изменяется цвет кожного покрова в пораженном месте на красноватый.
    </p>
    <p><b>По месту локализации различают следующие виды болей:</b></p>
    <ul>
        <li>Плечевой сустав</li>
        <li>Локтевой сустав</li>
        <li>Суставы кисти и пальцев</li>
        <li>Тазобедренный сустав</li>
        <li>Коленный сустав</li>
        <li>Суставы голеностопа</li>
        <li>Боли в спине</li>
        <li>Боли в пояснице</li>
        <li>Боли в шее</li>
    </ul>
    <h4>Почему боль не прекращается?</h4>
    <p>
        Когда ваше тело повреждено, в него попала инфекция, специальные нервные окончания на коже, в суставах, мускулах, внутренних органах посылают сигналы в мозг, свидетельствующие о том, что произошла травма или повреждение тканей тела. Специальные нервные клетки непрерывно сообщают мозгу, где боль, насколько она сильная, характер болевых ощущений (острая, жгучая, тупая, ноющая). Мозг затем перерабатывает эти сигналы и направляет обратно сообщение, чтобы вы остановились и перестали делать то, что приносит организму боль. Например, если вы тронули что-то горячее, мозг отправит мышцам приказ действовать, так, что вы немедленно отдерните руку.
    </p>
    <p>
        Мозг отправляет сигналы и нервным клеткам, чтобы они прекратили подавать сигналы о боли, если действие объекта, вызвавшего ее, прекратилось (например, когда повреждение начинает заживать). Но очень часто, в результате рассогласования этой сложной физиологической системы, этот механизм не срабатывает. Нервная система, продолжает посылать мозгу сигналы о боли месяцами или  годами после излечения, даже если на данный момент никаких  повреждений нет. Результат - хронические боли.
    </p>
    <p>
        Также часто встречается, когда боли не соответствуют по силе и интенсивности и при более существенных морфологических изменениях на суставах, и это тоже  результат рассогласования физиологической системы, вызванное функциональным расстройством. Результат -  хронические боли значительно невыносимей, чем могли бы быть.
    </p>
    <p>
        Таким образом, все болевые ощущения регулируются совместным взаимодействием ноцицептивной и антиноцицептивной систем. Только их согласованная работа и тонкое взаимодействие позволяет адекватно воспринимать боль и её интенсивность, в зависимости от силы и продолжительности воздействия раздражающего фактора.
    </p>
    <a href="blog/zdorove/2019-03-07-lechenie-hronicheskih-bolej.html#fiziologiay-boli">Подробнее о физиологии возникновения боли можно прочитать здесь</a>
    <p>
        <b>К счастью существует единственный эффективный метод борьбы с этой болезнью!</b>
    </p>
    <p>
        За 20 лет практики нами разработана уникальная авторская методика, опирающаяся исключительно на научные нейрофизиологические исследования наших светил - советских академиков и профессоров. Профессиональное воздействие по нашей авторской методике относится к самым результативным услугам в настоящее время, и позволяет найти глубинные причины рассогласования сложной деятельности нейрохимических и нейрофизиологических механизмов больного, следствием  которого стали хронические боли.
    </p>
    <p>
        В настоящее время гипноз все больше набирает популярность среди специалистов и обычных людей. Люди обращаются к гипнологам по разнообразным причинам. Самыми распространенными ситуациями применения гипноза являются различные неврозы, фобии, страхи, депрессии, ОКР, СРК, ВСД, пищеварительные, сексуальные нарушения, коррекция поведенческих реакций человека, заниженная самооценка, комплексы, вредные привычки, боли различной локализации.  Причем в этих случаях, гипнотерапия остается единственным результативным методом, так как нацелена на избавление больного от причин его заболевания, в то время как все остальные методы, включая фармацевтические, претендуют только на временное снятие симптомов.
    </p>
    <p>
        Тем временем, психогенный сбой у больного не стоит на месте, а генерализуется и приобретает более ярко выраженный гетерогенный характер, вовлекая все большие участки функциональной системы в патогенез.
    </p>
    <p>
        Успешное применение гипноза при лечении столь широкого круга заболеваний связанно с тем, что точкой приложения лечебного слова в гипнозе - являются большие полушария головного мозга человека, лимбическая система, таламус, гипоталамус, ретикулярная формация, которые управляют всеми органами и системами организма. Слово в гипнозе оказывается чрезвычайно могущественным лечебным фактором, производящим прямое и непосредственное воздействие на характер и динамику корковых процессов. Это открывает прямой путь к устранению патологических процессов и мобилизации необходимых внутренних ресурсов организма человека.
    </p>
    <p>
        Еще при жизни И. П. Павлова учеником его К. М. Быковым было экспериментально доказана возможность условнорефлекторных связей коры мозга решительно со всеми внутренними органами и системами. В лабораториях Быкова (1947) также доказана возможность образования временной связи и через гуморальные пути с денервированными органами (почки, селезенка, поджелудочная железа). Это означает, что в условную реакцию вовлекаются инкреторные железы, гормоны которых в свою очередь оказывают действие через кровь на целую систему органов.
    </p>
    <p>
        Таким образом, вся внутренняя среда в известной мере подчиняется влияниям коры мозга, импульсы со стороны которой могут воздействовать на состояние любого внутреннего органа и любой системы. В силу этого и благодаря временным связям кора больших полушарий осуществляет тесное взаимоотношение между внешней и внутренней средой организма. Таким образом, воздействуя лечебным словом в гипнозе на высшие отделы Ц.Н.С., открывается прямой путь к устранению патологических процессов и мобилизации необходимых внутренних ресурсов организма человека. Ибо в свете учения о единстве психики и соматики, всякое соматическое заболевание, неразрывно связано с большим или меньшим нарушением функционального состояния высшей нервной деятельности больного.
    </p>
    <p>
        Поэтому гипнотерапия – это единственный метод, позволяющий выявить и устранить причину рассогласования сложной деятельности нейрохимических и нейрофизиологических механизмов, оказывая прямое и непосредственное воздействие на характер и динамику корковых процессов, а также,  и на подкорковые структуры (лимбическую систему, таламус, гипоталамус, ретикулярную формацию), мобилизуя необходимые внутренние ресурсы организма человека, полностью устраняя причину возникновения патологической  боли на всю жизнь!
    </p>
    <h4>Возможны ли побочные эффекты от гипноза?</h4>
    <p>
        Как утверждают специалисты, на сегодняшний день таких фактов не выявлено. Исследования в разное время проводились такими видными и авторитетными учеными как: В. М. Бехтерев, И. П. Павлов, С. С. Либих (1974), А. И. Захаров (1982), А. А. Токарский (1989), М. С. Лебединский, А. Т. Пшоник (1952), Л. Л. Васильев, И. П. Брязгунов (1970) Л. Черток (1972), В. И. Сухорукова (1977), П. К. Анохин, Н. Е. Введенский (1911-1913), Н. И. Красногорский, В. М. Шкловский (1975, 1994), В. Н. Мясищев, Ю. А. Поворинский (1950), С. Н. Давиденков, К. М. Варшавский (1973), С. С. Кор-саков, К. М. Быков, А. М.Свядощ (1982), В. Я. Данилевский, Б. Н. Бирман (1922,1925, 1946), Л. Б. Гаккель (1955), Д. Я. Венгеровский (1955), И. 3. Вельвовский (1984), А. Л. Гройсман, К. И. Платонов (1957), С. Л. Рубинштейн, В. Е. Рожнов, А. А. Ухтомский, И. М. Сеченов, А.М. Свядощ, А. П. Слободяник, Е. С. Катков, М. П. Кутании, В. В. Кузьмин, П. П. Подъяпольский, Е. Н. Довбня, Ф. Е. Рыбаков, В. Н. Хорошко, А. И. Яроцкий, А. Ф. Лазурский, Ю. В. Каннабих, В. М. Нарбут, Ф. Д. Неткачев, В. А. Гиляровский, М. В. Стрельчук, Г. В. Морозов, В. М. Банщиков, Н. В. Иванов, Н. К. Липгарт, А. Г. Иванов-Смоленский, и др. Учеными доказано, что психика человека саморегулируется во время лечебного транса, мобилизуются его внутренние резервы, активизируются защитные силы организма (компенсаторные), гомеостаз организма приходит в норму, а потому опасности для психического и физиологического здоровья пациента нет.
    </p>
    <p>
        <b>Положительные стороны гипнотического лечения:</b>
    </p>
    <ul>
        <li>Полное отсутствие медикаментозного влияния на организм человека.</li>
        <li>Нет побочного эффекта.</li>
        <li>Полезно. Нормализует гомеостаз организма, укрепляет ЦНС, и т.д.</li>
        <li>Устраняет причины заболевания.</li>
        <li>Дешевле.</li>
    </ul>
    <p>
        Сеанс гипноза, сам по себе является целебным для человека. Гипноз улучшает общее самочувствие человека, обеспечивает слаженную работу всех органов и систем организма его (гомеостаз), что позволяет пациенту ощутить новый прилив жизненных сил. Он положительно влияет на работу многих органов и систем: сердечно - сосудистой, дыхательной, эндокринной, пищеварительной, ЦНС, помогает при бессоннице, снимает раздражительность, уменьшает беспокойство, и т.п..
    </p>
    <p>
        <b>Наш авторский метод позволит вам вернуться к нормальной жизни и получать от нее удовольствие.</b>
    </p>
    <p>
        <b>Будьте здоровы и берегите себя!</b>
    </p>