---
layout: category
categories: shkola-gipnoza
title: Школа гипноза
description: Лечение гипнозом и многое другое.
---
<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <p>В гипнозе слишком  много всевозможных тонкостей и нюансов, без которых гипноз невозможен. Только индивидуальное обучение и индивидуальный подход к ученику дает самый высокий результат.</p>
        </div>
        <div class="typesSchool">
            <div class="row">
                <div class="schoolItems">
                    <a href="blog/shkola-gipnoza/2018-01-05-obuchenie-klassicheskomu-gipnozu.html">
                        <div class="wrapSchool">
                            <h2>Классический гипноз</h2>
                        </div>
                    </a>
                </div>
                <div class="schoolItems">
                    <a href="blog/shkola-gipnoza/2018-01-05-obuchenie-mgnovennomu-gipnozu.html">
                        <div class="wrapSchool">
                            <h2>Мгновеннный гипноз</h2>
                        </div>
                    </a>
                </div>
                <div class="clearfix"></div>
                <div class="schoolItems">
                    <a href="blog/shkola-gipnoza/2018-01-05-obuchenie-ulichnomu-gipnozu.html">
                        <div class="wrapSchool">
                            <h2>Уличный гипноз</h2>
                        </div>
                    </a>
                </div>
                <div class="schoolItems">
                    <a href="blog/shkola-gipnoza/2018-01-05-obuchenie-cyganskomu-gipnozu.html">
                        <div class="wrapSchool">
                            <h2>Цыганский гипноз</h2>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-12">
            <h4>Классический гипноз.</h4>
            <p>Обучение проводится индивидуально и занимает по времени 5 часов. Стоимость обучения 20000 рублей.</p>
            <h4> Мгновеннный гипноз.</h4>
            <p>Обучение проводится индивидуально и занимает по времени 12 часов. Два дня по 6 часов. Из них два часа времени занимает практика на двух незнакомых людях, пришедших по объявлению о проведении некоего психологического исследования.</p>
            <p>Вы проведете четыре полноценных сеанса гипноза с различными техниками.</p>
            <p>Стоимость обучения 55000 рублей. При увеличении количества испытуемых людей, цена увеличивается и обговаривается отдельно.</p>
            <h4>Уличный гипноз.</h4>
            <p>Обучение проводится индивидуально и занимает по времени 18 часов.  Три дня по 6 часов. Из них три часа времени занимает практика на трех незнакомых людях, пришедших по объявлению о проведении некоего психологического исследования. Вы проведете шесть полноценных сеансов гипноза с различными техниками.</p>
            <p>Стоимость обучения 80000 рублей. При увеличении количества  испытуемых людей, цена увеличивается и обговаривается отдельно.</p>
            <h4>Цыганский гипноз.</h4>
            <p>Обучение проводится индивидуально и занимает по времени 4 часа. Стоимость обучения 15000 рублей.</p>
            <hr>
            <h4>Разновидности гипноза.</h4>
            <ol>
                <li><b>Классический гипноз.</b>
                    <p>Классический  гипноз в виде сонного торможения всей коры с сохранением бодрствующего участка (зоны рапорта) называется летаргическим.  Летаргия -характеризуется тем, что при погружении в ту или иную глубину гипнотического состояния, тело человека расслабляется все больше и больше.</p>
                    <p>Если в малом гипнозе летаргического типа поднять руку испытуемого вверх, то вы почувствуете тяжесть в поднятой конечности; если внезапно отнять свою поддерживающую руку, рука загипнотизированного моментально упадет вниз, словно налитая свинцом.</p>
                    <p>В среднем (по глубине) гипнозе летаргического типа это отяжеление мускулатуры выражено еще больше.</p>
                    <p> В глубоком гипнозе летаргического типа тело испытуемого расслабляется так, что положенное спиной на узкую подставку или спинку стула изгибается настолько, насколько это позволяет костный остов. Так велико расслабление всей мускулатуры тела. Наблюдается феномен  так называемой «летаргической дуги».</p>
                </li>
                <li><b>Каталептический гипноз.</b>
                    <p>При каталептическом  гипнозе у испытуемого  возникает одергивание мускулатуры. Тело человека по мере засыпания и углубления гипноза становится все более и более крепким, мышцы человеческого тела напрягаются все больше.</p>
                    <p>Если поднять руку испытуемого в малом гипнозе каталептического типа вверх, то рука словно застынет в воздухе. Если отнять поддерживающую руку, то можно видеть, как рука испытуемого остается в воздухе, «как палка».</p>
                    <p>В среднем гипнозе каталептического типа можно наблюдать феномен так называемой «восковидной гибкости», когда тело испытуемого застывает в тех позах (подчас весьма затейливых), которые вы ему придали.</p>
                    <p>В глубоком гипнозе каталептического типа напряжение мускулатуры настолько велико, что положенное ногами на спинку одного стула, а головой — на спинку другого, тело человека застывает как «каталептический мост». Этот феномен каталептического моста в старину поражал воображение естество-испытателей. На грудь такого испытуемого можно было встать, положить большой камень, а человек как ни в чем не бывало продолжал спать. После пробуждения испытуемый ничего не помнил и никаких неприятных ощущений не испытывал. Каталептический тип гипноза ближе всего стоит к гипнозу животных.</p>
                </li>
                <li><b>Сомнабулический гипноз.</b>
                    <p>Сомнабулический  гипноз — сомнамбулизм — характеризуется тем, что в нем наблюдается ряд интересных явлений автоматизма.</p>
                    <p>Если в малом гипнозе сомнамбулического типа гипнотизер начнет вращать одной рукой гипнотика вокруг другой, то это вращение будет продолжаться и тогда, когда экспериментатор отнимет свои руки.</p>
                    <p>В среднем гипнозе сомнамбулического типа можно наблюдать ряд уже более сложных движений. Так, например, загипнотизированный может спать сидя, стоя; совершать ряд весьма сложных движений профессионального характера. Может спать с открытыми глазами, отвечать на вопросы не просыпаясь. Чувствительность испытуемого понижена, он резко заторможен, рефлексы снижены.</p>
                    <p>В глубоком гипнозе сомнамбулического типа наблюдается феномен снохождения, когда загипнотизированный по суггестии гипнолога движется по комнате, совершает ряд весьма сложных движений, напоминая лунатика. Все движения испытуемого гибки, плавны. Он не производит впечатления спящего. Гипнотический сомнамбулизм третьей стадии представляет собой наиболее глубокую степень гипнотического состояния, во время которого испытуемый выполняет феномены регрессии возраста, снохождения, изменения личности, внушенного ожога, спонтанной амнезии, положительные и отрицательные галлюцинации и др.</p>
                </li>
                <li><b>Психологический гипноз наяву или ( ИСС ).</b>
                    <p>В основе психологического гипноза лежит феномен установления внушающего раппорта в состоянии частичного или полного бодрствования сознания испытуемого.</p>
                    <p>В этом виде гипноза на фоне активной коры обоих полушарий мозга в одном или нескольких участках мозга возникает одна или несколько зон сверхвозбуждения. Основными источниками вызывания и углубления этого вида гипноза являются воздействия словами на память, воображение, зрение, слух и ощущения испытуемого. Глаза у испытуемого могут быть открыты, но наступают провалы памяти, провалы критического самосознания, ускорение ощущения количества времени, каталептические феномены обездвиживания, нарастание подчиненности словам, жестам и чувствам гипнотизера, положительные и отрицательные галлюцинации и др.</p>
                </li>
            </ol>
        </div>
    </div>
</div>
