---
layout: post
title:  Снижение работоспособности человека
description: Снижение работоспособности очень распространенное явление для современного человека, особенно жителя мегаполиса. Как правило, такие люди просто пассивно пережидают неблагоприятный период, ничего не предпринимая.
categories: psihologiya
catname: Психология
permalink: "blog/:categories/:year-:month-:day-:slug.html"
---
<p>Снижение работоспособности очень распространенное явление для современного человека, особенно жителя мегаполиса. Как правило, такие люди просто пассивно пережидают неблагоприятный период, ничего не предпринимая. В редких случаях подобная стратегия помогает, но как правило  она ничего не дает, а только оттягивает время.</p>
<p>На самом деле если пустить ситуацию на самотек, то можно серьезно заболеть или в лучшем случае приобрести синдром хронической усталости.</p>
<p>Быстрая утомляемость, слабость, сниженная работоспособность длительный период времени - это результат синдрома хронической усталости.</p>
<p><b>Синдром хронической усталости (СХУ)</b> – это болезнь, характеризующаяся длительной усталостью, не устраняющейся даже после продолжительного отдыха.</p>
<p>По статистике около 85-90% страдающих этим заболеванием являются жителями крупных, плотно населённых городов, с ускоренным ритмом жизни и неблагоприятной экологической обстановкой.</p>
<p><b>Симптомы хронической усталости:</b></p>
<ul>
    <li>отсутствие ощущения отдыха после полноценного ночного сна;</li>
    <li>часто повторяющиеся головные боли без видимых на это причин;</li>
    <li>повышенная сонливость в дневное время суток;</li>
    <li>невозможность быстро заснуть даже после напряженного физического труда;</li>
    <li>немотивированное раздражение;</li>
    <li>плохое настроение, поводов которому нет.</li>
    <li>снижение памяти и способности концентрироваться</li>
    <li>необъяснимая мышечная боль.</li>
</ul>
<p>Причин снижения работоспособности много. Это и перенапряжение на работе, и срыв намеченных планов, на осуществление которых человек безуспешно потратил немало времени, и состояние здоровья, и малоподвижный сидячий образ жизни, и конфликты на работе, и неприятности в личной жизни, и вредные привычки, и склонность к отрицательным эмоциям, и негативное мышление. Но основные причины -  это накопившиеся психотравмы.</p>
<p>Хроническая усталость, сниженная трудоспособность, потеря жизненных сил, в большинстве случаев, может стать следствием психологических травм в любой период жизни человека. В момент негативного воздействия на организм человека, подкорковая структура головного мозга ретикулярная формация (formation reticularis) остается в угнетенном состоянии, изменив работу эндокринных и висцеральных функций внутренних органов, эмоциональное поведение, внимание, процесс запоминания, сон и бодрствование человека.</p>
<p><b>Психотравма</b> — вред, нанесённый психическому здоровью человека в результате  сверхсильного одномоментного,  или длительного интенсивного воздействия неблагоприятных факторов среды, остроэмоциональных, стрессовых воздействий на его психику, или длительной сшибки субъективных представлений с объективной реальностью. Часто бывает связана с физической травмой, угрожающей жизни, либо нарушающей ощущение безопасности. Это может быть физическое насилие, оскорбление, унижение, сильный испуг, горе и т.д. Эти события мешают человеку жить,  проецируя те же симптомы, на подобные жизненные ситуации, зеркально отражаясь по закону подобия всю жизнь, прогрессируя от ситуации к ситуации  разрушая психику человека.  В результате  чего  может упасть самооценка, усилиться тревога, нарушиться сон, часто появляется   упадок сил, повышенная утомляемость, может возникнуть паническая атака, развиться фобии,  депрессия, напряженность, ночные кошмары и др.  Также человек может испытывать различные негативные чувства – страх, гнев, панику, грусть, причем  постоянно.</p>
<p>Работоспособность человека - ключ к успеху. Если работоспособность высока, то человек, даже если он совершает ошибки,  может достичь очень многого. Но если у кого-то снижена работоспособность, то он едва ли добьется чего-то значительного, пусть даже и будет действовать почти безошибочно.</p>
<p>Консультация психолога позволяет человеку получить от специалиста поддержку и все психологические ресурсы. Психолог на консультации   найдет глубинные причины возникновения снижения работоспособности, что позволит затем проработать и устранить этот недуг, вернув вам жизненные силы.</p>
<p><b>Будьте здоровы и берегите себя!</b></p>

































































