---
layout: post
title:  Психосоматика
description: Психотравма — вред, нанесённый психическому здоровью человека в результате  сверхсильного одномоментного  или длительного, интенсивного воздействия неблагоприятных факторов среды...
categories: psihologiya
catname: Психология
permalink: "blog/:categories/:year-:month-:day-:slug.html"
---
<p>Тема физического самочувствия, здоровья все более часто встречающийся запрос для индивидуальных консультаций.</p>
<p>Удивительно, но многие  наконец осознали, что все болезни от нервов и идут за помощью к психологу, психотерапевту, гипнологу, которые могут  дать действенные рекомендации по изменению образа жизни,  настроить на позитив, и самое главное выявить и устранить причины психической дисфункции, а следовательно вернуть и соматическое здоровье человеку.</p>
<p><b>Самое значимое влияние на психику, а через психику и на соматику человека оказывает психическая травма.</b></p>
<p><b>Психотравма</b> — вред, нанесённый психическому здоровью человека в результате  сверхсильного одномоментного  или длительного, интенсивного воздействия неблагоприятных факторов среды, остроэмоциональных, стрессовых воздействий на его психику, или длительной сшибки субъективных представлений с объективной реальностью. Часто бывает связана с физической травмой, угрожающей жизни, либо нарушающей ощущение безопасности. Это может быть физическое насилие, оскорбление, унижение, сильный испуг, горе и т.д. Эти события мешают человеку жить,  проецируя те же симптомы, на подобные жизненные ситуации, зеркально отражаясь по закону подобия всю жизнь, прогрессируя от ситуации к ситуации  разрушая психику человека.  В результате  чего  может упасть самооценка, усилиться тревога, нарушиться сон, часто появляется   упадок сил, повышенная утомляемость, может возникнуть паническая атака, развиться фобии,  депрессия, напряженность, ночные кошмары и др.  Также человек может испытывать различные негативные чувства – страх, гнев, панику, грусть, причем  постоянно.</p>
<p><b>В свете учения о единстве психики и соматики,  всякое соматическое заболевание неразрывно связано с большим или меньшим нарушением функционального состояния высшей нервной деятельности человека.</b></p>
<p>Слово оказывается  чрезвычайно могущественным лечебным фактором, производящим прямое и непосредственное воздействие на характер и динамику корковых процессов. Это открывает прямой путь к устранению патологических процессов и мобилизации необходимых внутренних ресурсов организма человека. Еще при жизни И. П. Павлова учеником его  К. М. Быковым  было экспериментально доказана возможность условнорефлекторных связей коры мозга решительно со всеми внутренними органами и системами.</p>
<p>В лабораториях Быкова (1947) также доказана возможность образования временной связи и через гуморальные пути с денервированными органами (почки, селезенка, поджелудочная железа). Это означает, что в условную реакцию вовлекаются инкреторные железы, гормоны которых в свою очередь оказывают действие через кровь на целую систему органов.</p>
<p>Таким образом, вся внутренняя среда в известной мере подчиняется влияниям коры мозга, импульсы со стороны которой могут воздействовать на состояние любого внутреннего органа и любой системы. В силу этого и благодаря временным связям кора больших полушарий осуществляет тесное взаимоотношение между внешней и внутренней средой организма.</p>
<p>При этом  все еще встречается недооценка врачами роли психотравмирующих факторов в возникновении различных расстройств функций внутренних органов и систем, а также шаблонные представления, которые  нередко заставляют искать органическую природу заболевания там, где она в действительности является  функциональной (психогенной, условнорефлекторной). Тем временем,  психогенный сбой у больного не стоит на месте, а  генерализуется и приобретает более ярко выраженный  гетерогенный характер, вовлекая все большие участки функциональной системы в патогенез.</p>
<p>По данной Всемирной организации здравоохранения примерно 60% заболеваний имеют психогенную природу. Причем в эту статистику попали только зарегистрированные случаи болезни! Потому психосоматическое направление медицины, связанное с психотерапией и психологией здоровья становится столь популярной.</p>
<p>Убери психосоматику - стресс, депрессию, страхи, фобии, негативное мышление, научи человека управлять собой, настраиваться на позитив, побеждать стресс,  и болезнь не возникнет.  Уйдет боль и  плохое самочувствие.</p>
<p>Часто мы сами создаем болезнь на психосоматическом уровне своими переживаниями и мыслями, из которых рождается неправильные действия и поступки, а значит и разрушительный вредный образ жизни.</p>
<p>Но в любом случае для исцеления болезней, имеющих психосоматические причины нужна воля самого человека, он сам должен сильно захотеть обрести здоровье.</p>
<p><b>Будьте здоровы и берегите себя!</b></p>

























































