---
layout: post
title:  Обучение классическому гипнозу
description: Классический гипноз, это наиболее ранний метод психотерапии, является одним из способов лечебного воздействия психологическими методами одного человека (психотерапевта) на психику другого человека...
categories: shkola-gipnoza
catname: Школа гипноза
permalink: "blog/:categories/:year-:month-:day-:slug.html"
---
<h4>Обучение классическому гипнозу</h4>
<p>Классический гипноз, это наиболее ранний метод психотерапии, является одним из способов лечебного воздействия психологическими методами одного человека (психотерапевта) на психику другого человека (больного), а через психику и на весь организм с целью устранения болезненного симптома, психической травмы, изменения отношения гипнотизируемого к самому себе и окружающим, что ведет в результате к повышению уровня социально-психологической адаптации и качества жизни в целом.</p>
<p>В гипнозе слишком  много всевозможных тонкостей и нюансов, без которых гипноз невозможен. Только индивидуальное обучение и индивидуальный подход к ученику дает самый высокий результат.</p>
<p><b>Программа обучения:</b></p>
<ul>
    <li>Что такое гипноз. Что означает «гипнотизировать».</li>
    <li>Что такое сознание и подсознание. Как их отличить.</li>
    <li>Что такое сознательное мышление. Ее функция. Физиология сознательного мышления.</li>
    <li>Что такое бессознательное мышление. Ее функция. Физиология  бессознательного мышления.</li>
    <li>Переход сознания и бессознательное.  Где граница?</li>
    <li>Рефлексы. Безусловные и условные рефлексы. Опыты И. П. Павлова. Условные рефлексы вокруг нас. Филогенез и онтогенез  в  физиологии условного рефлекса.</li>
    <li>Первая и вторая сигнальные системы. Соединение систем.</li>
    <li>Психофизиология возникновения торможения и возбуждения в коре головного мозга.</li>
    <li>Закон формирования психотравм.</li>
    <li>Почему только гипноз позволяет выявить и устранить причины психических расстройств.</li>
    <li>Заниженная самооценка, неуверенность в себе, комплексы,  причины их появления.</li>
    <li>Причина появления депрессии, фобии, страхов, СРК, ОКР, ВСД, расстройства пищевого поведения,  и т.д.</li>
    <li>Физиологические функции в гипнозе: давление, дыхание, ритм пульса, мышечное напряжение и т.д.</li>
    <li>Психические функции в гипнозе: сознание, голод и жажда, боль, память, анестезия и анальгезия, прогрессии и регрессии.</li>
    <li>Перевод естественного сна в гипнотический.</li>
    <li>Насильственные способы гипнотизации.</li>
    <li>Внушение. Техники внушения в бодрствующем состоянии.</li>
    <li>Раппорт. Передача раппорта через записку, фото, через предметы, передача через звуки и т.д.</li>
    <li>Что такое сознание, и где оно находится с точки зрения физиологии.</li>
    <li>Формула управления человеком. Физиологические законы.</li>
    <li>Самогипноз.</li>
    <li>Введение в тему гипноза: классический гипноз, эстрадный, эриксоновский гипноз.</li>
    <li>Упражнения для тренировки глаз.</li>
    <li>Три стадии глубины гипноза в классическом, эриксоновском гипнозе. Классификация Е. С.  Каткова.</li>
    <li>Классический гипноз, эриксоновский гипноз. Тесты на гипнабельность. Упражнения на доверие.</li>
    <li>Техники классического гипноза с практикой. Каталептический мост.</li>
    <li>Кто лучше поддается гипнотизации.</li>
    <li>Вопросы и ответы.</li>
</ul>
<p>Обучение проводится индивидуально и занимает по времени 5 часа. Стоимость обучения 20000 рублей.</p>
<p>Применение аудио и видео средств во время обучения гипнозу не разрешается.</p>
<p><b>Внимание! Вам может быть отказано в обучении без объяснения причин. В этом случае все деньги вам возвращаются</b></p>
<h4>Разновидности гипноза.</h4>
<h4>Классический гипноз.</h4>
<p>Классический  гипноз в виде сонного торможения всей коры с сохранением бодрствующего участка (зоны рапорта) называется летаргическим.  Летаргия -характеризуется тем, что при погружении в ту или иную глубину гипнотического состояния, тело человека расслабляется все больше и больше.</p>
<p>Если в малом гипнозе летаргического типа поднять руку испытуемого вверх, то вы почувствуете тяжесть в поднятой конечности; если внезапно отнять свою поддерживающую руку, рука загипнотизированного моментально упадет вниз, словно налитая свинцом.</p>
<p>В среднем (по глубине) гипнозе летаргического типа это отяжеление мускулатуры выражено еще больше.</p>
<p>В глубоком гипнозе летаргического типа тело испытуемого расслабляется так, что положенное спиной на узкую подставку или спинку стула изгибается настолько, насколько это позволяет костный остов. Так велико расслабление всей мускулатуры тела. Наблюдается феномен  так называемой «летаргической дуги».</p>
<h4>Каталептический гипноз.</h4>
<p>При каталептическом  гипнозе у испытуемого  возникает одергивание мускулатуры. Тело человека по мере засыпания и углубления гипноза становится все более и более крепким, мышцы человеческого тела напрягаются все больше.</p>
<p>Если поднять руку испытуемого в малом гипнозе каталептического типа вверх, то рука словно застынет в воздухе. Если отнять поддерживающую руку, то можно видеть, как рука испытуемого остается в воздухе, «как палка».</p>
<p>В среднем гипнозе каталептического типа можно наблюдать феномен так называемой «восковидной гибкости», когда тело испытуемого застывает в тех позах (подчас весьма затейливых), которые вы ему придали.</p>
<p>В глубоком гипнозе каталептического типа напряжение мускулатуры настолько велико, что положенное ногами на спинку одного стула, а головой — на спинку другого, тело человека застывает как «каталептический мост». Этот феномен каталептического моста в старину поражал воображение естество-испытателей. На грудь такого испытуемого можно было встать, положить большой камень, а человек как ни в чем не бывало продолжал спать. После пробуждения испытуемый ничего не помнил и никаких неприятных ощущений не испытывал. Каталептический тип гипноза ближе всего стоит к гипнозу животных.</p>
<h4>Сомнабулический гипноз.</h4>
<p>Сомнабулический  гипноз — сомнамбулизм — характеризуется тем, что в нем наблюдается ряд интересных явлений автоматизма.</p>
<p>Если в малом гипнозе сомнамбулического типа гипнотизер начнет вращать одной рукой гипнотика вокруг другой, то это вращение будет продолжаться и тогда, когда экспериментатор отнимет свои руки.</p>
<p>В среднем гипнозе сомнамбулического типа можно наблюдать ряд уже более сложных движений. Так, например, загипнотизированный может спать сидя, стоя; совершать ряд весьма сложных движений профессионального характера. Может спать с открытыми глазами, отвечать на вопросы не просыпаясь. Чувствительность испытуемого понижена, он резко заторможен, рефлексы снижены.</p>
<p>В глубоком гипнозе сомнамбулического типа наблюдается феномен снохождения, когда загипнотизированный по суггестии гипнолога движется по комнате, совершает ряд весьма сложных движений, напоминая лунатика. Все движения испытуемого гибки, плавны. Он не производит впечатления спящего. Гипнотический сомнамбулизм третьей стадии представляет собой наиболее глубокую степень гипнотического состояния, во время которого испытуемый выполняет феномены регрессии возраста, снохождения, изменения личности, внушенного ожога, спонтанной амнезии, положительные и отрицательные галлюцинации и др.</p>
<h4>Психологический гипноз наяву или ( ИСС ).</h4>
<p>В основе психологического гипноза лежит феномен установления внушающего раппорта в состоянии частичного или полного бодрствования сознания испытуемого.</p>
<p>В этом виде гипноза на фоне активной коры обоих полушарий мозга в одном или нескольких участках мозга возникает одна или несколько зон сверхвозбуждения. Основными источниками вызывания и углубления этого вида гипноза являются воздействия словами на память, воображение, зрение, слух и ощущения испытуемого. Глаза у испытуемого могут быть открыты, но наступают провалы памяти, провалы критического самосознания, ускорение ощущения количества времени, каталептические феномены обездвиживания, нарастание подчиненности словам, жестам и чувствам гипнотизера, положительные и отрицательные галлюцинации и др.</p>































