---
layout: post
title:  Как пережить разочарование в любви
description: Если тебя одолевает любовная зависимость, депрессия, разочарование в любви,  если ты хочешь раз и навсегда избавиться от нее и снова стать самим собой — гордым, свободным, счастливым и независимым человеком, то...
categories: dlya-muzhchin
catname: Для мужчин
permalink: "blog/:categories/:year-:month-:day-:slug.html"
---
<p>Многие из нас когда-нибудь переживали разочарование в любви. Это состояние настолько болезненно, что может довести до депрессии, а у людей с неустойчивой психикой вызывает даже мысли о суициде. Мужчина, у которого разбито сердце, чаще всего замыкается в себе, он  молчалив, он перестает доверять женщинам, перестает  верить в возможность новых отношений.</p>
<h4>Как пережить боль разочарование в любви и вернутся к нормальной жизни?</h4>
<ul>
    <li>Нельзя зацикливаться на своей боли, ведь жизнь состоит не только из отношений. В ней много всего интересного и увлекательного помимо любви. Для начала переключите внимание на какой-нибудь вид деятельности, который полностью займет ваш ум и силы. Хорошим антидепрессантом является любимая работа, желательно связанная с творчеством. Туда же можно отнести спорт, хобби, увлечения, интересную учебу. Занимаясь делом, вы сможете отвлечься и постепенно восстановить душевное равновесие.</li>
    <li>Необходимо принять тот факт, что все люди разные, и никто не обязан полностью соответствовать чьим-то ожиданиям. Возможно, бывшая партнерша, просто не обладала теми качествами, которыми вы его наделили в порыве чувств. Может быть, она просто не та, кто вам нужен. Просто примите это, возьмите паузу, а через время попробуйте найти своего человека.</li>
    <li>Подумайте о том, что есть люди, которым гораздо хуже, чем вам. Согласитесь, разочарование в любви все же легче пережить, чем лишения, тяжелые условия жизни или ограниченные физические возможности.</li>
    <li>Проанализируйте свои прошлые отношения, чтобы не ошибиться в следующий раз. Подумайте, почему с вами произошла такая ситуация, не повторяется ли она уже в который раз. Если это так, есть большая вероятность, что в чем-то вы ведете себя неправильно.</li>
</ul>
<p>Бывает, что причиной очередных неудавшихся отношений являются психологические проблемы, которые идут из детства. Это может неудовлетворенная в детстве потребность в родительской любви. Или у вас есть психологическая травма, которая стала причиной определенного поведения. Все это лучше разбирать с квалифицированным гипнотерапевтом.</p>
<p>Наши эмоции и чувства  иррациональны и управляются нашим подсознанием. Если бы мы могли  менять их легко!  Многие причины нашего поведения, привычки, установки, а тем более чувства  не поддаются логическому объяснению.  Точнее поддаются, но пытаясь что-то объяснить себе на уровне логики или рационализации, мы очень часто ошибаемся. Истинные причины скрыты в нашем подсознании, и  мы не помним их.  С помощью гипноза под руководством опытного гипнолога вы сможете найти причину ваших страданий и проработать ее. Почему не получилось,  есть ли в этом ваша вина, или почему вы наступаете на одни и те же грабли?  Да, все это вы сможете узнать у вашего подсознания.  Если вы уже пробовали самостоятельно выйти из душевных терзаний, но у вас не получилось, мы можем вам в этом помочь!</p>
<p>Не тратьте свою жизнь впустую на того, кому вы не нужны. Дайте себе возможность жить своей жизнью и жизнью того человека, который будет любить вас так же сильно как вы его.</p>
<p>Если тебя одолевает любовная зависимость, депрессия, разочарование в любви,  если ты хочешь раз и навсегда избавиться от нее и снова стать самим собой — гордым, свободным, счастливым и независимым человеком, то  мы поможем тебе в этом.</p>
<p>Существуют разные способы избавления от  любовной зависимости,  разочарования в любви, депрессии, но единственным эффективным методом является гипноз. Именно гипноз даёт самый быстрый и эффективный результат по избавлению от этого состояния.</p>
<p><b>За 20 лет практики нами разработана уникальная авторская методика, опирающаяся исключительно на научные нейрофизиологические  исследования наших светил -  советских академиков и профессоров. Профессиональное воздействие по  нашей авторской методике  относится к самым результативным услугам в настоящее время.  Гипнотерапия отлично работает на бессознательном уровне, позволяя делать желательные изменения на глубинных уровнях нашей психики, приводящие к положительным изменениям.</b></p>
<p>В настоящее время гипноз все больше набирает популярность среди специалистов и обычных людей.  Люди обращаются к гипнологам по разнообразным причинам. Самыми распространенными ситуациями применения гипноза являются различные неврозы, фобии, страхи, депрессии, ОКР, СРК, ВСД,  пищеварительные, сексуальные нарушения, коррекция поведенческих реакций человека, заниженная самооценка, комплексы, вредные привычки. Причем в этих случаях, гипнотерапия остается единственным результативным методом, так как нацелена  на избавление больного от причин его заболевания, в то время как все остальные методы, включая фармацевтические, претендуют только на временное снятие симптомов.</p>
<p>Успешное применение гипноза при лечении столь широкого круга заболеваний связанно с тем, что точкой приложения лечебного слова в гипнозе - являются большие полушария головного мозга человека, которые управляют всеми органами и системами  организма. Слово в гипнозе оказывается  чрезвычайно могущественным лечебным фактором, производящим прямое и непосредственное воздействие на характер и динамику корковых процессов. Это открывает прямой путь к устранению патологических процессов и мобилизации необходимых внутренних ресурсов организма человека. Ибо в свете учения о единстве психики и соматики,  всякое соматическое заболевание неразрывно связано с большим или меньшим нарушением функционального состояния высшей нервной деятельности человека.</p>
<p><b>Поэтому гипнотерапия  – это единственный метод психологической помощи человеку, позволяющий устранить причину  любовной зависимости,  разочарования в любви, депрессию,  а не ее симптом, оказывая  прямое и непосредственное воздействие на характер и динамику корковых процессов, мобилизуя необходимые внутренние ресурсы организма человека.</b></p>
<h4>Возможны ли побочные эффекты от гипноза?</h4>
<p>Как утверждают специалисты, на сегодняшний день таких фактов не выявлено. Исследования в разное время проводились такими видными и авторитетными  учеными как:  В. М. Бехтерев, И. П. Павлов,  С. С. Либих (1974), А. И. Захаров (1982), А. А. Токарский (1989), М. С. Лебединский,  А. Т. Пшоник (1952), Л. Л. Васильев,  И. П. Брязгунов (1970) Л. Черток (1972), В. И. Сухорукова (1977), П. К. Анохин,  Н. Е. Введенский (1911-1913),  Н. И. Красногорский,  В. М. Шкловский (1975, 1994),   В. Н. Мясищев, Ю. А. Поворинский (1950), С. Н. Давиденков, К. М. Варшавский (1973), С. С. Кор-саков, К. М. Быков, А. М.Свядощ (1982), В. Я. Данилевский, Б. Н. Бирман (1922,1925, 1946),  Л. Б. Гаккель (1955),  Д. Я.  Венгеровский (1955),   И. 3. Вельвовский (1984), А. Л. Гройсман, К. И. Платонов (1957), С. Л. Рубинштейн, В. Е. Рожнов, А. А. Ухтомский, И. М. Сеченов, А.М. Свядощ, А. П. Слободяник, Е. С.  Катков,  М. П. Кутании,  В. В. Кузьмин,  П. П.  Подъяпольский,  Е. Н. Довбня, Ф. Е. Рыбаков, В. Н. Хорошко, А. И. Яроцкий, А. Ф. Лазурский, Ю. В. Каннабих, В. М. Нарбут, Ф. Д. Неткачев, В. А. Гиляровский, М. В. Стрельчук, Г. В. Морозов, В. М. Банщиков, Н. В. Иванов, Н. К. Липгарт, А. Г. Иванов-Смоленский, и др. Учеными доказано, что психика человека саморегулируется во время лечебного транса, мобилизуются его внутренние резервы, активизируются защитные силы организма (компенсаторные), гомеостаз организма приходит в норму, а потому опасности для психического и физиологического здоровья пациента нет.</p>
<p><b>Положительные стороны гипнотического лечения:</b></p>
<ul>
    <li>Полное отсутствие медикаментозного влияния на организм человека.</li>
    <li>Нет побочного эффекта.</li>
    <li>Полезно. Нормализует гомеостаз организма, укрепляет ЦНС, и т.д.</li>
    <li>Устраняет причины заболевания.</li>
    <li>Дешевле.</li>
</ul>
<p>Сеанс гипноза сам по себе является целебным для человека. Гипноз улучшает общее самочувствие человека, обеспечивает слаженную работу всех органов и систем организма,  его (гомеостаз), что позволяет пациенту ощутить новый прилив жизненных сил. Он положительно влияет на работу многих органов и систем: сердечно - сосудистой, дыхательной, эндокринной, пищеварительной, ЦНС, помогает при бессоннице, снимает раздражительность, уменьшает беспокойство, и т.п.</p>
<p>Самостоятельные попытки  пережить разочарование в любви, любовную зависимость, депрессию, приводит к обратному эффекту, с дальнейшим угнетением ЦНС, с повышением раздражительности, тревожности, апатии, углублению депрессии.  Сознательными доводами невозможно устранить  этот недуг,  так как источник их кроется в сфере бессознательного, что и является основанием для лечения этого недуга с помощью гипноза.  И только гипнотерапия помогает преодолеть негативные последствия для вашей нервной системы.</p>
<p>Мы  поможем разобраться с причинами возникновения  любовной зависимости, разочарования в любви, депрессии, с помощью гипноза найти и проработать их на глубинном уровне. Пройдя курс гипнотерапии, вы легко сможете взглянуть на себя и свою жизнь по новому, чтобы начать все с чистого листа.</p>
<p><b>Будьте здоровы и счастливы!</b></p>

































