---
layout: post
title:  Принятие собственной сексуальности, женственности
description: Традиционно сексуальность воспринимается в современном обществе как нечто, относящееся сугубо к половым контактам. Однако это понятие намного шире. Для женщины сексуальность означает принятие...
categories: dlya-zhenshhin
catname: Для женщин
permalink: "blog/:categories/:year-:month-:day-:slug.html"
---
<p>Традиционно сексуальность воспринимается в современном обществе как нечто, относящееся сугубо к половым контактам. Однако это понятие намного шире. Для женщины сексуальность означает принятие своего физического облика, своей внешности, эмоциональности, манеры поведения, и неразрывно связана с понятием женственности. Сексуальная женщина понимает, чем она отличается от мужчины, и может выстраивать гармоничные отношения, исходя из этого.</p>
<p>Каждая женщина от природы наделена сексуальностью. Но не каждая способна принять её в себе.</p>
<p><b>Проблема принятия собственной женственности имеет множество истоков:</b></p>
<ul>
    <li>Девочка-сорванец играет с мальчиками в машинки и «войнушку», лазает по деревьям и считается в коллективе «своим парнем». Она пользуется авторитетом у сверстников и привыкает к такой модели поведения. С наступлением полового созревания девушка-сорванец не понимает, что изменилось, и пытается добиться внимания противоположного пола привычными способами. Однако это уже не срабатывает, развитие женственности угнетено изначально, и перестроиться оказывается крайне сложно. Возникает внутриличностный конфликт.</li>
    <li>В детских коллективах присутствует особая жестокость к лицам, чем-то отличающимся от остальных. Девочки, у которых раньше других стали заметны признаки взросления (увеличилась грудь, округлились формы), становятся объектами насмешек. Это заставляет их стесняться собственной зарождающейся женственности, прятать её под мешковатой одеждой. Иногда такой комплекс может сохраняться у девушек длительное время.</li>
    <li>Изначально в обществе мужские качества приветствуются больше, чем женские. Сила, решительность, напор и целеустремлённость – вот основные слагаемые успеха. Женщины осваивают мужские профессии, бравируя и наслаждаясь этим. Поднимаясь всё выше по карьерной лестнице, женщина начинает задумываться, почему не ладится её личная жизнь. Ответ прост: она забыла о своей сексуальности, сознательно подавила её в себе, предпочла смелость и упорство нежности и уступчивости, что вовсе не привлекает мужчин.</li>
</ul>
<p>Женская сексуальность – это мягкие, плавные движения, лёгкая улыбка на лице. Это умение «обходить» конфликты, не вступать в схватки. Умение поддерживать тепло в домашнем очаге, найти общий язык, успокоить, снять стресс. Гармония тела и души – основная составляющая женственности.</p>
<p>Уход за телом, кожей, волосами, сеансы спа-процедур и даже обычный шопинг могут напомнить женщине о собственной сексуальности, а прекрасный внешний вид заставит вновь почувствовать себя желанной. Творчество во всех его проявлениях – живопись, музыка, рукоделие, дизайн – помогут ощутить свою неповторимость, восстановить гармонию во внутреннем мире. Если это не удаётся сделать самой, то гипнотерапия – один из способов, помогающий помочь в обретении этой гармонии. Работа осуществляется по двум направлениям – принятие собственного тела и восстановление утерянного чувства сексуальности (Sex в переводе с англ. – пол), принадлежности к прекрасному полу.</p>
<p><b>За 20 лет практики нами разработана уникальная авторская методика, опирающаяся исключительно на научные нейрофизиологические  исследования наших светил -  советских академиков и профессоров. Профессиональное воздействие по  нашей авторской методике относится к самым результативным услугам в настоящее время. Она нацелена на избавление от  психогенных причин возникновения непринятия собственной женственности. Гипнотерапия отлично работает на бессознательном уровне, позволяя делать желательные изменения на глубинных уровнях нашей психики, приводящие к положительным изменениям.</b></p>
<p><b>Гипнотерапия  – это единственный метод психологической помощи человеку, позволяющий устранить причину  нарушений, а не ее симптом, оказывая  прямое и непосредственное воздействие на характер и динамику корковых процессов, мобилизуя необходимые внутренние ресурсы организма человека.</b></p>
<h4>Возможны ли побочные эффекты от гипноза?</h4>
<p>Как утверждают специалисты, на сегодняшний день таких фактов не выявлено. Исследования в разное время проводились такими видными и авторитетными  учеными как:  В. М. Бехтерев, И. П. Павлов,  С. С. Либих (1974), А. И. Захаров (1982), А. А. Токарский (1989), М. С. Лебединский,  А. Т. Пшоник (1952), Л. Л. Васильев,  И. П. Брязгунов (1970) Л. Черток (1972), В. И. Сухорукова (1977), П. К. Анохин,  Н. Е. Введенский (1911-1913),  Н. И. Красногорский,  В. М. Шкловский (1975, 1994),   В. Н. Мясищев, Ю. А. Поворинский (1950), С. Н. Давиденков, К. М. Варшавский (1973), С. С. Кор-саков, К. М. Быков, А. М.Свядощ (1982), В. Я. Данилевский, Б. Н. Бирман (1922,1925, 1946),  Л. Б. Гаккель (1955),  Д. Я.  Венгеровский (1955),   И. 3. Вельвовский (1984), А. Л. Гройсман, К. И. Платонов (1957), С. Л. Рубинштейн, В. Е. Рожнов, А. А. Ухтомский, И. М. Сеченов, А.М. Свядощ, А. П. Слободяник, Е. С.  Катков,  М. П. Кутании,  В. В. Кузьмин,  П. П.  Подъяпольский,  Е. Н. Довбня, Ф. Е. Рыбаков, В. Н. Хорошко, А. И. Яроцкий, А. Ф. Лазурский, Ю. В. Каннабих, В. М. Нарбут, Ф. Д. Неткачев, В. А. Гиляровский, М. В. Стрельчук, Г. В. Морозов, В. М. Банщиков, Н. В. Иванов, Н. К. Липгарт, А. Г. Иванов-Смоленский, и др. Учеными доказано, что психика человека саморегулируется во время лечебного транса, мобилизуются его внутренние резервы, активизируются защитные силы организма (компенсаторные), гомеостаз организма приходит в норму, а потому опасности для психического и физиологического здоровья пациента нет.</p>
<p><b>Положительные стороны гипнотического лечения:</b></p>
<ul>
    <li>Полное отсутствие медикаментозного влияния на организм человека.</li>
    <li>Нет побочного эффекта.</li>
    <li>Полезно. Нормализует гомеостаз организма, укрепляет ЦНС, и т.д.</li>
    <li>Устраняет причины расстройства.</li>
    <li>Дешевле.</li>
</ul>
<p>Сеанс гипноза  сам по себе является целебным для человека. Гипноз улучшает общее самочувствие человека, обеспечивает слаженную работу всех органов и систем организма,  его (гомеостаз), что позволяет пациенту ощутить новый прилив жизненных сил. Он положительно влияет на работу многих органов и систем: сердечно - сосудистой, дыхательной, эндокринной, пищеварительной, ЦНС, помогает при бессоннице, снимает раздражительность, уменьшает беспокойство, и т.п.</p>
<p>Наши опытные гипнологи  помогут разобраться с причинами непринятия собственной женственности, с помощью гипноза найти и проработать их на глубинном уровне. Пройдя курс гипнотерапии, вы легко сможете взглянуть на себя и свою жизнь по новому.  Принятие собственной сексуальности, женственности – ключ к выстраиванию отношений не только с противоположным полом, но и с обществом в целом.</p>
<p>Мы поможем вам разобраться в себе и найти внутри себя опору, ту женственность и сексуальность, которая природой заложена именно в вас.</p>
<p><b>Будьте здоровы и счастливы!</b></p>





























