---
layout: post
title:  Наличие определенного типа звисимости
description: Зависимость (психологическая или физиологическая)  - это модель, которая работает на бессознательном уровне, по типу бегство от боли к более приятному.
categories: psihoterapiya
catname: Психотерапия
permalink: "blog/:categories/:year-:month-:day-:slug.html"
---
<p>Чувствуете ли вы зависимость от чего-либо, что влияет на ваше самочувствие и поведение? (Например, зависимость от человека, от еды, от сигарет, от азартных игр, может быть это алкоголь или желание поковыряться в носу, повыдергивать себе волосы, погрызть ногти,  и т.п.). У вас есть ощущение, что этот объект или желание управляет вами, а не вы им? Вы замечаете, что эта зависимость влияет на ваши отношения с другими людьми, на здоровье, карьеру, семью, но не в силах сдержать себя или остановиться?</p>
<p><b>К счастью существует эффективный метод борьбы с этим недугом.</b></p>
<p>Зависимость (психологическая или физиологическая)  - это модель, которая работает на бессознательном уровне, по типу бегство от боли к более приятному. Болью может быть что угодно, страхи, депрессия, стрессы и т.д.    Желание заесть горе,  или наоборот,  отвлечься от проблем   успокоив себя грызя ногти, приобретает адаптационный смысл для организма.   И здесь  не достаточно одной силы воли, потому что обычные привычки,  как один два раза в неделю,  стали для вас «наркотиком» без которого вы не можете жить и дышать.</p>
<p>С помощью гипнотерапии,  мы помогаем нашим пациентам избавляться от разного рода зависимостей. Мы помогли многим пациентам взять под контроль свою жизнь и освободиться от того, что вначале доставляло удовольствие, а потом перешло в проблему.</p>
<p>В настоящее время гипноз все больше набирает популярность среди специалистов и обычных людей.  Люди обращаются к гипнологам по разнообразным причинам. Самыми распространенными ситуациями применения гипноза являются различные неврозы, фобии, страхи, депрессии, ОКР, СРК, ВСД,  пищеварительные, сексуальные нарушения, коррекция поведенческих реакций человека, заниженная самооценка, комплексы, вредные привычки. Причем в этих случаях, гипнотерапия остается единственным результативным методом, так как нацелена  на избавление больного от причин его заболевания, в то время как все остальные методы, включая фармацевтические, претендуют только на временное снятие симптомов.</p>
<p>Тем временем,  психогенный сбой у больного не стоит на месте, а  генерализуется и приобретает более ярко выраженный  гетерогенный характер, вовлекая все большие участки функциональной системы в патогенез.</p>
<p>Успешное применение гипноза при лечении столь широкого круга заболеваний связанно с тем, что точкой приложения лечебного слова в гипнозе - являются большие полушария головного мозга человека, которые управляют всеми органами и системами  организма. Слово в гипнозе оказывается  чрезвычайно могущественным лечебным фактором, производящим прямое и непосредственное воздействие на характер и динамику корковых процессов. Это открывает прямой путь к устранению патологических процессов и мобилизации необходимых внутренних ресурсов организма человека. <b>Поэтому гипнотерапия – это единственный метод психологической помощи человеку, позволяющий устранить причину заболевания на всю жизнь, а не ее симптом. Наш авторский метод гипнотерапии поможет вам избавиться от вашего недуга на всю жизнь!</b></p>
<p><b>За 20 лет практики нами разработана уникальная авторская методика, опирающаяся исключительно на научные нейрофизиологические  исследования наших светил -  советских академиков и профессоров. Профессиональное воздействие по  нашей авторской методике  относится к самым результативным услугам в настоящее время.  Она нацелена не только на избавление от вредной привычки, зависимости,  но и от психогенных причин  их возникновения.  Гипнотерапия отлично работает на бессознательном уровне, позволяя делать желательные изменения на глубинных уровнях нашей психики, приводящие к положительным изменениям.  Это очень важно, потому,  что,   как правило,  зависимости затрагивают все сферы жизни человека, и выкарабкиваться из грязной ямы в одиночку очень сложно.</b></p>
<p><b>При помощи гипнотерапии успешно лечатся различные формы зависимостей, такие как:</b></p>
<ul>
    <li>Любовная зависимость</li>
    <li>Алкогольная зависимость</li>
    <li>Наркотическая  зависимость</li>
    <li>Пищевая зависимость</li>
    <li>Зависимость от азартных игр</li>
    <li>Интернет зависимость</li>
    <li>Зависимость от порнографии</li>
    <li>Сексомания</li>
    <li>Смартфонзависимость</li>
    <li>Зависимость от привычки грызть ногти, выдергивать волосы, ковырять в носу, сосать палец.</li>
    <li>И тд.</li>
</ul>
<p><b>Гипноз и гипнотерапия при избавлении от зависимостей могут помочь:</b></p>
<ul>
    <li>Устранить желание совершать навязчивые действия</li>
    <li>Изменить мышление и эмоциональное реагирование на определенные стимулы, вызывающие желание вновь оказаться в плену зависимости</li>
    <li>Поиск и изменение факторов, вызывающих зависимость, на глубинном уровне вашей психики, чтобы дать место позитивным изменениям</li>
    <li>Повысить доверие к себе и самоуважения, для того, чтобы научиться управлять своими желаниями</li>
    <li>Снизить уровень стресса, который негативно влияет на процесс излечения от зависимости</li>
    <li>Освободиться от эмоций, которые вы сдерживали долгое время</li>
</ul>
<p>В процессе гипнотерапии могут возникнуть дополнительные вопросы, связанные с образом жизни, поэтому очень важно увидеть, как вы хотите прожить свою жизнь без зависимости, гипноз позволяет это сделать.</p>
<p>Нерешенные проблемы или внутренние конфликты часто провоцируют вас на определенные действия, которые впоследствии становятся вредными для вас. Гипнотерапия позволяет проработать их, и делать это совместно с избавлением от зависимостей. Обычно убрав причину, корень проблемы, привычка отпадает сама собой. И человек вновь возвращается в свою настоящую комфортную жизнь.</p>
<p>Представьте себе, как хорошо вам будет,  как только вы освободитесь от зависимости, каково это вновь почувствовать себя свободным и легким? Когда вы управляете своей жизнью и своими желаниями, когда вы верите в себя,  и становитесь примером для других, таких же как вы…. Когда вы обретете спокойствие и ясный ум, желание… но не быть зависимым, а двигаться вперед по новому, ища свой  путь к счастью.</p>
<h4>Возможны ли побочные эффекты от гипноза?</h4>
<p>Как утверждают специалисты, на сегодняшний день таких фактов не выявлено. Исследования в разное время проводились такими видными и авторитетными  учеными как:  В. М. Бехтерев, И. П. Павлов,  С. С. Либих (1974), А. И. Захаров (1982), А. А. Токарский (1989), М. С. Лебединский,  А. Т. Пшоник (1952), Л. Л. Васильев,  И. П. Брязгунов (1970) Л. Черток (1972), В. И. Сухорукова (1977), П. К. Анохин,  Н. Е. Введенский (1911-1913),  Н. И. Красногорский,  В. М. Шкловский (1975, 1994),   В. Н. Мясищев, Ю. А. Поворинский (1950), С. Н. Давиденков, К. М. Варшавский (1973), С. С. Кор-саков, К. М. Быков, А. М.Свядощ (1982), В. Я. Данилевский, Б. Н. Бирман (1922,1925, 1946),  Л. Б. Гаккель (1955),  Д. Я.  Венгеровский (1955),   И. 3. Вельвовский (1984), А. Л. Гройсман, К. И. Платонов (1957), С. Л. Рубинштейн, В. Е. Рожнов, А. А. Ухтомский, И. М. Сеченов, А.М. Свядощ, А. П. Слободяник, Е. С.  Катков,  М. П. Кутании,  В. В. Кузьмин,  П. П.  Подъяпольский,  Е. Н. Довбня, Ф. Е. Рыбаков, В. Н. Хорошко, А. И. Яроцкий, А. Ф. Лазурский, Ю. В. Каннабих, В. М. Нарбут, Ф. Д. Неткачев, В. А. Гиляровский, М. В. Стрельчук, Г. В. Морозов, В. М. Банщиков, Н. В. Иванов, Н. К. Липгарт, А. Г. Иванов-Смоленский, и др. Учеными доказано, что психика человека саморегулируется во время лечебного транса, мобилизуются его внутренние резервы, активизируются защитные силы организма (компенсаторные), гомеостаз организма приходит в норму, а потому опасности для психического и физиологического здоровья пациента нет.</p>
<p><b>Положительные стороны гипнотического лечения:</b></p>
<ul>
    <li>Полное отсутствие медикаментозного влияния на организм человека.</li>
    <li>Нет побочного эффекта.</li>
    <li>Полезно. Нормализует гомеостаз организма, укрепляет ЦНС, и т.д.</li>
    <li>Устраняет причины заболевания.</li>
    <li>Дешевле.</li>
</ul>
<p>Сеанс гипноза, сам по себе является целебным для человека. Гипноз улучшает общее самочувствие человека, обеспечивает слаженную работу всех органов и систем организма,  его (гомеостаз), что позволяет пациенту ощутить новый прилив жизненных сил. Он положительно влияет на работу многих органов и систем: сердечно - сосудистой, дыхательной, эндокринной, пищеварительной, ЦНС, помогает при бессоннице, снимает раздражительность, уменьшает беспокойство, и т.п.</p>
<p>Самостоятельные попытки избавится от вредной привычки,   оборачиваются синдромом отмены:  проблемами с сердцем и сосудами, отсутствием аппетита, повышенным потоотделением, головными болями,  нарушением  дыхания,  повышенной нервозностью, нарушением сна, раздражительностью, человек угнетен или подвержен вспышкам агрессии, к тому же, чем дольше борешься, тем сильнее попадаешь от нее в зависимость,  а неудача, приводит к разочарованию в своих силах, психологической зажатости, комплексу неполноценности.   И только гипнотерапия помогает преодолеть негативные последствия  для вашей нервной системы.</p>
<p>Человек, зависимый от  вредной привычки должен понимать, с чем он может справиться, а с чем нет и уметь вовремя попросить помощь, а не ждать  когда «кондрашка хватит».</p>
<p>Чтобы избавиться от вредной привычки  с помощью гипноза, человек должен соглашаться на эту процедуру осознанно, искренне желать преодолеть зависимость! Наш авторский метод   позволит вам вернуться к нормальной жизни и получать от нее удовольствие.</p>
<p><b>Будьте здоровы и берегите себя!</b></p>




























