---
layout: post
title:  Трудности в общении с людьми
description: Неуверенность в себе — это  присутствие сомнений в своих умениях, выборах, силах, и исполнении задуманного, на почве чего возникает внутренний страх, а в критичных случаях даже отказ от выполнения активных действий.
categories: psihoterapiya
catname: Психотерапия
permalink: "blog/:categories/:year-:month-:day-:slug.html"
---
<p>В нашем обществе, в просторах огромных мегаполисов,  проблема неуверенности в себе становится глобальной.</p>
<p><b>Неуверенность в себе</b> — это  присутствие сомнений в своих умениях, выборах, силах, и исполнении задуманного, на почве чего возникает внутренний страх, а в критичных случаях даже отказ от выполнения активных действий.</p>
<p>Сомнения часто одолевают таких людей. Даже принятие пустякового решения связано с большими усилиями. Неуверенность часто возникает в ситуации незнакомой среды и человек начинает вести себя агрессивно или, наоборот, замыкается в себя. Что в первом, что во втором случае — поведение становится неадекватным и приводит к проигрышной ситуации.</p>
<p>Причины неуверенности скрываются в детстве.  В раннем детстве психика ребенка очень хрупкая, и дети повышенно внушаемы. В этот период времени формируется психика ребенка и закладывается модель поведения в той или иной ситуации по законам условного рефлекса. Неуверенность в себе прививается родителями в возрасте от 2 лет.   Очень часто это очень властные родители, не терпящие возражений. Бывает, что один из родителей, тиран в семье. Агрессивная реакция на ошибки ребенка, оскорбления, рукоприкладство и т.д. вырабатывают в ребенке неуверенность в себе, страх принимать решения, заниженную самооценку и комплексы неполноценности. Встречаются и такие случаи, когда ребёнок просто срисовывает шаблоны поведения с окружающих детей, родителей,  или пытаясь приспособиться к какой либо ситуации.  В таком возрасте неуверенность кажется очень полезным чувство, и ребёнок пытается извлечь из нее выгоду.  Впоследствии эта выгода закрепляется и живет своей жизнью. В дальнейшем неуверенность может формироваться человеком в силу некого отрицательного опыта, который человек воспринимает как неудачу, и вместо того, чтобы найти причину и ситуацию изменить, ставит себе "блок" и формирует еще большую неуверенность.</p>
<p>Но все дело в том, что  неуверенность в себе и комплексы неполноценности закладываются и закрепляются в бессознательной сфере человека по законам условно – рефлекторных связей,  замыкаясь на соматические проявления. И сознательно избавиться от этих проблем очень непросто, иначе бы человек мог бы сам справиться с этим недугом.</p>
<p>Неуверенный в себе человек чувствует застенчивость и неловкость, неуверенность в себе и в своих действиях, нерешительность и скованность,  робость, неудобство в некоторых ситуациях, чувство  собственной неполноценности, негативные мысли о себе, и т.д. Основа неуверенности в себе – низкая самооценка и страх неудачи!</p>
<p><b>Неуверенность в себе – это низкая самооценка и страх…. Страх неудачи!</b></p>
<p><b>Таким образом, страх состоит их трех компонентов:</b></p>
<ol>
    <li>Когнитивных (субъективных) - я боюсь.</li>
    <li> Физиологических  вегетативных реакций (учащение сердцебиения, одышка, потливость, дрожь, тряска в руках и ногах, в животе, учащение мочеиспускания, резкого побледнения или покраснения.)</li>
    <li>Поведенческих (настойчивое желание уйти, убежать, к стремлению избегать ситуаций, чреватых, по их мнению, опасностью или угрозой, стремление быть незаметным).</li>
</ol>
<p><b>Основные признаки неуверенного человека:</b></p>
<ul>
    <li>Не делают то, что им хотелось бы, потому что наверняка знают, что не получится (недостаточно знаний, опыта, образования, красоты или чего-то еще)</li>
    <li>Общаются с теми людьми, которые не нравятся или которые их унижают</li>
    <li>Не могут отказать в просьбе</li>
    <li>Их мнение о себе напрямую зависит от того, что говорят о них окружающие</li>
    <li>Понимают, что недостойны того, что им хочется</li>
    <li>Сравнивают себя со знакомыми, друзьями, коллегами, соседями</li>
    <li>Сомнение, напряжение, смущение – их постоянные спутники</li>
</ul>
<p><b>Причины заниженной самооценки и неуверенности в себе  могут быть связаны со следующими факторами:</b></p>
<ul>
    <li>Низкий социальный статус;</li>
    <li>Неблагоприятная семейная обстановка, особенно в период детства;</li>
    <li>Неправильное воспитание в детстве,  когда родители уделяют мало времени и внимания своему ребенку, когда никто не говорит им ободряющих слов, которые могли бы придать им уверенности в себе, а наоборот ругают или оскорбляют, если у них что - то не получается.</li>
    <li>Сильное желание ребенка, которое не смогло осуществиться (хотел покачать любимую маленькую сестру в коляске, но нечаянно уронил ее; мечтал проснуться рядом с отцом, но тот внезапно уехал, а ребенок проснулся один в пустой темной комнате и т.п.).</li>
    <li>Постоянные неудачи в личной жизни и карьере;</li>
    <li>Негативный опыт -  когда приходится вновь и вновь проходить через тревожащую ситуацию (столкновение с осмеянием, осуждением или любым другим негативным впечатлением).</li>
    <li>Наличие физических недостатков;</li>
    <li>Постоянная критика от окружающих;</li>
    <li>Неуверенность в себе и собственных силах;</li>
    <li>Чрезмерная опека родителей;</li>
    <li>Низкая успеваемость;</li>
</ul>
<p>Писать подробней этот список не имеет никакого смысла, так как каждый случай индивидуален и состоит из  сложных сочетаний  разнообразных проявлений в физиологическом психическом и психологическом  смыслах.</p>
<p><b>Заниженная самооценка и неуверенность в себе</b> – заболевание, характеризующееся нарушением физиологических и эмоциональных ощущений человека, когда он ощущает собственную ущербность и иррационально верит в превосходство окружающих людей над собой. Эта стратегия поведения заложена  в детские годы и хранится в наиболее древних структурах нашей памяти. По этой причине других способов добраться до этого ошибочного файла (ущербного восприятия себя) и его исправить не существует кроме как методом гипнотерапии. Поэтому все большей популярностью пользуется лечение психических, физиологических и  психологических  расстройств  гипнозом.  Приведенные выше причины формирования заниженной самооценки и неуверенности в себе,  объединяют  психические травмы, возникшие  в  результате  негативного  воздействия на психику человека. Эта психотравма  находится в бессознательной сфере человека  в виде молекулярной памяти события, включающая в себя патологическую нервную цепь,  замкнутую по закону условно - рефлекторной связи на пусковые механизмы события, повлекшие остроэмоциональные, стрессовые воздействия на психику человека и закрепив деструктивную реакцию в поведенческом, эмоциональном, физиологическом, и мыслительном смыслах.  Поэтому вытормозить  эту резистентную, патологическую центрально – периферическую связь функциональной системы,   возможно только с помощью гипнотерапии, которая позволяет работать с бессознательным  пациента, устранив причину заболевания, а не ее симптом. Тем самым заложив новый жизненный опыт, изменив старый деструктивный.</p>
<p><b>И самое главное, мало кто знает, что заниженная самооценка и неуверенность в себе – это благодатная почва для возникновения абсолютно  всех  психогенных патологий центральной нервной системы. Такие как: неврозы, страхи, фобии, панически атаки, ОКР, СРК, ВСД, депрессии и т.д.</b></p>
<p>В настоящее время гипноз все больше набирает популярность среди специалистов и обычных людей.  Люди обращаются к гипнологам по разнообразным причинам. Самыми распространенными ситуациями применения гипноза являются различные неврозы, фобии, страхи, депрессии, ОКР, СРК, ВСД,  пищеварительные, сексуальные нарушения, коррекция поведенческих реакций человека, заниженная самооценка, комплексы, вредные привычки. Причем в этих случаях, гипнотерапия остается единственным результативным методом, так как нацелена  на избавление больного от причин его заболевания, в то время как все остальные методы, включая фармацевтические, претендуют только на временное снятие симптомов.</p>
<p>Тем временем,  психогенный сбой у больного не стоит на месте, а  генерализуется и приобретает более ярко выраженный  гетерогенный характер, вовлекая все большие участки функциональной системы в патогенез.</p>
<p>Успешное применение гипноза при лечении столь широкого круга заболеваний связанно с тем, что точкой приложения лечебного слова в гипнозе - являются большие полушария головного мозга человека, которые управляют всеми органами и системами  организма. Слово в гипнозе оказывается  чрезвычайно могущественным лечебным фактором, производящим прямое и непосредственное воздействие на характер и динамику корковых процессов. Это открывает прямой путь к устранению патологических процессов и мобилизации необходимых внутренних ресурсов организма человека.</p>
<p>Таким образом, вся внутренняя среда в известной мере подчиняется влияниям коры мозга, импульсы со стороны которой могут воздействовать на состояние любого внутреннего органа и любой системы. В силу этого и благодаря временным связям кора больших полушарий осуществляет тесное взаимоотношение между внешней и внутренней средой организма. Таким образом, воздействуя лечебным словом в гипнозе на высшие отделы Ц.Н.С., открывается прямой путь к устранению патологических процессов и мобилизации необходимых внутренних ресурсов организма человека.  Ибо в свете учения о единстве психики и соматики,  всякое соматическое заболевание неразрывно связано с большим или меньшим нарушением функционального состояния высшей нервной деятельности больного.</p>
<p><b>За 20 лет практики нами разработана уникальная авторская методика, опирающаяся исключительно на научные нейрофизиологические  исследования наших светил -  советских академиков и профессоров. Профессиональное воздействие по  нашей авторской методике относится к самым результативным услугам в настоящее время,  и позволяет найти глубинные причины психотравм,  выявить их  и устранить,  тем самым вернув здоровое восприятие себя, и себя в окружающем мире.</b></p>
<p><b>Поэтому гипнотерапия  – это единственный метод психологической помощи человеку, позволяющий устранить причину  заболевания, а не ее симптом, оказывая  прямое и непосредственное воздействие на характер и динамику корковых процессов, мобилизуя необходимые внутренние ресурсы организма человека. Наш авторский метод гипнотерапии поможет вам избавиться от вашего недуга на всю жизнь!</b></p>
<h4>Возможны ли побочные эффекты от гипноза?</h4>
<p>Как утверждают специалисты, на сегодняшний день таких фактов не выявлено. Исследования в разное время проводились такими видными и авторитетными  учеными как:  В. М. Бехтерев, И. П. Павлов,  С. С. Либих (1974), А. И. Захаров (1982), А. А. Токарский (1989), М. С. Лебединский,  А. Т. Пшоник (1952), Л. Л. Васильев,  И. П. Брязгунов (1970) Л. Черток (1972), В. И. Сухорукова (1977), П. К. Анохин,  Н. Е. Введенский (1911-1913),  Н. И. Красногорский,  В. М. Шкловский (1975, 1994),   В. Н. Мясищев, Ю. А. Поворинский (1950), С. Н. Давиденков, К. М. Варшавский (1973), С. С. Кор-саков, К. М. Быков, А. М.Свядощ (1982), В. Я. Данилевский, Б. Н. Бирман (1922,1925, 1946),  Л. Б. Гаккель (1955),  Д. Я.  Венгеровский (1955),   И. 3. Вельвовский (1984), А. Л. Гройсман, К. И. Платонов (1957), С. Л. Рубинштейн, В. Е. Рожнов, А. А. Ухтомский, И. М. Сеченов, А.М. Свядощ, А. П. Слободяник, Е. С.  Катков,  М. П. Кутании,  В. В. Кузьмин,  П. П.  Подъяпольский,  Е. Н. Довбня, Ф. Е. Рыбаков, В. Н. Хорошко, А. И. Яроцкий, А. Ф. Лазурский, Ю. В. Каннабих, В. М. Нарбут, Ф. Д. Неткачев, В. А. Гиляровский, М. В. Стрельчук, Г. В. Морозов, В. М. Банщиков, Н. В. Иванов, Н. К. Липгарт, А. Г. Иванов-Смоленский, и др. Учеными доказано, что психика человека саморегулируется во время лечебного транса, мобилизуются его внутренние резервы, активизируются защитные силы организма (компенсаторные), гомеостаз организма приходит в норму, а потому опасности для психического и физиологического здоровья пациента нет.</p>
<p><b>Положительные стороны гипнотического лечения:</b></p>
<ul>
    <li>Полное отсутствие медикаментозного влияния на организм человека.</li>
    <li>Полезно. Нормализует гомеостаз организма, укрепляет ЦНС, и т.д.</li>
    <li>Нет побочного эффекта.</li>
    <li>Полное 100% избавление от психотравмы на всю жизнь.</li>
    <li>Устранение причин заболевания.</li>
    <li>Дешевле.</li>
</ul>
<p>Лечебный сеанс гипнозом,  сам по себе является целебным для человека. Гипноз улучшает общее самочувствие человека, обеспечивает слаженную работу всех органов и систем организма,  его (гомеостаз), что позволяет пациенту ощутить новый прилив жизненных сил. Он положительно влияет на работу многих органов и систем: сердечно - сосудистой, дыхательной, эндокринной, пищеварительной, ЦНС, помогает при бессоннице, снимает раздражительность, уменьшает беспокойство, и т.п.</p>
<p>Наш авторский метод  позволит вам вернуться к нормальной жизни и получать от нее удовольствие.</p>
<p><b>Будьте здоровы и берегите себя!</b></p>































