---
layout: post
title: Лечение заикания у взрослых
description: Одним из наиболее распространенных видов речевых расстройств у детей и взрослых является заикание. Логоноврозом страдают чаще дети, нежели взрослые.
categories: voprosi-ot-L
catname: Вопросы от Л
permalink: "blog/:categories/:year-:month-:day-:slug.html"
---
<h3>Заикание — логоневроз (навязчивый страх общения).</h3>
<p>Одним из наиболее распространенных видов речевых расстройств у детей и взрослых является заикание. Логоноврозом страдают чаще дети, нежели взрослые. Заикание — нарушение речи, для которого характерно частое повторение звуков, слогов и слов, либо их удлинение. Также формируется  нерешительность в речи, в результате которой, частая остановка, разрывающая её ритмичное и плавное течение. Лица, страдающие заиканием, лишены возможности нормального общения с окружающими. Постоянные затруднения в речи травмируют психику больных, вызывая различные невротические расстройства.</p>
<p>Наибольший вклад в изучение заикания внесли русские ученные — психиатр И. А. Сикорский (впервые систематизировал все знания о заикании), физиолог И. П. Павлов, который изучал связь,   между негативными влияниями на психику в ее физиологическом понимании, и развитием патологии речи.   Психиатр В. М. Бехтерев (1911),  который изучал возможности лечебного гипноза при устранении причин патологии речи, а также Ю. А. Поворинский (1950), Д. Я. Венгеровский (1955), В. М. Шкловский (1975, 1994),  В. Я. Данилевский, В. Е. Рожнов, А. Л. Гройсман, К. И. Платонов, К. М. Дубровский, и др., их труд вошел в основы методики лечения заикания методом гипнотерапии. Благодаря их трудам стали понятны причины развития заикания и доказана эффективность лечебного гипноза в лечении этого недуга. И в этом огромная заслуга русских ученных.</p>
<p>В настоящее время гипноз все больше набирает популярность среди специалистов и обычных людей.  Люди обращаются к гипнологам по разнообразным причинам. Самыми распространенными ситуациями применения гипноза являются различные фобии, страхи, депрессии, панические атаки, ОКР, ВСД, пищеварительные, сексуальные нарушения, логоневроз, коррекция поведенческих реакций организма, заниженная самооценка, комплексы, вредные привычки.  Причем в этих случаях, гипнотерапия остается единственным результативным методом, так как нацелена  на избавление больного от причин его заболевания, в то время как все остальные методы, включая фармацевтические, претендуют только на временное снятие симптомов. При этом  все еще встречается недооценка врачами роли психотравмирующих факторов в возникновении различных расстройств функций внутренних органов и систем, а также шаблонные представления, которые  нередко заставляют искать органическую природу заболевания там, где она в действительности является  функциональной (психогенной, условнорефлекторной). Тем временем,  психогенный сбой у больного не стоит на месте, а  генерализуется и приобретает более ярко выраженный  гетерогенный характер, вовлекая все большие участки функциональной системы в патогенез.</p>
<p>Успешное применение гипноза при лечении столь широкого круга заболеваний связанно с тем, что точкой приложения лечебного слова в гипнозе - являются большие полушария головного мозга человека, которые управляют всеми органами и системами  организма. Слово в гипнозе оказывается  чрезвычайно могущественным лечебным фактором, производящим прямое и непосредственное воздействие на характер и динамику корковых процессов. Это открывает прямой путь к устранению патологических процессов и мобилизации необходимых внутренних ресурсов организма человека.  Ибо в свете учения о единстве психики и соматики,  всякое соматическое заболевание неразрывно связано с большим или меньшим нарушением функционального состояния высшей нервной деятельности больного.</p>
<p><b>Поэтому гипнотерапия  – это единственный метод психологической помощи человеку, позволяющий устранить причину  заболевания, а не ее симптом, оказывая  прямое и непосредственное воздействие на характер и динамику корковых процессов, мобилизуя необходимые внутренние ресурсы организма человека.</b></p>
<p><b>За 20 лет практики нами разработана уникальная авторская методика, опирающаяся исключительно на научные нейрофизиологические  исследования наших светил -  советских академиков и профессоров. Нами используется комплексная методика лечения заикания, в том числе и метод К. М. Дубровского «Одномоментное снятие заикания».</b></p>
<h4>Физиология патологии речи.</h4>
<p>В двигательном отделе речи головного мозга (центре Брока) возникает импульс (сигнал), который по черепно-мозговым нервам поступает к периферическим отделам речи (дыхательный, голосовой, артикуляционный).</p>
<p>Первым приходит в движение дыхательный отдел,  таким образом, формируется голос, далее голос преобразуется в артикуляционном отделе, образуются звуки. Образовавшиеся звуки преобразуются в речевых резонаторах полости рта, носа и глотки. Затем по принципу обратной связи образовавшиеся звуки и слова при помощи слуха, а также ощущений идут от периферических речевых органов в ассоциативный отдел, где анализируется.</p>
<p>Таким образом, формируется речевая рефлекторная дуга, где импульсы идут от центра к периферии→ (эфферентные импульсы), и от периферии к центру → (афферентные импульсы)  — и так далее по кольцу функциональной системы. И если где-то происходит ошибка, то центральным отделам речи сообщается, в каком положении в периферическом речевом органе произошла ошибка. Затем из центрального отдела посылается сигнал к периферическим речевым органам, который точно дает правильное произношение. Такой механизм действует до тех пор, пока не согласуется работа речевых органов и слуховой контроль, пока не  произойдет синхронизация речи. При психологической травме, и других расстройствах психики перевозбуждается центр Брока, и его тонус повышается. Поэтому скорость его работы увеличивается, приводя к рассогласованию автономного механизма рефлекторной дуги.</p>
<p>Далее перевозбуждение переносится на участки коры головного мозга, которые расположены рядом и отвечают за двигательную активность. Это ведет к тому, что возникают судороги мышц в периферическом отделе речи (языка, губ, мягкого неба и других).</p>
<p>То есть человек начинает заикаться из-за внезапного нарушения согласованной работы речевых органов при произнесении звуков, которое вызвано судорогой, возникшей в одном из отделов речевого аппарата (язык, небо и другие),  так и дыхательных, появляется спазм и нехватка воздуха.</p>
<p>Перенесенные психические травмы нарушают согласованное перераспределение тонуса мышц, участвующих в образовании речи. То есть мышцы сокращаются и расслабляются несогласованно. Поэтому возникают судорожные повторения звуков, слогов и слов. То есть заболевание носит функциональный характер, а мозговые структуры не поражаются. Поэтому эта форма заикания  поддается лечению.</p>
<h4>Возможны ли побочные эффекты от гипноза?</h4>
<p>Как утверждают специалисты, на сегодняшний день таких фактов не выявлено. Исследования в разное время проводились такими видными и авторитетными  учеными как:  В. М. Бехтерев, И. П. Павлов,  С. С. Либих (1974), А. И. Захаров (1982), А. А. Токарский (1989), М. С. Лебединский,  А. Т. Пшоник (1952), Л. Л. Васильев,  И. П. Брязгунов (1970) Л. Черток (1972), В. И. Сухорукова (1977), П. К. Анохин,  Н. Е. Введенский (1911-1913),  Н. И. Красногорский,  В. М. Шкловский (1975, 1994),   В. Н. Мясищев, Ю. А. Поворинский (1950), С. Н. Давиденков, К. М. Варшавский (1973), С. С. Кор-саков, К. М. Быков, А. М.Свядощ (1982), В. Я. Данилевский, Б. Н. Бирман (1922,1925, 1946),  Л. Б. Гаккель (1955),  Д. Я.  Венгеровский (1955),   И. 3. Вельвовский (1984), А. Л. Гройсман, К. И. Платонов (1957), С. Л. Рубинштейн, В. Е. Рожнов, А. А. Ухтомский, И. М. Сеченов, А.М. Свядощ, А. П. Слободяник, Е. С.  Катков,  М. П. Кутании,  В. В. Кузьмин,  П. П.  Подъяпольский,  Е. Н. Довбня, Ф. Е. Рыбаков, В. Н. Хорошко, А. И. Яроцкий, А. Ф. Лазурский, Ю. В. Каннабих, В. М. Нарбут, Ф. Д. Неткачев, В. А. Гиляровский, М. В. Стрельчук, Г. В. Морозов, В. М. Банщиков, Н. В. Иванов, Н. К. Липгарт, А. Г. Иванов-Смоленский, и др. Учеными доказано, что психика человека саморегулируется во время лечебного транса, мобилизуются его внутренние резервы, активизируются защитные силы организма (компенсаторные), гомеостаз организма приходит в норму, а потому опасности для психического и физиологического здоровья пациента нет.</p>
<p>Сеанс гипноза по лечению заикания сам по себе является целебным для человека.  Гипноз улучшает общее самочувствие человека, обеспечивает слаженную работу всех органов и систем организма, нормализует гомеостаз организме,  что позволяет пациенту ощутить новый прилив жизненных сил. Он положительно влияет на работу многих органов и систем: сердечно - сосудистой, дыхательной, эндокринной, пищеварительной, ЦНС, помогает при бессоннице, снимает раздражительность, уменьшает беспокойство, и т.п.</p>
<p><b>Будьте здоровы и берегите себя!</b></p>















