---
layout: post
title:  Как избавиться от ревности
description: Вопреки общепринятому заблуждению,  ревность вовсе не оправдывается любовью и почти не имеет к ней отношения. Ее разрушительная сила может привести к разрыву отношений, вызвать...
categories: voprosi-ot-K-L
catname: Вопросы от К до Л
permalink: "blog/:categories/:year-:month-:day-:slug.html"
---
<p>Вопреки общепринятому заблуждению,  ревность вовсе не оправдывается любовью и почти не имеет к ней отношения. Ее разрушительная сила может привести к разрыву отношений, вызвать агрессию и нервное расстройство.</p>
<h4>Как проявляется ревность?</h4>
<p>Ревность – это когда мужчина пытается держать под контролем свою половинку, всячески ограничивает ее личную свободу и в каждом мужчине видит потенциального соперника. Постоянная подозрительность ревнивца иногда оборачивается вспышками гнева, что приносит страдание обоим партнерам. А та, кого ревнуют, вынуждена вечно оправдываться и доказывать искренность своих чувств. Неудивительно, что сцены ревности рано или поздно надоедают женщине и у нее появляется желание расстаться с таким человеком. Но в первую очередь страдает сам ревнивец, потому что это негативное чувство вызывает сильное эмоциональное напряжение и психологический дискомфорт.</p>
<h4>Давайте рассмотрим простые способы, как избавиться от ревности?</h4>
<p>Нездоровое чувство собственничества чаще всего вызвано неуверенностью в себе,  и страхом быть брошенным. Либо печальный опыт предыдущих отношений, где мужчину неоднократно бросали. В основе ревности также может лежать травмирующий опыт из детства, когда ребенку приходилось ревновать родителей к младшим детям в семье. На самом деле причин может быть множество и у каждого мужчины есть свои причины для ревности.</p>
<p><b>Если вы решили самостоятельно избавиться от ревности, то давайте рассмотрим, что можно сделать для преодоления изматывающего чувства ревности:</b></p>
<ul>
    <li>Научиться доверять партнерше, поверить в ее верность и порядочность.</li>
    <li>Перестать сравнивать себя с другими и считать себя хуже, чем остальные. Ведь ваша партнерша выбрала вас, а значит, у нее были причины на это.</li>
    <li>Не зацикливаться на любимой женщине, а научиться находить интерес в работе, увлечениях, спорте. Найти занятия, способные отвлечь и подарить положительные эмоции.</li>
    <li>Стать ближе к своей половинке, поделиться своими чувствами и переживаниями. Так вы сможете снять напряжение и развеять сомнения в неверности любимой.</li>
    <li>Попросить партнершу не провоцировать вас. Если она действительно любит и дорожит этими отношениями, то прислушается к такой просьбе и изменит свое поведение.</li>
    <li>Разберитесь в себе и поймите, чего вы боитесь и почему. Возможно вы считаете себя недостаточно привлекательным  или боитесь повторения прошлого негативного опыта.</li>
</ul>
<p>Если ваше чувство ревности стало патологическим, и вы постоянно находитесь во власти переживаний, лучше обратиться за помощью к специалисту.  Гипнотерапевт поможет найти глубинные корни вашей ревности и скорректировать негативные эмоции.</p>
<p><b>За 20 лет практики нами разработана уникальная авторская методика, опирающаяся исключительно на научные нейрофизиологические  исследования наших светил -  советских академиков и профессоров. Профессиональное воздействие по  нашей авторской методике  относится к самым результативным услугам в настоящее время.  Она нацелена на избавление от  психогенных причин возникновения ревности.  Гипнотерапия отлично работает на бессознательном уровне, позволяя делать желательные изменения на глубинных уровнях нашей психики, приводящие к положительным изменениям.</b></p>
<p>В настоящее время гипноз все больше набирает популярность среди специалистов и обычных людей.  Люди обращаются к гипнологам по разнообразным причинам. Самыми распространенными ситуациями применения гипноза являются различные фобии, страхи, депрессии, ОКР, СРК, ВСД,  пищеварительные, сексуальные нарушения, коррекция поведенческих реакций человека, вредные привычки. Причем в этих случаях, гипнотерапия остается единственным результативным методом, так как нацелена  на избавление больного от причин его заболевания, в то время как все остальные методы, включая фармацевтические, претендуют только на временное снятие симптомов.</p>
<p>Успешное применение гипноза при лечении столь широкого круга заболеваний связанно с тем, что точкой приложения лечебного слова в гипнозе - являются большие полушария головного мозга человека, которые управляют всеми органами и системами  организма. Слово в гипнозе оказывается  чрезвычайно могущественным лечебным фактором, производящим прямое и непосредственное воздействие на характер и динамику корковых процессов. Это открывает прямой путь к устранению патологических процессов и мобилизации необходимых внутренних ресурсов организма человека.  Ибо в свете учения о единстве психики и соматики,  всякое соматическое заболевание неразрывно связано с большим или меньшим нарушением функционального состояния высшей нервной деятельности человека.</p>
<p><b>Поэтому гипнотерапия  – это единственный метод психологической помощи человеку, позволяющий устранить причину  ревности, а не ее симптом, оказывая  прямое и непосредственное воздействие на характер и динамику корковых процессов, мобилизуя необходимые внутренние ресурсы организма человека.</b></p>
<h4>Возможны ли побочные эффекты от гипноза?</h4>
<p>Как утверждают специалисты, на сегодняшний день таких фактов не выявлено. Исследования в разное время проводились такими видными и авторитетными  учеными как:  В. М. Бехтерев, И. П. Павлов,  С. С. Либих (1974), А. И. Захаров (1982), А. А. Токарский (1989), М. С. Лебединский,  А. Т. Пшоник (1952), Л. Л. Васильев,  И. П. Брязгунов (1970) Л. Черток (1972), В. И. Сухорукова (1977), П. К. Анохин,  Н. Е. Введенский (1911-1913),  Н. И. Красногорский,  В. М. Шкловский (1975, 1994),   В. Н. Мясищев, Ю. А. Поворинский (1950), С. Н. Давиденков, К. М. Варшавский (1973), С. С. Кор-саков, К. М. Быков, А. М.Свядощ (1982), В. Я. Данилевский, Б. Н. Бирман (1922,1925, 1946),  Л. Б. Гаккель (1955),  Д. Я.  Венгеровский (1955),   И. 3. Вельвовский (1984), А. Л. Гройсман, К. И. Платонов (1957), С. Л. Рубинштейн, В. Е. Рожнов, А. А. Ухтомский, И. М. Сеченов, А.М. Свядощ, А. П. Слободяник, Е. С.  Катков,  М. П. Кутании,  В. В. Кузьмин,  П. П.  Подъяпольский,  Е. Н. Довбня, Ф. Е. Рыбаков, В. Н. Хорошко, А. И. Яроцкий, А. Ф. Лазурский, Ю. В. Каннабих, В. М. Нарбут, Ф. Д. Неткачев, В. А. Гиляровский, М. В. Стрельчук, Г. В. Морозов, В. М. Банщиков, Н. В. Иванов, Н. К. Липгарт, А. Г. Иванов-Смоленский, и др. Учеными доказано, что психика человека саморегулируется во время лечебного транса, мобилизуются его внутренние резервы, активизируются защитные силы организма (компенсаторные), гомеостаз организма приходит в норму, а потому опасности для психического и физиологического здоровья пациента нет.</p>
<p><b>Положительные стороны гипнотического лечения:</b></p>
<ul>
    <li>Полное отсутствие медикаментозного влияния на организм человека.</li>
    <li>Нет побочного эффекта.</li>
    <li>Полезно. Нормализует гомеостаз организма, укрепляет ЦНС, и т.д.</li>
    <li>Устраняет причины заболевания.</li>
    <li>Дешевле.</li>
</ul>
<p>Сеанс гипноза сам по себе является целебным для человека. Гипноз улучшает общее самочувствие человека, обеспечивает слаженную работу всех органов и систем организма,  его (гомеостаз), что позволяет пациенту ощутить новый прилив жизненных сил. Он положительно влияет на работу многих органов и систем: сердечно - сосудистой, дыхательной, эндокринной, пищеварительной, ЦНС, помогает при бессоннице, снимает раздражительность, уменьшает беспокойство, и т.п.</p>
<p>Самостоятельные попытки избавиться от  ревности приводит к обратному эффекту, с дальнейшим угнетением ЦНС, с повышением раздражительности, тревожности.  Сознательными доводами невозможно устранить  этот недуг,  так как источник их кроется в сфере бессознательного, что и является основанием для лечения этого недуга с помощью гипноза.  И только гипнотерапия помогает преодолеть негативные последствия для вашей нервной системы</p>
<p>Наши опытные гипнологи  помогут разобраться с причинами ревности, с помощью гипноза найти и проработать их на глубинном уровне. Пройдя курс гипнотерапии, вы легко сможете взглянуть на себя и свою жизнь по новому.</p>
<p><b>Будьте здоровы и счастливы!</b></p>



































