---
layout: post
title:  Избавление от зависимостей
description: Обычно зависимость появляется в человеке как такой способ ухода от реальности, который сопровождается приятными ощущениями и переживаниями.
categories: psihologiya
catname: Психология
permalink: "blog/:categories/:year-:month-:day-:slug.html"
---
<h4>Консультация психолога по теме освобождения от зависимостей.</h4>
<p>Обычно зависимость появляется в человеке как такой способ ухода от реальности, который сопровождается приятными ощущениями и переживаниями.</p>
<p>Вместо того чтобы решать сегодняшние проблемы прямо сейчас, даже если это решение сопряжено с трудностями и неприятными моментами, зависимый человек предпочитает откладывать проблему на потом.</p>
<p>Он делает это потому,  что его воля постепенно атрофируется, и в нем вырабатывается привычка, при малейшем жизненном препятствии или негативе,  прибегать к привычному способу бегства от реальности,  и употреблять алкоголь, включать громкую психоделическую музыку, уходить в блуждание по сайтам или играть в компьютерные игры и т.д.</p>
<p>Постепенно в человеке накапливаются негативные личностные изменения,  и он начинает жить двойной жизнью,  помимо прежней социальной жизни, которую он вынужден частично поддерживать, ему приходится все больше погружаться в новую реальность - алкогольную, виртуально-компьютерную, психоделическую или игровую.</p>
<p>Зависимый человек отходит от круга нормальных занятий, дел, увлечений и общения,  который занимал его раньше. Все силы забирает с собой новое патологическое увлечение человека, зависимость от сформированной ложной потребности.</p>
<p>Он начинает во всем оправдывать себя и свои неудачи в обычной жизни, объяснимые тем, что его больное зависимое «я» искривило его восприятие жизни и заставило вести не совсем нормальную жизнь с точки зрения обычных людей.</p>
<p>Он больше не в силах полноценно участвовать в социальной жизни, выполнять жизненные обязанности, помогать другим людям, осуществлять какие-либо жизненные цели или планы.</p>
<p><b>Таким образом,  в нем формируется новый тип поведения - зависимый и зависимость становится его главным психологическим состоянием.</b></p>
<p>В психологии выделяют две основные формы зависимости – химическую и нехимическую.</p>
<p><b>К химическим формам зависимости относят:</b></p>
<ol>
    <li>алкогольную (винную, водочную, пивную) зависимость,</li>
    <li>наркотическую ( никотиновую, опиумную, героиновую, кокаиновую, седативную, галлюциногенную, токсикомативную, и др.) зависимость.</li>
</ol>
<p><b>К нехимическим видам зависимости обычно относят:</b></p>
<ol>
    <li>интернет-зависимость,</li>
    <li>зависимость, порожденная азартными играми,</li>
    <li>зависимость, основанная на приверженности человека к определенному виду отношений (отношения жертвы, отношения подчинения, отношения на основе всепоглощающего интереса к каким-либо видам занятий).</li>
    <li>любовная зависимость, сексуальная зависимость,</li>
    <li>зависимость от работы («трудоголизм»).</li>
    <li>зависимость от привычек ( ковыряние в носу, грызть ногти, выдергивать волосы, сосать палец и др.)</li>
    <li>пищевая зависимость.</li>
</ol>
<p><b>Зависимость</b> – это особое состояние сознание, которое приятно самому человеку до тех пор, пока никто не мешает ему вновь и вновь переживать удовольствие от алкоголя, наркотика, интернета, компьютерных и азартных игр, постоянно включенного музыкального плейера. Но если что-то вклинивается и начинает мешать, человек испытывает постоянный дискомфорт.</p>
<p>Иногда подобная «ломка» происходит после того, как человек надолго выпал из реальности и любое соприкосновение с ней становится для него болезненным. В этом случае человек начинает осознавать, что сделал неправильный выбор, и жизнь его движется под откос. Такой человек может придти на консультацию к психологу, если убедится, что самостоятельно ему не справиться со своей зависимостью.</p>
<p><b>Опытный психолог на консультации может помочь зависимому  человеку самыми разными методами.</b></p>
<p>В первую очередь он выявит глубинную психологическую причину, которая повлияла на человека таким образом, что он потерял контакт с реальностью, разучился получать жизненные удовольствия естественным здоровым способом и стал заложником своей патологической привязанности.</p>
<p>Затем он может помочь зависимому человеку восстановить утраченный контакт с реальностью, найти новые цели, способные его увлечь, выстроить новую стратегию существования в мире без зависимости.</p>
<p>Консультация психолога позволяет человеку получить от специалиста поддержку и все психологические ресурсы,  без которых невозможно освободиться от зависимости.</p>
<p>Сегодня  все большее количество людей понимает, что без психологической помощи лечение исключительно  с помощью таблеток и уколов явно недостаточно, потому что эта болезнь имеет комплексный характер и пронизывает все этажи человеческой психики.</p>
<p><b>Будьте здоровы и берегите себя!</b></p>







































