---
layout: category
categories: metody-raboty
title: Методы работы центра гипноза
description: Методы работы центра гипноза.
---
<div class="container">

    <div class="description">
        <div class="row">
            <div class="col-12">
                <p>Для каждого нашего клиента мы находим индивидуальный подход, поэтому мы используем разнообразные методы работы. Вот лишь некоторые из них:</p>
                <a href="blog/o-gipnoze/2018-01-05-klassicheskij-metod-gipnoza.html"><h4>Классический метод гипноза</h4></a>
                <p>Классический гипноз, как наиболее ранний метод психотерапии, является одним из способов лечебного воздействия психологическими методами одного человека (психотерапевта) на психику другого человека (больного), а через психику и на весь организм с целью устранения болезненного симптома, психической травмы, изменения отношения гипнотизируемого к самому себе и окружающим, что ведет в результате к повышению уровня социально-психологической адаптации и качества жизни в целом.
                    <a href="blog/o-gipnoze/2018-01-05-klassicheskij-metod-gipnoza.html">подробнее...</a></p>
                <a href="blog/o-gipnoze/2018-01-05-regressivnyj-metod-gipnoza.html"><h4>Регрессивный метод гипноза</h4></a>
                <p>Регрессия – это исследование нашего прошлого. Прошлое начинается за секунду до настоящего. Любой стереотип нашего поведения или реагирования на происходящее – это психическая программа, которая записана в нашем бессознательном. Чтобы эту программу изменить или устранить, а также создать новую, нам необходимо добраться до места её хранения - то есть в область бессознательного.
                    <a href="blog/o-gipnoze/2018-01-05-regressivnyj-metod-gipnoza.html">подробнее...</a></p>
                <a href="blog/o-gipnoze/2018-01-05-eriksonovskij-metod-gipnoza.html"><h4>Эриксоновский метод гипноза</h4></a>
                <p>Название такое к нему пришло от имени его создателя, гипнотерапевта Милтона Эриксона. Эриксоновский гипноз — это физическое расслаблению тела и мыслей, а также упражнения по визуализации внутренних образов. И в этом расслабленном состоянии человек просто отвечает на вопросы гипнотерапевта. При этом человек хорошо отделён от тех эмоций и переживаний личности, которую он наблюдает как бы со стороны.
                    <a href="blog/o-gipnoze/2018-01-05-eriksonovskij-metod-gipnoza.html">подробнее...</a></p>
                <a href="blog/o-gipnoze/2018-01-05-telesno-orientirovannyj-metod-gipnoza.html"><h4>Телесно-ориентированный метод терапии</h4></a>
                <p>Метод ТОП, как часто называют телесно-ориентированную психотерапию, возник как результат многолетних наблюдений за взаимосвязью духовной и телесной деятельностью организма. Основателем этого раздела психосоматической терапии был Вильгельм Райх, внедривший в практику психоанализа работу с телесным компонентом психопатологии.
                    <a href="blog/o-gipnoze/2018-01-05-telesno-orientirovannyj-metod-gipnoza.html">подробнее...</a></p>
                <a href="blog/o-gipnoze/2018-01-05-kognitivno-povedencheskij-metod-gipnoza.html"><h4>Когнитивно-поведенческий метод терапии</h4></a>
                <p>Человек - существо мыслящее, способное осознавать, анализировать, делать выводы и в зависимости от их результатов выстраивать свое поведение. Именно эти возможности психики человека лежат в основе когнитивно-поведенческой психотерапии. В отличие от психоанализа, где большое значение придается глубинным неосознаваемым процессам, над которыми индивидуум не властен, когнитивно-поведенческая психотерапия работает с сознанием.
                    <a href="blog/o-gipnoze/2018-01-05-kognitivno-povedencheskij-metod-gipnoza.html">подробнее...</a></p>
                <a href="blog/o-gipnoze/2019-02-27-psihoanaliz.html"><h4>Психоанализ</h4></a>
                <p><b>Психоанализ - это</b> способ выявления переживаний и действий человека, обусловленных бессознательными мотивами с целью лечения психических болезней. В начале прошлого века он был введён австрийским учёным З. Фрейдом и широко применялся вместе с гипнозом.
                    <a href="blog/o-gipnoze/2019-02-27-psihoanaliz.html">подробнее...</a></p>
                <a href="blog/o-gipnoze/2018-01-05-geshtalt-psihoterapiya.html"><h4>Гештальт-психотерапия</h4></a>
                <p>Гештальт- психотерапия – это метод психотерапии, в основу которого легли работы Фредерика Перлза, Пола Гудмана и Лаура Перлза. Особенностью гештальт-терапии является восприятие личности, как единой структурированной целостности, способной проживать ситуацию и осознавать процесс проживания. Что же такое гештальт-терапия в понятном для обычного человека смысле? Как разобраться во всех этих «экзистенциализмах», «холистичности» и прочих «совокупностях процессов мнезиса»?
                    <a href="blog/o-gipnoze/2018-01-05-geshtalt-psihoterapiya.html">подробнее...</a></p>
                <a href="blog/o-gipnoze/2018-01-05-metod-kouchinga.html"><h4>Метод коучинга</h4></a>
                <p>Коучинг - происходит от английского слова "Coaching", означающее обучение или тренировку, причем является эффективным методом тренинга и консультирования. Он отличается от классического тренинга тем, что во время сеанса, коуч, совместно со своими чемпионами (так называют в коучинге клиентов коуча), ищет всевозможные пути решения проблематики, при этом не дает различных советов и рекомендаций своим клиентам.
                    <a href="blog/o-gipnoze/2018-01-05-metod-kouchinga.html">подробнее...</a></p>
                <a href="blog/o-gipnoze/2018-01-05-metod-nlp.html"><h4>Метод НЛП</h4></a>
                <p>Начиная с 70-х годов двадцатого столетия в психиатрии начал практиковаться метод, получивший название нейролингвистическое программирование. НЛП принято считать отдельной от психологии областью знаний. Хотя существуют заявления психотерапевтов, утверждающие, что НЛП вообще не достойно называться наукой, так как не имеет для этого определенных научных оснований.
                    <a href="blog/o-gipnoze/2018-01-05-metod-nlp.html">подробнее...</a></p>
            </div>
        </div>
    </div>
</div>
