---
layout: post
title:  Коррекция эмоциональной сферы
description: Эмоции это субъективная реакция в виде индивидуальных переживаний индивида, которая отражает значимость для него воздействующего раздражителя или результата собственного действия.
categories: psihologiya
catname: Психология
permalink: "blog/:categories/:year-:month-:day-:slug.html"
---
<h4>Лечение нарушений в эмоциональной сфере человека. Верните себе душевный комфорт и радость жизни!</h4>
<p>Эмоции это субъективная реакция в виде индивидуальных переживаний индивида, которая отражает значимость для него воздействующего раздражителя или результата собственного действия.</p>
<p>Любое событие или происходящая ситуация в жизни человека сопровождаются определёнными эмоциями. Каждый из нас хотя бы раз в жизни ощущал неимоверное состояние эйфории, необъяснимую грусть, радость встречи с близкими и любимыми или же полную опустошённость. Проявление безграничного спектра эмоций напрямую зависит от нашего психического состояния.</p>
<h4>Значение эмоций и настроения в жизни человека.</h4>
<p>Эмоция – это настолько тонкое и неосязаемое чувство,  постоянно лабильное и зависящее от бесчисленного количества имманентных и внешних факторов.  Эмоции тесно связаны со всеми жизненными функциями организма. Они являются сигнальной функцией  человека,  регулируя психическую и соматическую жизнедеятельность организма, мобилизуя при необходимости способы психологической защиты и адаптации к создавшейся ситуации.  Эмоции придают определенное биологическое качество поведению, являются источником деятельности, удовлетворения потребностей. Они отражают субъективное отношение человека к окружающей среде и к своей личности. Эмоциональные переживания способствуют формированию личности, ее социально-психологической направленности.</p>
<p>В состоянии эмоционального разлада, человек не способен давать объективную оценку предлагаемым ситуациям или людям, он концентрируется исключительно на внутренних ощущениях, может впадать в истеричное состояние.</p>
<p>При нарушении эмоциональной сферы,  физиологические и психологические данные будут иметь неудовлетворительные показатели, так как в свете учения о единстве психики и соматики,  всякое соматическое заболевание неразрывно связано с большим или меньшим нарушением функционального состояния высшей нервной деятельности человека.</p>
<h4>Наиболее частые симптомы эмоциональной нестабильности.</h4>
<p>Симптоматика проявления нарушений эмоциональной сферы довольно обширна. Эмоциональные колебания вызывают неблагоприятные стрессовые ситуации, действия, имеющие продолжительный срок и наносящие непоправимый вред психике человека. Изменение общего эмоционального фона может быть первым сигналом развивающейся душевной болезни. За возникновение и реализацию эмоций отвечают кора головного мозга, вегетативная и анимальная  системы. Нарушения эмоциональной сферы могут быть вызваны как сбоем в функционировании организма, так и влиянием внешних факторов, усугубляющих психическое напряжение человека. Вследствие этого возникают синдромы, способствующие дальнейшему разладу эмоциональной сферы.</p>
<p><b>Такие как:</b></p>
<p><b>Депрессия</b> определяется стойким угнетённым состоянием личности, негативными мыслями, тоской и беспричинной грустью. Больной воспринимает все события с чувством безысходности, что может привести к дальнейшему самоубийству.</p>
<p><b>Дисфория</b> несёт в себе ежедневный агрессивный настрой к окружающему миру, выражается в угрюмом настроении, вспышках гнева, беспричинном раздражении, недовольстве, часто сопровождается проявлениями ярости с разрушительными действиями. Дисфория проявляется при височной эпилепсии.</p>
<p><b>Эйфория</b> является антиподом дисфории. Выражается в безмятежном, полном счастья состоянии духа, пассивном отношении к проблемам и заботам, ощущении благополучия при наличии неприятностей. Человек видит окружающий мир сквозь розовые очки, воспринимает все, даже самые трагичные ситуации, с оптимизмом и даже радостью. Экстаз понимается как высшая степень проявления восторга, восхищения, имеет положительную окраску. Это особое состояние сознания, где стираются границы между телесным и духовным миром, и появляется чувство восторженности, своего рода вхождение в нирвану.</p>
<p><b>Тревога</b> обуславливается моральным беспокойством, ожиданием трагичной или катастрофической ситуации, которая может случиться с самим человеком или его близкими. Состояние тревоги бывает обусловленным накрученной жизненной ситуацией или диффузным, не имеющим отношения к реальным фактам и событиям. Проявляется в соматических и невротических нарушениях, является одной из причин депрессии.</p>
<p><b>Эмоциональная тупость</b> выражается в особом состоянии психики человека, которое характеризуется слабой выраженностью или даже утратой высших эмоций, чувство благодарности, сострадания, уважения, терпимость или деликатность, стыд, совесть, честь.</p>
<p><b>Эмоциональная лабильность</b> выражается неустойчивостью настроения. Индивид в течение пяти минут может перейти от смеха к плачу или же от злости к радости и умилению. Человек очень сентиментален, чувствителен к малейшим проявлениям эмоций со стороны окружения. Слабодушие является одним из признаков сосудистых и органических заболеваний головного мозга, астении.</p>
<p><b>Недержание аффекта</b> проявляется в неконтролируемом внешнем выражении эмоций, нарушениях аффективных реакций при воспоминаниях событий из прошлого, принятии личных впечатлений, сентиментальности. Этот вид нарушения эмоциональной сферы можно отнести к индивидуальным особенностям восприятия окружающего мира. Чаще всего человек сам осознаёт свою излишнюю эмоциональность и старается скрыть её от других.</p>
<h4>Признаки эмоциональных нарушений у детей.</h4>
<p>Эмоциональная сфера у человека развивается с момента его рождения. Маленький ребёнок обладает намного большей восприимчивостью, чем взрослые люди, поэтому признаки нарушения эмоциональной сферы у него могут проявляться более интенсивно. Однако очень часто родители не замечают общей подавленности детей, списывая их неконтролируемое поведение или нежелание выполнять домашнее задание в школе на особенности характера и лень. Эмоциональная нестабильность у взрослого человека выражается стандартно в лабильности настроения, ощущениях грусти, тоски, печали, немотивированной радости или напряжённости. У детей же эти проявления носят скрытый характер, чаще всего обуславливаясь вегетативными нарушениями. Это могут быть расстройства аппетита, проблемы с желудочно-кишечным трактом, постоянно чередующиеся болезни, снижение иммунитета, потеря в весе, торможение психического развития, ослабление памяти, расстройства сна, изменение состояния кожи, потливость. Нарушения эмоциональной сферы у дошкольников выражаются в гневе, немотивированной агрессии, болезненных страхах и т.д. Огромную роль в эмоциональных  нарушениях    играют поведенческие и психологические факторы (семейные конфликты, неправильное воспитание, непедагогичное поведение со стороны школьных учителей,  эмоциональная депривация и тд.).</p>
<p>Нарушения эмоциональной сферы являются сегодня распространённой проблемой среди детей и взрослого населения.</p>
<p>Нарушение эмоциональной сферы,  влечёт за собой разлад всей психофизической системы организма.  Чрезмерное проявление или скрытие эмоций напрямую зависит от внешних социальных и культурных факторов, а также от имманентных индивидуальных особенностей человека. Комплекс психотерапевтических методов позволит избавиться от навязчивых эмоциональных состояний, сделает жизнь спокойнее и красочнее.</p>
<p><b>Будьте здоровы и берегите себя!</b></p>



















































