---
layout: post
title:  Карьерный коучинг
description: Карьерный коучинг - это технология самостоятельного планирования дальнейшей карьеры и реализация карьерного потенциала человека при поддержке карьерного коуча.
categories: uspeh-i-karera
catname: Успех и карьера
permalink: "blog/:categories/:year-:month-:day-:slug.html"
---
<p>Карьерный коучинг - это технология самостоятельного планирования дальнейшей карьеры и реализация карьерного потенциала человека при поддержке карьерного коуча. Это длящиеся отношения, в которых клиент лучше осознает и понимает себя, определяет способы достижения своей цели, расширяет область познания, повышает свою эффективность и качество своей жизни по средствам достижения реальных результатов.</p>
<p>Коучинг и гипноз является одним из самых эффективных способов развития вариативности мышления в поиске решений, а также развития стратегического мышления.</p>
<p>Коучинг и гипноз — это раскрытие "резервов".</p>
<p>Руководитель должен и обязан пользоваться коуч — методами и гипнозом для саморазвития и для развития своей команды в управлении.</p>
<p><b>Коучинг и гипноз, как стиль управления командой:</b></p>
<ul>
    <li>Делает сотрудников более "включёнными" и вовлечёнными в работу.</li>
    <li>Активирует мыслительные процессы у сотрудников, они мыслят активнее и вариативнее, не ждут готового решения, а способны предлагать варианты.</li>
    <li>Помогает раскрыть резервы команды (и сотрудника в частности).</li>
</ul>
<p>Благодаря коучингу и гипнозу активируется воображение, человек имеет возможность предполагать и смотреть на обсуждаемый вопрос с разных "точек обозрения". Коучинг даёт возможность увидеть ситуацию более объёмно, заметить то, что до этого не замечалось, определить область развития.</p>
<p>Когда перед нами стоит задача выйти на новый качественный уровень результатов в бизнесе, стандартных проверенных способов достижения цели становится недостаточно по одной единственной причине: чтобы достичь чего-то по настоящему качественно нового, нужно отказаться от старого и найти инновационные, нестандартные ходы.</p>
<p>Коучинг и гипноз — раскрытие потенциала. Коучинг в бизнесе применяется для поиска возможностей, разработки плана действий, просчёта рисков и др.</p>
<p>Предположение коучинга заключается в том, что индивидуумы способны генерировать свои собственные решения, с помощью коуча, использующего конкретные методы. Коучинг не занимается решением проблем, он занимается решением таких задач как, например:</p>
<ul>
    <li>найти новую работу, которая полностью удовлетворяла бы все требования к работе и соответствовала всем критериям; определить, чего же вы хотите и отделить главное от второстепенного;</li>
    <li>выявить основной вектор профессионального развития;</li>
    <li>увидеть новые горизонты;</li>
    <li>обрести веру в себя, найти опору, мотивацию;</li>
    <li>выстроить реальный план по достижению своих профессиональных целей.</li>
</ul>
<p>Карьерый  коуч не дает советов или готовых решений, а структурирует и вдохновляет клиента на поиск решений самостоятельно тогда, когда необходимо определиться с будущим образованием и карьерой, найти новую работу, существует необходимость в профессиональном развитии, теряется интерес с имеющейся работе, есть желание поменять сферу деятельности, планируете выйти из декрета, ищите свою первую работу, хотите повысить собственную эффективность на работе. При этом карьерный коуч не обязательно должен быть специалистом в профессиональной деятельности клиента. И самое важное - в конце каждой коуч - сессии достигается гарантированный результат.</p>
<p><b>Философия коучинга:</b></p>
<ul>
    <li>каждый человек живет с чувством того, что он способен на большее. Коучинг – помощь в реализации этого чувства.</li>
    <li>каждый человек может все, что он захочет.</li>
    <li>каждый человек знает, чего он хочет.</li>
    <li>для того, чтобы достичь своих целей, надо осознавать реальность, быть мужественным и не останавливаться.</li>
    <li>хочешь быть счастливым и успешным – будь. Критерии счастья и успеха ты выбираешь сам.</li>
    <li>каждый человек отвечает за то, как проходит его жизнь.</li>
</ul>
<p>Профессиональный коучинг предполагает партнерские взаимоотношения между коучем и отдельным клиентом по достижению колоссальных результатов, основанных на заявленных клиентом целях.</p>
<p>В коучинговом процессе клиент фокусируется на навыках, необходимых для успеха и повышения собственных результатов. После того как клиент выбрал тему сессии, коуч наблюдает, спрашивает и слушает, помогая проанализировать концепции и принципы, помогающие раскрыть возможности и спланировать действия. В результате у клиента появляется ясность относительно наиболее эффективных путей достижения желаемого. Решения обычно находятся из скрытых ресурсов клиента, коучи верят и находят подтверждения уникальности и высокого потенциала их клиентов, в их творчество и находчивость. Карьерный коуч обеспечивает поддержку, для развития уже имеющихся у клиента ресурсов, способностей и творческих сил. Он усиливает осознание собственных возможностей, что ведет к более продуктивным жизненным выборам. Коучинг фокусируется на том, что с человеком происходит на данный момент и что можно сделать для достижения желаемого будущего, а не на его прошлом. Результативность в коучинге достигается в следствии того, что человек делает выбор и действует при поддержке коуча, благодаря способностям коуча и специальным коучиновым методикам.</p>
<p><b>Если структурировать, то процесс карьерного коучинга выглядит следующим образом:</b></p>
<ul>
    <li>постановка профессиональной карьерной цели;</li>
    <li>анализ текущей ситуации;</li>
    <li>пояснение видения клиента текущей ситуации;</li>
    <li>расширение и уточнение этой картины;</li>
    <li>что можно предпринять (мозговой штурм с поиском идей);</li>
    <li>что клиент намерен реализовывать из того списка идей, которые получились в результате мозгового штурма;</li>
    <li>составление плана действий по достижению цели;</li>
    <li>что еще необходимо для достижения цели (знания, навыки, ресурсы, помощь);</li>
    <li>определение контрольных точек и инструментов контроля;</li>
    <li>контроль и поддержка со стороны карьерного коуча в процессе реализации плана;</li>
    <li>контроль текущий и заключительный;</li>
    <li>промежуточная и итоговая обратная связь по результатам контроля.</li>
</ul>
<p>Карьерный коуч работает с людьми, создающими свое будущее, в соответствии со своими сильными личностными установками.</p>
<p>Людьми, которые хотят увеличить свой доход, больше радоваться жизни, брать все возможное от жизни, работы, бизнеса.</p>
<p><b>Люди нанимают карьерного коуча, потому что:</b></p>
<ul>
    <li>Они хотят больших карьерных достижений.</li>
    <li>Они хотят развиваться в профессиональной сфере.</li>
    <li>Они хотят достигать этого легче и быстрее.</li>
</ul>
<p><b>Подход карьерного коуча:</b></p>
<ul>
    <li>Помогает клиенту приобрести новые навыки и средства для карьеры;</li>
    <li>Помогает клиенту четко осознавать свои ценности и приводит их в соответствие с целями и желаемым результатами;</li>
    <li>Воодушевляет клиента на активное поведение, вдохновляет его на действия;</li>
    <li>Поддерживает клиента в поиске ресурсов для достижения поставленных целей.</li>
</ul>
<p>Карьерный коуч помогает человеку определиться с долгосрочными и краткосрочными карьерными планами – от трех месяцев до 10, а иногда 15 и больше лет. С помощью коуча клиент формирует свою цель, разрабатывает план действий, учиться брать на себя больше ответственности и действовать, мыслить масштабнее и реализовать свои планы, а коуч в свою очередь поддерживает и не дает свернуть клиенту с намеченного им курса. Карьерный коучинг помогает максимально полно и глубоко охарактеризовать карьерный и профессиональный потенциал личности клиента, выявить сильные стороны и области развития, а так же угрозы со стороны внешней среды, которые могу возникнуть.</p>
<p>Карьерный коучиг — это работа над конкретным проектов, где любая ваша профессиональная цель становится проектом, который вы беретесь реализовать. Первые встречи могут проходит 1-2 раза в неделю, затем они становятся реже – 1 или два раза в месяц. Коуч сессии проводятся как индивидуально, с глаза на глаз, так и по телефону и skype. Многое зависит от того, к какому сроку клиент хочет достигнуть своей цели. Если его цель состоит в том, что бы через 3-и месяца выйти на работу, то одной встречи раз в месяц скорее всего будет не достаточно.</p>
<p>Смысл коучинга - движение к цели. Используя коучинг, люди достигают своей цели найти работу намного эффективнее и быстрее.</p>
<p>Коучинг работает на уровне сознания и служит для расширения границ осознания действительности в ходе анализа поставленной задачи. Сбор всей необходимой информации для решения задачи и ее анализ производятся клиентом самостоятельно при содействии коуча. Для этого используются специальные техники, главная из которых - вопросные технологии коучинга.</p>
<p>В процедуре коучинга гармонично сочетаются два принципа: принцип осознанности и принцип ответственности.</p>
<p><b>Мы приводим несколько примеров запросов на карьерный коучинг, что бы Вам было проще понять, нужна ли Вам поддержка коуча в процессе смены или поиска работы:</b></p>
<ul>
    <li>Я хочу определиться чего я хочу и выйти на новую работу, соответствующую моим пожеланиям к ней через 3-и месяца.</li>
    <li>Сейчас я являюсь хорошим специалистом в моей области, но через пол года я хочу сделать рывок вперед и получить должность руководителя отдела</li>
    <li>Я хочу понять, какие качества мне необходимо развить, а так же как мне их достичь для того, что бы получить эту работу.</li>
    <li>Моя цель – наладить мои отношения с моими коллегами, я хочу понять, что и как мне необходимо делать для этого.</li>
    <li>Я хочу сменить сферу деятельности, но не знаю чего именно хочу. Моя цель понять что я хочу и как мне этого достичь, учитывая, что у меня не будет опыта работы в этой области</li>
    <li>Я студент, я только что окончил (а) институт, я хочу понять что мне делать дальше, разработать план как мне получить работу, учитывая что у меня нет опыта работы.</li>
    <li>Я просто хочу сменить работу, мне нужна профессиональная поддержка, видение, стимул, иначе я тут еще долго буду сидеть.</li>
    <li>У меня не ладятся мои отношения с моим руководителем, а именно он в конце года принимает решение, от которого будет зависеть мой дальнейший материальный и профессиональный рост. Я хочу продолжить работу в своей компании, но мои отношения ставят под удар мою цель. Мне нужно решить эту задачу и наладить отношения с руководителем.</li>
    <li>Я хочу больше зарабатывать и работать не более 4-х часов в день. Как мне этого достичь?</li>
    <li>Я хочу открыть свой бизнес, как мне этого достичь?</li>
    <li>Я хочу развивать свой бизнес, как мне это сделать?</li>
    <li>Я хочу добиться большей эффективности на работе.</li>
</ul>




























