---
layout: post
title:  Метод коучинга
description: Коучинг - происходит от английского слова "Coaching", означающее обучение или тренировку, причем является эффективным методом тренинга и консультирования.
categories: o-gipnoze
catname: О гипнозе
permalink: "blog/:categories/:year-:month-:day-:slug.html"
---
<p>Если человек решил обратиться за психологической помощью, перед ним обязательно встанет вопрос:  - Что выбрать, вернее, что будет полезнее и эффективнее? Психотерапия, гипнотерапия, а может быть коучинг? Такие вопросы возникают по банальной причине, ведь многие не понимают разницу, между коучингом и психотерапией. И если с психотерапией, хоть, что-то более или менее понятно, то коучинг вызывает много вопросов.</p>
<p>Коучинг - происходит от английского слова "Coaching", означающее обучение или тренировку, причем является эффективным методом тренинга и консультирования. Он отличается от классического тренинга тем, что во время сеанса, коуч, совместно со своими чемпионами (так называют в коучинге клиентов коуча), ищет всевозможные пути решения проблематики, при этом не дает различных советов и рекомендаций своим клиентам. Во время коучинга, тренер и его чемпион всегда находят пути достижения поставленных целей, как в личной жизни, так и на работе. Именно в этом, коучинг отличается от психотерапии и консультаций психолога, ведь они направлены на определенную проблематику. То есть, главной целью психотерапии, является полное избавление от определенного симптома, и в этом небольшая разница.</p>
<p>В связке гипноз и коучинг - это мощный способ развития вариативности мышления в поиске решений, а также развитие стратегического мышления и скрытых резервов человеческого организма. Данная связка является одним из лучших методов демонстрации клиенту нового жизненного опыта, ведь мы часто мыслим и принимаем решения исходя из того жизненного опыта который  у нас есть, и который иногда может быть истолкован нами неверно. Поэтому гипнотерапевт может предложить новые варианты решения той или иной ситуации и будучи в гипнозе, прожить их (прогрессия в гипнозе). И тогда у человека появляется выбор, больше возможностей и путей в будущем.</p>
<p>Коучинг даёт возможность увидеть ситуацию в полном объёме, обнаружить все плюсы и минусы, при этом заметить то, что до этого не замечалось.</p>
<p>В современном обществе существуют различные вариации определения коучинга. Его называют уникальным или оригинальным искусством, неповторимым процессом, системой творческого, личностного и социального потенциала, и это действительно так, ведь создать благоприятную среду между коучем и клиентом, действительно является искусством. Коучинг - это длительные и доверительные отношения между всеми участниками процесса, суть, которого, достижение эффективного результата.</p>
<p><b>Будьте здоровы и успешны!</b></p>






























