---
layout: post
title:  лечение хронической тазовой боли
description: Согласно исследованиям Всемирной Организации Здравоохранения (ВОЗ), каждый пятый житель планеты страдает хроническими болями, причиняемыми всевозможными патологическими состояниями, связанными с заболеваниями различных органов и систем организма.
categories: voprosi-ot-K-L
catname: Вопросы от К до Л
permalink: "blog/:categories/:year-:month-:day-:slug.html"
---
    <h3>Лечение хронических болей.</h3>
    <p>
        Согласно исследованиям Всемирной Организации Здравоохранения (ВОЗ), каждый пятый житель планеты страдает хроническими болями, причиняемыми всевозможными патологическими состояниями, связанными с заболеваниями различных органов и систем организма. Это означает, что как минимум 20% людей страдают хроническими болями разной степени выраженности, различной интенсивности и длительности.
    </p>
    <h4>Боль и механизмы ее возникновения.</h4>
    <p>
        Боль - это субъективное ощущение, возникающее в ответ на сверхсильное или разрушительное воздействие какого-либо травмирующего фактора, и представляет собой сложный физиологический процесс, включающий периферические и центральные механизмы. Боль, призвана мобилизовывать разнообразные функциональные системы организма для его защиты от воздействия вредящих факторов, и включает в себя такие компоненты как:  соматические, вегетативные и поведенческие реакции. Таким образом, боль есть объединяющая интегративная функция целостного  организма.
    </p>
    <h3>Виды боли – физиологическая (острая) и патологическая (хроническая).</h3>
    <h4>Острая боль.</h4>
    <p>
        Острая боль является важнейшим эволюционным приобретением, и требуется для защиты от воздействия разрушающих факторов. Смысл физиологической боли заключается в отбрасывании всего, что угрожает жизненному процессу, нарушает равновесие организма с внутренней и внешней средой.
    </p>
    <h4>Хроническая боль.</h4>
    <p>
        Это явление несколько более сложное, которое формируется в результате длительно существующих в организме патологических процессов. К  патологическим процессам относят следующие: – длительное существование очагов воспаления имеющих различные причины, всевозможные новообразования (доброкачественные и злокачественные), травматические повреждения, операционные вмешательства, исходы воспалительных процессов (например, образование спаек между органами, изменение свойств тканей, входящих в их состав, и т.д.)
    </p>
    <p>
        Так как данные повреждения минимальны, то и болевые импульсы довольно таки слабые, а боль становится постоянной, хронической и сопровождает человека повсеместно и практически круглосуточно. Болевой синдром, существующий у человека шесть или более месяцев, приводит к значительным изменениям в организме человека. Происходит нарушение ведущих механизмов регуляции важнейших функций организма человека, дезорганизация поведения и психики. Страдает социальная, семейная и личностная адаптация данного конкретного индивида.
    </p>
    <h4>Механизмы возникновения боли.</h4>
    <p>
        <b>Процесс возникновения болевого чувства сводится к трем этапам:</b>
    </p>
    <ul>
        <li>Восприятие (система экстерорецепторов, интерорецепторов и  проприорецепторов, воспринимающих специфическое раздражение);</li>
        <li>Проведение (чувствительные проводящие пути центральной нервной системы, центростремительно проводящие возбуждение)</li>
        <li>Ощущение (корковые центры,  структуры лимбической системы, и ретикулярная формация головного мозга, анализирующие ощущение и формирующие болевое чувство).</li>
    </ul>
    <h3 id="fiziologiay-boli">Физиология возникновения боли у человека.</h3>
    <h4>Виды болевых рецепторов.</h4>
    <p>
        На сегодняшний день выделяют два основных вида болевых рецепторов: первые – это свободные нервные окончания, при раздражении которых возникает ощущение тупой, разлитой боли, а вторые представляют собой сложные болевые рецепторы, при возбуждении которых возникает чувство острой и локализованной боли. То есть характер болевых ощущений напрямую зависит от того, какие болевые рецепторы восприняли раздражающее воздействие.
    </p>
    <h4>Краткий обзор внутренней системы сигнализации.</h4>
    <p>
        После восприятия болевыми рецепторами сверхсильного раздражения сигнал поступает по проводящим путям через задние корешки в спинной мозг и по проводящим путям спинного мозга к  подкорковым структурам головного мозга. Перед достижением чувствительных участков коры головного мозга, болевая импульсация проходит, так называемую, предварительную обработку в определенных отделах центральной нервной системы. Это  таламус (зрительный бугор), гипоталамус,  ретикулярная формация, участки среднего и продолговатого мозга. Первый, и, пожалуй, один из самых важных фильтров на пути болевой чувствительности – это таламус.
    </p>
    <p>
        Задние ядра таламуса дают информацию о локализации источника боли, а срединные его ядра – о продолжительности воздействия раздражающего агента. Гипоталамус, как важнейший регуляторный центр вегетативной нервной системы, участвует в образовании вегетативного компонента болевой реакции опосредованно, через задействование центров регулирующих обмен веществ, работу дыхательной, сердечно-сосудистой и других систем организма. Ретикулярная формация координирует уже частично обработанную информацию. Особенно нужно подчеркнуттм роль ретикулярной формации в формировании ощущения боли как некоего особого интегрированного состояния организма, с включением всевозможных биохимических, вегетативных, соматических составляющих. Лимбическая система мозга обеспечивает негативную эмоциональную окраску. Сам процесс осознания боли как таковой, определение локализации болевого источника (имеется ввиду конкретная область собственного тела, болит палец, глаз, зуб, сустав, и т.д.) в совокупности со сложнейшими и разнообразнейшими реакциями на болевую импульсацию происходит непременно при участии мозговой коры.
    </p>
    <p>
        Сенсорные участки коры головного мозга являются высшими модуляторами болевой чувствительности и играют роль, так называемого, коркового анализатора информации о факте, длительности и локализации болевого импульса. Именно на уровне коры происходит интеграция информации от различных видов проводников болевой чувствительности, что означает полновесное оформление боли как многогранного и многообразного ощущения. Каждый уровень построения болевой системы от рецепторного аппарата до центральных анализирующих систем мозга может обладать свойством усиления болевой импульсации.
    </p>
    <p>
        Таким образом, боль - это субъективная реакция организма на любое сверхсильное раздражение рецепторов на периферии, которое по проводящим путям центральной нервной системы достигает болевых центров теменной доли, комплекса структур лимбической системы и ретикулярной формации головного мозга, где формируется болевое ощущение локального или диффузного характера. Возникновению боли способствует раздражение болевых рецепторов биологически активными веществами - кининами, серотонином, ацетилколином, гистамином, которые выделяются при повреждении тканей.
    </p>
    <h3>Ноцицептивная и антиноцицептивная системы.</h3>
    <h4>Ноцицептивная система</h4>
    <p>
        Перечисленные анатомические образования, принимающие участие в рецепции и проведении ноцицептивного воздействия, а затем и в формировании чувства боли, называются ноцицептивной системой. Она является отрицательной биологической потребностью организма, сигналом опасности. В то же время боль формирует мотивацию избавления от нее.
    </p>
    <h4>Антиноцицептивная система</h4>
    <p>
        Следовательно, в организме должна быть и другая система, противоположная ноцицептивной - антиноцицептивная. Она представляет собой различные физиологические механизмы и соответствующие им анатомические образования, которые способствуют уменьшению или исчезновению чувства боли. Сюда в широком смысле слова следует отнести повышение функций тех органов и систем, которые принимают участие в защитной реакции организма при боли:
    </p>
    <ul>
        <li>усиление мышечной активности, сердечной деятельности, дыхания, обмена веществ;</li>
        <li>увеличение содержания в крови эритроцитов, тромбоцитов, протромбина, лейкоцитов;</li>
        <li>угнетение деятельности тех органов, которые не принимают участия в защите (например, желудочно-кишечного тракта</li>
    </ul>
    <p>
        Таким образом, все болевые ощущения регулируются совместным взаимодействием ноцицептивной и антиноцицептивной систем. Только их согласованная работа и тонкое взаимодействие позволяет адекватно воспринимать боль и её интенсивность, в зависимости от силы и продолжительности воздействия раздражающего фактора.
    </p>
    <p>
        <b>По месту локализации различают следующие виды болей:</b>
    </p>
    <ul>
        <li>Плечевой сустав</li>
        <li>Локтевой сустав</li>
        <li>Суставы кисти и пальцев</li>
        <li>Тазобедренный сустав</li>
        <li>Коленный сустав</li>
        <li>Суставы голеностопа</li>
        <li>Боли в спине</li>
        <li>Боли в пояснице</li>
        <li>Боли в шее</li>
        <li>Голова</li>
        <li>Внутренние боли различной локализации.</li>
    </ul>
    <h4>Как вылечить хроническую боль?</h4>
    <h4>Почему боль не прекращается?</h4>
    <p>
        Когда ваше тело повреждено, в него попала инфекция, специальные нервные окончания на коже, в суставах, мускулах, внутренних органах посылают сигналы в мозг, свидетельствующие о том, что произошла травма или повреждение тканей тела. Специальные нервные клетки непрерывно сообщают мозгу, где боль, насколько она сильная, характер болевых ощущений (острая, жгучая, тупая, ноющая). Мозг затем перерабатывает эти сигналы и направляет обратно сообщение, чтобы вы остановились и перестали делать то, что приносит организму боль. Например, если вы тронули что-то горячее, мозг отправит мышцам приказ действовать, так, что вы немедленно отдерните руку.
    </p>
    <p>
        Мозг отправляет сигналы и нервным клеткам, чтобы они прекратили подавать сигналы о боли, если действие объекта, вызвавшего ее, прекратилось (например, когда повреждение начинает заживать). Но очень часто, в результате рассогласования этой сложной физиологической системы, этот механизм не срабатывает. Нервная система, продолжает посылать мозгу сигналы о боли месяцами или  годами после излечения, даже если на данный момент никаких  повреждений нет. Результат - хронические боли.
    </p>
    <p>
        <b>К счастью существует единственный эффективный метод борьбы с этой болезнью!</b>
    </p>
    <p>
        За 20 лет практики нами разработана уникальная авторская методика, опирающаяся исключительно на научные нейрофизиологические исследования наших светил - советских академиков и профессоров. Профессиональное воздействие по нашей авторской методике относится к самым результативным услугам в настоящее время, и позволяет найти глубинные причины рассогласования сложной деятельности нейрохимических и нейрофизиологических механизмов больного, следствием  которого стали хронические боли.
    </p>
    <p>
        В настоящее время гипноз все больше набирает популярность среди специалистов и обычных людей. Люди обращаются к гипнологам по разнообразным причинам. Самыми распространенными ситуациями применения гипноза являются различные неврозы, фобии, страхи, депрессии, ОКР, СРК, ВСД, пищеварительные, сексуальные нарушения, коррекция поведенческих реакций человека, заниженная самооценка, комплексы, вредные привычки, боли различной локализации.  Причем в этих случаях, гипнотерапия остается единственным результативным методом, так как нацелена на избавление больного от причин его заболевания, в то время как все остальные методы, включая фармацевтические, претендуют только на временное снятие симптомов.
    </p>
    <p>
        Тем временем, психогенный сбой у больного не стоит на месте, а генерализуется и приобретает более ярко выраженный гетерогенный характер, вовлекая все большие участки функциональной системы в патогенез.
    </p>
    <p>
        Успешное применение гипноза при лечении столь широкого круга заболеваний связанно с тем, что точкой приложения лечебного слова в гипнозе - являются большие полушария головного мозга человека, лимбическая система, таламус, гипоталамус, ретикулярная формация, которые управляют всеми органами и системами организма. Слово в гипнозе оказывается чрезвычайно могущественным лечебным фактором, производящим прямое и непосредственное воздействие на характер и динамику корковых процессов. Это открывает прямой путь к устранению патологических процессов и мобилизации необходимых внутренних ресурсов организма человека.
    </p>
    <p>
        Еще при жизни И. П. Павлова учеником его К. М. Быковым было экспериментально доказана возможность условнорефлекторных связей коры мозга решительно со всеми внутренними органами и системами. В лабораториях Быкова (1947) также доказана возможность образования временной связи и через гуморальные пути с денервированными органами (почки, селезенка, поджелудочная железа). Это означает, что в условную реакцию вовлекаются инкреторные железы, гормоны которых в свою очередь оказывают действие через кровь на целую систему органов.
    </p>
    <p>
        Таким образом, вся внутренняя среда в известной мере подчиняется влияниям коры мозга, импульсы со стороны которой могут воздействовать на состояние любого внутреннего органа и любой системы. В силу этого и благодаря временным связям кора больших полушарий осуществляет тесное взаимоотношение между внешней и внутренней средой организма. Таким образом, воздействуя лечебным словом в гипнозе на высшие отделы Ц.Н.С., открывается прямой путь к устранению патологических процессов и мобилизации необходимых внутренних ресурсов организма человека. Ибо в свете учения о единстве психики и соматики, всякое соматическое заболевание неразрывно связано с большим или меньшим нарушением функционального состояния высшей нервной деятельности больного.
    </p>
    <p>
        <b>Поэтому гипнотерапия</b> – это единственный метод,  позволяющий выявить и устранить причину рассогласования сложной деятельности нейрохимических  и нейрофизиологических механизмов, оказывая прямое и непосредственное воздействие на характер и динамику корковых процессов, а также,  и на подкорковые структуры (лимбическую систему, таламус, гипоталамус, ретикулярную формацию), мобилизуя необходимые внутренние ресурсы организма человека, полностью устраняя причину возникновения патологической  боли на всю жизнь!
    </p>
    <h4>Возможны ли побочные эффекты от гипноза?</h4>
    <p>
        Как утверждают специалисты, на сегодняшний день таких фактов не выявлено. Исследования в разное время проводились такими видными и авторитетными учеными как: В. М. Бехтерев, И. П. Павлов, С. С. Либих (1974), А. И. Захаров (1982), А. А. Токарский (1989), М. С. Лебединский, А. Т. Пшоник (1952), Л. Л. Васильев, И. П. Брязгунов (1970) Л. Черток (1972), В. И. Сухорукова (1977), П. К. Анохин, Н. Е. Введенский (1911-1913), Н. И. Красногорский, В. М. Шкловский (1975, 1994), В. Н. Мясищев, Ю. А. Поворинский (1950), С. Н. Давиденков, К. М. Варшавский (1973), С. С. Кор-саков, К. М. Быков, А. М.Свядощ (1982), В. Я. Данилевский, Б. Н. Бирман (1922,1925, 1946), Л. Б. Гаккель (1955), Д. Я. Венгеровский (1955), И. 3. Вельвовский (1984), А. Л. Гройсман, К. И. Платонов (1957), С. Л. Рубинштейн, В. Е. Рожнов, А. А. Ухтомский, И. М. Сеченов, А.М. Свядощ, А. П. Слободяник, Е. С. Катков, М. П. Кутании, В. В. Кузьмин, П. П. Подъяпольский, Е. Н. Довбня, Ф. Е. Рыбаков, В. Н. Хорошко, А. И. Яроцкий, А. Ф. Лазурский, Ю. В. Каннабих, В. М. Нарбут, Ф. Д. Неткачев, В. А. Гиляровский, М. В. Стрельчук, Г. В. Морозов, В. М. Банщиков, Н. В. Иванов, Н. К. Липгарт, А. Г. Иванов-Смоленский, и др. Учеными доказано, что психика человека саморегулируется во время лечебного транса, мобилизуются его внутренние резервы, активизируются защитные силы организма (компенсаторные), гомеостаз организма приходит в норму, а потому опасности для психического и физиологического здоровья пациента нет.
    </p>
    <p>
        <b>Положительные стороны гипнотического лечения:</b>
    </p>
    <ul>
        <li>Полное отсутствие медикаментозного влияния на организм человека.</li>
        <li>Нет побочного эффекта.</li>
        <li>Полезно. Нормализует гомеостаз организма, укрепляет ЦНС, и т.д.</li>
        <li>Устраняет причины заболевания.</li>
        <li>Дешевле.</li>
    </ul>
    <p>
        Сеанс гипноза, сам по себе является целебным для человека. Гипноз улучшает общее самочувствие человека, обеспечивает слаженную работу всех органов и систем организма его (гомеостаз), что позволяет пациенту ощутить новый прилив жизненных сил. Он положительно влияет на работу многих органов и систем: сердечно - сосудистой, дыхательной, эндокринной, пищеварительной, ЦНС, помогает при бессоннице, снимает раздражительность, уменьшает беспокойство, и т.п..
    </p>
    <p>
        <b>Наш авторский метод позволит вам вернуться к нормальной жизни и получать от нее удовольствие.</b>
    </p>
    <p>
        <b>Будьте здоровы и берегите себя!</b>
    </p>




















