---
layout: post
title: Лечение игромании гипнозом в Москве
description: В настоящее время выделяется такая болезнь, как игромания – патологическая склонность к азартным играм. Самое страшное то, что человек не может самостоятельно остановиться.
categories: voprosi-ot-L
catname: Вопросы от Л
permalink: "blog/:categories/:year-:month-:day-:slug.html"
---
<p>В настоящее время выделяется такая болезнь, как игромания – патологическая склонность к азартным играм. Самое страшное то, что человек не может самостоятельно остановиться.</p>
<p>Стремление играть  по своему воздействию на психику,  можно сравнить и поставить на один уровень с пристрастием к алкоголю и наркотической зависимости. Человек, которому раньше этот процесс казался веселым, интересным  и совершенно безобидным, с какого-то момента стал его заложником. Научно доказано, что пристрастие к игре так же, как и пристрастие к алкоголю и наркотикам, – это серьезное психическое заболевание. Болезнь начинается тогда, когда не человек управляет игрой, а игра – человеком. Это тот момент, когда необходимо лечиться.</p>
<p><b>Сама игромания, это результат  внутренних, глубинных  психологических причин! Такие как:</b></p>
<ul>
    <li>Проблемы воспитания. (Недостаток или наоборот избыток любви, чрезмерная опека, подавление ребенка, рукоприкладство, отсутствие душевного тепла и взаимопонимания в семье и т.д.)</li>
    <li>Психические травмы.</li>
    <li>Скука или отсутствие других  интересов.</li>
    <li>Трудности или дефицит общения с другими людьми, одиночество. Игры, любые, в том числе и компьютерные, дают ощущение полной события жизни, вращения в самой ее гуще, обширности общения.</li>
    <li>Неудовлетворенность жизнью. Игры становятся «порталом» в другую жизнь.</li>
    <li>Отсутствие чувства ответственности за свои действия и поступки.</li>
    <li>Деформация моральных качеств.</li>
    <li>Неуверенность в себе, заниженная самооценка, комплексы.</li>
    <li>Неопределенность своего будущего.</li>
    <li>Страхи, чувство незащищенности, депрессия, стрессы.</li>
    <li>Подражание сверстникам, значимым людям, кумирам.</li>
    <li>Личностный кризис, неудовлетворенность жизнью, проблемы. Благодаря игре человек чувствует себя совершенно другим, значимым и способным реализовать свои, ранние  сдерживаемые, желания.</li>
</ul>
<p><b>В  процессе игры, игроман получает заряд стрессовых гормонов, в результате которых организм получает эндорфины – «гормоны счастья». Постепенно «туннельное видение» приводит к тому, что игра для игромана приобретает следующие значения:</b></p>
<ul>
    <li>играет роль «успокоительного средства»;</li>
    <li>дает возможность забыть о проблемах, облегчает их восприятие;</li>
    <li>восполняет недостаток острых ощущений;</li>
    <li>приносит радость и приятное наслаждение</li>
</ul>
<p>Поэтому игромана постоянно тянет играть, повышать ставки, пробовать что-то новое. Если ему это не удается, то начинается депрессивное расстройство и ломка.</p>
<p>Игроман нуждается в тщательном  патопсихологическом анализе и лечении.  Очень важно понимать то, что освобождение от патологической игры, непосредственно связано с восстановлением психики, а также с переоценкой актуальных ценностей, что непременно приводит к изменению образа жизни игромана. Однако каким бы сильным не было влияние гипнолога, помощь, как и при обычной наркомании, не должна быть разовой, потому,  что личность за один-два сеанса изменить невозможно. Терпение и упорство,  как со стороны самого игромана, так и со стороны его близких,  являются необходимыми условиями при лечении этой болезни.</p>
<p><b>К счастью существует эффективный метод борьбы с этим недугом.</b></p>
<p>В настоящее время гипноз все больше набирает популярность среди специалистов и обычных людей.  Люди обращаются к гипнологам по разнообразным причинам. Самыми распространенными ситуациями применения гипноза являются различные неврозы, фобии, страхи, депрессии, ОКР, СРК, ВСД,  пищеварительные, сексуальные нарушения, коррекция поведенческих реакций человека, заниженная самооценка, комплексы, вредные привычки. Причем в этих случаях, гипнотерапия остается единственным результативным методом, так как нацелена  на избавление больного от причин его заболевания, в то время как все остальные методы, включая фармацевтические, претендуют только на временное снятие симптомов.</p>
<p>Тем временем,  психогенный сбой у больного не стоит на месте, а  генерализуется и приобретает более ярко выраженный  гетерогенный характер, вовлекая все большие участки функциональной системы в патогенез.</p>
<p>Успешное применение гипноза при лечении столь широкого круга заболеваний связанно с тем, что точкой приложения лечебного слова в гипнозе - являются большие полушария головного мозга человека, которые управляют всеми органами и системами  организма. Слово в гипнозе оказывается  чрезвычайно могущественным лечебным фактором, производящим прямое и непосредственное воздействие на характер и динамику корковых процессов. Это открывает прямой путь к устранению патологических процессов и мобилизации необходимых внутренних ресурсов организма человека.</p>
<p><b>Поэтому гипнотерапия  – это единственный метод психологической помощи человеку, позволяющий устранить причину  заболевания, а не ее симптом, оказывая  прямое и непосредственное воздействие на характер и динамику корковых процессов, мобилизуя необходимые внутренние ресурсы организма человека. Наш авторский метод гипнотерапии поможет вам избавиться от вашего недуга на всю жизнь!</b></p>
<p><b>За 20 лет практики нами разработана уникальная авторская методика, опирающаяся исключительно на научные нейрофизиологические  исследования наших светил -  советских академиков и профессоров. Профессиональное воздействие по  нашей авторской методике,  относится к самым результативным услугам в настоящее время.  Она нацелена не только на избавление от игромании, но и от психогенных причин  ее возникновения.  Но главным фактором, без которого излечение практически невозможно, является желание самого пациента избавиться от этой  патологической склонности к азартным играм.</b></p>
<h4>Возможны ли побочные эффекты от гипноза?</h4>
<p>Как утверждают специалисты, на сегодняшний день таких фактов не выявлено. Исследования в разное время проводились такими видными и авторитетными  учеными как:  В. М. Бехтерев, И. П. Павлов,  С. С. Либих (1974), А. И. Захаров (1982), А. А. Токарский (1989), М. С. Лебединский,  А. Т. Пшоник (1952), Л. Л. Васильев,  И. П. Брязгунов (1970) Л. Черток (1972), В. И. Сухорукова (1977), П. К. Анохин,  Н. Е. Введенский (1911-1913),  Н. И. Красногорский,  В. М. Шкловский (1975, 1994),   В. Н. Мясищев, Ю. А. Поворинский (1950), С. Н. Давиденков, К. М. Варшавский (1973), С. С. Кор-саков, К. М. Быков, А. М.Свядощ (1982), В. Я. Данилевский, Б. Н. Бирман (1922,1925, 1946),  Л. Б. Гаккель (1955),  Д. Я.  Венгеровский (1955),   И. 3. Вельвовский (1984), А. Л. Гройсман, К. И. Платонов (1957), С. Л. Рубинштейн, В. Е. Рожнов, А. А. Ухтомский, И. М. Сеченов, А.М. Свядощ, А. П. Слободяник, Е. С.  Катков,  М. П. Кутании,  В. В. Кузьмин,  П. П.  Подъяпольский,  Е. Н. Довбня, Ф. Е. Рыбаков, В. Н. Хорошко, А. И. Яроцкий, А. Ф. Лазурский, Ю. В. Каннабих, В. М. Нарбут, Ф. Д. Неткачев, В. А. Гиляровский, М. В. Стрельчук, Г. В. Морозов, В. М. Банщиков, Н. В. Иванов, Н. К. Липгарт, А. Г. Иванов-Смоленский, и др. Учеными доказано, что психика человека саморегулируется во время лечебного транса, мобилизуются его внутренние резервы, активизируются защитные силы организма (компенсаторные), гомеостаз организма приходит в норму, а потому опасности для психического и физиологического здоровья пациента нет.</p>
<p><b>Положительные стороны гипнотического лечения:</b></p>
<ul>
    <li>Полное отсутствие медикаментозного влияния на организм человека.</li>
    <li>Нет побочного эффекта.</li>
    <li>Полезно. Нормализует гомеостаз организма, укрепляет ЦНС, и т.д.</li>
    <li>Устраняет причины заболевания.</li>
    <li>Дешевле.</li>
</ul>
<p>Сеанс гипноза, сам по себе является целебным для человека. Гипноз улучшает общее самочувствие человека, обеспечивает слаженную работу всех органов и систем организма,  его (гомеостаз), что позволяет пациенту ощутить новый прилив жизненных сил. Он положительно влияет на работу многих органов и систем: сердечно - сосудистой, дыхательной, эндокринной, пищеварительной, ЦНС, помогает при бессоннице, снимает раздражительность, уменьшает беспокойство, и т.п.</p>
<p>Самостоятельные попытки избавится от игромании оборачиваются синдромом отмены:  проблемами с сердцем и сосудами, отсутствием аппетита, повышенным потоотделением, головными болями,  нарушением  дыхания,  повышенной нервозностью, нарушением сна, раздражительностью, человек угнетен или подвержен вспышкам агрессии, к тому же, чем дольше борешься, тем сильнее хочется играть,  а неудача, приводит к разочарованию в своих силах, психологической зажатости, комплексу неполноценности,  ложным убеждениям  невозможности соскочить с игорной иглы,  и как следствие, повышенной тяги   играть.  И только гипнотерапия помогает преодолеть негативные последствия отказа от алкоголя для нервной системы.</p>
<p>Человек, зависимый от  азартных игр, должен понимать, с чем он может справиться, а с чем нет,  и уметь вовремя попросить помощи, а не ждать  когда «кондрашка хватит».</p>
<p>Чтобы избавиться от игровой зависимости с помощью гипноза, человек должен соглашаться на эту процедуру осознанно, искренне желать преодолеть зависимость! Наш авторский метод   позволит вам вернуться к нормальной жизни и получать от нее удовольствие.</p>
<p><b>Будьте здоровы и берегите себя!</b></p>

















































