---
layout: post
title:  Психологическая диагностика
description: Психологическая диагностика, на основе физиологических исследований, позволяет выявить причины и факты, влияющие на особенность поведения, выявить проблемы не только осознаваемые, но и скрытые.
categories: psihologiya
catname: Психология
permalink: "blog/:categories/:year-:month-:day-:slug.html"
---
<h4>Психологическая диагностика людей разных возрастов – детей, подростков, молодежи и взрослых.</h4>
<p>Такой вид исследования, как психологическая диагностика личности, позволяет получить полную информацию о способностях человека, его интересах, склонностях и личностных особенностях, а также выявить внутренние ресурсы и научиться их грамотному использованию.  Психодиагностика осуществляется только на основе тщательно отобранных и проверенных технологий. Сегодня мы располагаем различными методиками, позволяющими проводить диагностику детско-родительских и семейных отношений; межличностных и межгрупповых взаимодействий; психических состояний; выявление психических травм, комплексов; предрасположенности к конфликтам; склонностей к лидерству; типа характера; ценностных ориентаций; мотивации достижения результата; уровня интеллекта; креативности и т.д.</p>
<p>В основе нашей психологической диагностики лежит учение о единстве психики и соматики,  всякое соматическое заболевание неразрывно связано с большим или меньшим нарушением функционального состояния высшей нервной деятельности человека. Физиологическая основа в субъективно-психологическом понимании закономерностей психических процессов как в их нормальных, так и в патологических проявлениях  позволяют вскрывать  сложные поведенческие нарушения, нарушения формирования  психики,   несмотря на сложность структуры человеческой личности, разнообразие врожденных и приобретенных типовых особенностей нервной системы, как и сложность и изменчивость конкретных условий взаимоотношения организма человека с окружающей его социальной и физической средой.</p>
<p>Психологическая диагностика, на основе физиологических исследований, позволяет выявить причины и факты, влияющие на особенность поведения, выявить проблемы не только осознаваемые, но и скрытые.</p>
<p><b>Психологическая диагностика  осуществляется по четырем основным направлениям:</b></p>
<ul>
    <li>изучение, анализ и составление характеристики поведенческой деятельности;</li>
    <li>исследование психических процессов, которые отвечают за регулирование деятельности человека;</li>
    <li>диагностика механизмов протекания нервных реакций;</li>
    <li>поиск проблем (не только осознаваемых самим пациентом, но и скрытых); определение отношения личности к выявленным проблемам;</li>
    <li>изучение условий формирования психологических характеристик индивида.</li>
</ul>
<h4>Когда нужно обращаться к психологу за диагностикой?</h4>
<ul>
    <li>Все предыдущие пути решения проблемы оказались недейственными;</li>
    <li>Вы не можете самостоятельно справиться с предыдущим травмирующим опытом;</li>
    <li>Переживание утраты, связанной с потерей близкого человека, затянулось на долгое время;</li>
    <li>Вы не можете принять себя, не нравитесь себе и обладаете заниженной самооценкой;</li>
    <li>Вы не находите в себе сил самостоятельно справиться с имеющейся зависимостью;</li>
    <li>Вы постоянно испытываете чувство тревоги, сковывающее вас и ваши попытки к деятельности;</li>
    <li>Вы испытываете депрессию, обиду, страхи, фобии, расстройство пищевой и половой аддикции,  неуверенность в себе, заниженную самооценку, комплексы, вредные привычки и т.д.</li>
</ul>
<h4>Преимущества обращения к нам.</h4>
<p>Мы используем в диагностике методы, на основе физиологических исследований,  которые позволяют собрать максимально полную информацию в относительно сжатые сроки. После обследования мы сможем ответить на все интересующие вас вопросы. Содержание беседы и все результаты психодиагностики являются абсолютно конфиденциальными.</p>
<p><b>Будьте здоровы и берегите себя!</b></p>





















































