---
layout: post
title:  Обучение уличному гипнозу
description: Уличный гипноз – это ввести человека в любых условиях за самое короткое время, мгновенно. Такому гипнозу в России обучают единицы.
categories: shkola-gipnoza
catname: Школа гипноза
permalink: "blog/:categories/:year-:month-:day-:slug.html"
---
<h4>Обучение уличному гипнозу</h4>
<p>В моем представлении уличный гипноз - это когда подходишь к человеку, чтобы войти в контакт под любым предлогом, и вводишь его в  психологический гипноз ИСС. В этом состоянии человек теряет полностью контроль над собой. Ему можно внушить любую галлюцинацию или любое действие, вплоть до стирания из памяти своего имени. В этот момент глаза у человека могут быть открыты, но по его глазам и по его движениям нельзя определить, что он находится в глубоком гипнозе.</p>
<p>На других курсах, под магическим названием уличный гипноз, преподают все тот же классический гипноз, с согласием человека на сотрудничество с вами под любым прикрытием: шоу гипноза, психологическое исследование и т. д…  Вы проведете серию тестов на гипнабельность, и после этого приступите к гипнотизации. Это в моем понимании, обыкновенный кабинетный гипноз со сверхгипнабельными пациентами, но только на скамейке на улице, а не в кабинете. К тому же эти курсы гипноза,  предполагают групповые занятия, на которых научится мастерству настоящего гипноза тяжело. В гипнозе слишком  много всевозможных тонкостей и нюансов, без которых гипноз невозможен. Только индивидуальное обучение и индивидуальный подход к ученику дает самый высокий результат.</p>
<p>Уличный гипноз - это когда ты не работаешь только с теми, кто согласен на гипноз, это не тесты на внушаемость, на них нет времени и возможности.  Уличный гипноз – это ввести человека в любых условиях за самое короткое время, мгновенно. Такому гипнозу в России обучают единицы.</p>
<p><b>Все секреты гипноза, существующие в мировой практике!</b></p>
<p><b>Программа обучения:</b></p>
<ul>
    <li>Что такое гипноз. Что означает «гипнотизировать».</li>
    <li>Что такое сознание и подсознание. Как их отличить.</li>
    <li>Что такое сознательное мышление. Ее функция. Физиология сознательного мышления.</li>
    <li>Что такое бессознательное мышление. Ее функция. Физиология  бессознательного мышления.</li>
    <li>Переход сознания и бессознательное.  Где граница?</li>
    <li>Рефлексы. Безусловные и условные рефлексы. Опыты И. П. Павлова. Условные рефлексы вокруг нас. Филогенез и онтогенез  в  физиологии условного рефлекса.</li>
    <li>Первая и вторая сигнальные системы. Соединение систем.</li>
    <li>Психофизиология возникновения торможения и возбуждения в коре головного мозга.</li>
    <li>Закон формирования психотравм.</li>
    <li>Почему только гипноз позволяет выявить и устранить причины психических расстройств.</li>
    <li>Заниженная самооценка, неуверенность в себе, комплексы,  причины их появления.</li>
    <li>Причина появления депрессии, фобии, страхов, СРК, ОКР, ВСД, расстройства пищевого поведения,  и т.д.</li>
    <li>Введение в тему гипноза: классический гипноз, эстрадный, эриксоновский гипноз.</li>
    <li>Упражнения для тренировки глаз.</li>
    <li>Три стадии глубины гипноза в классическом, эриксоновском гипнозе. Классификация Е. С.  Каткова.</li>
    <li>Классический гипноз, эриксоновский гипноз. Тесты на гипнабельность. Упражнения на доверие.</li>
    <li>Техники классического гипноза с практикой. Каталептический мост.</li>
    <li>Кто лучше поддается гипнотизации.</li>
    <li>Физиологические функции в гипнозе: давление, дыхание, ритм пульса, мышечное напряжение и т.д.</li>
    <li>Психические функции в гипнозе: сознание, голод и жажда, боль, память, анестезия и анальгезия, прогрессии и регрессии.</li>
    <li>Перевод естественного сна в гипнотический.</li>
    <li>Насильственные способы гипнотизации.</li>
    <li>Внушение. Техники внушения в бодрствующем состоянии.</li>
    <li>Раппорт. Передача раппорта через записку, фото, через предметы, передача через звуки и т.д.</li>
    <li>Внушение и вера в гипнотизера. Создание образа. Почему при моих методиках вера в гипнотизера не нужна?</li>
    <li>Что такое сознание, и где оно находится с точки зрения физиологии.</li>
    <li>Формула управления человеком. Физиологические законы.</li>
    <li>Манипулирование. Причины появления любовной зависимости. Причины возникновения депрессии в результате осознанного или неосознанного манипулирования. Техника манипулирования.</li>
    <li>Самогипноз.</li>
    <li>Более 20 техник быстрого погружения в гипноз.</li>
    <li>Техники для уличного ИСС</li>
    <li>Цыганский гипноз. Механизмы влияния. Виды гипноза.</li>
    <li>Вопросы и ответы.</li>
</ul>
<p>Обучение проводится индивидуально и занимает по времени 18 часов, три дня по 6 часов. Из них три часа времени занимает практика на трех незнакомых людях, пришедших по объявлению о проведении некоего психологического исследования. Вы проведете шесть полноценных сеансов гипноза с различными техниками. Стоимость обучения 80000 рублей. При увеличении количества  испытуемых людей, цена увеличивается и обговаривается отдельно.</p>
<p>Применение аудио и видео средств во время обучения гипнозу не разрешается.</p>
<p><b>Внимание! Вам может быть отказано в обучении без объяснения причин. В этом случае все деньги вам возвращаются.</b></p>
<h4>Разновидности гипноза</h4>
<h4>Классический гипноз.</h4>
<p>Классический  гипноз в виде сонного торможения всей коры с сохранением бодрствующего участка (зоны рапорта) называется летаргическим.  Летаргия -характеризуется тем, что при погружении в ту или иную глубину гипнотического состояния, тело человека расслабляется все больше и больше.</p>
<p>Если в малом гипнозе летаргического типа поднять руку испытуемого вверх, то вы почувствуете тяжесть в поднятой конечности; если внезапно отнять свою поддерживающую руку, рука загипнотизированного моментально упадет вниз, словно налитая свинцом.</p>
<p>В среднем (по глубине) гипнозе летаргического типа это отяжеление мускулатуры выражено еще больше.</p>
<p>В глубоком гипнозе летаргического типа тело испытуемого расслабляется так, что положенное спиной на узкую подставку или спинку стула изгибается настолько, насколько это позволяет костный остов. Так велико расслабление всей мускулатуры тела. Наблюдается феномен  так называемой «летаргической дуги».</p>
<h4>Каталептический гипноз.</h4>
<p>При каталептическом  гипнозе у испытуемого  возникает одергивание мускулатуры. Тело человека по мере засыпания и углубления гипноза становится все более и более крепким, мышцы человеческого тела напрягаются все больше.</p>
<p>Если поднять руку испытуемого в малом гипнозе каталептического типа вверх, то рука словно застынет в воздухе. Если отнять поддерживающую руку, то можно видеть, как рука испытуемого остается в воздухе, «как палка».</p>
<p>В среднем гипнозе каталептического типа можно наблюдать феномен так называемой «восковидной гибкости», когда тело испытуемого застывает в тех позах (подчас весьма затейливых), которые вы ему придали.</p>
<p>В глубоком гипнозе каталептического типа напряжение мускулатуры настолько велико, что положенное ногами на спинку одного стула, а головой — на спинку другого, тело человека застывает как «каталептический мост». Этот феномен каталептического моста в старину поражал воображение естество-испытателей. На грудь такого испытуемого можно было встать, положить большой камень, а человек как ни в чем не бывало продолжал спать. После пробуждения испытуемый ничего не помнил и никаких неприятных ощущений не испытывал. Каталептический тип гипноза ближе всего стоит к гипнозу животных.</p>
<h4>Сомнабулический гипноз.</h4>
<p>Сомнабулический  гипноз — сомнамбулизм — характеризуется тем, что в нем наблюдается ряд интересных явлений автоматизма.</p>
<p>Если в малом гипнозе сомнамбулического типа гипнотизер начнет вращать одной рукой гипнотика вокруг другой, то это вращение будет продолжаться и тогда, когда экспериментатор отнимет свои руки.</p>
<p>В среднем гипнозе сомнамбулического типа можно наблюдать ряд уже более сложных движений. Так, например, загипнотизированный может спать сидя, стоя; совершать ряд весьма сложных движений профессионального характера. Может спать с открытыми глазами, отвечать на вопросы не просыпаясь. Чувствительность испытуемого понижена, он резко заторможен, рефлексы снижены.</p>
<p>В глубоком гипнозе сомнамбулического типа наблюдается феномен снохождения, когда загипнотизированный по суггестии гипнолога движется по комнате, совершает ряд весьма сложных движений, напоминая лунатика. Все движения испытуемого гибки, плавны. Он не производит впечатления спящего. Гипнотический сомнамбулизм третьей стадии представляет собой наиболее глубокую степень гипнотического состояния, во время которого испытуемый выполняет феномены регрессии возраста, снохождения, изменения личности, внушенного ожога, спонтанной амнезии, положительные и отрицательные галлюцинации и др.</p>
<h4>Психологический гипноз наяву или ( ИСС ).</h4>
<p>В основе психологического гипноза лежит феномен установления внушающего раппорта в состоянии частичного или полного бодрствования сознания испытуемого.</p>
<p>В этом виде гипноза на фоне активной коры обоих полушарий мозга в одном или нескольких участках мозга возникает одна или несколько зон сверхвозбуждения. Основными источниками вызывания и углубления этого вида гипноза являются воздействия словами на память, воображение, зрение, слух и ощущения испытуемого. Глаза у испытуемого могут быть открыты, но наступают провалы памяти, провалы критического самосознания, ускорение ощущения количества времени, каталептические феномены обездвиживания, нарастание подчиненности словам, жестам и чувствам гипнотизера, положительные и отрицательные галлюцинации и др.</p>



































