---
layout: post
title:  Ревность. Как от нее избавиться
description: Очень часто говорят, если ревнуешь – значит любишь. Но на самом деле ревность не имеет никакого отношения к любви. По своей силе ревность часто может быть очень разрушительной как для самой женщины...
categories: dlya-zhenshhin
catname: Для женщин
permalink: "blog/:categories/:year-:month-:day-:slug.html"
---
<p>Очень часто говорят, если ревнуешь – значит любишь. Но на самом деле ревность не имеет никакого отношения к любви. По своей силе ревность часто может быть очень разрушительной как для самой женщины, так и для отношений в которых она состоит. Вспышки ревности могут переходить в агрессию или в патологическое нервное расстройство.  Чаще всего ревность возникает у женщины в тот момент, когда она влюбляется и боится, что ее счастье может разрушить вдруг откуда то взявшаяся соперница  Причем партнер может даже не давать повода даже для малейшего беспокойства. У разных женщин ревность может по разному проявляться.</p>
<h4>Как проявляется ревность у женщин?</h4>
<p>Ревность – это когда женщина постоянно контролирует поведение своего мужчины видимо и невидимо, всячески ограничивает его личную свободу и в каждой женщине видит потенциальную соперницу. Постоянная подозрительность ревнивицы иногда оборачивается вспышками гнева, раздражения, что приносит страдание обоим партнерам. А тот, кого ревнуют, вынужден вечно оправдываться и доказывать искренность своих чувств. Неудивительно, что сцены ревности рано или поздно надоедают мужчине и у него появляется желание расстаться с такой женщиной.</p>
<h4>Как избавиться от ревности?</h4>
<p>Нездоровое чувство собственничества у женщин  чаще всего вызвано неуверенностью в себе и страхом быть брошенной. Либо печальный опыт предыдущих отношений, где женщину неоднократно бросали.  В основе ревности также может лежать травмирующий опыт из детства, когда ребенку приходилось ревновать родителей к младшим детям в семье. На самом деле причин может быть множество и у каждой женщины есть свои причины для ревности.</p>
<p><b>Если вы решили самостоятельно избавиться от ревности, то давайте рассмотрим, что можно сделать для преодоления изматывающего чувства ревности:</b></p>
<ul>
    <li>Научиться доверять партнеру, поверить в его верность и порядочность.</li>
    <li>Перестать сравнивать себя с другими и считать себя хуже, чем остальные. Ведь ваш партнер выбрал вас, а значит у него были причины на это.</li>
    <li>Не зацикливаться на любимом мужчине, а научиться находить интерес в работе, в общении с друзьями и подругами, в увлечениях, спорте. Найти занятия, способные отвлечь вас  и подарить вам  положительные эмоции.</li>
    <li>Станьте ближе к своей половинке, поделиться своими чувствами и переживаниями.  Расскажите ему о своих страхах, опасениях. Так вы сможете снять напряжение и развеять сомнения в неверности любимого.</li>
    <li>Попросите партнера не провоцировать вас. Если он действительно любит вас и дорожит вашими отношениями, то прислушается к такой просьбе и изменит свое поведение.</li>
    <li>Разберитесь в себе и поймите, чего вы боитесь и почему. Возможно, вы считаете себя недостаточно привлекательной, или боитесь повторения прошлого негативного опыта.</li>
</ul>
<p>Если ваше чувство ревности стало патологическим, и вы постоянно находитесь во власти переживаний, лучше обратиться за помощью к специалисту.  Гипнотерапевт поможет найти глубинные корни вашей ревности и скорректировать негативные эмоции.</p>
<p><b>За 20 лет практики нами разработана уникальная авторская методика, опирающаяся исключительно на научные нейрофизиологические  исследования наших светил -  советских академиков и профессоров. Профессиональное воздействие по  нашей авторской методике  относится к самым результативным услугам в настоящее время.  Она нацелена на избавление от  психогенных причин возникновения ревности.  Гипнотерапия отлично работает на бессознательном уровне, позволяя делать желательные изменения на глубинных уровнях нашей психики, приводящие к положительным изменениям.</b></p>
<p>В настоящее время гипноз все больше набирает популярность среди специалистов и обычных людей.  Люди обращаются к гипнологам по разнообразным причинам. Самыми распространенными ситуациями применения гипноза являются различные неврозы, фобии, страхи, депрессии, ОКР, СРК, ВСД,  пищеварительные, сексуальные нарушения, коррекция поведенческих реакций человека, заниженная самооценка, комплексы, вредные привычки. Причем в этих случаях, гипнотерапия остается единственным результативным методом, так как нацелена  на избавление больного от причин его заболевания, в то время как все остальные методы, включая фармацевтические, претендуют только на временное снятие симптомов.</p>
<p>Успешное применение гипноза при лечении столь широкого круга заболеваний связанно с тем, что точкой приложения лечебного слова в гипнозе - являются большие полушария головного мозга человека, которые управляют всеми органами и системами  организма. Слово в гипнозе оказывается  чрезвычайно могущественным лечебным фактором, производящим прямое и непосредственное воздействие на характер и динамику корковых процессов. Это открывает прямой путь к устранению патологических процессов и мобилизации необходимых внутренних ресурсов организма человека.  Ибо в свете учения о единстве психики и соматики,  всякое соматическое заболевание неразрывно связано с большим или меньшим нарушением функционального состояния высшей нервной дея-тельности человека.</p>
<p><b>Поэтому гипнотерапия  – это единственный метод психологической помощи человеку, позволяющий устранить причину  ревности, а не ее симптом, оказывая  прямое и непосредственное воздействие на характер и динамику корковых процессов, мобилизуя необходимые внутренние ресурсы организма человека.</b></p>
<h4>Возможны ли побочные эффекты от гипноза?</h4>
<p>Как утверждают специалисты, на сегодняшний день таких фактов не выявлено. Исследования в разное время проводились такими видными и авторитетными  учеными как:  В. М. Бехтерев, И. П. Павлов,  С. С. Либих (1974), А. И. Захаров (1982), А. А. Токарский (1989), М. С. Лебединский,  А. Т. Пшоник (1952), Л. Л. Васильев,  И. П. Брязгунов (1970) Л. Черток (1972), В. И. Сухорукова (1977), П. К. Анохин,  Н. Е. Введенский (1911-1913),  Н. И. Красногорский,  В. М. Шкловский (1975, 1994),   В. Н. Мясищев, Ю. А. Поворинский (1950), С. Н. Давиденков, К. М. Варшавский (1973), С. С. Кор-саков, К. М. Быков, А. М.Свядощ (1982), В. Я. Данилевский, Б. Н. Бирман (1922,1925, 1946),  Л. Б. Гаккель (1955),  Д. Я.  Венгеровский (1955),   И. 3. Вельвовский (1984), А. Л. Гройсман, К. И. Платонов (1957), С. Л. Рубинштейн, В. Е. Рожнов, А. А. Ухтомский, И. М. Сеченов, А.М. Свядощ, А. П. Слободяник, Е. С.  Катков,  М. П. Кутании,  В. В. Кузьмин,  П. П.  Подъяпольский,  Е. Н. Довбня, Ф. Е. Рыбаков, В. Н. Хорошко, А. И. Яроцкий, А. Ф. Лазурский, Ю. В. Каннабих, В. М. Нарбут, Ф. Д. Неткачев, В. А. Гиляровский, М. В. Стрельчук, Г. В. Морозов, В. М. Банщиков, Н. В. Иванов, Н. К. Липгарт, А. Г. Иванов-Смоленский, и др. Учеными доказано, что психика человека саморегулируется во время лечебного транса, мобилизуются его внутренние резервы, активизируются защитные силы организма (компенсаторные), гомеостаз организма приходит в норму, а потому опасности для психического и физиологического здоровья пациента нет.
</p>
<p><b>Положительные стороны гипнотического лечения:</b></p>
<ul>
    <li>Полное отсутствие медикаментозного влияния на организм человека.</li>
    <li>Нет побочного эффекта.</li>
    <li>Полезно. Нормализует гомеостаз организма, укрепляет ЦНС, и т.д.</li>
    <li>Устраняет причины расстройства.</li>
    <li>Дешевле.</li>
</ul>
<p>Сеанс гипноза сам по себе является целебным для человека. Гипноз улучшает общее самочувствие человека, обеспечивает слаженную работу всех органов и систем организма,  его (гомеостаз), что позволяет пациенту ощутить новый прилив жизненных сил. Он положительно влияет на работу многих органов и систем: сердечно - сосудистой, дыхательной, эндокринной, пищеварительной, ЦНС, помогает при бессоннице, снимает раздражительность, уменьшает беспокойство, и т.п.</p>
<p>Самостоятельные попытки избавиться от  ревности приводит к обратному эффекту, с дальнейшим угнетением ЦНС, с повышением раздражительности, тревожности.  Сознательными доводами невозможно устранить  этот недуг,  так как источник их кроется в сфере бессознательного, что и является основанием для лечения этого недуга с помощью гипноза.  И только гипнотерапия помогает преодолеть негативные последствия для вашей нервной системы</p>
<p>Наши опытные гипнологи  помогут разобраться с причинами ревности, с помощью гипноза найти и проработать их на глубинном уровне. Пройдя курс гипнотерапии, вы легко сможете взглянуть на себя и свою жизнь по новому.</p>
<p><b>Будьте здоровы и счастливы!</b></p>
































