---
layout: post
title:  Классический метод гипноза
description: Классический  гипноз — это набор приемов, которые задействуют зрительные, слуховые, тактильные анализаторы человеческого организма для погружения его в гипнотический транс, успокоения сознания пациента,  и дальнейшего воздействия на бессознательное,  путем словесных внушений и установок.
categories: o-gipnoze
catname: О гипнозе
permalink: "blog/:categories/:year-:month-:day-:slug.html"
---
<p>Примерно  на два процента своим поведением  человек управляет сознательно,  оставшимися управляет подсознание, воспроизводя весь накопленный жизненный опыт. В том числе и опыт негативный, полученный начиная с раннего детства. Модели поведения и даже комплексы, сформированные под влиянием этого опыта, зачастую мешают человеку добиваться жизненного успеха, налаживать отношения с другими людьми, чувствовать себя уверенным и счастливым. Справиться с этой ситуацией с помощью сознания, как правило, невозможно.</p>
<p><b>Поэтому гипнотерапия  – это единственный метод психологической помощи человеку, позволяющий устранить причину заболевания, а не ее симптом, оказывая  прямое и непосредственное воздействие на характер и динамику корковых процессов, мобилизуя необходимые внутренние ресурсы организма человека.</b></p>
<p>Гипноз (от греч. hypnos — сон) — временное особое состояние сознания, характеризующееся сужением его объема и резкой фокусировкой на содержании внушения, что связано с изменением функции индивидуального контроля и самосознания. Состояние гипноза наступает в результате специальных воздействий гипнотерапевта.</p>
<p>Гипнотерапевта можно сравнить с прекрасным хирургом, который не сможет провести операцию без хирургического инструмента и оборудования. Гипноз – это,  прежде всего инструмент в руках гипнотерапевта, с помощью которого,  появляется уникальная возможность  добраться до причин возникновения различных  патологий, как в психической сфере (эмоции, чувства, мышление), так и в  соматической, вызванных психогенным фактором.</p>
<h4>Классический гипноз.</h4>
<p>Классический гипноз, как наиболее ранний метод психотерапии, является одним из способов лечебного воздействия психологическими методами одного человека (психотерапевта) на психику другого человека (больного), а через психику и на весь организм с целью устранения болезненного симптома, психической травмы, изменения отношения гипнотизируемого к самому себе и окружающим, что ведет в результате к повышению уровня социально-психологической адаптации и качества жизни в целом.</p>
<h4>Методы гипнотизации.</h4>
<p>Позиция классического подхода в гипнозе предполагает преимущественную инициативу гипнотерапевта в выборе не только способа гипнотизирования, но и собственно гипнотических индукций. Классический подход достаточно широко распространен среди психотерапевтов. Состояние транса, вызываемое у пациента при классическом подходе, наиболее глубокое.</p>
<p>В специальной литературе описано более ста способов введения в гипнотическое состояние классическим методом гипноза, но на самом деле их гораздо больше, так как почти каждый гипнотерапевт на основе этих методов создаёт свой, индивидуальный способ погружения человека в гипноз.</p>
<p><b>Классический  гипноз — это</b> набор приемов, которые задействуют зрительные, слуховые, тактильные анализаторы человеческого организма для погружения его в гипнотический транс, успокоения сознания пациента,  и дальнейшего воздействия на бессознательное,  путем словесных внушений и установок. Используя определенные приемы, позволяющие обойти сознательное внимание, критически оценивающее то, что с ним (или в нем) происходит, гипнотерапевт меняет деструктивное значение событий, создавая новую, устойчивую связь, полезную для организма.</p>
<p><b>Будьте здоровы и берегите себя!</b></p>

































