---
layout: post
title:  Почему выбирают не тех женщин
description: Прежде всего, ошибки в выборе своей половинки характерны для психологически незрелых мужчин. Другими словами, такой мужчина просто не знает, что на самом деле ему нужно...
categories: dlya-muzhchin
catname: Для мужчин
permalink: "blog/:categories/:year-:month-:day-:slug.html"
---
<p>Обжигаясь в очередной раз, мужчины задаются вопросом: «Почему я все время выбираю не тех женщин?». Однозначный ответ на это дать трудно, потому что у каждого есть свои причины выбора той или иной партнерши. Но все же можно проследить некоторые закономерности.</p>
<p>Прежде всего, ошибки в выборе своей половинки характерны для психологически незрелых мужчин. Другими словами, такой мужчина просто не знает, что на самом деле ему нужно. Одни хотят соответствовать общепринятым понятиям успеха и обращают внимание только на девушек модельной внешности. В итоге оказывается, что кроме умения быть красивой и привлекать к себе внимание,  эта девушка ничего из себя не представляет. И мужчина испытывает разочарование в ней.</p>
<p>Или бывает такое, что  мужчина хочет серьезных отношений, а его женщина еще не созрела для них,  или ее привлекают материальный успех мужчины,  его статус,  больше, чем доверительные и стабильные отношения с вами. Поэтому если ей попадается более выигрышный вариант, то она выберет его, а не вас. Это не ваша вина, и вы не хуже других. Просто вы выбираете не тех женщин. Давайте разбираться почему.</p>
<h4>Что влияет на выбор партнерши?</h4>
<ul>
    <li>Бывает и наоборот, когда симпатичный парень выбирает некрасивую и не слишком умную девушку, такую «серую мышку», считая, что недостаточно хорош для другой. Такую не нужно завоевывать, она не даст повода к ревности, а будет довольствоваться уже тем, что парень с ней. Это говорит о комплексах и заниженной самооценке, которая не позволяет человеку выбрать себе пару своего уровня. Но рано или поздно мужчина начинает сожалеть о своем выборе, но уже поздно. Слишком много чего связывает мужчину с этой женщиной, имущество, дети, и др.</li>
    <li>Еще одной причиной ошибки в выборе спутницы является механизм повторения, когда неосознанно мужчина копирует неблагополучную модель отношений родителей. Выбирая сильную и властную женщину, он подсознательно находит копию своей матери, которая в семье подавляла отца. Он просто не представляет, что могут быть иные варианты отношений, а значит,  не замечает другой типаж женщин. Но продолжая чей-то сценарий, у мужчины может быть ощущение, что он проживает не свою жизнь.</li>
    <li>Некоторые хотят, чтобы женщина растворялась в заботе о муже и полностью подчинялась ему. Но, как правило, рано или поздно такие отношения наскучивают, и тогда мужчина ищет себе кого-то поинтересней. И чаще всего попадают на удочку настоящих стерв. Естественно, такие отношения часто тоже не приносят счастья, и в результате мужчина остается ни с чем.</li>
    <li>Иногда в подсознании человека заложены негативные установки, которые мешают найти подходящую партнершу. Например, «кому я такой нужен», «я неудачник», «я не заслуживаю нормальных отношений» и тому подобное.</li>
</ul>
<p>В любом случае,  каждая ситуация индивидуальна и неповторима, и с ней нужно разбираться отдельно.</p>
<p>Мы поможем вам разобраться в ваших  неудачах  при построении серьезных отношений,  убрать барьеры, мешающие встретить достойную девушку, женщину и наслаждаться отношениями с ней.</p>
<p><b>За 20 лет практики нами разработана уникальная авторская методика, опирающаяся исключительно на научные нейрофизиологические  исследования наших светил -  советских академиков и профессоров. Профессиональное воздействие по  нашей авторской методике относится к самым результативным услугам в настоящее время.</b></p>
<p>Гипнотерапия отлично работает на бессознательном уровне, позволяя делать желательные изменения на глубинных уровнях нашей психики, приводящие к положительным изменениям.</p>
<p><b>Гипнотерапия  – это единственный метод психологической помощи человеку, позволяющий найти и устранить причину  нарушений, а не ее симптом, оказывая  пря¬мое и непосредственное воздействие на характер и динамику корковых процессов, мобилизуя необходимые внутренние ресурсы организма человека. </b></p>
<h4>Возможны ли побочные эффекты от гипноза?</h4>
<p>Как утверждают специалисты, на сегодняшний день таких фактов не выявлено. Исследования в разное время проводились такими видными и авторитетными  учеными как:  В. М. Бехтерев, И. П. Павлов,  С. С. Либих (1974), А. И. Захаров (1982), А. А. Токарский (1989), М. С. Лебединский,  А. Т. Пшоник (1952), Л. Л. Васильев,  И. П. Брязгунов (1970) Л. Черток (1972), В. И. Сухорукова (1977), П. К. Анохин,  Н. Е. Введенский (1911-1913),  Н. И. Красногорский,  В. М. Шкловский (1975, 1994),   В. Н. Мясищев, Ю. А. Поворинский (1950), С. Н. Давиденков, К. М. Варшавский (1973), С. С. Кор-саков, К. М. Быков, А. М.Свядощ (1982), В. Я. Данилевский, Б. Н. Бирман (1922,1925, 1946),  Л. Б. Гаккель (1955),  Д. Я.  Венгеровский (1955),   И. 3. Вельвовский (1984), А. Л. Гройсман, К. И. Платонов (1957), С. Л. Рубинштейн, В. Е. Рожнов, А. А. Ухтомский, И. М. Сеченов, А.М. Свядощ, А. П. Слободяник, Е. С.  Катков,  М. П. Кутании,  В. В. Кузьмин,  П. П.  Подъяпольский,  Е. Н. Довбня, Ф. Е. Рыбаков, В. Н. Хорошко, А. И. Яроцкий, А. Ф. Лазурский, Ю. В. Каннабих, В. М. Нарбут, Ф. Д. Неткачев, В. А. Гиляровский, М. В. Стрельчук, Г. В. Морозов, В. М. Банщиков, Н. В. Иванов, Н. К. Липгарт, А. Г. Иванов-Смоленский, и др. Учеными доказано, что психика человека саморегулируется во время лечебного транса, мобилизуются его внутренние резервы, активизируются защитные силы организма (компенсаторные), гомеостаз организма приходит в норму, а потому опасности для психического и физиологического здоровья пациента нет.</p>
<p><b>Положительные стороны гипнотического лечения:</b></p>
<ul>
    <li>Полное отсутствие медикаментозного влияния на организм человека.</li>
    <li>Нет побочного эффекта.</li>
    <li>Полезно. Нормализует гомеостаз организма, укрепляет ЦНС, и т.д.</li>
    <li>Устраняет причины заболевания.</li>
    <li>Дешевле.</li>
</ul>
<p>Сеанс гипноза, сам по себе является целебным для человека. Гипноз улучшает общее самочувствие человека, обеспечивает слаженную работу всех органов и систем организма,  его (гомеостаз), что позволяет пациенту ощутить новый прилив жизненных сил. Он положительно влияет на работу многих органов и систем: сердечно - сосудистой, дыхательной, эндокринной, пищеварительной, ЦНС, помогает при бессоннице, снимает раздражительность, уменьшает беспокойство, и т.п.</p>
<p>Имея огромный опыт,  мы поможем вам  в поиске вашей второй половинки и выстраиванию с ней стабильных, удовлетворяющих вас по всем параметрам  отношений. Ваше счастье в ваших руках.</p>
<p><b>Будьте здоровы и счастливы!></b></p>



























