---
layout: post
title: Психотерапевт москва
description: Индивидуальная консультация психолога является одной из форм профессиональной помощи клиенту, оказавшемуся в сложной ситуации, требующей помощи специалиста.
categories: voprosi-ot-N-end
catname: Вопросы от Н до конца
permalink: "blog/:categories/:year-:month-:day-:slug.html"
---
<p>Индивидуальная консультация психолога является одной из форм профессиональной помощи клиенту, оказавшемуся в сложной ситуации, требующей помощи специалиста. В процессе работы выбираются эффективные средства и методы, позволяющие клиенту лучше узнать и понять самого себя, найти нужный выход из сложившейся ситуации и справиться с переживаниями, использовать на практике полученные знания для устранения факторов, мешающих личностному развитию, снижающих качество жизни.</p>
<p><b>Индивидуальная консультация психолога решает ряд важнейших задач:</b></p>
<ul>
    <li>устранение выявленных психологических травм;</li>
    <li>устранение выявленных патологий в развитии личности;</li>
    <li>развитие личности, ее самореализация и социализация;</li>
    <li>решение имеющихся жизненных проблем;</li>
    <li>формирование правильных моделей поведения в различных жизненных ситуациях;</li>
    <li>согласование социальных и личных интересов;</li>
    <li>выработка умения делать выбор и нести ответственность за принятые решения.</li>
</ul>
<h4>Когда нужно обращаться к психологу?</h4>
<p>Ситуации, в которых может возникнуть повод обратиться к специалисту, бывают самыми разнообразными:</p>
<ul>
    <li>Все предыдущие пути решения проблемы оказались недейственными;</li>
    <li>Вы не можете самостоятельно справиться с предыдущим травмирующим опытом;</li>
    <li>Переживание утраты, связанной с потерей близкого человека, затянулось на долгое время;</li>
    <li>Вы не можете принять себя, не нравитесь себе и обладаете заниженной самооценкой;</li>
    <li>Вы не находите в себе сил самостоятельно справиться с имеющейся зависимостью;</li>
    <li>Вы постоянно испытываете чувство тревоги, сковывающее вас и ваши попытки к деятельности;</li>
    <li>Вы испытываете депрессию, обиду, страхи, фобии, расстройство пищевой и половой аддикции,  неуверенность в себе, заниженную самооценку, комплексы, вредные привычки и т.д.</li>
</ul>
<h4>Порядок проведения психологической консультации.</h4>
<p>Иногда решение получить профессиональную помощь психолога трудно принять еще и потому, что у вас нет представления о том, как будет проходить эта процедура, и в чем будет заключаться ваше в ней участие. Поэтому здесь мы расскажем о том, какие этапы включает индивидуальная консультация.</p>
<p>Особенности психологической консультации заключаются в индивидуальности работы с каждым клиентом. Однако есть определенные алгоритмы, которые используются в консультировании:</p>
<ol>
    <li>Выявления проблем.  Выявление эмоционально - соматической  симптоматики.</li>
    <li>Конкретизация имеющихся проблем с причинами их возникновения.</li>
    <li>Выявление первопричин возникновения причин имеющихся проблем.</li>
    <li>Выбор возможных вариантов разрешения проблем.</li>
    <li>Выработка плана реализации.</li>
    <li>Реализация поставленных целей.</li>
    <li>Поддержание обратной связи.</li>
</ol>
<p><b>В свете учения о единстве психики и соматики,  всякое соматическое заболевание неразрывно связано с большим или меньшим нарушением функционального состояния высшей нервной деятельности человека.</b></p>
<p>Мы  поможем вам обрести  душевное равновесие, гармонию,  и вернуть вам физическое здоровье.</p>
<p><b>Будьте здоровы и берегите себя.</b></p>


















































