---
layout: post
title:  Подготовка к экзаменам
description: Доказано, что вечером накануне экзамена нужно отдыхать, расслабиться,  а главное, как следует выспаться.
categories: uspeh-i-karera
catname: Успех и карьера
permalink: "blog/:categories/:year-:month-:day-:slug.html"
---
<h4>Гипноз и ЕГЭ. Подготовка к сдаче экзаменов. Работа с памятью, волнением, тревогой. Настрой перед экзаменом.</h4>
<p>В нелегкой подготовке к ЕГЭ и летней сессии грызут гранит науки тысячи школьников и студентов.</p>
<p>И в интернете можно найти много методик, где написано, как правильно готовиться к экзаменам, как улучшить память, как «вспомнить все».</p>
<p>Но все эти рекомендации не учитывают одного –  сознание, переполненное информацией, которую надо запомнить и усвоить к экзаменам, не способно воспринять еще и это. В результате нарушается внимание, и как следствие перестает работать функция памяти. И учащийся попадает в замкнутый круг.</p>
<p>Доказано, что вечером накануне экзамена нужно отдыхать, расслабиться,  а главное, как следует выспаться. Это очень важно: именно во время сна происходит закрепление информации в памяти и перевод ее из кратковременного в долговременное хранение. Активированные за день нервные окончания ночью перестраиваются, растут и укрепляются, а с ними укрепляется и память. Вот почему бессонные ночи перед экзаменами бесполезны, а то и вредны. Гипнотерапия поможет выспаться и даст возможность закрепиться усвоенному материалу, уберет напряжение, затрудняющее нормальные процессы запоминания, а самое главное поможет вспоминанию информации именно в нужный момент. Ведь каждому случалось вспомнить все, но только выйдя из экзаменационной.</p>
<p>И самое главное, что   страх, тревога, стресс, перед   и во время экзаменов блокирует внимания. А без внимания  не работает функция памяти.  И учащийся не может вспомнить даже то, что он очень хорошо знал.   В это время его внимание сконцентрировано на тех ощущениях,  которые стали  следствием  страха, тревоги, волнения.  Во время страха, тревоги, активируется симпатическая нервная система, которая выполняет функцию общей активации организма в стрессовых  ситуациях опасности.  Это  учащение сердечного ритма, повышение артериального давления,  усиление частоты дыхания, и т.д. И такая работа функции организма, выработалась  в результате филогенеза, и  необходима для быстрой реакции человека, убежать, спрятаться, напасть, обороняться,  а не для медленного сознательного, рационального мышления, с мобилизацией ресурсов мозга. И только оставаясь спокойным, учащийся сможет  мобилизовать ресурсы своего мозга. В этом во многом  и заключается успех тех,  кто сдает на отлично, даже если мало готовились,  и тех неудачников, которые,  даже хорошо подготовившись с репетиторами,  не могут сдать. И только в спокойном состоянии учащийся сможет хорошо и быстро выучить материал, и сдать экзамен на отлично.</p>
<p><b>В такой ситуации на помощь в освоении материала и сдачи экзаменов может придти  гипноз.</b></p>
<p>Слово в гипнозе оказывается  чрезвычайно могущественным лечебным фактором, производящим прямое и непосредственное воздействие на характер и динамику корковых процессов. Это открывает прямой путь к устранению патологических процессов и мобилизации необходимых внутренних ресурсов организма человека. <b>Поэтому гипнотерапия – это единственный метод психологической помощи человеку, позволяющий устранить причину  заболевания, а не ее симптом.   Наш авторский метод гипнотерапии поможет вам избавиться от вашего недуга на всю жизнь!</b></p>
<p><b>За 20 лет практики нами разработана уникальная авторская методика, опирающаяся исключительно на научные нейрофизиологические  исследования наших светил -  советских академиков и профессоров. Профессиональное воздействие по  нашей авторской методике относится к самым результативным услугам в настоящее время,  и позволяет найти глубинные причины психотравм,  выявить их  и устранить,  тем самым вернув здоровое восприятие себя,  спокойное и уверенное состояние на любых экзаменах.</b></p>
<p>С помощью гипноза можно снять стресс, который возникает в результате напряженного изучения материала, уменьшить давление ответственности за результат, улучшить память, снять волнение, мандраж, перед и во время экзаменов, создать необходимый настрой и концентрацию внимания, найти и устранить психотравму, возникшую в результате неудачной сдачи экзаменов в прошлом или неудачного ответа у доски, оставивший сильный эмоциональный след, и т.д.</p>
<p>В настоящее время гипноз все больше набирает популярность среди специалистов и обычных людей.  Люди обращаются к гипнологам по разнообразным причинам. Самыми распространенными ситуациями применения гипноза являются различные неврозы, фобии, страхи, депрессии, ОКР, СРК, ВСД,  пищеварительные, сексуальные нарушения, коррекция поведенческих реакций человека, заниженная самооценка, комплексы, вредные привычки. Причем в этих случаях, гипнотерапия остается единственным результативным методом, так как нацелена  на избавление больного от причин его заболевания, в то время как все остальные методы, включая фармацевтические, претендуют только на временное снятие симптомов.</p>
<p>Тем временем,  психогенный сбой у больного не стоит на месте, а  генерализуется и приобретает более ярко выраженный  гетерогенный характер, вовлекая все большие участки функциональной системы в патогенез.</p>
<h4>Возможны ли побочные эффекты от гипноза?</h4>
<p>Как утверждают специалисты, на сегодняшний день таких фактов не выявлено. Исследования в разное время проводились такими видными и авторитетными  учеными как:  В. М. Бехтерев, И. П. Павлов,  С. С. Либих (1974), А. И. Захаров (1982), А. А. Токарский (1989), М. С. Лебединский,  А. Т. Пшоник (1952), Л. Л. Васильев,  И. П. Брязгунов (1970) Л. Черток (1972), В. И. Сухорукова (1977), П. К. Анохин,  Н. Е. Введенский (1911-1913),  Н. И. Красногорский,  В. М. Шкловский (1975, 1994),   В. Н. Мясищев, Ю. А. Поворинский (1950), С. Н. Давиденков, К. М. Варшавский (1973), С. С. Кор-саков, К. М. Быков, А. М.Свядощ (1982), В. Я. Данилевский, Б. Н. Бирман (1922,1925, 1946),  Л. Б. Гаккель (1955),  Д. Я.  Венгеровский (1955),   И. 3. Вельвовский (1984), А. Л. Гройсман, К. И. Платонов (1957), С. Л. Рубинштейн, В. Е. Рожнов, А. А. Ухтомский, И. М. Сеченов, А.М. Свядощ, А. П. Слободяник, Е. С.  Катков,  М. П. Кутании,  В. В. Кузьмин,  П. П.  Подъяпольский,  Е. Н. Довбня, Ф. Е. Рыбаков, В. Н. Хорошко, А. И. Яроцкий, А. Ф. Лазурский, Ю. В. Каннабих, В. М. Нарбут, Ф. Д. Неткачев, В. А. Гиляровский, М. В. Стрельчук, Г. В. Морозов, В. М. Банщиков, Н. В. Иванов, Н. К. Липгарт, А. Г. Иванов-Смоленский, и др. Учеными доказано, что психика человека саморегулируется во время лечебного транса, мобилизуются его внутренние резервы, активизируются защитные силы организма (компенсаторные), гомеостаз организма приходит в норму, а потому опасности для психического и физиологического здоровья пациента нет.</p>
<p><b>Положительные стороны гипнотического лечения:</b></p>
<ul>
    <li>Полное отсутствие медикаментозного влияния на организм человека.</li>
    <li>Полезно. Нормализует гомеостаз организма, укрепляет ЦНС, и т.д.</li>
    <li>Нет побочного эффекта.</li>
    <li>Полное 100% избавление от психотравм на всю жизнь.</li>
    <li>Устранение причин заболевания.</li>
    <li>Дешевле.</li>
</ul>
<p>Сеанс гипноза по лечению сам по себе является целебным для человека. Гипноз улучшает общее самочувствие человека, обеспечивает слаженную работу всех органов и систем организма,  его (гомеостаз), что позволяет пациенту ощутить новый прилив жизненных сил. Он положительно влияет на работу многих органов и систем: сердечно - сосудистой, дыхательной, эндокринной, пищеварительной, ЦНС, помогает при бессоннице, снимает раздражительность, уменьшает беспокойство, и т.п.</p>
<p><b>Мы поможем вам в самые ответственные и трудные  дни вашей жизни!</b></p>

































