---
layout: post
title:  Мотивация
description: Чтобы добиться успеха, человеку необходимо образование, знание, умение, навыки и способности, но все это меркнет по сравнению со стремлением человека достичь высот.  Мотивация – это ключ к успеху!
categories: lichnostnyj-rost
catname: Личностный рост
permalink: "blog/:categories/:year-:month-:day-:slug.html"
---
<p>Может быть, в какие-то моменты вы чувствуете, что на самом деле способны на большее?</p>
<p>Может вы заметили, что стали хуже запоминать, и все чаще  жалуетесь на свою память?</p>
<p>Может быть, вам казалось, что вам недостает амбициозности или мотивации для того, чтобы преуспеть?</p>
<p>Возможно, в какие-то моменты вы достигали определенных успехов, но в глубине души чувствовали, что если бы ваша мотивация была сильнее, вы могли бы достичь большего?</p>
<p>Вам чего-то не хватает, чтобы пойти и сделать что-то?</p>
<p>Вы постоянно отвлекаетесь по мелочам от самого важного, чтобы достичь цели и быть успешным и продуктивным в жизни?</p>
<p>Возможно,  вы откладываете оформление документов? Не  можете начать вести здоровый образ жизни? Поиск новой работы? Разрыв отношений? Ремонт в квартире, или отпуск?</p>
<p><b>Тогда пришло время разобраться в причинах и изменить себя!</b></p>
<p>Многие  считают, что для того, чтобы добиться успеха, человеку необходимо образование, знание, умение, навыки и способности, но все это меркнет по сравнению со стремлением человека достичь высот.  Мотивация – это ключ к успеху!</p>
<p><b>Попытки избежать неудачи и концентрация на успехе – это "две большие разницы!"</b></p>
<p>При столкновении с новыми возможностями и непростыми задачами, многие люди переходят в так называемый "безопасный режим" функционирования.  Однако попытка избежать неудачи – это совсем не то же самое, что концентрация на успехе. Отчаянные попытки не наделать ошибок,  в корне отличаются от наличия мощной мотивации к успеху, в стремлении приложить все возможные усилия для достижения своей цели. Успех зависит от многих факторов. Для достижения успеха недостаточно одних способностей и умений, а также возможности применить их на практике. Для достижения успеха вам необходимо искреннее и сильное желание преуспеть.</p>
<p>Если вы имеете желание преодолеть все трудности и добиться цели,  то ничто вас не сможет остановить, даже недостаточность знаний, умений и т.д. Все это можно получить по ходу работы, а вот если изначально желания добиться успеха нет,  то и успеха никакого не будет,  потому,   что  человек сам не хочет его достичь.</p>
<h4>Установка на успех.</h4>
<p>Первый робот, умеющий играть в шашки, мог предугадать все возможные последствия любого сделанного хода, однако он выдавал весьма посредственные результаты. Почему? Потому что он делал только "безопасные" ходы для того, чтобы не проиграть партию.</p>
<p>Когда робота перепрограммировали на победу (а не на избегание проигрыша), машина начала выигрывать. Задумайтесь об этом!</p>
<p>Очень полезное и приятное осознание того, что вы куда-то движетесь, не стоите на месте и постепенно изменяете ситуацию (или собираетесь ее изменить), стремясь к своей цели, приносит вам невероятное удовлетворение. Это ощущение представляет собой нечто иное, оно ничем не похоже на осознание того, что вы просто пытаетесь избежать неудачи.</p>
<h4>Как изменить себя.</h4>
<p><b>Гипнотерапия – это единственный метод психологической помощи человеку, позволяющий научить человека  контролировать себя  и сконцентрироваться на успехе.  В настоящее время, нами разработана авторская методика «Мотивация – ключ к успеху!», для выхода из «безопасного режима» и концентрации на успехе.</b></p>
<p>Слово в гипнозе оказывается  чрезвычайно могущественным лечебным фактором, производящим прямое и непосредственное воздействие на характер и динамику корковых процессов. Это открывает прямой путь к устранению патологических процессов и мобилизации необходимых внутренних ресурсов организма человека. Поэтому гипнотерапия – это единственный метод психологической помощи человеку, позволяющий устранить причину  заболевания,  или  причину деструктивной поведенческой реакции, а не симптом.   Наш авторский метод гипнотерапии поможет вам избавиться от навязчивой модели поведения на всю жизнь!</p>
<p><b>За 20 лет практики нами разработана уникальная авторская методика, опирающаяся исключительно на научные нейрофизиологические  исследования наших светил -  советских академиков и профессоров. Профессиональное воздействие по  нашей авторской методике относится к самым результативным услугам в настоящее время,  и позволяет найти глубинные причины психотравм,  деструктивной поведенческой реакции, страха, тревоги, неуверенности в себе,  и т.д., выявить их  и устранить, тем самым вернув  здоровое восприятие себя, и себя в окружающем мире.</b></p>
<p><b>Гипнотерапия для развития мотивации и вдохновения  поможет вам найти причины, мешающие вашей успешности и устранить их!</b></p>
<ul>
    <li>Устранить блоки, страхи, депрессию, тревоги,  комплексы, и т.д.,  которые мешают вам в достижении цели.</li>
    <li>Изменить негативные установки на позитивные, чтобы ваше подсознание  также захотело двигаться в направлении желаемого.</li>
    <li>Найти дополнительные ресурсы внутри вас и помочь начать ими пользоваться.</li>
    <li>Изменить прошлые бесполезные привычки на более полезные, чтобы получать результат.</li>
    <li>Восстановить  внимание, потому что от  внимания   зависит функциональная способность нашей памяти.</li>
    <li>В состоянии глубокого транса пересмотреть всю вашу жизнь и найти в ней новые ориентиры.</li>
    <li>Стать более уверенным в себе, опираясь на внутреннее спокойствие и гармонию.</li>
</ul>
<p>В настоящее время гипноз все больше набирает популярность среди специалистов и обычных людей.  Люди обращаются к гипнологам по разнообразным причинам. Самыми распространенными ситуациями применения гипноза являются различные неврозы, фобии, страхи, депрессии, ОКР, СРК, ВСД,  пищеварительные, сексуальные нарушения, коррекция поведенческих реакций человека, заниженная самооценка, комплексы, вредные привычки. Причем в этих случаях, гипнотерапия остается единственным результативным методом, так как нацелена  на избавление больного от причин его заболевания, в то время как все остальные методы, включая фармацевтические, претендуют только на временное снятие симптомов.</p>
<p>Тем временем,  психогенный сбой у больного не стоит на месте, а  генерализуется и приобретает более ярко выраженный  гетерогенный характер, вовлекая все большие участки функциональной системы в патогенез.</p>
<h4>Возможны ли побочные эффекты от гипноза?</h4>
<p>Как утверждают специалисты, на сегодняшний день таких фактов не выявлено. Исследования в разное время проводились такими видными и авторитетными  учеными как:  В. М. Бехтерев, И. П. Павлов,  С. С. Либих (1974), А. И. Захаров (1982), А. А. Токарский (1989), М. С. Лебединский,  А. Т. Пшоник (1952), Л. Л. Васильев,  И. П. Брязгунов (1970) Л. Черток (1972), В. И. Сухорукова (1977), П. К. Анохин,  Н. Е. Введенский (1911-1913),  Н. И. Красногорский,  В. М. Шкловский (1975, 1994),   В. Н. Мясищев, Ю. А. Поворинский (1950), С. Н. Давиденков, К. М. Варшавский (1973), С. С. Кор-саков, К. М. Быков, А. М.Свядощ (1982), В. Я. Данилевский, Б. Н. Бирман (1922,1925, 1946),  Л. Б. Гаккель (1955),  Д. Я.  Венгеровский (1955),   И. 3. Вельвовский (1984), А. Л. Гройсман, К. И. Платонов (1957), С. Л. Рубинштейн, В. Е. Рожнов, А. А. Ухтомский, И. М. Сеченов, А.М. Свядощ, А. П. Слободяник, Е. С.  Катков,  М. П. Кутании,  В. В. Кузьмин,  П. П.  Подъяпольский,  Е. Н. Довбня, Ф. Е. Рыбаков, В. Н. Хорошко, А. И. Яроцкий, А. Ф. Лазурский, Ю. В. Каннабих, В. М. Нарбут, Ф. Д. Неткачев, В. А. Гиляровский, М. В. Стрельчук, Г. В. Морозов, В. М. Банщиков, Н. В. Иванов, Н. К. Липгарт, А. Г. Иванов-Смоленский, и др. Учеными доказано, что психика человека саморегулируется во время лечебного транса, мобилизуются его внутренние резервы, активизируются защитные силы организма (компенсаторные), гомеостаз организма приходит в норму, а потому опасности для психического и физиологического здоровья пациента нет.</p>
<h4>Положительные стороны гипнотического лечения:</h4>
<ul>
    <li>Полное отсутствие медикаментозного влияния на организм человека.</li>
    <li>Полезно. Нормализует гомеостаз организма, укрепляет ЦНС, и т.д.</li>
    <li>Нет побочного эффекта.</li>
    <li>Устраняет причины заболевания.</li>
    <li>Дешевле.</li>
</ul>
<p>Самостоятельные попытки избавиться от  причин,  сформировавшую деструктивную поведенческую реакцию человека, приводит к перенапряжению и срыву ЦНС,  к закреплению новых опасений, сомнений, страхов и чувств,  с повышением раздражительности и тревожности.  Сознательными доводами невозможно изменить свое поведение,  так как источник их кроется в сфере бессознательного, что и является основанием для лечения этого недуга с помощью гипноза.  И только гипнотерапия помогает преодолеть негативные последствия для вашей нервной системы.</p>
<h4>Польза гипнотического состояния для человека.</h4>
<p>Лечебный сеанс гипнозом  сам по себе является целебным для человека. Гипноз улучшает общее самочувствие человека, обеспечивает слаженную работу всех органов и систем организма,  его (гомеостаз), что позволяет пациенту ощутить новый прилив жизненных сил. Он положительно влияет на работу многих органов и систем: сердечно - сосудистой, дыхательной, эндокринной, пищеварительной, ЦНС, помогает при бессоннице, снимает раздражительность, уменьшает беспокойство, и т.п.</p>
<p>Последние исследования на магнитно-резонансном томографе показывают, что во время лечебной гипнотерапии у человека сильно активизируются височные доли мозга и зоны мозга связанные со вниманием. После длительного курса лечебной гипнотерапии на электроэнцефалограмме также обнаруживается усиление гамма-волн.</p>
<ol>
    <li><b>Лечебная гипнотерапия улучшает ваш сон.</b>
        <br>Ученые из Миннесотского университета пришли к выводам, что регулярная лечебная гипнотерапия способствует более крепкому и здоровому сну, а тело лучше восстанавливается за ночь, помогая отрешиться от будничных проблем, мысли о которых часто не позволяют быстро заснуть. Также снижается уровень кортизола – гормона стресса, мешающего полноценному отдыху.</li>
    <li><b>Лечебная гипнотерапия улучшает вашу способность сосредоточиться.</b>
        <br>Лечебная гипнотерапия улучшает способность долгое время сохранять внимание и помогает контролировать нервно-психическое возбуждение. В одном из исследований под руководством Фаделя Зейдана,  специалиста в области когнитивной нейробиологии из Школы медицины Уэйка Фореста, было обнаружено, что люди после четырех сеансов лечебной релаксации, прошли тест когнитивных способностей значительно лучше остальных. Они оказались лучше готовы игнорировать время, отпущенное на тест, что помогло им сосредоточиться на решаемой задаче.</li>
    <li><b>Лечебная гипнотерапия снизит тревожность и стресс.</b>
        <br>Последние исследования доказывают, что лечебная гипнотерапия реально способна снизить уровень кортизола, а исследования Зейдана показала, что тревожность снизилась на 39%</li>
    <li><b>Лечебная гипнотерапия сделает вас менее подверженным перепадам настроения.</b>
        <br>Многие из нас автоматически интерпретируют события и слова в негативном ключе и предполагают худшее о самих себе и окружающих. Это может стать причиной депрессии, которую лечебная гипнотерапия помогает преодолеть. Она помогает с недоверием относиться к мыслям, возникающим чисто автоматически, без нашего сознательного участия. А это означает, что вы фокусируетесь на реальности, а не на домыслах.</li>
    <li><b>Лечебная гипнотерапия меняет в лучшую сторону вашу сексуальную жизнь.</b>
        <br>Лечебная гипнотерапия усиливает соединения и увеличивает размер области головного мозга, называемой в медицине «передняя островковая доля большого мозга» ( insula) утверждает Марша Лукас, доктор наук, нейропсихолог из Вашингтона проводивший исследование в этой области.</li>
    <li><b>Лечебная гипнотерапия поможет вам быстрее выздоравливать и жить дольше.</b>
        <br>Исследования Висконсинского университета в Мадисоне показало, что среди, ходивших на сеансы лечебной гипнотерапии в течение 8 недель два раза в неделю, было гораздо меньше случаев гриппа и тяжелых инфекционных заболеваний, чем среди тех, кто не ходил. Доктор Даниэль Мюллер, проводящий исследование, объясняет это тем, что лечебная релаксация помогает восстановить гомеостатическое равновесие, то есть организм стремится к идеальному балансу между окружающей средой и своими потребностями. Согласно недавнему исследованию Калифорнийского университета в Сан-Франциско это может даже помочь нам жить дольше, потому что ДНК будет лучше защищена от деградации.</li>
</ol>
<p><b>Будьте здоровы и берегите себя!</b></p>































