---
layout: post
title:  Выбор жизненного пути
description: Найти себя ― значит, почувствовать себя реализованным, востребованным и, как итог, счастливым. Составляющими счастья для многих является здоровье, семья и, конечно, успех в работе ― в деле...
categories: psihologiya
catname: Психология
permalink: "blog/:categories/:year-:month-:day-:slug.html"
---
<p>Консультация психолога по теме выбора жизненного пути, самоопределения целей и способов их достижений привлекает сегодня все большее количество людей.</p>
<p>Найти себя ― значит, почувствовать себя реализованным, востребованным и, как итог, счастливым. Составляющими счастья для многих является здоровье, семья и, конечно, успех в работе ― в деле, которое доставляет удовольствие. Выбор жизненного пути человеку приходится делать не только в юности, когда мы определяемся со своей профессией или когда ищем спутника жизни, но и всю жизнь.</p>
<p>Мы выбираем вектор своей жизни постоянно, даже когда этого не осознаем. Как поступить, какое направление усилий и точку приложения сил выбрать, какой способ жизни предпочесть - все эти вопросы постоянно находятся в фокусе нашего внимания, даже если мы это до конца не осознаем.</p>
<p>Человек выбирает свой жизненный путь не один раз, нередко он меняет этот выбор, но чаще всего совершив подобный выбор и определившись в профессии, местожительстве, спутнике жизни, круге привычных занятий или общения, он вынужден постоянно подтверждать такой выбор. К теме примыкает кризис среднего возраста, когда прежние цели и ценности, прежний жизненный путь перестал удовлетворять и нужно выбирать новый путь и ценности.</p>
<p>Тема выбора жизненного пути включает в себя выбор профессии, смену специальности, поиска своего творческого самоопределения, самореализации, спутника жизни и т.д.</p>
<p>Психолог поможет сделать переоценку ценностей, обрести новые цели и смысл, преодолеть негативный сценарий жизни, который преследует человека, обрести себя, найти свое истинное предназначение, смысл своей жизни, лучше понять самого себя, свою глубинную природу, самореализоваться.</p>
<p>Психолог поможет человеку проработать каждую альтернативу, каждый вариант развития событий, который последует после того конкретного решения, которое тот выбрал.</p>
<p><b>Будьте здоровы и берегите себя!</b></p>




























