{% include /header-page.html %}

{% include /top-line.html %}
<section class="page-title">
    <div class="bg-title1">
        <h1>{{ page.title }}</h1>
    </div>
</section>

<section class="page-body">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="wrap-content maps">
                    {{ page.maps }}
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                {{ content }}
            </div>
            <div class="col-md-4">
                {% include /post-content-right.html %}
            </div>
        </div>
    </div>




</section>

{% include /footer.html %}