{% include /header-page.html %}

{% include /top-line.html %}
<section class="page-title">
    <div class="bg-title">
        <h1>{{ page.title }}</h1>
    </div>
</section>

<section class="page-body">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="wrap-content">
                    {{ content }}
                </div>
            </div>
        </div>
    </div>

</section>

{% include /footer.html %}