---
layout: post
title:  Метод психоанализ
description: Психоанализ - это способ выявления переживаний и действий человека, обусловленных бессознательными мотивами с целью лечения психических болезней. В начале прошлого века он был введён австрийским учёным З. Фрейдом и широко применялся вместе с гипнозом.
categories: o-gipnoze
catname: О гипнозе
permalink: "blog/:categories/:year-:month-:day-:slug.html"
---
<h4>Психоаналитическая терапия.</h4>
<p>Психоанализ - это способ выявления переживаний и действий человека, обусловленных бессознательными мотивами с целью лечения психических болезней. В начале прошлого века он был введён австрийским учёным З. Фрейдом и широко применялся вместе с гипнозом.</p>
<p>В процессе психоанализа пациент стремится к возникновению свободных ассоциаций, то есть пытается сказать всё, что ему приходит в голову, дабы проследить движение мыслей к их ранним корням; происходит также анализ сновидений и чувствах переноса, возникающих в процессе анализа.</p>
<p>Психоаналитик не дает четких и специфических рекомендаций относительно того, как пациент должен управлять своей жизнью или решать свои проблемы. Напротив, аналитик помогает пациенту понять, почему он неспособен решать свои жизненные проблемы или какой внутренний конфликт лишает его ориентировки, как поступать в тех или иных жизненных обстоятельствах.</p>
<p>Главная цель психоанализа и психоаналитической психотерапии состоит в помощи пациенту в осознании причин внутренних конфликтов, возникающих в результате противоречивых детских переживаний и проявляющихся как симптомами, так и формированием определённых болезненных паттернов поведения и межличностного взаимодействия в зрелом возрасте. Психоаналитическая терапия часто весьма эффективна в группах или в дополнение к индивидуальным сеансам.</p>
<p>Психоаналитический пациент является равноправным партнером психоаналитика в уникальном исследовании своей жизни. Пациент может говорить о чем угодно, о чем ему хочется говорить, но он не должен говорить об этом слишком мало, и это должен быть монолог, а не диалог с аналитиком. В процессе говорения пациент должен рассказать о своей настоящей жизни, поделиться воспоминаниями о прошлом, рассказать о планах на будущее. Мечты и сновидения, фантазии, сексуальные мысли, ненависть и агрессия, и другие чувства относительно себя и других должны быть высказаны любым удобным способом. В течение  времени, отпущенного на анализ, аналитик помогает пациенту высказать эмоционально означенную историю его жизни, вскрывая неосознаваемые мотивы, страхи, и воспоминания, которые должны стать интегрированными в его настоящую жизнь.</p>
<p>Согласно концепции психоанализа, бессознательному закрыт доступ в сознание, у порога которого находится “цензура”. Вытесненные влечения не лишаются своей энергии и постоянно стремятся пробиться в сознание, но сделать они это могут лишь частично, путём компромисса и искажения. Их можно изучить в процессе психоанализа. С этой целью применяются четыре различные процедуры:</p>
<ul>
    <li>конфронтация (пациенту необходимо показать, что он избегает чего-то; он должен различать тот психический феномен, что является предметом анализа;</li>
    <li>кларификация (прояснение, помещение значимых деталей в фокус сознания);</li>
    <li>интерпретация (преобразование неосознанных деталей в осознанные);</li>
    <li>тщательная проработка (комплекс процедур и процессов, имеющих место после инсайта).</li>
</ul>
<p>Наиболее важной процедурой является интерпретация, все остальные либо подчиняются ей, либо ведут к ней, делая её эффективной. Психоаналитические методы, таким образом, сводятся к интерпретирующему анализу “компромиссных” образований сознания, которые проявляют себя в ряде очень распространённых обыденных жизненных действий (типа оговорок, ошибочных действий, забывании слов и имён и т.п.)</p>
<p>Для проникновения в бессознательное также используется метод свободных ассоциаций, который известен как фундаментальное правило психоанализа и которому придаётся большее значение, чем другим методам продуцирования материала в психоаналитическом процессе. Суть метода заключается в том, что надо ослабить все задерживающие и критикующие инстанции сознания; пациент может и должен говорить такие вещи, которые он считает тривиальными, постыдными, невежливыми. Такая работа рождает сильное сопротивление сознания, рождается внутренний протест, подчас кажется, что всё и так ясно и не нуждается в прояснении, или наоборот – что всё абсурдно, случайно и не имеет смысла. Само наличие сопротивления является очень важным источником анализа: там, где оно присутствует, есть и вытесненное влечение.</p>
<p>Также ценным источником материала для психоанализа является перенос на психоаналитика ранних детских чувств. Анализ сопротивления и переноса стал центральным элементом психоаналитического процесса. В течение каждого психоаналитического сеанса пациент демонстрирует поведение, которое мешает прогрессу лечения. Подобного рода влияние называется сопротивлением. Так как в психоанализе создаются все условия, чтобы пациент мог достичь свободы мысли и действия, отрицательные эмоциональные силы в бессознательном, которые вызвали проблему пациента, проявляются как препятствия вербальной терапии.</p>
<p>Вместе пациент и аналитик изучают значение и цель конкретного сопротивления и пробуют найти ключ к его разблокированию таким образом, чтобы пациент продолжил свой личностный рост.</p>
<p>Пациент может почувствовать неспособность говорить дальше или что ему больше нечего сказать; захотеть что-то важное сохранить в тайне от психоаналитика (например, некоторые факты, которых он стыдится); или почувствовать, что то, что он говорит – не имеет значения. Также пациент может постоянно повторяться в своих рассказах; избегать обсуждения некоторых тем, захотеть заняться чем-то другим; желать получить совет вместо понимания; рассказывать только про мысли и игнорировать чувства (или наоборот).</p>
<p>Перенос обычно возникает из типичных отношений к значимым родительским фигурам, которыми в прошлом пациента были родители, учителя, братья или сестры. Иногда чувства к аналитику представляют фактические чувства, направленные на реального человека из прошлого пациента, но перенесенные в настоящее время на наиболее близкую и подходящую “родительскую фигуру” – то есть на аналитика.</p>
<p>Далеко не все пациенты испытывают классические формы переноса, но практически для всех пациентов в ходе анализа полезно изучение и понимание чувств, возникающих у них по отношению к аналитику. Это весьма помогает пониманию актуальных отношений, выраженности потребности в персональном росте, ожиданий со стороны других и отношений к пациенту. Цель аналитика состоит в том, чтобы помочь пациенту научиться понимать и принимать все возникающие у него чувства независимо от того, каковы они.</p>
<p>По продолжительности психоанализа не имеет определённых ограничений. Некоторые пациенты могут получить пользу уже за короткий промежуток времени (шесть месяцев или меньше), а другие могут продолжать лечение в течение нескольких лет. В классическом психоанализе средний пациент участвует в терапии около двух лет. Терапия считается завершенной, когда цели пациента достигнуты. Когда пациент способен комфортабельно переживать все аспекты своих чувств; когда он способен адекватно включать все эти чувства в отношения с аналитиком (иначе говоря, осознавать и подвергать анализу); когда чувства не мешают, а помогают в достижении его собственных интересов и целей – тогда психоаналитическая терапия закончена.</p>
<p><b>Будьте здоровы и берегите себя!</b></p>






























