---
layout: post
title:  Сложности в общении
description: Сложности возникают на самых разных стадиях, иногда уже во время знакомства или на этапе развития отношений. К сожалению, далеко не все умеют правильно общаться...
categories: psihologiya
catname: Психология
permalink: "blog/:categories/:year-:month-:day-:slug.html"
---
<p>Общение пронизывает всю человеческую жизнь, поэтому очень важно научиться, правильно взаимодействовать с другими людьми, ведь от этого зависит качество жизни.</p>
<p>С запросом по поводу проблем и сложностей в общении обращаются  довольно часто. Сложности возникают на самых разных стадиях, иногда уже во время знакомства или на этапе развития отношений. К сожалению, далеко не все умеют правильно общаться. Кто-то слишком зажат, неуверен, а кто-то наоборот излишне напорист. Это серьезная проблема, которую нужно решать, воспитывать в себе уверенность, откорректировать свой характер.</p>
<p>Почему так трудно взаимодействовать бесконфликтно? Это происходит либо из-за столкновений интересов, либо на фоне симпатий и антипатий. Иногда мешает предубеждение друг против друга или застарелая обида, в этом случае контакта либо не получается, либо неприязнь прорывается в самый неподходящий момент и человек может в таком состоянии наговорить гадостей, что, конечно, не улучшит отношения.</p>
<p>В общении,  сложности нередко порождаются тем, что часто один склонен доминировать, а другой подчиняться. И та и другая позиция чревата конфликтами. Тот кто давит на другого, вызывает силу противодействия. Люди стараются избегать слишком напористых партнеров. С другой стороны тот, кто всегда подчиняется,  удобен,  но не очень интересен. Слишком мягкий человек испытывает психологическую несостоятельность, слабость, чувство, что его используют, неполноценность. Излишняя уступчивость и склонность к подчинению, это прямой путь к неврозу и реальная психологическая проблема, от которой необходимо своевременно избавляться, как  впрочем, и от жесткого доминирования.</p>
<p>Довольно часто обращаются за консультацией к психологу одинокие люди, которые страдают от своего состояния. Они не могут привлечь других людей и комплексуют по этому поводу. Одиночество бывает фактическое, когда мало людей вокруг, а бывает одиночество в браке, в семье. Вроде бы формально все есть, но фактически человек один. Иногда в силу личностных особенностей ему трудно вписаться в коллектив, и он постоянно оказывается белой вороной.</p>
<p>Многих беспокоит страх перед публичным выступлением: и на уровне делового совещания, и на уровне дружеского застолья, на котором человек не в состоянии даже произнести тост.</p>
<p><b>Основными причинами проблем в общении между людьми являются:</b></p>
<ul>
    <li>Неумение и отсутствие желания слушать собеседника.</li>
    <li>Не способность высказать истинную заинтересованность.</li>
    <li>Боязнь открыться перед другими людьми. В особенности проявляется на этапе знакомства.</li>
    <li>Завышенное мнение о себе в сравнении с мнением о собеседнике.</li>
    <li>Заниженная самооценка, неуверенность в себе, комплексы.</li>
</ul>
<p>Сложности в общении каждый пытается решить по-своему. Кто-то советуется с более опытными людьми, кто-то пытается преодолевать их самостоятельно. Но если человек не выстроил себя, не овладел искусством правильного взаимодействия в социуме, если он испытывает страх публичных выступлений,  или он неуверен в себе с комплексами неполноценности, этот человек все равно будет чувствовать большой дискомфорт.</p>
<p>Психолог в процессе консультации может оказать существенную помощь в этой ситуации. Он может распознать ошибки в общении и грамотно их устранить, выработать правильные стратегии развития отношений, научить методам саморегуляции и искусству более эффективного общения.</p>
<p>Психолог на консультации поможет помочь человеку пробудить в себе навык коммуникабельности, позволяющий создать необходимый круг общения, сформировать команду единомышленников и откорректировать типичные ошибки общения. В результате такой целенаправленной работы сократятся конфликты и человек обретет состояние внутреннего равновесия,  а следовательно  привлечет в свою жизнь доброжелательных друзей.</p>
<p>Психолог на консультации   найдет  причины возникновения  заниженной самооценки, неуверенности в себе и комплекса неполноценности, что позволит проработать и устранить эти конституциональные особенности в психики.</p>
<p><b>Будьте здоровы и берегите себя!</b></p>



























































