---
layout: post
title: Обсессивно-компульсивное расстройство лечение
description: (ОКР)- это такое  состояние, в котором к человеку приходят неконтролируемые навязчивые мысли, идеи, воспоминания - обсессии, и навязчивые действия, влечения-компульсии,  которые приобретают  для него особое  значение, и вызывают  тревогу.
categories: voprosi-ot-N-end
catname: Вопросы от Н до конца
permalink: "blog/:categories/:year-:month-:day-:slug.html"
---
<p>Обсессивно-компульсивное расстройство (ОКР)- это такое  состояние, в котором к человеку приходят неконтролируемые навязчивые мысли, идеи, воспоминания - обсессии, и навязчивые действия, влечения-компульсии,  которые приобретают  для него особое  значение, и вызывают  тревогу. Пациенты, страдающие обсессивно-компульсивным расстройством,  испытывают  огорчение, подавленность, так как понимают, что их навязчивые мысли преувеличены и иррациональны.</p>
<h4>Обсессивно-компульсивное расстройство (ОКР).  Наиболее частые симптомы.</h4>
<p><b>Навязчивые (обсессивные) мысли, идеи:</b></p>
<ul>
    <li>Страх совершить  насильственные действия,  сексуальное домогательство, аморальные действия.</li>
    <li>Страхи испачкаться от контакта с людьми, бытовыми предметами.</li>
    <li>Навязчивые беспокойства по поводу сделанных или не сделанных действий  (выключена ли плита, утюг, закрыта ли дверь, окна, и т.д.)</li>
    <li>Навязчивые желания разложить вещи,  предметы, закрепив за ними свои места. Четкое следование симметрий.</li>
    <li>Необъяснимая необходимость считать.</li>
    <li>Страх неприятностей (страх доходит до крайности, а случившиеся неприятности вызывают слишком бурную реакцию).</li>
    <li>Навязчивые мысли сексуального характера (навязчивые мысли о непристойном поведении или табуированных желаниях, могут представлять, что пристают к сослуживцам или незнакомцам, или начинают сомневаться в своей сексуальной ориентации).</li>
    <li>Недовольство своей внешностью (навязчиво оценивать свои части тела, которые кажутся им некрасивыми — нос, кожу, волосы)</li>
</ul>
<p><b>Навязчивые (обсессивые) действия:</b></p>
<ul>
    <li>Многократное мытье рук, тела, или стирки личных вещей. Чрезмерно частое  использование моющих антибактериальных средств.</li>
    <li>Постоянные проверки дверных замков, окон, розетки и т.д.</li>
    <li>Избегания контакта с предметами, (деньги, дверные ручки, унитазы, раковины, и д.р.)</li>
    <li>Избегание тех мест, в которых могут появиться нежелательные мысли, чувства ощущения.</li>
    <li>Избегание занятия секса.</li>
    <li>Постоянное желание получить от других людей подтверждение, что он  не совершил неприемлемые, неуместные, или аморальные действия.</li>
</ul>
<p>Истоки невроза навязчивых состояний лежат в раннем детстве, в особенностях развития и воспитания ребенка, В основе данного невроза лежит так называемый психастенический  внутриличностный (неосознаваемый) конфликт, который тесно связан с особенностями воспитания в период раннего детства. Суть его заключается в противоречии между стремлениями ребенка (инстинктивными влечениями) и моралью, этикой, долгом (в виде воспитательных установок, требований, правил поведения). Изначально, являясь внешним противоречием, со временем, данный конфликт становится внутриличностным, то есть такой человек постоянно пытается бороться сам с собой, что вызывает постоянное напряжение, сомнения, неуверенность в себе, которое и проявляется в навязчивых симптомах.</p>
<p><b>К счастью существует эффективный метод борьбы с этой болезнью!</b></p>
<p><b>Разработанная нами авторская методика «Жизнь без ОКР!»,  для преодоления навязчивого состояния,  поможет вам избавиться от этого недуга на всю жизнь за один – три сеанса!</b></p>
<p><b>За 20 лет практики нами разработана уникальная авторская методика, опирающаяся исключительно на научные нейрофизиологические  исследования наших светил -  советских академиков и профессоров. Профессиональное воздействие по  нашей авторской методике «Жизнь без ОКР!» относится к самым результативным услугам в настоящее время,  и позволяет,  выявить и устранить причину заболевания,  бесследно избавив  пациента от фобии, страхов, панических атак,  депрессии, ОКР всего за один-три сеанса.</b></p>
<p>В настоящее время гипноз все больше набирает популярность среди специалистов и обычных людей.  Люди обращаются к гипнологам по разнообразным причинам. Самыми распространенными ситуациями применения гипноза являются различные неврозы, фобии, страхи, депрессии, ОКР, СРК, ВСД,  пищеварительные, сексуальные нарушения, коррекция поведенческих реакций человека, заниженная самооценка, комплексы, вредные привычки. Причем в этих случаях, гипнотерапия остается единственным результативным методом, так как нацелена  на избавление больного от причин его заболевания, в то время как все остальные методы, включая фармацевтические, претендуют только на временное снятие симптомов.</p>
<p>Тем временем,  психогенный сбой у больного не стоит на месте, а  генерализуется и приобретает более ярко выраженный  гетерогенный характер, вовлекая все большие участки функциональной системы в патогенез.</p>
<p>Успешное применение гипноза при лечении столь широкого круга заболеваний связанно с тем, что точкой приложения лечебного слова в гипнозе - являются большие полушария головного мозга человека, которые управляют всеми органами и системами  организма. Слово в гипнозе оказывается  чрезвычайно могущественным лечебным фактором, производящим прямое и непосредственное воздействие на характер и динамику корковых процессов. Это открывает прямой путь к устранению патологических процессов и мобилизации необходимых внутренних ресурсов организма человека.</p>
<p><b>Поэтому гипнотерапия – это единственный метод психологической помощи человеку, позволяющий устранить причину заболевания, а не ее симптом, оказывая прямое и непосредственное воздействие на характер и динамику корковых процессов, мобилизуя необходимые внутренние ресурсы организма человека.</b></p>
<p>За многие годы нашей лечебной практики к нам обращались пациенты с самыми невероятными ситуациями возникновения ОКР, которые в дальнейшем, перестали вызывать у них это навязчивое состояние.  Тем, кто страдает ОКР не стоит разочаровываться и терять надежду на исцеление, так как с нашей помощью вы навсегда избавите  себя от этого навязчивого состояния всего за один – три сеанса.</p>
<h4>Возможны ли побочные эффекты от гипноза?</h4>
<p>Как утверждают специалисты, на сегодняшний день таких фактов не выявлено. Исследования в разное время проводились такими видными и авторитетными  учеными как:  В. М. Бехтерев, И. П. Павлов,  С. С. Либих (1974), А. И. Захаров (1982), А. А. Токарский (1989), М. С. Лебединский,  А. Т. Пшоник (1952), Л. Л. Васильев,  И. П. Брязгунов (1970) Л. Черток (1972), В. И. Сухорукова (1977), П. К. Анохин,  Н. Е. Введенский (1911-1913),  Н. И. Красногорский,  В. М. Шкловский (1975, 1994),   В. Н. Мясищев, Ю. А. Поворинский (1950), С. Н. Давиденков, К. М. Варшавский (1973), С. С. Кор-саков, К. М. Быков, А. М.Свядощ (1982), В. Я. Данилевский, Б. Н. Бирман (1922,1925, 1946),  Л. Б. Гаккель (1955),  Д. Я.  Венгеровский (1955),   И. 3. Вельвовский (1984), А. Л. Гройсман, К. И. Платонов (1957), С. Л. Рубинштейн, В. Е. Рожнов, А. А. Ухтомский, И. М. Сеченов, А.М. Свядощ, А. П. Слободяник, Е. С.  Катков,  М. П. Кутании,  В. В. Кузьмин,  П. П.  Подъяпольский,  Е. Н. Довбня, Ф. Е. Рыбаков, В. Н. Хорошко, А. И. Яроцкий, А. Ф. Лазурский, Ю. В. Каннабих, В. М. Нарбут, Ф. Д. Неткачев, В. А. Гиляровский, М. В. Стрельчук, Г. В. Морозов, В. М. Банщиков, Н. В. Иванов, Н. К. Липгарт, А. Г. Иванов-Смоленский, и др. Учеными доказано, что психика человека саморегулируется во время лечебного транса, мобилизуются его внутренние резервы, активизируются защитные силы организма (компенсаторные), гомеостаз организма приходит в норму, а потому опасности для психического и физиологического здоровья пациента нет.</p>
<p><b>Положительные стороны гипнотического лечения:</b></p>
<ul>
    <li>Полное отсутствие медикаментозного влияния на организм человека.</li>
    <li>Полезно. Нормализует гомеостаз организма, укрепляет ЦНС, и т.д.</li>
    <li>Нет побочного эффекта.</li>
    <li>Полное 100% избавление от ОКР.</li>
    <li>Устранение причин заболевания  всего за один – три сеанса.</li>
    <li>Дешевле.</li>
</ul>
<p>Сеанс гипноза по лечению,  сам по себе является целебным для человека. Гипноз улучшает общее самочувствие человека, обеспечивает слаженную работу всех органов и систем организма  его (гомеостаз), что позволяет пациенту ощутить новый прилив жизненных сил. Он положительно влияет на работу многих органов и систем:  сердечно - сосудистой, дыхательной, эндокринной, пищеварительной, ЦНС, помогает при бессоннице, снимает раздражительность, уменьшает беспокойство, и т.п..</p>
<p>Самостоятельные попытки избавиться от  ОКР приводит к закреплению новых опасений,  страхов и чувств,  с дальнейшим угнетением ЦНС, с повышением раздражительности, тревожности.  Сознательными доводами невозможно устранить  этот недуг,  так как источник их кроется в сфере бессознательного, что и является основанием для лечения этого недуга с помощью гипноза.  И только гипнотерапия помогает преодолеть негативные последствия для вашей нервной системы.</p>
<p><b>Наш авторский метод «Жизнь без ОКР!»  позволит вам вернуться к нормальной жизни и получать от нее удовольствие.</b></p>
<p><b>Будьте здоровы и берегите себя!</b></p>

































