---
layout: post
title:  как вытащить человека из секты пятидесятников
description: Секта – это независимая религиозная группа,  замкнувшаяся в своих интересах (в том числе культовых), отделившаяся  от традиционной церкви или традиционной религии.
categories: voprosi-ot-D-K
catname: Вопросы от Д до К
permalink: "blog/:categories/:year-:month-:day-:slug.html"
---
<p><b>Секта</b> – это независимая религиозная группа,  замкнувшаяся в своих интересах (в том числе культовых), отделившаяся  от традиционной церкви или традиционной религии. При этом, она может как использовать привычные догмы, переделывая их на свой лад, так и создавать собственные правила и законы. В более широком смысле слова секта – это социальная группа, объединенная общей духовной идеей или целью.</p>
<p>Последствия воздействия тоталитарных организаций и нетрадиционных культов на человека имеют очень серьезные последствия для физического и психического здоровья человека. Часто люди превращаются в рабов при помощи всеобъемлющей системы запретов и предписаний, когда вся их жизнь регламентируется до мельчайших деталей, между ними и остальным миром создается стена отчуждения, они отдают организации свое имущество, свои силы, здоровье... Часто это кончается сумасшествием или самоубийством (иногда убийством).</p>
<p>Как это ни странно на первый взгляд, но в большинстве случаев вербовка в тоталитарную секту происходит на добровольной основе и ложится на почву, уже подготовленную предыдущей жизнью потенциальной жертвы. Используя естественную духовную потребность человека и тягу его к поиску истины, тоталитарная секта желает поработить не только человека, но и заставить служить себе во имя самого Бога.</p>
<p><b>Признаки, по которым можно отличить тоталитарные секты:</b></p>
<ol>
    <li>Тоталитарные секты отличаются не только убежденностью в том, что все кроме них неизбежно погибнут, но и глубокой радостью по этому поводу;</li>
    <li>Каждая секта считает, что только она нашла единственно правильный путь богопознания, и что Бог поручил ей одной поведать о нем всему миру;</li>
    <li>Всякая секта оперирует неким тайным учением, которое скрывается от непосвященных, и главные моменты учения сообщаются только после обращения в веру, когда обратного пути уже нет. Это то, что в психологии называется эзотерическим разрывом;</li>
    <li>В секте, по мере посвященности, собственно религиозное начало вытесняется служением не Богу, а интересам организации, которое всецело определяется интересами ее лидеров. Связь с Богом  заменяется на преданность человеку – учителю  или группе лидеров, которые действуют от его имени.</li>
</ol>
<h4>Психическое насилие над личностью</h4>
<p>Ущерб здоровью и личности человека в культе наносится в результате скрытого психического насилия и манипулирования сознанием человека под видом проповедей, обрядов, ритуалов, вследствие массивных внушений в состояниях искусственно измененного сознания,  вплоть до глубокого гипноза и самогипноза, наступающих в результате применения определенных психотехнических методов во время «богослужений», обрядов, инициации, медитаций.</p>
<p>Специалисты и доктора, наблюдавшие, например, бывших сайентологов, диагностировали их состояние как «посттравматическое стрессовое расстройство». Психиатры пришли к мнению, что Хаббард вывернул наизнанку лечебные процессы, используемые для снятия навязчивых состояний, таким образом,  искусственно доводя клиентов до синдрома этих состояний, которые в свою очередь приводили к ряду психических расстройств. Бывшие члены сообщали о высоком проценте психических расстройств, вызванных так называемым «синдромом хронической усталости» – отсутствием желаний и энергии.</p>
<p>Психосоматические симптомы (головные боли, боли в спине, астма, кожные нарушения, расстройства сна, кошмары, пищеварительные расстройства, сексуальные проблемы) становятся постоянными спутниками бывших адептов тоталитарных культов и сект.</p>
<p>Проблемы с принятием решений, замедленное психологическое развитие, потеря психологической силы, чувство вины, страх, потеря доверия, боязнь близости (интимности) и обязательств. Существуют факты, свидетельствующие о том, что многие предпринимали отчаянные попытки снова обрести свободу, однако внедренные в подсознание страхи и преследования со стороны культа,  доводили людей до психических расстройств и даже самоубийств.</p>
<h4>Экс-культисты и их здоровье.</h4>
<p>В некоторых деструктивных религиозных организациях после выхода из культа, даже при благоприятной обстановке в семье и помощи специалистов, человек чувствует себя чужим в социуме.</p>
<p>Так, американские психологи, обследовав большую группу экс-культистов (кого с трудом «вывели» из культа), нашли:  у 52% из них,  синдром «плавания» (floating); ночные кошмары – 40%; амнезию (расстройство памяти) – 21%;  галлюцинации и мании – 14%;  неспособность сломать «навязчивые умственные ритмы» монотонного пения, ритуально навязанного в секте – 35%; вспышки ярости – 14%; тенденции к самоубийству или саморазрушению – 21%.</p>
<p>Согласно статистике, из 88% экс-культистов,  рассматривали свои группы как вредные или очень вредные (51%).</p>
<p>В целях вовлечения в свою деятельность,  секты используют различные каналы средств массовой информации для рекламы своей «истины в последней инстанции». По словам новообращенных, там складываются настоящие дружеские, семейные отношения, там завершается поиск истины для каждого человека. Уход в систему этих сект от реальных проблем современной жизни,  можно рассматривать как один из вариантов психологической защиты от «холодного секулярного и жестокого мира».</p>
<p>Зависимость от секты, по своему воздействию на психику можно сравнить и поставить на один уровень с наркотической зависимостью.</p>
<p><b>К счастью существует эффективный метод борьбы с этим недугом.</b></p>
<p>В настоящее время гипноз все больше набирает популярность среди специалистов и обычных людей.  Люди обращаются к гипнологам по разнообразным причинам. Самыми распространенными ситуациями применения гипноза являются различные неврозы, фобии, страхи, депрессии, ОКР, СРК, ВСД,  пищеварительные, сексуальные нарушения, коррекция поведенческих реакций человека, заниженная самооценка, комплексы, вредные привычки. Причем в этих случаях, гипнотерапия остается единственным результативным методом, так как нацелена  на избавление больного от причин его заболевания, в то время как все остальные методы, включая фармацевтические, претендуют только на временное снятие симптомов.</p>
<p>Успешное применение гипноза при лечении столь широкого круга заболеваний связанно с тем, что точкой приложения лечебного слова в гипнозе - являются большие полушария головного мозга человека, которые управляют всеми органами и системами  организма. Слово в гипнозе оказывается  чрезвычайно могущественным лечебным фактором, производящим прямое и непосредственное воздействие на характер и динамику корковых процессов. Это открывает прямой путь к устранению патологических процессов и мобилизации необходимых внутренних ресурсов организма человека.</p>
<p><b>Поэтому гипнотерапия  – это единственный метод психологической помощи человеку, позволяющий устранить причину  заболевания, а не ее симптом, оказывая  прямое и непосредственное воздействие на характер и динамику корковых процессов, мобилизуя необходимые внутренние ресурсы организма человека. Наш авторский метод гипнотерапии поможет вам избавиться от вашего недуга на всю жизнь!</b></p>
<p><b>За 20 лет практики нами разработана уникальная авторская методика, опирающаяся исключительно на научные нейрофизиологические  исследования наших светил -  советских академиков и профессоров. Профессиональное воздействие по  нашей авторской методике,  относится к самым результативным услугам в настоящее время.  Она нацелена не только на избавление от  психического насилия,  но и от психогенных причин  ее возникновения.</b></p>
<p>В лечении   зависимости от секты,  недостаточно  убрать только психофизиологическую тягу организма, но и особо важно выявить и избавить больного от первопричин ухода в другую реальность. От внутренней программы неудачника, заниженной самооценки, от исковерканных ценностей, страхов, вины и бездны душевной боли, от беспомощности жить.    Сама  зависимость от секты, это только результат  внутренних, глубинных причин!</p>
<h4>Возможны ли побочные эффекты от гипноза?</h4>
<p>Как утверждают специалисты, на сегодняшний день таких фактов не выявлено. Исследования в разное время проводились такими видными и авторитетными  учеными как:  В. М. Бехтерев, И. П. Павлов,  С. С. Либих (1974), А. И. Захаров (1982), А. А. Токарский (1989), М. С. Лебединский,  А. Т. Пшоник (1952), Л. Л. Васильев,  И. П. Брязгунов (1970) Л. Черток (1972), В. И. Сухорукова (1977), П. К. Анохин,  Н. Е. Введенский (1911-1913),  Н. И. Красногорский,  В. М. Шкловский (1975, 1994),   В. Н. Мясищев, Ю. А. Поворинский (1950), С. Н. Давиденков, К. М. Варшавский (1973), С. С. Кор-саков, К. М. Быков, А. М.Свядощ (1982), В. Я. Данилевский, Б. Н. Бирман (1922,1925, 1946),  Л. Б. Гаккель (1955),  Д. Я.  Венгеровский (1955),   И. 3. Вельвовский (1984), А. Л. Гройсман, К. И. Платонов (1957), С. Л. Рубинштейн, В. Е. Рожнов, А. А. Ухтомский, И. М. Сеченов, А.М. Свядощ, А. П. Слободяник, Е. С.  Катков,  М. П. Кутании,  В. В. Кузьмин,  П. П.  Подъяпольский,  Е. Н. Довбня, Ф. Е. Рыбаков, В. Н. Хорошко, А. И. Яроцкий, А. Ф. Лазурский, Ю. В. Каннабих, В. М. Нарбут, Ф. Д. Неткачев, В. А. Гиляровский, М. В. Стрельчук, Г. В. Морозов, В. М. Банщиков, Н. В. Иванов, Н. К. Липгарт, А. Г. Иванов-Смоленский, и др. Учеными доказано, что психика человека саморегулируется во время лечебного транса, мобилизуются его внутренние резервы, активизируются защитные силы организма (компенсаторные), гомеостаз организма приходит в норму, а потому опасности для психического и физиологического здоровья пациента нет.</p>
<p><b>Положительные стороны гипнотического лечения:</b></p>
<ul>
    <li>Полное отсутствие медикаментозного влияния на организм человека.</li>
    <li>Нет побочного эффекта.</li>
    <li>Полезно. Нормализует гомеостаз организма, укрепляет ЦНС, и т.д.</li>
    <li>Устраняет причины заболевания.</li>
    <li>Дешевле.</li>
</ul>
<p>Сеанс гипноза, сам по себе является целебным для человека. Гипноз улучшает общее самочувствие человека, обеспечивает слаженную работу всех органов и систем организма,  его (гомеостаз), что позволяет пациенту ощутить новый прилив жизненных сил. Он положительно влияет на работу многих органов и систем: сердечно - сосудистой, дыхательной, эндокринной, пищеварительной, ЦНС, помогает при бессоннице, снимает раздражительность, уменьшает беспокойство, и т.п.</p>
<h4>Наиболее опасные современные секты</h4>
<p>Перечислим наиболее известные и опасные современные деструктивные культы: «Церковь сайентологии», «Свидетели Иеговы», «Церковь Объединения» и другие мунистские организации, «Общество сознания Кришны», «Трансцендентальная медитация», «Ананда Марга», «Сахаджа – йога», культ Шри Чинмоя, «Брахма Кумарис», культ Саи Сатьи Бабы, Кундалини йога, культ Ошо Раджниша, «Аум Синрике», «Сока Гоккай», «Фалуньгун», «Семья» («Дети Бога»), «Церковь Иисуса Христа» (бостонское движение Кип Мак Кина), «Движение веры» (неопятидесятники, в том числе такие секты, как «Новое поколение», «Живая вода», «Слово жизни», «Посольство Божие», «Церковь на камне», «Роса». «Благодать», «Дом горшечника», «Живая вера». «Церковь любви Христа», все «церкви полного Евангелия»), «братство фиолетового пламени», «Новый Акрополь», «Синтон» Козлова, «Церковь Божьей Матери Державная» (она же «Богородичный центр»), «Белое братство», «Ревнители истинного благочестия», «Церковь последнего завета», культ «Анастасия», ивановцы, школа Щетинина, «Радастея», секта Ольги Асауляк, «Тетрада», секта Столбуна, «Школа Лхасы», «Академия фронтальных проблем Золотова», «Троянова тропа», «Рэйки» и еще масса других групп и сект, которые навязывают оккультно-магические и аморальные идеи и практики под видом разного рода псевдонаучных, псевдохристианских, восточных, оккультных и синкретических доктрин.</p>
<p>Наш авторский метод позволит вам вернуться к нормальной жизни и получать от нее удовольствие.</p>
<p><b>Будьте здоровы и берегите себя!</b></p>







































