---
layout: post
title:  Страх знакомства психотерапевт
description: Вопрос, как познакомиться с девушкой,  волнует не только неопытных парней, но и многих мужчин постарше. Их мучают сомнения и неуверенность в себе, которые мешают быть собой и начать общение...
categories: voprosi-ot-N-end
catname: Вопросы от Н до конца
permalink: "blog/:categories/:year-:month-:day-:slug.html"
---
<h4>Страх  знакомства с девушками, женщинами.  Что с ним делать?</h4>
<p>Вопрос, как познакомиться с девушкой,  волнует не только неопытных парней, но и многих мужчин постарше. Их мучают сомнения и неуверенность в себе, которые мешают быть собой и начать общение. Нередко волнение и всевозможные страхи создают множество преград для знакомства, мешают пригласить понравившуюся девушку или женщину на свиданье.</p>
<p><b>Самые распространенные страхи:</b></p>
<ol>
    <li>Страх не понравиться девушке.  Чем больше вы хотите понравиться, тем менее естественно себя ведете. Это напряжение и стремление быть более уверенным очень заметно и нередко производит обратный эффект.</li>
    <li>Страх, что она откажет.</li>
    <li>Страх показаться смешным или глупым.</li>
</ol>
<p>Есть еще масса различных страхов и комплексов, которые не дают мужчинам общаться с особами женского пола, даже когда дамы совсем не против начать общение. Только представьте, сколько возможностей упущено из-за этих неправильных установок!</p>
<h4>Как с этим бороться?</h4>
<p><b>Причинами неуверенности при общении или знакомстве с женщиной  являются:</b></p>
<ol>
    <li>Заниженная самооценка, неуверенность в себе, комплексы.</li>
    <li>Психотравмы.</li>
</ol>
<h4>Заниженная самооценка, неуверенность в себе, комплексы.</h4>
<p>Неуверенность в себе — это  присутствие сомнений в своих умениях, выборах, силах, и исполнении задуманного, на почве чего возникает внутренний страх, а в критичных случаях даже отказ от выполнения активных действий.</p>
<p>Сомнения часто одолевают таких людей. Даже принятие пустякового решения связано с большими усилиями. Неуверенность часто возникает в ситуации незнакомой среды и человек начинает вести себя агрессивно или, наоборот, замыкается в себя. Что в первом, что во втором случае — поведение становится неадекватным и приводит к проигрышной ситуации.</p>
<p>Причины неуверенности скрываются в детстве.  В раннем детстве психика ребенка очень хрупкая, и дети повышенно внушаемы. В этот период времени формируется психика ребенка и закладывается модель поведения в той или иной ситуации по законам условного рефлекса. Неуверенность в себе прививается родителями в возрасте от 2 лет.   Очень часто это очень властные родители, не терпящие возражений. Бывает, что один из родителей, тиран в семье. Агрессивная реакция на ошибки ребенка, оскорбления, рукоприкладство и т.д. вырабатывают в ребенке неуверенность в себе, страх принимать решения, заниженную самооценку и комплексы неполноценности. Встречаются и такие случаи, когда ребёнок просто срисовывает шаблоны поведения с окружающих детей, родителей,  или пытаясь приспособиться к какой либо ситуации.  В таком возрасте неуверенность кажется очень полезным чувство, и ребёнок пытается извлечь из нее выгоду.  Впоследствии эта выгода закрепляется и живет своей жизнью. В дальнейшем неуверенность может формироваться человеком в силу некого отрицательного опыта, который человек воспринимает как неудачу, и вместо того, чтобы найти причину и ситуацию изменить, ставит себе "блок" и формирует еще большую неуверенность.</p>
<p>Но все дело в том, что  неуверенность в себе и комплексы неполноценности закладываются и закрепляются в бессознательной сфере человека по законам условно – рефлекторных связей,  замыкаясь на соматические проявления. И сознательно избавиться от этих проблем очень непросто, иначе бы человек мог бы сам справиться с этим недугом.</p>
<p>Неуверенный в себе человек чувствует застенчивость и неловкость, неуверенность в себе и в своих действиях, нерешительность и скованность,  робость, неудобство в некоторых ситуациях, чувство  собственной неполноценности, негативные мысли о себе, и т.д. Основа неуверенности в себе – низкая самооценка и страх неудачи!</p>
<p><b>Неуверенность в себе – это низкая самооценка и страх…. Страх неудачи!</b></p>
<p><b>Таким образом, страх состоит их трех компонентов:</b></p>
<ol>
    <li>Когнитивных (субъективных) - я боюсь.</li>
    <li>Физиологических  вегетативных реакций (учащение сердцебиения, одышка, потливость, дрожь, тряска в руках и ногах, в животе, учащение мочеиспускания, резкого побледнения или покраснения.)</li>
    <li>Поведенческих (настойчивое желание уйти, убежать, к стремлению избегать ситуаций, чреватых, по их мнению, опасностью или угрозой, стремление быть незаметным).</li>
</ol>
<p><b>Причины заниженной самооценки и неуверенности в себе  могут быть связаны со следующими факторами:</b></p>
<ul>
    <li>Низкий социальный статус;</li>
    <li>Неблагоприятная семейная обстановка, особенно в период детства;</li>
    <li>Неправильное воспитание в детстве,  когда родители уделяют мало времени и внимания своему ребенку, когда никто не говорит им ободряющих слов, которые могли бы придать им уверенности в себе, а наоборот ругают или оскорбляют, если у них что - то не получается.</li>
    <li>Сильное желание ребенка, которое не смогло осуществиться (хотел покачать любимую маленькую сестру в коляске, но нечаянно уронил ее; мечтал проснуться рядом с отцом, но тот внезапно уехал, а ребенок проснулся один в пустой темной комнате и т.п.).</li>
    <li>Постоянные неудачи в личной жизни и карьере;</li>
    <li>Негативный опыт -  когда приходится вновь и вновь проходить через тревожащую ситуацию (столкновение с осмеянием, осуждением или любым другим негативным впечатлением).</li>
    <li>Наличие физических недостатков;</li>
    <li>Постоянная критика от окружающих;</li>
    <li>Неуверенность в себе и собственных силах;</li>
    <li>Чрезмерная опека родителей;</li>
    <li>Низкая успеваемость;</li>
</ul>
<p>Писать подробней этот список не имеет никакого смысла, так как каждый случай индивидуален и состоит из  сложных сочетаний  разнообразных проявлений в физиологическом психическом и психологическом  смыслах.</p>
<p>Заниженная самооценка, неуверенность в себе, комплексы – заболевание, характеризующееся нарушением физиологических и эмоциональных ощущений человека, когда он ощущает собственную ущербность и иррационально верит в превосходство окружающих людей над собой. Эта стратегия поведения заложена  в детские годы и хранится в наиболее древних структурах нашей памяти. По этой причине других способов добраться до этого ошибочного файла (ущербного восприятия себя) и его исправить не существует кроме как методом гипнотерапии. Поэтому все большей популярностью пользуется лечение психических, физиологических и психологических  расстройств  гипнозом.  Приведенные выше причины формирования заниженной самооценки и неуверенности в себе,  объединяют  психические травмы, возникшие  в  результате  негативного  воздействия на психику человека. Психотравма формируется и хранится  в бессознательной сфере человека  в виде молекулярной памяти события, включающая в себя патологическую нервную цепь,  замкнутую по закону условно - рефлекторной связи на пусковые механизмы события, повлекшие остроэмоциональные, стрессовые воздействия на психику человека и закрепив деструктивную реакцию в поведенческом, эмоциональном, физиологическом, и мыслительном смыслах.  Поэтому вытормозить  эту резистентную, патологическую центрально – периферическую связь функциональной системы,   возможно только с помощью гипнотерапии, которая позволяет работать с бессознательным  пациента, устранив причину заболевания, а не ее симптом. Тем самым заложив новый жизненный опыт, изменив старый деструктивный.</p>
<p>И самое главное, мало кто знает, что заниженная самооценка и неуверенность в себе – это благодатная почва для возникновения абсолютно  всех  психогенных патологий центральной нервной системы. Такие как: неврозы, страхи, фобии, панически атаки, ОКР, СРК, ВСД, депрессии и т.д.</p>
<h4>Психотравма.</h4>
<p>Психотравма — вред, нанесённый психическому здоровью человека в результате  сверхсильного одномоментного  или длительного, интенсивного воздействия неблагоприятных факторов среды, остроэмоциональных, стрессовых воздействий на его психику, или длительной сшибки субъективных представлений с объективной реальностью. Часто бывает связана с физической травмой, угрожающей жизни, либо нарушающей ощущение безопасности. Это может быть физическое насилие, оскорбление, унижение, сильный испуг, горе и т.д. Эти события мешают человеку жить,  проецируя те же симптомы, на подобные жизненные ситуации, зеркально отражаясь по закону подобия всю жизнь, прогрессируя от ситуации к ситуации  разрушая психику человека.  В результате  чего  может упасть самооценка, усилиться тревога, нарушиться сон, часто появляется   упадок сил, повышенная утомляемость, может возникнуть паническая атака, развиться фобии,  депрессия, напряженность, ночные кошмары и др.  Также человек может испытывать различные негативные чувства – страх, гнев, панику, грусть, причем  постоянно.</p>
<p><b>За 20 лет практики нами разработана уникальная авторская методика, опирающаяся исключительно на научные нейрофизиологические  исследования наших светил -  советских академиков и профессоров. Профессиональное воздействие по  нашей авторской методике относится к самым результативным услугам в настоящее время. Она нацелена на избавление от  психогенных причин возникновения заниженной самооценки, неуверенности в себе, комплексов, психотравм.  Гипнотерапия отлично работает на бессознательном уровне, позволяя делать желательные изменения на глубинных уровнях нашей психики, приводящие к положительным изменениям.</b></p>
<p><b>Гипнотерапия  – это единственный метод психологической помощи человеку, позволяющий найти и устранить причину  нарушений, а не ее симптом, оказывая  прямое и непосредственное воздействие на характер и динамику корковых процессов, мобилизуя необходимые внутренние ресурсы организма человека.</b> </p>
<h4>Возможны ли побочные эффекты от гипноза?</h4>
<p>Как утверждают специалисты, на сегодняшний день таких фактов не выявлено. Исследования в разное время проводились такими видными и авторитетными  учеными как:  В. М. Бехтерев, И. П. Павлов,  С. С. Либих (1974), А. И. Захаров (1982), А. А. Токарский (1989), М. С. Лебединский,  А. Т. Пшоник (1952), Л. Л. Васильев,  И. П. Брязгунов (1970) Л. Черток (1972), В. И. Сухорукова (1977), П. К. Анохин,  Н. Е. Введенский (1911-1913),  Н. И. Красногорский,  В. М. Шкловский (1975, 1994),   В. Н. Мясищев, Ю. А. Поворинский (1950), С. Н. Давиденков, К. М. Варшавский (1973), С. С. Кор-саков, К. М. Быков, А. М.Свядощ (1982), В. Я. Данилевский, Б. Н. Бирман (1922,1925, 1946),  Л. Б. Гаккель (1955),  Д. Я.  Венгеровский (1955),   И. 3. Вельвовский (1984), А. Л. Гройсман, К. И. Платонов (1957), С. Л. Рубинштейн, В. Е. Рожнов, А. А. Ухтомский, И. М. Сеченов, А.М. Свядощ, А. П. Слободяник, Е. С.  Катков,  М. П. Кутании,  В. В. Кузьмин,  П. П.  Подъяпольский,  Е. Н. Довбня, Ф. Е. Рыбаков, В. Н. Хорошко, А. И. Яроцкий, А. Ф. Лазурский, Ю. В. Каннабих, В. М. Нарбут, Ф. Д. Неткачев, В. А. Гиляровский, М. В. Стрельчук, Г. В. Морозов, В. М. Банщиков, Н. В. Иванов, Н. К. Липгарт, А. Г. Иванов-Смоленский, и др. Учеными доказано, что психика человека саморегулируется во время лечебного транса, мобилизуются его внутренние резервы, активизируются защитные силы организма (компенсаторные), гомеостаз организма приходит в норму, а потому опасности для психического и физиологического здоровья пациента нет.</p>
<p><b>Положительные стороны гипнотического лечения:</b></p>
<ul>
    <li>Полное отсутствие медикаментозного влияния на организм человека.</li>
    <li>Нет побочного эффекта.</li>
    <li>Полезно. Нормализует гомеостаз организма, укрепляет ЦНС, и т.д.</li>
    <li>Устраняет причины заболевания.</li>
    <li>Дешевле.</li>
</ul>
<p>Сеанс гипноза, сам по себе является целебным для человека. Гипноз улучшает общее самочувствие человека, обеспечивает слаженную работу всех органов и систем организма,  его (гомеостаз), что позволяет пациенту ощутить новый прилив жизненных сил. Он положительно влияет на работу многих органов и систем: сердечно - сосудистой, дыхательной, эндокринной, пищеварительной, ЦНС, помогает при бессоннице, снимает раздражительность, уменьшает беспокойство, и т.п.</p>
<p>Мы  поможем вам не только найти глубинные причины вашей неуверенности, скованности  и может быть страха  при общении с противоположным полом, страха не понравиться женщине, но и проработать их.   Поэтому обратившись к нам,  вы получите профессиональную,  качественную  помощь в решении своих проблем.  Мы помогли уже многим мужчинам обрести уверенность в себе  в различных жизненных ситуациях, будем рады помочь и вам чувствовать себя уверенными и счастливыми!</p>
<p><b>Будьте здоровы и берегите себя!</b></p>




























