---
layout: category
categories: price
title: Цены
description: Наши расценки
---
<div class="container">
    <div class="description">
        <div class="row">
            <div class="col-12">
                <h3>Самые низкие расценки за лечение гипнозом в Москве! Мы боремся за здоровье наших пациентов, поэтому  устраняем причину заболевания, а не его симптом!</h4>
                <ul>
                    <li>Прием гипнолога, психолога, психотерапевта ведется строго по предварительной записи.</li>
                    <li>Перенос времени сеанса возможен не позднее, чем за сутки до его начала.</li>
                    <li>До сеанса не употреблять алкоголь и наркотики 3 дня.</li>
                </ul>
                <hr>
                <h3>Гипнотерапия.</h3>
                <ol>
                    <li>Первичный прием.
                    <p>Продолжительность приема 60 минут.  Включает в себя тщательный патопсихологический анализ.</p>
                    <p>Стоимость – 3000руб.</p>
                    </li>
                    <li>Сеанс гипноза.
                    <p>Продолжительность сеанса 1-3 часа.</p>
                    <p>Стоимость - 3000 руб./час.</p>
                    </li>
                </ol>
                <h3>Психологическая помощь.</h3>
                <p>Стоимость индивидуальной консультации психолога, психотерапевта - 2500 руб./час.</p>
                <p>Лечебная общеукрепляющая гипнотерапия-релаксация.</p>
                <p>Стоимость - 1 сеанс - 3000 руб.</p>
                <hr>
                <h3>Стоимость приема через интернет онлайн по скайпу.</h3>
                <ol>
                    <li>Первичный прием онлайн.
                    <p>Продолжительность приема 60 минут.  Включает в себя тщательный патопсихологический анализ.</p>
                    <p>Стоимость – 3000руб.</p>
                    </li>
                    <li>Сеанс гипноза онлайн.
                    <p>Продолжительность сеанса 1-3 часа.</p>
                    <p>Стоимость - 3000 руб./час.</p>
                    </li>
                </ol>
                <h3>Психологическая помощь онлайн.</h3>
                <p>Стоимость индивидуальной онлайн консультации психолога, психотерапевта - 2500 руб./час.</p>
                <p>Лечебная общеукрепляющая гипнотерапия-релаксация онлайн.</p>
                <p>Стоимость - 1 сеанс - 3000 руб.</p>                
                <a href="/blog/online/" class="btn">Подробнее о гипнозе онлайн</a>
            </div>
        </div>
    </div>
</div>
