---
layout: post
title:  Лечение интернет зависимости
description: Стремление сидеть в интернете по своему воздействию на психику,  можно сравнить и поставить на один уровень с пристрастием к алкоголю и наркотической зависимости.
categories: voprosi-ot-L
catname: Вопросы от Л
permalink: "blog/:categories/:year-:month-:day-:slug.html"
---
<p>В ходе исследований количества посетителей в интернет-пространстве, ученые из Гонконга пришли к выводу, 6% жителей планеты страдают интернет-зависимостью. Тревожным звоночком, который оповещает о наличии интернет зависимости, является нахождение в режиме онлайн  5 часов или более.</p>
<p>Стремление сидеть в интернете по своему воздействию на психику,  можно сравнить и поставить на один уровень с пристрастием к алкоголю и наркотической зависимости.  Научно доказано, что пристрастие к интернету так же, как и пристрастие к алкоголю и наркотикам – это серьезное психическое заболевание. Болезнь начинается тогда, когда не человек управляет интернетом, а интернет  человеком. Это тот момент, когда необходимо лечиться.</p>
<p>Зависимость (психологическая или физиологическая)  - это модель, которая работает на бессознательном уровне, по типу  бегства от боли, к более приятному. Болью может быть что угодно, отсутствие работы или близкого человека рядом, трудности или дефицит общения с другими людьми, одиночество, психические травмы и т.д.  И интернет становится для больного неким порталом в другую жизнь, где все хорошо и не возникает проблем.    И здесь очень часто не достаточно одной силы воли, потому что обычные привычки,  как один,  два раза в неделю, могут  стать для вас «наркотиком» без которого вы не можете жить и дышать.</p>
<p>С помощью гипнотерапии мы помогаем нашим пациентам избавиться от интернет - зависимости. Мы помогли многим пациентам взять под контроль свою жизнь и освободиться от того, что вначале доставляло удовольствие, а потом перешло в проблему.</p>
<p><b>Интернет зависимость, это результат  внутренних, глубинных  психологических причин!   Такие как:</b></p>
<ul>
    <li>Проблемы воспитания. (Недостаток или наоборот избыток любви, чрезмерная опека, подавление ребенка, рукоприкладство, отсутствие душевного тепла и взаимопонимания в семье и т.д.)</li>
    <li>Психические травмы.</li>
    <li>Скука или отсутствие других  интересов.</li>
    <li>Трудности или дефицит общения с другими людьми, одиночество. Интернет дает  ощущение полной события жизни, вращения в самой ее гуще, обширности общения.</li>
    <li>Неудовлетворенность жизнью. Интернет становится «порталом» в другую жизнь.</li>
    <li>Отсутствие чувства ответственности за свои действия и поступки.</li>
    <li>Неуверенность в себе, заниженная самооценка, комплексы.</li>
    <li>Неопределенность своего будущего.</li>
    <li>Страхи, чувство незащищенности, депрессия, стрессы.</li>
    <li>Личностный кризис, неудовлетворенность жизнью, проблемы.</li>
</ul>
<p><b>Последствия интернет зависимости:</b></p>
<ul>
    <li>Приводит к проблемам в работе мозга человека.</li>
    <li>Утрачивание навыков общения в реальной жизни.</li>
    <li>Способствует возникновению расстройства сна и пищевого поведения</li>
    <li>Появление физических заболеваний (атрофируются многие мышцы, возникают изменения строения позвоночника, артрит, артроз, заболевания сердечной системы, снижение зрения).</li>
    <li>Разрушение семейных связей.</li>
</ul>
<p><b>К счастью существует эффективный метод борьбы с этим недугом.</b></p>
<p>В настоящее время гипноз все больше набирает популярность среди специалистов и обычных людей.  Люди обращаются к гипнологам по разнообразным причинам. Самыми распространенными ситуациями применения гипноза являются различные неврозы, фобии, страхи, депрессии, ОКР, СРК, ВСД,  пищеварительные, сексуальные нарушения, коррекция поведенческих реакций человека, заниженная самооценка, комплексы, вредные привычки. Причем в этих случаях, гипнотерапия остается единственным результативным методом, так как нацелена  на избавление больного от причин его заболевания, в то время как все остальные методы, включая фармацевтические, претендуют только на временное снятие симптомов.</p>
<p>Успешное применение гипноза при лечении столь широкого круга заболеваний связанно с тем, что точкой приложения лечебного слова в гипнозе - являются большие полушария головного мозга человека, которые управляют всеми органами и системами  организма. Слово в гипнозе оказывается  чрезвычайно могущественным лечебным фактором, производящим прямое и непосредственное воздействие на характер и динамику корковых процессов. Это открывает прямой путь к устранению патологических процессов и мобилизации необходимых внутренних ресурсов организма человека.</p>
<p><b>Поэтому гипнотерапия  – это единственный метод психологической помощи человеку, позволяющий устранить причину  заболевания, а не ее симптом, оказывая  прямое и непосредственное воздействие на характер и динамику корковых процессов, мобилизуя необходимые внутренние ресурсы организма человека. Наш авторский метод гипнотерапии поможет вам избавиться от вашего недуга на всю жизнь!</b></p>
<p><b>За 20 лет практики нами разработана уникальная авторская методика, опирающаяся исключительно на научные нейрофизиологические  исследования наших светил -  советских академиков и профессоров. Профессиональное воздействие по  нашей авторской методике  относится к самым результативным услугам в настоящее время.  Она нацелена не только на избавление от вредной привычки, но и от психогенных причин  ее возникновения.</b></p>
<p>В лечении  интернет - зависимости   гипнозом  недостаточно  убрать только физиологическую тягу организма, но и особо важно выявить и избавить больного от первопричин ухода в другую реальность. От внутренней программы неудачника,  от исковерканных ценностей, страхов, вины и бездны душевной боли от беспомощности жить.    Сама интернет – зависимость, это только результат  внутренних, глубинных причин!</p>
<h4>Возможны ли побочные эффекты от гипноза?</h4>
<p>Как утверждают специалисты, на сегодняшний день таких фактов не выявлено. Исследования в разное время проводились такими видными и авторитетными  учеными как:  В. М. Бехтерев, И. П. Павлов,  С. С. Либих (1974), А. И. Захаров (1982), А. А. Токарский (1989), М. С. Лебединский,  А. Т. Пшоник (1952), Л. Л. Васильев,  И. П. Брязгунов (1970) Л. Черток (1972), В. И. Сухорукова (1977), П. К. Анохин,  Н. Е. Введенский (1911-1913),  Н. И. Красногорский,  В. М. Шкловский (1975, 1994),   В. Н. Мясищев, Ю. А. Поворинский (1950), С. Н. Давиденков, К. М. Варшавский (1973), С. С. Кор-саков, К. М. Быков, А. М.Свядощ (1982), В. Я. Данилевский, Б. Н. Бирман (1922,1925, 1946),  Л. Б. Гаккель (1955),  Д. Я.  Венгеровский (1955),   И. 3. Вельвовский (1984), А. Л. Гройсман, К. И. Платонов (1957), С. Л. Рубинштейн, В. Е. Рожнов, А. А. Ухтомский, И. М. Сеченов, А.М. Свядощ, А. П. Слободяник, Е. С.  Катков,  М. П. Кутании,  В. В. Кузьмин,  П. П.  Подъяпольский,  Е. Н. Довбня, Ф. Е. Рыбаков, В. Н. Хорошко, А. И. Яроцкий, А. Ф. Лазурский, Ю. В. Каннабих, В. М. Нарбут, Ф. Д. Неткачев, В. А. Гиляровский, М. В. Стрельчук, Г. В. Морозов, В. М. Банщиков, Н. В. Иванов, Н. К. Липгарт, А. Г. Иванов-Смоленский, и др. Учеными доказано, что психика человека саморегулируется во время лечебного транса, мобилизуются его внутренние резервы, активизируются защитные силы организма (компенсаторные), гомеостаз организма приходит в норму, а потому опасности для психического и физиологического здоровья пациента нет.</p>
<p><b>Положительные стороны гипнотического лечения:</b></p>
<ul>
    <li>Полное отсутствие медикаментозного влияния на организм человека.</li>
    <li>Нет побочного эффекта.</li>
    <li>Полезно. Нормализует гомеостаз организма, укрепляет ЦНС, и т.д.</li>
    <li>Устраняет причины заболевания.</li>
    <li>Дешевле.</li>
</ul>
<p>Сеанс гипноза, сам по себе является целебным для человека. Гипноз улучшает общее самочувствие человека, обеспечивает слаженную работу всех органов и систем организма,  его (гомеостаз), что позволяет пациенту ощутить новый прилив жизненных сил. Он положительно влияет на работу многих органов и систем: сердечно - сосудистой, дыхательной, эндокринной, пищеварительной, ЦНС, помогает при бессоннице, снимает раздражительность, уменьшает беспокойство, и т.п.</p>
<p>Самостоятельные попытки избавится от вредной привычки,   оборачиваются синдромом отмены:  проблемами с сердцем и сосудами, отсутствием аппетита, повышенным потоотделением, головными болями,  нарушением  дыхания,  повышенной нервозностью, нарушением сна, раздражительностью, человек угнетен или подвержен вспышкам агрессии, к тому же, чем дольше борешься, тем сильнее попадаешь от  интернета в зависимость,  а неудача, приводит к разочарованию в своих силах, психологической зажатости, комплексу неполноценности.   И только гипнотерапия помогает преодолеть негативные последствия  для вашей нервной системы.</p>
<p>Человек, зависимый от этой  вредной привычки должен понимать, с чем он может справиться, а с чем нет, и уметь вовремя попросить помощь, а не ждать  когда «кондрашка хватит».</p>
<p>Чтобы избавиться от интернет – зависимости с помощью гипноза, человек должен соглашаться на эту процедуру осознанно, искренне желать преодолеть эту зависимость! Наш авторский метод   позволит вам вернуться к нормальной жизни и получать от нее удовольствие.</p>
<p><b>Будьте здоровы и берегите себя!</b></p>





































