---
layout: post
title:  Спортивные результаты
description: Аллергия — это специфическая ответная реакция иммунной системы человека на определенный безобидный раздражитель, который она квалифицирует как потенциально опасный.
categories: lichnostnyj-rost
catname: Личностный рост
permalink: "blog/:categories/:year-:month-:day-:slug.html"
---
<p>Сам термин «гипноз» был введен в середине XIX в. английским врачом Джеймсом Брейдоном, благодаря которому начался расцвет научной концепции гипноза. Этим вопросом занимались такие зарубежные ученые, как А. Бонн, А. Форель, А. Льебо, Ж. Шарко, И. Бернгейм. Отечественными учеными, внесшими свой вклад в развитие гипноза, являются В. М. Бехтерев, И. П. Павлов, В. Я. Данилевский, В. Е. Рожнов, А. Л. Гройсман, К. И. Платонов, А. М. Свядощ, А. П. Слободяник, Е. С.  Катков, А. А. Токарский, В. Н. Мясищев, М. П. Кутании, И. З. Вельвовский, М. С. Лебединский, В. В. Кузьмин,  П. П.  Подъяпольский, А. Т. Пшонник, Е. Н. Довбня, Ф. Е. Рыбаков, В. Н. Хорошко, А. И. Яроцкий, А. Ф. Лазурский, Ю. В. Каннабих, В. М. Нарбут, Ф. Д. Неткачев, В. А. Гиляровский, М. В. Стрельчук, Г. В. Морозов, В. М. Банщиков, Н. В. Иванов, Н. К. Липгарт, А. Г. Иванов-Смоленский, Б. Н. Бирман, и другие.</p>
<p>В настоящее время гипноз все больше набирает популярность среди специалистов и обычных людей.  Люди обращаются к гипнологам по разнообразным причинам. Самыми распространенными ситуациями применения гипноза являются различные неврозы, фобии, страхи, депрессии, ОКР, СРК, ВСД,  пищеварительные, сексуальные нарушения, коррекция поведенческих реакций человека, заниженная самооценка, комплексы, вредные привычки. Причем в этих случаях, гипнотерапия остается единственным результативным методом, так как нацелена  на избавление больного от причин его заболевания, в то время как все остальные методы, включая фармацевтические, претендуют только на временное снятие симптомов.</p>
<p><b>Все большую популярность гипноз приобретает и при подготовке спортсменов в различных видах спорта.</b></p>
<p>Часто гипноз преподносят как альтернативу "химии". Сравнение это некорректно! "Химия" повышает только физические возможности организма, однако применение препаратов не создаст дополнительной мотивации, не сделает удар точнее,  пулю не заставит лететь в десятку  и т.д.  А с помощью гипноза эти задачи в принципе разрешимы! Однако  стоит рассматривать гипноз не как единственный и неповторимый инструмент, но как дополнительный шанс на победу.</p>
<p>Между тем, с помощью гипноза можно решать как задачи общего характера (например, мотивации), так и конкретные задачи (например, подготовка к прохождению конкретной трассы или к бою с конкретным противником и т.д. и т.п.)  На сегодняшний день, это возможно осуществить с помощью гипнотерапии.</p>
<p>Гипнотерапия также помогает в развитии правого полушария. Для некоторых видов спорта повышенная активность правого полушария предпочтительна. Например, для успешного ведения рукопашного боя, бокса, карате, борьбы, и т.д.   человеку надо активизировать  и усилить функции правого полушария и ослабить, притормозить деятельность левого, так как именно правое полушарие отвечает за пространственную ориентацию, за скоординированность и скорость движений.  Внешне это выражается в ускорении ответных реакций тела. Дело в том, что на словесном (абстрактно-логическом) уровне,  мышление человека успевает переработать не более 100 единиц информации в секунду, тогда как на образном и сенсомоторном (двигательном) уровнях  -  до 10 миллионов единиц! Благодаря этому «ум тела», освобожденный от «цепей разума», практически мгновенно запускает нужную в ситуации двигательную реакцию. Вот почему мастера рукопашного боя действительно отражают нападение и контратакуют раньше, чем сами успевают об этом подумать.</p>
<p>Гипнотерапия позволяет спортсмену в мысленном исполнении элемента спортивной техники  на уровне воображения, отработать  связи между мозгом и мышцами, которые должны быть задействованы в данном случае. Только закрепив в уме уникальный психомоторный комплекс, спортсмен способен воплотить его «в физике» сразу без огрехов. Таким образом, он отрабатывает движение правильно, и его техничность выходит на новый уровень.</p>
<p>Гипнотерапия позволят и расслабить мышцы, и быстрее восстановиться после тренировки, устранить микротравмы и нормализовать трофику  мышц, приобрести дополнительные  жизненные силы,  основательнее усвоить тренируемые навыки и умения.  Гипнотерапия позволяет найти и устранить психотравмы, некоторые из которых были получены еще в раннем детстве, избавится от страхов, неуверенности в себе, заниженной самооценки, тревоги, мандража.  Психика всякого человека в большей или меньшей степени засорена страхами, фобиями, тревогами.  В их существовании многие спортсмены не хотят признаться даже самим себе.</p>
<p>Слово в гипнозе оказывается  чрезвычайно могущественным лечебным фактором, производящим прямое и непосредственное воздействие на характер и динамику корковых процессов. Это открывает прямой путь к устранению патологических процессов и мобилизации необходимых внутренних ресурсов организма человека. <b>Поэтому гипнотерапия – это единственный метод психологической помощи человеку, позволяющий научить спортсмена  контролировать себя  и сконцентрироваться на успехе, избавится от иррациональных страхов, тревог, приобрести уверенность в себе и своих силах</b>.</p>
<p><b>За 20 лет практики нами разработана уникальная авторская методика, опирающаяся исключительно на научные нейрофизиологические  исследования наших светил -  советских академиков и профессоров. Профессиональное воздействие по  нашей авторской методике относится к самым результативным услугам в настоящее время,  и позволяет найти глубинные причины психотравм,  деструктивной поведенческой реакции, страха, тревоги, неуверенности в себе,  и т.д., выявить их  и устранить, тем самым вернув  здоровое восприятие себя, и уверенность в победе.</b></p>
<h4>Выводы:</h4>
<p>Цели и задачи решаемые в спорте с помощью гипноза весьма широки - от вопросов мотивации, эмоционального и психологического настроя, поиска устранения психотравм и повышения ОФП,  до отработки конкретных навыков и умений.</p>
<p><b>Цели и задачи решаемые в спорте с помощью гипноза:</b></p>
<ul>
    <li>Эмоциональный и психологический настрой,</li>
    <li>Расслабление и восстановление организма,</li>
    <li>Стрессоустойчивость,</li>
    <li>Восстановление трофики мышц.</li>
    <li>Улучшение  сосредоточенности и умственных способностей,</li>
    <li>Устранения психотравм,</li>
    <li>Повышение активности правого полушария,</li>
    <li>Повышение  ОФП.</li>
</ul>
<p><b>Положительные стороны гипнотического лечения:</b></p>
<ul>
    <li>Полное отсутствие медикаментозного влияния на организм человека.</li>
    <li>Полезно. Нормализует гомеостаз организма, укрепляет ЦНС, и т.д.</li>
    <li>Нет побочного эффекта.</li>
    <li>Устраняет причины патологии.</li>
    <li>Дешевле.</li>
</ul>
<h4>Польза гипнотического состояния для спортсмена.</h4>
<p>Сеанс гипноза по лечению  сам по себе является целебным для человека. Гипноз улучшает общее самочувствие человека, обеспечивает слаженную работу всех органов и систем организма,  его (гомеостаз), что позволяет пациенту ощутить новый прилив жизненных сил. Он положительно влияет на работу многих органов и систем: сердечно - сосудистой, дыхательной, эндокринной, пищеварительной, ЦНС, помогает при бессоннице, снимает раздражительность, уменьшает беспокойство, и т.п.</p>
<p>Последние исследования на магнитно-резонансном томографе показывают, что во время  гипнотерапии у человека сильно активизируются височные доли мозга и зоны мозга связанные со вниманием. После длительного курса  гипнотерапии на электроэнцефалограмме также обнаруживается усиление гамма - волн.</p>
<h4>Польза  гипнотерапии для мышления.</h4>
<ul>
    <li>Улучшается работа мозга</li>
    <li>Улучшается концентрация внимания</li>
    <li>Улучшается сон</li>
    <li>Развиваются интуитивные способности</li>
    <li>Улучшается аналитически-логическое мышление</li>
    <li>Повышается результативность</li>
    <li>Упрощается восприятие сложных вещей</li>
    <li>Ускоряется обработка информации</li>
    <li>Улучшается организация мышления</li>
    <li>Улучшается память</li>
    <li>Обретается ясность и спокойствие ума</li>
</ul>
<h4>Польза для здоровья.</h4>
<ul>
    <li>Снижает высокое кровяное давление</li>
    <li>Снижает уровень молочной кислоты в крови</li>
    <li>Улучшает сон и вылечивает бессонницу</li>
    <li>Убирает головные и другие боли в организме</li>
    <li>Укрепляет иммунную систему</li>
    <li>Уменьшает  потребность в спиртном и сигаретах</li>
    <li>Расслабляет зажимы мышц</li>
    <li>Улучшение жизнеспособности и адаптивности</li>
    <li>Позволяет поддержать тело и ум в тонусе</li>
    <li>Восстанавливает нервную систему</li>
    <li>Улучшает слаженность работы всех органов и систем организма</li>
    <li>Уменьшает раздражительность</li>
    <li>Уменьшает беспокойство, тревогу</li>
</ul>
<h4>Польза для эмоционального состояния.</h4>
<ul>
    <li>Повышается стрессоустойчивость</li>
    <li>Уменьшается раздражительность и беспокойство</li>
    <li>Уходит злость и гнев</li>
    <li>Повышается уровень энергии</li>
    <li>Повышается эмоциональная устойчивость</li>
    <li>Растет уверенность в себе</li>
    <li>Помогает избавиться от депрессии</li>
    <li>Помогает регулировать настроение</li>
    <li>Увеличивается самоконтроль над эмоциями</li>
    <li>Избавляет от тревожности</li>
    <li>Дает душевные силы</li>
    <li>Повышает самооценку</li>
    <li>Достигается внутренний баланс</li>
    <li>Повышается эмоциональный интеллект</li>
</ul>
<h4>Возможны ли побочные эффекты от гипноза?</h4>
<p>Как утверждают специалисты, на сегодняшний день таких фактов не выявлено. Исследования в разное время проводились такими видными и авторитетными  учеными как:  В. М. Бехтерев, И. П. Павлов,  С. С. Либих (1974), А. И. Захаров (1982), А. А. Токарский (1989), М. С. Лебединский,  А. Т. Пшоник (1952), Л. Л. Васильев,  И. П. Брязгунов (1970) Л. Черток (1972), В. И. Сухорукова (1977), П. К. Анохин,  Н. Е. Введенский (1911-1913),  Н. И. Красногорский,  В. М. Шкловский (1975, 1994),   В. Н. Мясищев, Ю. А. Поворинский (1950), С. Н. Давиденков, К. М. Варшавский (1973), С. С. Кор-саков, К. М. Быков, А. М.Свядощ (1982), В. Я. Данилевский, Б. Н. Бирман (1922,1925, 1946),  Л. Б. Гаккель (1955),  Д. Я.  Венгеровский (1955),   И. 3. Вельвовский (1984), А. Л. Гройсман, К. И. Платонов (1957), С. Л. Рубинштейн, В. Е. Рожнов, А. А. Ухтомский, И. М. Сеченов, А.М. Свядощ, А. П. Слободяник, Е. С.  Катков,  М. П. Кутании,  В. В. Кузьмин,  П. П.  Подъяпольский,  Е. Н. Довбня, Ф. Е. Рыбаков, В. Н. Хорошко, А. И. Яроцкий, А. Ф. Лазурский, Ю. В. Каннабих, В. М. Нарбут, Ф. Д. Неткачев, В. А. Гиляровский, М. В. Стрельчук, Г. В. Морозов, В. М. Банщиков, Н. В. Иванов, Н. К. Липгарт, А. Г. Иванов-Смоленский, и др. Учеными доказано, что психика человека саморегулируется во время лечебного транса, мобилизуются его внутренние резервы, активизируются защитные силы организма (компенсаторные), гомеостаз организма приходит в норму, а потому опасности для психического и физиологического здоровья пациента нет.</p>
<p>Самостоятельные попытки избавиться от  причин,  сформировавшую деструктивную поведенческую реакцию спортсмена ( мандраж, страхи, тревоги) приводит к перенапряжению и срыву ЦНС,  к закреплению новых опасений, сомнений, страхов и чувств,  с повышением раздражительности и тревожности.  Сознательными доводами невозможно изменить свое поведение и реакции организма,  так как источник их кроется в сфере бессознательного, что и является основанием для лечения этого недуга с помощью гипноза.  И только гипнотерапия помогает преодолеть негативные последствия для вашей нервной системы.</p>
<p><b>Первые результаты после гипнотерапии, появляются уже  после первого сеанса.</b></p>
<p>Итак -  гипнотерапия приносит пользу для ума и для тела, для физического и психического здоровья,  ограждая спортсмена от эмоционального выгорания, от избыточного напряжения, от причин мандража,  помогает заглянуть внутрь себя и контролировать эмоции, а также  помогает раскрыть и задействовать резервные ресурсы организма.</p>
<p><b>Будьте здоровы!</b></p>
































